.RadTabStrip_Default .rtsLevel1 .rtsLink {
    background-image: none !important;
    background-color: #ffffff !important;
    border: none;
}

ul.rtsUL > li.rtsLI:not(.rtsSelected) > span.rtsLink {
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    color: #1492DB;
}

#RadTabStrip4.rtsTop .rtsLevel1 {
    border-bottom-color: transparent;
}

    #RadTabStrip4.rtsTop .rtsLevel1 .rtsSelected .rtsLink {
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        font-weight: bold;
    }

    #RadTabStrip4.rtsTop .rtsLevel1:not(.rtsSelected) .rtsLink {
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }

#RadTabStrip5.rtsTop .rtsLevel1 {
    border-bottom-color: transparent;
}

    #RadTabStrip5.rtsTop .rtsLevel1 .rtsSelected .rtsLink {
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        font-weight: bold;
    }

    #RadTabStrip5.rtsTop .rtsLevel1:not(.rtsSelected) .rtsLink {
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
