.RadButton_Windows7.rbButton, .RadButton_Windows7.rbButton.rbDisabled,
.RadButton_Windows7 .rbSplitPart {
  border-color: #c3cedd;
  color: #1e395b;
  background-color: #dde8f6;
  background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6);
  box-shadow: inset 0 0 0 1px #f5f8fa; }

.RadButton_Windows7.rbButton.rbHovered, .RadButton_Windows7.rbButton.rbToggled.rbHovered,
.RadButton_Windows7.rbButton .rbHovered {
  border-color: #b5cdeb;
  color: #1e395b;
  background-color: #e7ecf5;
  background-image: linear-gradient(#fcfdfe, #f7f8fb 50%, #edf2f9 50%, #e7ecf5);
  box-shadow: inset 0 0 0 1px #f9f9fc; }

.RadButton_Windows7.rbButton:focus {
  box-shadow: inset 0 0 5px rgba(156, 200, 255, 0.5); }

.RadButton_Windows7.rbButton.rbSelected, .RadButton_Windows7.rbButton.rbToggled,
.RadButton_Windows7.rbSelected .rbHovered {
  border-color: #9cc8ff;
  color: #1e395b;
  background-color: #dde8f6;
  background-image: linear-gradient(#f3f7fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6);
  box-shadow: inset 0 0 0 1px #9cc8ff; }

.RadButton_Windows7.rbButton:hover,
.RadButton_Windows7.rbButton.rbHovered .rbSplitPart {
  border-color: #b5cdeb; }

.RadButton_Windows7.rbButton.rbSelected,
.RadButton_Windows7.rbButton.rbSelected:active .rbSplitPart {
  border-color: #9cc8ff; }

.RadButton_Windows7.rbCheckBox .rbText,
.RadButton_Windows7.rbRadioButton .rbText,
.RadButton_Windows7.rbToggleButton .rbText {
  color: #1e395b; }

.RadButton_Windows7 .rbToggleCheckboxChecked,
.RadButton_Windows7 .rbToggleCheckboxFilled,
.RadButton_Windows7 .rbToggleRadioChecked {
  color: #4c93cc; }

.RadButton_Windows7.rbHovered .rbToggleCheckboxChecked,
.RadButton_Windows7.rbHovered .rbToggleCheckboxFilled,
.RadButton_Windows7.rbHovered .rbToggleRadioChecked {
  color: #2d6c9e; }

.RadButton_Windows7:focus .rbToggleCheckbox:before,
.RadButton_Windows7:focus .rbToggleRadio:before {
  box-shadow: 0 0 1px 1px rgba(30, 57, 91, 0.5); }

.RadButton_Windows7:focus .rbToggleCheckboxChecked:before,
.RadButton_Windows7:focus .rbToggleCheckboxFilled:before,
.RadButton_Windows7:focus .rbToggleRadioChecked:before {
  box-shadow: 0 0 1px 1px rgba(76, 147, 204, 0.5); }

.RadButton_Windows7.rbPrimaryButton {
  border-color: #9cc8ff;
  color: #1e395b;
  background-color: #9cc8ff;
  background-image: linear-gradient(#e3effb, #d9e9fc 50%, #d0e1f7 50%, #d0e3f9);
  box-shadow: inset 0 0 0 1px #9cc8ff; }
  .RadButton_Windows7.rbPrimaryButton.rbHovered, .RadButton_Windows7.rbPrimaryButton.rbToggled.rbHovered, .RadButton_Windows7.rbPrimaryButton.rbFocused {
    border-color: #b5cdeb;
    color: #1e395b;
    background-color: #e7ecf5;
    background-image: linear-gradient(#fcfdfe, #f7f8fb 50%, #edf2f9 50%, #e7ecf5);
    box-shadow: inset 0 0 0 1px #f9f9fc;
    box-shadow: none; }
  .RadButton_Windows7.rbPrimaryButton.rbSelected, .RadButton_Windows7.rbPrimaryButton.rbToggled {
    border-color: #9cc8ff;
    color: #1e395b;
    background-color: #dde8f6;
    background-image: linear-gradient(#f3f7fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6);
    box-shadow: inset 0 0 0 1px #9cc8ff; }

.RadButton_Windows7.rbPrimaryButton.rbDisabled {
  border-color: #9cc8ff;
  color: #1e395b;
  background-color: #9cc8ff;
  background-image: linear-gradient(#e3effb, #d9e9fc 50%, #d0e1f7 50%, #d0e3f9);
  box-shadow: inset 0 0 0 1px #9cc8ff; }

