.RadDataForm_Windows7 {
  color: #1e395b; }
  .RadDataForm_Windows7 .rdfLegend,
  .RadDataForm_Windows7 .rdfBorders {
    border-color: #b8cbde; }
  .RadDataForm_Windows7 .rdfHr {
    color: #b8cbde; }
  .RadDataForm_Windows7 .rdfFieldHint {
    color: #9ab8de; }

