.RadNotification_Windows7 {
  border-color: #aabfd6;
  color: #1e395b;
  background-color: #ffffff; }
  .RadNotification_Windows7 .rnTitleBar {
    border-color: #c1cdde;
    color: #4c607a;
    background-color: #f1f5fb;
    background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #e4edf8); }
  .RadNotification_Windows7 .rnCommands a:hover {
    border-color: #b5cdeb;
    color: #1e395b;
    background-color: #e7ecf5;
    background-image: linear-gradient(#fcfdfe, #f7f8fb 50%, #edf2f9 50%, #e7ecf5);
    box-shadow: inset 0 0 0 1px #f9f9fc; }
  .RadNotification_Windows7.rnShadows {
    box-shadow: 2px 2px 3px rgba(170, 191, 214, 0.5); }

