.RadTreeMap_Windows7 {
  border-color: #aabfd6;
  color: #1e395b;
  background-color: #ffffff; }
  .RadTreeMap_Windows7 .k-treemap-title,
  .RadTreeMap_Windows7 .k-treemap-title-vertical {
    border-color: #c1cdde;
    color: #4c607a;
    background-color: #f1f5fb; }
  .RadTreeMap_Windows7 .k-leaf {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #1e395b; }
  .RadTreeMap_Windows7 .k-leaf.k-inverse {
    color: #1e395b;
    background-color: #ffffff; }
  .RadTreeMap_Windows7 .k-leaf.k-state-hover {
    box-shadow: inset 0 0 0 5px #ffffff; }

