.RadGrid_Sunset {
  border-color: #938879;
  color: #272722;
  background-color: #ffffff; }
  .RadGrid_Sunset .rgInput {
    border-color: #938973;
    color: #272722;
    background-color: #ffffff; }
  .RadGrid_Sunset .rgActionButton,
  .RadGrid_Sunset .rgDrag,
  .RadGrid_Sunset .rgDragClue,
  .RadGrid_Sunset .rgExpandIcon,
  .RadGrid_Sunset .rgCollapseIcon,
  .RadGrid_Sunset .rgGroupPanelExpand,
  .RadGrid_Sunset .rgGroupPanelCollapse,
  .RadGrid_Sunset .rgButtonSortDesc,
  .RadGrid_Sunset .rgButtonSortDesc,
  .RadGrid_Sunset .rgButtonSortAsc,
  .RadGrid_Sunset .rgButtonSortClear,
  .RadGrid_Sunset .rgMobileExportForm .rgColumnItem,
  .RadGrid_Sunset a.rgFilter,
  .RadGrid_Sunset a.rgColumns {
    color: #272722; }
  .RadGrid_Sunset .rgMobileMenu {
    background: #f4eee6; }
  .RadGrid_Sunset .rgMobileForm,
  .RadGrid_Sunset .rgMobileColumnForm {
    background: #ffffff; }
  .RadGrid_Sunset .rgValue {
    border: 1px solid #938879; }
  .RadGrid_Sunset .rgColumnItem,
  .RadGrid_Sunset .rgClear {
    border-color: #938973;
    color: #3d1400;
    background-color: #ded7c6;
    background-image: linear-gradient(#f1eadf, #ded7c6);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4); }
  .RadGrid_Sunset .rgColumnItem .rgDrag:before {
    border-right: 1px solid #938879; }
  .RadGrid_Sunset .rgMobileGroupForm .rgMobileForm {
    border-color: #938879;
    background: #f4eee6; }

.RadGrid_Sunset .rgHeader:first-child, .RadGrid_Sunset th.rgResizeCol:first-child, .RadGrid_Sunset .rgFilterRow > td:first-child, .RadGrid_Sunset .rgRow > td:first-child, .RadGrid_Sunset .rgAltRow > td:first-child {
  border-left-width: 0;
  padding-left: 8px; }

.RadGrid_Sunset .rgHeaderDiv {
  background: #e1dac7 0 -7550px repeat-x url('../Sunset/Grid/sprite.gif'); }

.rgTwoLines .rgHeaderDiv {
  background-position: 0 -7050px; }

.RadGrid_Sunset .rgHeader, .RadGrid_Sunset th.rgResizeCol, .RadGrid_Sunset .rgHeaderWrapper {
  border: 1px solid;
  border-color: #e98879 #cd6a3f #71250a #872b07;
  border-top-width: 0;
  background: 0 -2300px repeat-x #b94d0a url('../Sunset/Grid/sprite.gif'); }

.RadGrid_Sunset .rgMultiHeaderRow th.rgHeader, .RadGrid_Sunset .rgMultiHeaderRow th.rgResizeCol {
  border: 1px solid;
  border-color: #e98879 #cd6a3f #71250a #872b07;
  border-top-width: 0; }

.RadGrid_Sunset .rgHeaderDiv {
  border-right-color: #938879; }

.RadGrid_Sunset th.rgSorted {
  border-color: #ec9883 #cd6a3f #854324 #8b3312;
  background-color: #c36624;
  background-position: 0 -2600px; }

.RadGrid_Sunset .rgHeader {
  color: #fff; }
  .RadGrid_Sunset .rgHeader a {
    color: #fff; }

.RadGrid_Sunset .rgRow > td, .RadGrid_Sunset .rgAltRow > td, .RadGrid_Sunset .rgEditRow > td, .RadGrid_Sunset .rgFooter > td {
  border-style: solid;
  border-width: 0 1px 1px; }

.RadGrid_Sunset .rgRow > td {
  border-color: #fff #fff #fff #cabaab; }

.RadGrid_Sunset .rgAltRow {
  background: #f1e9dc; }
  .RadGrid_Sunset .rgAltRow > td {
    border-color: #f1e9dc #f1e9dc #f1e9dc #cabaab; }

.RadGrid_Sunset .rgRow .rgSorted {
  border-bottom-color: #f6f1e8;
  background-color: #f6f1e8; }

.RadGrid_Sunset .rgSelectedRow .rgSorted, .RadGrid_Sunset .rgActiveRow .rgSorted, .RadGrid_Sunset .rgHoveredRow .rgSorted, .RadGrid_Sunset .rgEditRow .rgSorted {
  background-color: transparent; }

.RadGrid_Sunset .rgRow a, .RadGrid_Sunset .rgAltRow a, .RadGrid_Sunset .rgEditRow a, .RadGrid_Sunset .rgFooter a, .RadGrid_Sunset .rgEditForm a {
  color: #5d1f00; }

.RadGrid_Sunset .rgMasterTable .rgSelectedCell, .RadGrid_Sunset .rgSelectedRow {
  background: #e38443 0 -3900px repeat-x url('../Sunset/Grid/sprite.gif'); }

.RadGrid_Sunset .rgMasterTable .rgActiveCell, .RadGrid_Sunset .rgActiveRow, .RadGrid_Sunset .rgHoveredRow {
  background: #f2d328 0 -2900px repeat-x url('../Sunset/Grid/sprite.gif'); }

.RadGrid_Sunset .rgSelectedRow > td {
  border-bottom-color: #ad5e2f; }
  .RadGrid_Sunset .rgSelectedRow > td.rgSorted {
    border-bottom-color: #ad5e2f; }

.RadGrid_Sunset .rgActiveRow > td, .RadGrid_Sunset .rgHoveredRow > td, .RadGrid_Sunset .rgActiveRow td.rgSorted, .RadGrid_Sunset .rgHoveredRow td.rgSorted {
  border-bottom-color: #ca9a3e; }

.RadGrid_Sunset .rgEditRow > td {
  border-color: #e1dac7; }
  .RadGrid_Sunset .rgEditRow > td.rgSorted {
    border-color: #e1dac7; }

.RadGrid_Sunset .rgEditRow {
  background: rgba(147, 136, 121, 0.75);
  color: #272722; }

.RadGrid_Sunset .rgDeletedRow > td {
  border-color: #6a6155;
  color: #272722; }
  .RadGrid_Sunset .rgDeletedRow > td a {
    color: #272722; }

.RadGrid_Sunset .rgBatchOverlay {
  background: rgba(147, 136, 121, 0.75); }

.RadGrid_Sunset .rgBatchUndoDeleteButton {
  padding: 2px;
  left: 7px;
  border: 1px solid;
  border-color: #938973;
  color: #3d1400;
  background-color: #ded7c6;
  background-image: linear-gradient(#f1eadf, #ded7c6);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
  border-radius: 4px; }
  .RadGrid_Sunset .rgBatchUndoDeleteButton:hover {
    border-color: #d2b40d;
    color: #863d02;
    background-color: #f1d121;
    background-image: linear-gradient(#faef93, #f1d121);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }

.RadGrid_Sunset .rgFooterDiv, .RadGrid_Sunset .rgFooter, .RadGrid_Sunset .rgFooterWrapper {
  background: #e1dac7; }

.RadGrid_Sunset .rgFooter > td, .RadGrid_Sunset .rgFooterWrapper {
  border-top-width: 1px;
  border-color: #cabaab #e1dac7 #f1e9dc #e1dac7; }

.RadGrid_Sunset .rgFooterWrapper .rgFooter > td {
  border-bottom: 0; }

.RadGrid_Sunset .rgFooterWrapper {
  border-bottom: 1px solid #f1e9dc; }

.RadGrid_Sunset .rgPager .rgStatus {
  border-color: #cabaab #cabaab #f1e9dc #cabaab; }

.RadGrid_Sunset .rgStatus div {
  background-image: url('../Sunset/Common/loading_small.gif'); }

.RadGrid_Sunset .rgPager {
  background: #e1dac7; }

.RadGrid_Sunset .rgPagerCell > div {
  border-color: #d2c7b4;
  color: #272522;
  background-color: #f4eee6; }
  .RadGrid_Sunset .rgPagerCell > div .rgNumPart a {
    border-radius: 2px;
    color: inherit; }
    .RadGrid_Sunset .rgPagerCell > div .rgNumPart a:hover {
      border-color: #d2b40d;
      color: #863d02;
      background-color: #f1d121;
      background-image: linear-gradient(#faef93, #f1d121);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }
    .RadGrid_Sunset .rgPagerCell > div .rgNumPart a.rgCurrentPage {
      border-color: #982e00;
      color: #982e00;
      background: none; }
  .RadGrid_Sunset .rgPagerCell > div .rgPagerButton,
  .RadGrid_Sunset .rgPagerCell > div .rgActionButton {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: #938973;
    color: #3d1400;
    background-color: #ded7c6;
    background-image: linear-gradient(#f1eadf, #ded7c6);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4); }
    .RadGrid_Sunset .rgPagerCell > div .rgPagerButton:hover,
    .RadGrid_Sunset .rgPagerCell > div .rgActionButton:hover {
      border-color: #d2b40d;
      color: #863d02;
      background-color: #f1d121;
      background-image: linear-gradient(#faef93, #f1d121);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }

.GridReorderTop_Sunset {
  background: 0 0 no-repeat url('../Sunset/Grid/sprite.gif'); }

.GridReorderBottom_Sunset {
  background: 0 0 no-repeat url('../Sunset/Grid/sprite.gif');
  background-position: 0 -50px; }

.RadGrid_Sunset .rgFilterRow {
  background: #e1dac7; }
  .RadGrid_Sunset .rgFilterRow > td {
    border: 1px solid;
    border-top-width: 0;
    border-color: #e1dac7 #e1dac7 #89806b; }

.RadGrid_Sunset .rgFilterBox {
  border-color: #938879;
  color: #272522; }

.RadMenu_Sunset .rgHCMClear, .RadMenu_Sunset .rgHCMFilter {
  border-color: #938879;
  background: #ded7c6 center -23px repeat-x url('../Sunset/FormDecorator/ButtonSprites.png');
  color: #3d1400; }

.RadMenu_Sunset .rgHCMClear:hover, .RadMenu_Sunset .rgHCMFilter:hover {
  border-color: #bd8b2b #ad7e22 #9c6f18;
  background-position: center -67px;
  background-color: #f8e360; }

.RadMenu_Sunset_Context .rgFilterApply,
.RadMenu_Sunset_Context .rgFilterCancel {
  border-color: #938973;
  color: #3d1400;
  background-color: #ded7c6;
  background-image: linear-gradient(#f1eadf, #ded7c6);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4); }

div.RadMenu_Sunset_Context .rlbGroup {
  border-color: #d2c7b4; }

.GridContextMenu_Sunset .rmLeftImage {
  background-image: url('../Common/Grid/contextMenu.gif'); }

.GridContextMenu_Sunset .rgHCMSortAsc .rmLeftImage {
  background-position: 0 0; }

.GridContextMenu_Sunset .rgHCMSortDesc .rmLeftImage {
  background-position: 0 -40px; }

.GridContextMenu_Sunset .rgHCMUnsort .rmLeftImage {
  background-position: 0 -80px; }

.GridContextMenu_Sunset .rgHCMGroup .rmLeftImage {
  background-position: 0 -120px; }

.GridContextMenu_Sunset .rgHCMUngroup .rmLeftImage {
  background-position: 0 -160px; }

.GridContextMenu_Sunset .rgHCMCols .rmLeftImage {
  background-position: 0 -200px; }

.GridContextMenu_Sunset .rgHCMFilter .rmLeftImage {
  background-position: 0 -240px; }

.GridContextMenu_Sunset .rgHCMUnfilter .rmLeftImage {
  background-position: 0 -280px; }

.RadGrid_Sunset .rgGroupPanel {
  border: 0;
  border-bottom: 1px solid #504b41;
  background: #afa79a 0 -1900px repeat-x url('../Sunset/Grid/sprite.gif');
  color: #fff; }
  .RadGrid_Sunset .rgGroupPanel caption {
    background: #c1baab; }
  .RadGrid_Sunset .rgGroupPanel td {
    border: 0;
    padding: 3px;
    vertical-align: middle; }
    .RadGrid_Sunset .rgGroupPanel td td {
      padding: 0; }
  .RadGrid_Sunset .rgGroupPanel .rgSortAsc {
    background-position: 4px -144px; }
  .RadGrid_Sunset .rgGroupPanel .rgSortDesc {
    background-position: 4px -94px; }

.RadGrid_Sunset .rgUngroup {
  background-position: 0 -7000px; }

.RadGrid_Sunset .rgGroupItem {
  border: 1px solid #904c23;
  background: #e38443 0 -6500px repeat-x url('../Sunset/Grid/sprite.gif');
  color: #5d1f00; }

.RadGrid_Sunset .rgGroupHeader {
  background: #a39787;
  font-size: 1.1em;
  line-height: 21px;
  color: #fff; }
  .RadGrid_Sunset .rgGroupHeader td {
    padding: 0 8px; }

.RadGrid_Sunset td.rgGroupCol, .RadGrid_Sunset td.rgExpandCol {
  background: #a39787 none;
  border-color: #a39787; }

.RadGrid_Sunset .rgExpand {
  background-position: 5px -496px; }

.RadGrid_Sunset .rgCollapse {
  background-position: 3px -454px; }

.RadGrid_Sunset .rgEditForm {
  border-bottom: 1px solid #cabaab;
  background: #eae5d7; }

.RadGrid_Sunset .rgUpdate {
  background-position: 0 -1800px; }

.RadGrid_Sunset .rgCancel {
  background-position: 0 -1850px; }

.RadGrid_Sunset .rgDetailTable {
  border-color: #cabaab; }

.RadGrid_Sunset .rgCommandRow {
  background: #585043 0 0 repeat-x url('../Sunset/Grid/rgCommandRow.gif');
  color: #fff; }

.RadGrid_Sunset .rgCommandCell {
  border: 0;
  padding: 0; }

.RadGrid_Sunset thead .rgCommandCell {
  border-bottom: 1px solid #36332c; }

.RadGrid_Sunset tfoot .rgCommandCell, .RadGrid_Sunset .rgMasterTable > tbody > tr.rgCommandRow .rgCommandCell {
  border-top: 1px solid #36332c; }

.RadGrid_Sunset .rgCommandTable {
  border: 1px solid;
  border-color: #968e7c #7c7669 #6d665a; }
  .RadGrid_Sunset .rgCommandTable td {
    border: 0;
    padding: 2px 7px; }

.RadGrid_Sunset .rgCommandRow a {
  color: #fff;
  text-decoration: none; }

.RadGrid_Sunset .rgAdd {
  margin-right: 3px;
  background-position: 0 -1650px; }

.RadGrid_Sunset .rgRefresh {
  margin-right: 3px;
  background-position: 0 -1600px; }

.RadGrid_Sunset .rgEdit {
  background-position: 0 -1700px; }

.RadGrid_Sunset .rgDel {
  background-position: 0 -1750px; }

.RadGrid_Sunset .rgExpXLS, .RadGrid_Sunset .rgExpDOC, .RadGrid_Sunset .rgExpPDF, .RadGrid_Sunset .rgExpCSV {
  background-image: url('../Common/Grid/export.gif'); }

.RadGrid_Sunset .rgExpXLS {
  background-position: 0 0; }

.RadGrid_Sunset .rgExpDOC {
  background-position: 0 -50px; }

.RadGrid_Sunset .rgExpPDF {
  background-position: 0 -100px; }

.RadGrid_Sunset .rgExpCSV {
  background-position: 0 -150px; }

.rgCellSelectorArea_Sunset, .GridRowSelector_Sunset {
  background: #71250a; }

.GridItemDropIndicator_Sunset {
  border-top: 1px dashed #71250a; }

.GridToolTip_Sunset {
  border: 1px solid #cabaab;
  padding: 3px;
  background: #f6f1e8;
  color: #272522; }

.RadGridRTL_Sunset .rgHeader:first-child, .RadGridRTL_Sunset th.rgResizeCol:first-child, .RadGridRTL_Sunset .rgFilterRow > td:first-child, .RadGridRTL_Sunset .rgRow > td:first-child, .RadGridRTL_Sunset .rgAltRow > td:first-child {
  border-left-width: 1px;
  padding-left: 7px; }

.RadGridRTL_Sunset .rgPageFirst {
  background-position: 0 -1000px; }
  .RadGridRTL_Sunset .rgPageFirst:hover {
    background-position: 0 -1050px; }

.RadGridRTL_Sunset .rgPagePrev {
  background-position: 0 -850px; }
  .RadGridRTL_Sunset .rgPagePrev:hover {
    background-position: 0 -900px; }

.RadGridRTL_Sunset .rgPageNext {
  background-position: 0 -700px; }
  .RadGridRTL_Sunset .rgPageNext:hover {
    background-position: 0 -750px; }

.RadGridRTL_Sunset .rgPageLast {
  background-position: 0 -550px; }
  .RadGridRTL_Sunset .rgPageLast:hover {
    background-position: 0 -600px; }

.RadGridRTL_Sunset .rgExpand {
  background-position: -20px -496px; }

