.RadTreeList_Sunset .rtlDrag,
.RadTreeList_Sunset .rtlDragClue,
.RadTreeList_Sunset .rtlActionButton {
  color: #272722; }

.rtlRightResizer_Sunset:before,
.RadTreeList_Sunset .rtlCommand .rtlActionButton:hover,
.RadTreeList_Sunset .rtlCommand .rtlActionButton:focus,
.RadTreeList_Sunset .rtlCommand .rtlActionButton:active,
.RadTreeList_Sunset.RadTreeList_Drag .rtlColumnItem {
  background: linear-gradient(#f3bc8b, #e88d49);
  color: #5d1f00; }

.RadTreeList_Sunset {
  border-color: #cabaab;
  background: #ffffff;
  color: #333333; }
  .RadTreeList_Sunset .rtlCommand,
  .RadTreeList_Sunset .rtlHeader {
    background-image: linear-gradient(#f1eadf, #ded7c6);
    border-color: #cabaab; }
  .RadTreeList_Sunset .rtlHeader,
  .RadTreeList_Sunset .rtlHeader a {
    color: #333333; }
  .RadTreeList_Sunset .rtlHeader th {
    border-color: #cabaab; }
  .RadTreeList_Sunset .rtlScroller {
    border-color: #cabaab; }
  .RadTreeList_Sunset .rtlRFooter {
    background-color: #e1dac7; }
  .RadTreeList_Sunset .rtlR td,
  .RadTreeList_Sunset .rtlA td,
  .RadTreeList_Sunset .rtlREdit td,
  .RadTreeList_Sunset .rtlRFooter td,
  .RadTreeList_Sunset .rtlEditForm {
    border-color: #938879; }
  .RadTreeList_Sunset .rtlR a,
  .RadTreeList_Sunset .rtlA a,
  .RadTreeList_Sunset .rtlREdit a,
  .RadTreeList_Sunset .rtlEditForm a {
    color: #982e00; }
  .RadTreeList_Sunset .rtlRSel {
    background-image: linear-gradient();
    color: #5d1f00; }
  .RadTreeList_Sunset .rtlL {
    background-color: #938879; }
  .RadTreeList_Sunset .rtlDelIcon {
    color: #b32d34; }
  .RadTreeList_Sunset .rtlPagerCell {
    border-color: #cabaab;
    color: #272522;
    background-color: #e1dac7; }
    .RadTreeList_Sunset .rtlPagerCell .rtlNumPart a {
      border-radius: 2px;
      color: inherit; }
      .RadTreeList_Sunset .rtlPagerCell .rtlNumPart a:hover {
        border-color: #d2b40d;
        color: #863d02;
        background-color: #f1d121;
        background-image: linear-gradient(#faef93, #f1d121);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }
      .RadTreeList_Sunset .rtlPagerCell .rtlNumPart a.rtlCurrentPage {
        border-color: #982e00;
        color: #982e00;
        background: none; }
    .RadTreeList_Sunset .rtlPagerCell .rtlPagerButton,
    .RadTreeList_Sunset .rtlPagerCell .rtlActionButton {
      border-width: 1px;
      border-style: solid;
      border-radius: 2px;
      border-color: #938973;
      color: #3d1400;
      background-color: #ded7c6;
      background-image: linear-gradient(#f1eadf, #ded7c6);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4); }
      .RadTreeList_Sunset .rtlPagerCell .rtlPagerButton:hover,
      .RadTreeList_Sunset .rtlPagerCell .rtlActionButton:hover {
        border-color: #d2b40d;
        color: #863d02;
        background-color: #f1d121;
        background-image: linear-gradient(#faef93, #f1d121);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }
  .RadTreeList_Sunset .rtlDrag:before {
    border-right: 1px solid #938879; }
  .RadTreeList_Sunset .rtlMobileMenu {
    background: #ffffff; }
  .RadTreeList_Sunset .rtlColumnItem {
    background-image: linear-gradient(#f1eadf, #ded7c6);
    border-color: #938973; }
  .RadTreeList_Sunset .rtlValue {
    border: 1px solid #938879;
    color: #333333; }

.rtlLeftResizer_Sunset,
.rtlRightResizer_Sunset {
  background-color: #982e00; }

