.RadResizable {
	position: absolute;
	z-index: 99999;
}

.rrHandle {
	width: 10px;
	height: 10px;
	position: absolute;
	z-index:1;
}
.rrhTop {
	top: 0;
}
.rrhMiddle {
	top: 0;
	bottom: 0;
	height: auto;
	cursor: ew-resize;
}
.rrhBottom {
	bottom: 0;
}
.rrhLeft {
	left: 0;
}
.rrhCenter {
	left: 0;
	right: 0;
	width: auto;
	cursor: ns-resize;
}
.rrhRight {
	right: 0;
}
.rrhTop.rrhLeft, 
.rrhBottom.rrhRight {
	cursor: nwse-resize;
}
.rrhTop.rrhRight, 
.rrhBottom.rrhLeft {
	cursor: nesw-resize;
}

.rrhTop.rrhLeft, 
.rrhTop.rrhRight, 
.rrhBottom.rrhLeft, 
.rrhBottom.rrhRight {
	z-index:2;
}

.rrhCustom.rrhTop,
.rrhCustom.rrhBottom,
.rrhCustom.rrhLeft,
.rrhCustom.rrhRight,
.rrhCustom.rrhMiddle,
.rrhCustom.rrhCenter{
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
}