.RadLightBox_Office2007 .rltbWrapper {
  border-color: #9eb6ce;
  color: #333333;
  background-color: #ffffff; }

.RadLightBox_Office2007 .rltbDescOverlayTop,
.RadLightBox_Office2007 .rltbDescOverlayBottom {
  background-color: rgba(255, 255, 255, 0.5); }

.RadLightBox_Office2007 .rltbToolbar .rltbActionButton {
  color: #00156e;
  background: #e8f1fc; }

.RadLightBox_Office2007 .rltbToolbar .rltbActionButton:active {
  color: #41559c; }

