.RadDropDownList_Simple {
  color: #333333; }
  .RadDropDownList_Simple .rddlInner {
    border-color: #7c7c7c;
    color: #000000;
    background-color: #e2e2e2; }
  .RadDropDownList_Simple .rddlHovered {
    border-color: #ca8500;
    color: #882501;
    background-color: #ffe79c; }
  .RadDropDownList_Simple .rddlFocused {
    border-color: #ca4900;
    color: #882501;
    background-color: #ffa517; }

.rddlPopup_Simple {
  border-color: #cccccc;
  color: #333333;
  background-color: #ffffff; }
  .rddlPopup_Simple .rddlItemHovered, .rddlPopup_Simple .rddlItemLoading {
    color: #000000;
    background-color: #fff7ac; }
  .rddlPopup_Simple .rddlItemSelected {
    color: #000000;
    background-color: #ffe79c; }

