.RadAutoCompleteBox_BlackMetroTouch {
  color: #ffffff;
  font-size: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: 100;
  line-height: 26px; }
  .RadAutoCompleteBox_BlackMetroTouch .racTokenList {
    border-color: #555555;
    color: #ffffff;
    background-color: #000000;
    padding-right: 36px; }
  .RadAutoCompleteBox_BlackMetroTouch .racToken {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222;
    line-height: 28px;
    padding: 0 10px;
    vertical-align: top; }
  .RadAutoCompleteBox_BlackMetroTouch .racRemoveTokenLink {
    margin: -3px -8px 0 2px;
    width: 24px;
    height: 24px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -13px -3363px; }
  .RadAutoCompleteBox_BlackMetroTouch .racTextToken {
    padding-top: 1px;
    padding-bottom: 1px; }
  .RadAutoCompleteBox_BlackMetroTouch .racInput {
    height: 30px;
    line-height: 30px;
    *line-height: 28px;
    vertical-align: top; }
  .RadAutoCompleteBox_BlackMetroTouch .racEditTokenInput {
    height: 32px; }
  .RadAutoCompleteBox_BlackMetroTouch .racToken.racHovered {
    border-color: #555555;
    color: #ffffff;
    background-color: #3c3c3c; }
  .RadAutoCompleteBox_BlackMetroTouch .racToken.racFocused {
    border-color: #0082cc;
    box-shadow: inset 0 0 5px #0082cc; }
  .RadAutoCompleteBox_BlackMetroTouch .racToken.racSelected {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .RadAutoCompleteBox_BlackMetroTouch .racLoadingIcon {
    right: 11px;
    bottom: 11px;
    background-image: url('Common/loading_small.gif'); }

.RadAutoCompleteBoxPopup_BlackMetroTouch {
  border-color: #333333;
  color: #ffffff;
  background-color: #000000;
  font-size: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.5; }
  .RadAutoCompleteBoxPopup_BlackMetroTouch .racItemHovered {
    color: #ffffff;
    background-color: #555555; }
  .RadAutoCompleteBoxPopup_BlackMetroTouch .racFocused {
    box-shadow: inset 0 0 5px #0082cc; }
  .RadAutoCompleteBoxPopup_BlackMetroTouch .racItemSelected {
    color: #ffffff;
    background-color: #0082cc; }

