.RadDropDownList_BlackMetroTouch {
  color: #ffffff;
  font-size: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.875em;
  font-weight: 100; }
  .RadDropDownList_BlackMetroTouch .rddlInner {
    padding-left: 10px;
    padding-right: 34px;
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
  .RadDropDownList_BlackMetroTouch .rddlFakeInput {
    min-height: 1.875em; }
  .RadDropDownList_BlackMetroTouch .rddlIcon {
    width: 28px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -11px -58px; }
  .RadDropDownList_BlackMetroTouch .rddlHovered {
    border-color: #555555;
    color: #ffffff;
    background-color: #3c3c3c; }
    .RadDropDownList_BlackMetroTouch .rddlHovered .rddlIcon {
      background-position: -11px -58px; }
  .RadDropDownList_BlackMetroTouch .rddlFocused {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
    .RadDropDownList_BlackMetroTouch .rddlFocused .rddlIcon {
      background-position: -11px -58px; }

.rddlPopup_BlackMetroTouch {
  border-color: #333333;
  color: #ffffff;
  background-color: #000000;
  font-size: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.5; }
  .rddlPopup_BlackMetroTouch .rddlItemHovered, .rddlPopup_BlackMetroTouch .rddlItemLoading {
    color: #ffffff;
    background-color: #555555; }
  .rddlPopup_BlackMetroTouch .rddlItemSelected {
    color: #ffffff;
    background-color: #0082cc; }

