.RadDropDownTree_BlackMetroTouch {
  color: #ffffff;
  font-size: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadDropDownTree_BlackMetroTouch .rddtInner {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
  .RadDropDownTree_BlackMetroTouch .rddtExtraPadding {
    padding-right: 50px; }
  .RadDropDownTree_BlackMetroTouch .rddtFakeInput {
    height: 30px;
    line-height: 30px; }
  .RadDropDownTree_BlackMetroTouch .rddtClearButton {
    background-position: -2px -44px;
    right: 27px; }
  .RadDropDownTree_BlackMetroTouch .rddtIcon {
    width: 28px;
    height: 34px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -11px -58px; }
  .RadDropDownTree_BlackMetroTouch .rddtHovered {
    border-color: #555555;
    color: #ffffff;
    background-color: #3c3c3c; }
    .RadDropDownTree_BlackMetroTouch .rddtHovered .rddtClearButton {
      background-position: -22px -44px; }
    .RadDropDownTree_BlackMetroTouch .rddtHovered .rddtClearButtonHovered {
      background-position: -62px -44px; }
  .RadDropDownTree_BlackMetroTouch .rddtFocused {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
    .RadDropDownTree_BlackMetroTouch .rddtFocused .rddtClearButton {
      background-position: -42px -44px; }
    .RadDropDownTree_BlackMetroTouch .rddtFocused .rddtClearButtonHovered {
      background-position: -82px -44px; }

.rddtPopup_BlackMetroTouch {
  border-color: #333333;
  color: #ffffff;
  background-color: #000000;
  font-size: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.5; }
  .rddtPopup_BlackMetroTouch .rddtFilter {
    background-color: #222222; }
  .rddtPopup_BlackMetroTouch .rddtFilterInput {
    border-color: #555555;
    color: #ffffff;
    background-color: #000000; }
  .rddtPopup_BlackMetroTouch .RadTreeView em {
    color: #ffffff;
    background-color: #555555; }
  .rddtPopup_BlackMetroTouch .rddtFilterInput.rddtHovered {
    border-color: #555555;
    color: #ffffff;
    background-color: #000000; }
  .rddtPopup_BlackMetroTouch .rddtFilterInput.rddtFocused {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #000000; }

