.RadHtmlChart_BlackMetroTouch.k-chart .k-navigator-hint .k-tooltip {
  color: #ffffff; }

.k-marquee-color {
  border-color: #0082cc;
  color: #ffffff;
  background-color: #0082cc; }

.k-tooltip.k-chart-tooltip.k-chart-shared-tooltip {
  border-color: #333333;
  color: #ffffff;
  background-color: #000000; }
