.RadMap_BlackMetroTouch {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadMap_BlackMetroTouch .k-navigator {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
  .RadMap_BlackMetroTouch .k-button {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
  .RadMap_BlackMetroTouch .k-button:hover,
  .RadMap_BlackMetroTouch .k-navigator > .k-button:hover {
    border-color: #555555;
    color: #ffffff;
    background-color: #3c3c3c; }
  .RadMap_BlackMetroTouch .k-button:active,
  .RadMap_BlackMetroTouch .k-button:focus,
  .RadMap_BlackMetroTouch .k-navigator > .k-button:active,
  .RadMap_BlackMetroTouch .k-navigator > .k-button:focus {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .RadMap_BlackMetroTouch .k-marker {
    color: #0082cc; }
  .RadMap_BlackMetroTouch.k-tooltip {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
    .RadMap_BlackMetroTouch.k-tooltip .k-tooltip-button {
      color: #ffffff;
      background-color: #222222; }
    .RadMap_BlackMetroTouch.k-tooltip .k-tooltip-button:hover {
      color: #0082cc; }
  @media \0screen\,screen\9 {
    .RadMap_BlackMetroTouch .k-icon {
      background-image: url('Common/radActionsSprite.png'); }
    .RadMap_BlackMetroTouch .k-i-arrow-n {
      background-position: -17px -17px; }
    .RadMap_BlackMetroTouch .k-button:hover .k-i-arrow-n {
      background-position: -17px -17px; }
    .RadMap_BlackMetroTouch .k-button:active .k-i-arrow-n,
    .RadMap_BlackMetroTouch .k-button:focus .k-i-arrow-n {
      background-position: -17px -17px; }
    .RadMap_BlackMetroTouch .k-i-arrow-e {
      background-position: -17px -167px; }
    .RadMap_BlackMetroTouch .k-button:hover .k-i-arrow-e {
      background-position: -17px -167px; }
    .RadMap_BlackMetroTouch .k-button:active .k-i-arrow-e,
    .RadMap_BlackMetroTouch .k-button:focus .k-i-arrow-e {
      background-position: -17px -167px; }
    .RadMap_BlackMetroTouch .k-i-arrow-s {
      background-position: -17px -67px; }
    .RadMap_BlackMetroTouch .k-button:hover .k-i-arrow-s {
      background-position: -17px -67px; }
    .RadMap_BlackMetroTouch .k-button:active .k-i-arrow-s,
    .RadMap_BlackMetroTouch .k-button:focus .k-i-arrow-s {
      background-position: -17px -67px; }
    .RadMap_BlackMetroTouch .k-i-arrow-w {
      background-position: -17px -117px; }
    .RadMap_BlackMetroTouch .k-button:hover .k-i-arrow-w {
      background-position: -17px -117px; }
    .RadMap_BlackMetroTouch .k-button:active .k-i-arrow-w,
    .RadMap_BlackMetroTouch .k-button:focus .k-i-arrow-w {
      background-position: -17px -117px; }
    .RadMap_BlackMetroTouch .k-i-close,
    .RadMap_BlackMetroTouch .k-i-close:hover {
      background-color: transparent;
      background-position: -67px -1917px; } }

