.RadSiteMap_BlackMetroTouch {
  color: #ffffff;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSiteMap_BlackMetroTouch .rsmManyLevels > .rsmItem > .rsmLink {
    border-color: #555555; }
  .RadSiteMap_BlackMetroTouch .rsmTwoLevels > .rsmItem > .rsmLink, .RadSiteMap_BlackMetroTouch .rsmThreeLevels > .rsmItem > .rsmLink, .RadSiteMap_BlackMetroTouch .rsmManyLevels .rsmLevel1 > .rsmItem > .rsmLink {
    border-color: #555555; }
  .RadSiteMap_BlackMetroTouch .rsmOneLevel .rsmLink:hover, .RadSiteMap_BlackMetroTouch .rsmTwoLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_BlackMetroTouch .rsmThreeLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_BlackMetroTouch .rsmManyLevels .rsmLevel2 .rsmLink:hover {
    border-color: #555555;
    color: #ffffff;
    background-color: #555555; }

