.RadTabStrip_BlackMetroTouch {
  color: #ffffff;
  font: 100 16px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 2.5; }
  .RadTabStrip_BlackMetroTouch .rtsGhostTab {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
  .RadTabStrip_BlackMetroTouch .rtsDisabled .rtsTxt {
    filter: alpha(opacity=50);
    opacity: .5; }
  .RadTabStrip_BlackMetroTouch .rtsLink {
    padding: 0 10px;
    color: #ffffff; }
  .RadTabStrip_BlackMetroTouch .rtsOut,
  .RadTabStrip_BlackMetroTouch .rtsIn {
    padding: 0; }
  .RadTabStrip_BlackMetroTouch .rtsTxt {
    padding: 0; }
  .RadTabStrip_BlackMetroTouch .rtsLevel1 .rtsLink {
    margin: 0 0 0 -1px;
    border: 1px solid #555555;
    background-color: #222222; }
  .RadTabStrip_BlackMetroTouch .rtsLevel1 .rtsLink:hover {
    border-color: #555555;
    color: #ffffff;
    background-color: #3c3c3c; }
  .RadTabStrip_BlackMetroTouch .rtsLevel1 .rtsSelected,
  .RadTabStrip_BlackMetroTouch .rtsLevel1 .rtsSelected:hover {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .RadTabStrip_BlackMetroTouch .rtsLevel1 .rtsDisabled,
  .RadTabStrip_BlackMetroTouch .rtsLevel1 .rtsDisabled:hover {
    background: #222222;
    border-color: #555555; }
  .RadTabStrip_BlackMetroTouch .rtsLevel1 .rtsFirst .rtsLink {
    margin-left: 0; }
  .RadTabStrip_BlackMetroTouch .rtsLevel2 {
    padding: 1px;
    width: auto;
    background-color: #0082cc; }
    .RadTabStrip_BlackMetroTouch .rtsLevel2 .rtsLink {
      margin: 0 0 0 1px;
      border: 1px solid #0082cc;
      color: #ffffff; }
    .RadTabStrip_BlackMetroTouch .rtsLevel2 .rtsLink:hover {
      border-color: #555555; }
    .RadTabStrip_BlackMetroTouch .rtsLevel2 .rtsSelected,
    .RadTabStrip_BlackMetroTouch .rtsLevel2 .rtsSelected:hover {
      border-color: #555555; }
    .RadTabStrip_BlackMetroTouch .rtsLevel2 .rtsFirst .rtsLink {
      margin-left: 0; }
  .RadTabStrip_BlackMetroTouch .rtsScroll {
    height: auto; }
  .RadTabStrip_BlackMetroTouch .rtsNextArrow,
  .RadTabStrip_BlackMetroTouch .rtsPrevArrow,
  .RadTabStrip_BlackMetroTouch .rtsPrevArrowDisabled,
  .RadTabStrip_BlackMetroTouch .rtsNextArrowDisabled {
    width: 28px;
    height: 28px;
    border: 1px solid #333333;
    border-radius: 34px;
    background-color: #222222;
    background-image: url('Common/radActionsSprite.png'); }
  .RadTabStrip_BlackMetroTouch .rtsNextArrow,
  .RadTabStrip_BlackMetroTouch .rtsNextArrow:hover {
    background-position: -11px -161px; }
  .RadTabStrip_BlackMetroTouch .rtsNextArrowDisabled,
  .RadTabStrip_BlackMetroTouch .rtsNextArrowDisabled:hover {
    background-position: -11px -161px; }
  .RadTabStrip_BlackMetroTouch .rtsPrevArrow,
  .RadTabStrip_BlackMetroTouch .rtsPrevArrow:hover {
    background-position: -11px -111px; }
  .RadTabStrip_BlackMetroTouch .rtsPrevArrowDisabled,
  .RadTabStrip_BlackMetroTouch .rtsPrevArrowDisabled:hover {
    background-position: -11px -111px; }
  .RadTabStrip_BlackMetroTouch .rtsNextArrowDisabled,
  .RadTabStrip_BlackMetroTouch .rtsPrevArrowDisabled {
    filter: alpha(opacity=50);
    opacity: 0.5; }

.RadTabStripTop_BlackMetroTouch .rtsLevel1 {
  border-bottom: 3px solid #0082cc; }
  .RadTabStripTop_BlackMetroTouch .rtsLevel1 .rtsLink {
    border-bottom: 0; }

.RadTabStripBottomBlackMetroTouch .rtsLevel1 {
  border-top: 3px solid #0082cc; }
  .RadTabStripBottomBlackMetroTouch .rtsLevel1 .rtsLink {
    border-top: 0; }

.RadTabStripLeft_BlackMetroTouch .rtsLink {
  border-right-width: 0; }

.RadTabStripLeft_BlackMetroTouch .rtsNextArrow,
.RadTabStripLeft_BlackMetroTouch .rtsNextArrow:hover,
.RadTabStripLeft_BlackMetroTouch .rtsNextArrowDisabled,
.RadTabStripLeft_BlackMetroTouch .rtsNextArrowDisabled:hover {
  background-position: -11px -61px; }

.RadTabStripLeft_BlackMetroTouch .rtsPrevArrow,
.RadTabStripLeft_BlackMetroTouch .rtsPrevArrow:hover,
.RadTabStripLeft_BlackMetroTouch .rtsPrevArrowDisabled,
.RadTabStripLeft_BlackMetroTouch .rtsPrevArrowDisabled:hover {
  background-position: -11px -11px; }

.RadTabStripRight_BlackMetroTouch .rtsLink {
  border-left-width: 0; }

.RadTabStripRight_BlackMetroTouch .rtsNextArrow,
.RadTabStripRight_BlackMetroTouch .rtsNextArrow:hover,
.RadTabStripRight_BlackMetroTouch .rtsNextArrowDisabled,
.RadTabStripRight_BlackMetroTouch .rtsNextArrowDisabled:hover {
  background-position: -11px -61px; }

.RadTabStripRight_BlackMetroTouch .rtsPrevArrow,
.RadTabStripRight_BlackMetroTouch .rtsPrevArrow:hover,
.RadTabStripRight_BlackMetroTouch .rtsPrevArrowDisabled,
.RadTabStripRight_BlackMetroTouch .rtsPrevArrowDisabled:hover {
  background-position: -11px -11px; }

.RadTabStrip_BlackMetroTouch_disabled {
  filter: alpha(opacity=50);
  opacity: .5; }
  .RadTabStrip_BlackMetroTouch_disabled .rtsLevel1 .rtsLink {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222;
    cursor: default; }
    .RadTabStrip_BlackMetroTouch_disabled .rtsLevel1 .rtsLink:hover {
      border-color: #555555;
      color: #ffffff;
      background-color: #222222; }
  .RadTabStrip_BlackMetroTouch_disabled .rtsDisabled {
    filter: alpha(opacity=100);
    opacity: 1; }

.rtsDropClue_BlackMetroTouch {
  width: 16px;
  height: 16px;
  background-image: url('Common/radActionsSprite.png'); }

.rtsDropClueTop_BlackMetroTouch {
  margin-top: -16px;
  margin-left: -8px;
  background-position: -117px -67px; }

.rtsDropClueRight_BlackMetroTouch {
  margin-top: -8px;
  background-position: -117px -117px; }

.rtsDropClueBottom_BlackMetroTouch {
  margin-left: -8px;
  background-position: -117px -17px; }

.rtsDropClueLeft_BlackMetroTouch {
  margin-top: -8px;
  margin-left: -16px;
  background-position: -117px -167px; }

