.RadTreeView_BlackMetroTouch {
  color: #ffffff;
  font-size: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 32px;
  font-weight: 100; }
  .RadTreeView_BlackMetroTouch .rtUL .rtUL {
    padding-left: 26px; }
  .RadTreeView_BlackMetroTouch .rtTop,
  .RadTreeView_BlackMetroTouch .rtMid,
  .RadTreeView_BlackMetroTouch .rtBot {
    padding: 0 0 0 22px; }
  .RadTreeView_BlackMetroTouch .rtSp {
    height: 32px; }
  .RadTreeView_BlackMetroTouch .rtIn {
    padding: 0 10px;
    vertical-align: top; }
  .RadTreeView_BlackMetroTouch .rtHover .rtIn {
    border-color: #555555;
    color: #ffffff;
    background-color: #555555; }
  .RadTreeView_BlackMetroTouch .rtSelected .rtIn {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .RadTreeView_BlackMetroTouch .rtChecked,
  .RadTreeView_BlackMetroTouch .rtUnchecked,
  .RadTreeView_BlackMetroTouch .rtIndeterminate {
    width: 15px;
    height: 15px;
    background-image: url('Common/radFormToggleSprite.png'); }
  .RadTreeView_BlackMetroTouch .rtLoadingIcon {
    background-image: url('Common/loading_small.gif'); }
  .RadTreeView_BlackMetroTouch .rtPlus,
  .RadTreeView_BlackMetroTouch .rtMinus {
    margin: 5px 0 0 -22px;
    width: 22px;
    height: 22px;
    background-image: url('Common/radActionsSprite.png'); }
  .RadTreeView_BlackMetroTouch .rtPlus,
  .RadTreeView_BlackMetroTouch .rtPlusHover {
    background-position: -14px -164px; }
  .RadTreeView_BlackMetroTouch .rtMinus,
  .RadTreeView_BlackMetroTouch .rtMinusHover {
    background-position: -64px -64px; }
  .RadTreeView_BlackMetroTouch .rtLines .rtLI,
  .RadTreeView_BlackMetroTouch .rtLines .rtTop,
  .RadTreeView_BlackMetroTouch .rtLines .rtLast .rtTop,
  .RadTreeView_BlackMetroTouch .rtLines .rtMid,
  .RadTreeView_BlackMetroTouch .rtLines .rtBot {
    background-image: none; }

.RadTreeView_BlackMetroTouch_rtl .rtUL .rtUL {
  padding-left: 0;
  padding-right: 26px; }

.RadTreeView_BlackMetroTouch_rtl .rtTop,
.RadTreeView_BlackMetroTouch_rtl .rtMid,
.RadTreeView_BlackMetroTouch_rtl .rtBot {
  padding-left: 0;
  padding-right: 22px; }

.RadTreeView_BlackMetroTouch_rtl .rtPlus,
.RadTreeView_BlackMetroTouch_rtl .rtMinus {
  margin-left: 0;
  margin-right: -22px; }

.RadTreeView_BlackMetroTouch_rtl .rtPlus,
.RadTreeView_BlackMetroTouch_rtl .rtPlusHover {
  background-position: -14px -114px; }

.RadTreeView_BlackMetroTouch_rtl .rtMinus,
.RadTreeView_BlackMetroTouch_rtl .rtMinusHover {
  background-position: -64px -64px; }

