.RecurrenceEditor_Default {
  border-color: #cccccc;
  color: #333333;
  background-color: #ffffff; }
  .RecurrenceEditor_Default .rsAdvRecurrenceTitle {
    border-color: #cdcdcd;
    color: #333333;
    background-color: #e6e6e6; }
  .RecurrenceEditor_Default .rsTabbedOptionList {
    border-color: #b3b3b3;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(white, #e6e6e6); }
    .RecurrenceEditor_Default .rsTabbedOptionList label:hover {
      border-color: darkgray;
      color: #000000;
      background-color: #c2c2c2;
      background-image: linear-gradient(gainsboro, #c2c2c2); }
  .RecurrenceEditor_Default .rsAdvRecurrenceSave {
    border-color: #1667b7;
    color: #ffffff;
    background-color: #1976d2;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }
    .RecurrenceEditor_Default .rsAdvRecurrenceSave:hover {
      border-color: #12579b;
      color: #ffffff;
      background-color: #1667b7;
      background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }
    .RecurrenceEditor_Default .rsAdvRecurrenceSave:active {
      border-color: #0f4880;
      color: #ffffff;
      background-color: #12579b;
      background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }

