.RadDataForm_Office2010Black {
  color: #333333; }
  .RadDataForm_Office2010Black .rdfLegend,
  .RadDataForm_Office2010Black .rdfBorders {
    border-color: #919191; }
  .RadDataForm_Office2010Black .rdfHr {
    color: #919191; }
  .RadDataForm_Office2010Black .rdfFieldHint {
    color: #b3b3b3; }

