.RadDock_Office2010Black {
  border-color: #5e5e5e;
  color: #333333;
  background-color: #ffffff; }
  .RadDock_Office2010Black .rdTitleWrapper {
    border-color: #4c4c4c;
    color: #ffffff;
    background-color: #606060;
    background-image: linear-gradient(#606060, #505050, #606060);
    border-color: inherit; }
  .RadDock_Office2010Black .rdCommandButton:hover {
    border-color: #ffcc1c;
    color: #000000;
    background-color: #fff3c9;
    background-image: linear-gradient(#ffe68b, #ffe176, #fff3c9); }

