.RadListView_Office2010Black {
  border-color: #5e5e5e;
  color: #333333;
  background-color: #ffffff; }
  .RadListView_Office2010Black .rlvHeader th {
    border-color: #4c4c4c;
    color: #ffffff;
    background-color: #606060;
    background-image: linear-gradient(#606060, #505050, #606060); }
  .RadListView_Office2010Black .rlvI {
    border-color: #5e5e5e; }
  .RadListView_Office2010Black .rlvA {
    background: #f2f2f2;
    border-color: #5e5e5e; }
  .RadListView_Office2010Black .rlvISel {
    background: #fff17c;
    color: #000000;
    border-color: #c38e00; }
  .RadListView_Office2010Black .rlvDrag {
    background-image: url('../Office2010Black/ListView/drag.gif'); }
  .RadListView_Office2010Black .rlvInput {
    border-color: #565656;
    color: #333333;
    background-color: #ffffff; }

