.ReminderDialog_Office2010Black {
  border-color: #5e5e5e;
  color: #333333;
  background-color: #a6a6a6;
  border-radius: 4px; }
  .ReminderDialog_Office2010Black .rsTitle {
    border-radius: 4px 4px 0 0; }

