.RadTile_Office2010Black {
  color: #000000;
  background-color: #f6f6f6; }
  .RadTile_Office2010Black .rtilePeekContent {
    background-color: #f6f6f6; }
  .RadTile_Office2010Black.rtileSelected .rtileSelectedIcon {
    color: #333333;
    background-color: #f7c840; }
  .RadTile_Office2010Black.rtileHovered {
    border-color: #f7c840; }
  .RadTile_Office2010Black.rtileSelected {
    border-color: #f7c840; }
  .RadTile_Office2010Black.rtileSelected.rtileHovered {
    border-color: #f5ba0f; }
  .RadTile_Office2010Black.rtileLoading,
  .RadTile_Office2010Black .rtileLoading {
    background-image: url('../Office2010Black/Common/loading_small.gif'); }

