.RadTileList_Default {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333; }
  .RadTileList_Default .rtlistGroupSeparatorVisible {
    background-color: #e6e6e6; }

