.RadScheduler_Web20 {
  border-color: #6788be;
  color: #333333;
  background-color: #ffffff; }
  .RadScheduler_Web20 select,
  .RadScheduler_Web20 input[type="text"],
  .RadScheduler_Web20 input[type="date"],
  .RadScheduler_Web20 input[type="time"],
  .RadScheduler_Web20 input[type="number"],
  .RadScheduler_Web20 textarea {
    border-color: #687dc1;
    color: #333333;
    background-color: #ffffff; }
    .RadScheduler_Web20 select:hover,
    .RadScheduler_Web20 input[type="text"]:hover,
    .RadScheduler_Web20 input[type="date"]:hover,
    .RadScheduler_Web20 input[type="time"]:hover,
    .RadScheduler_Web20 input[type="number"]:hover,
    .RadScheduler_Web20 textarea:hover {
      border-color: #2a5795;
      color: #333333;
      background-color: #ffffff; }
    .RadScheduler_Web20 select:focus,
    .RadScheduler_Web20 input[type="text"]:focus,
    .RadScheduler_Web20 input[type="date"]:focus,
    .RadScheduler_Web20 input[type="time"]:focus,
    .RadScheduler_Web20 input[type="number"]:focus,
    .RadScheduler_Web20 textarea:focus {
      border-color: #2a3866;
      color: #333333;
      background-color: #ffffff; }
  .RadScheduler_Web20 .rsButton {
    border-color: #687dc1;
    color: #ffffff;
    background-color: #687dc1;
    background-image: linear-gradient(#8d9dd2, #5762a3 50%, #3c4d8f 50%, #687dc1); }
    .RadScheduler_Web20 .rsButton:hover {
      border-color: #2a5795;
      color: #0f3789;
      background-color: #cddcf1;
      background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.12); }
    .RadScheduler_Web20 .rsButton:active {
      border-color: #2a3866;
      color: #ffffff;
      background-color: #687dc1;
      background-image: linear-gradient(#8d9dd2, #5762a3 50%, #3c4d8f 50%, #687dc1);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8); }
  .RadScheduler_Web20 .rsPrimary {
    border-color: #73b334;
    color: #333333;
    background-color: #85c843;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.2)); }
    .RadScheduler_Web20 .rsPrimary:hover {
      border-color: #85c843;
      color: #333333;
      background-color: #d4ffbc;
      background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1)); }
    .RadScheduler_Web20 .rsPrimary:active {
      border-color: #73b334;
      color: #333333;
      background-color: #85c843;
      background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.2));
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8); }
  .RadScheduler_Web20 .rsToolbar {
    border-color: #6788be;
    color: #333333;
    background-color: #e7f1ff; }
    .RadScheduler_Web20 .rsToolbar .rsPrimary {
      border-color: #243567;
      color: #ffffff;
      background-color: #3d568e;
      background-image: linear-gradient(#5971a5, #293c6e 50%, #35447b 51%, #3d568e);
      box-shadow: none; }
    .RadScheduler_Web20 .rsToolbar .rsButton:hover {
      border-color: #2a5795;
      color: #0f3789;
      background-color: #cddcf1;
      background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.12); }
    .RadScheduler_Web20 .rsToolbar .rsButton:active {
      border-color: #2a3866;
      color: #ffffff;
      background-color: #687dc1;
      background-image: linear-gradient(#8d9dd2, #5762a3 50%, #3c4d8f 50%, #687dc1);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8); }
  .RadScheduler_Web20 .rsFooter {
    border-color: #6788be;
    color: #333333;
    background-color: #e7f1ff; }
    .RadScheduler_Web20 .rsFooter .rsFullTime {
      border-color: transparent;
      color: inherit;
      background-color: transparent;
      background-image: none; }
    .RadScheduler_Web20 .rsFooter .rsFullTime:hover {
      border-color: #2a5795;
      color: #0f3789;
      background-color: #cddcf1;
      background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.12); }
  .RadScheduler_Web20 .rsSubHeader {
    border-color: #6788be;
    color: #ffffff;
    background-color: #92b3de; }
  .RadScheduler_Web20 .rsSpacerCell,
  .RadScheduler_Web20 .rsAllDayHeader,
  .RadScheduler_Web20 .rsAllDayRow td,
  .RadScheduler_Web20 .rsContentTable .rsAllDayRow td,
  .RadScheduler_Web20 .rsVerticalHeaderTable th,
  .RadScheduler_Web20 .rsHorizontalHeaderTable th {
    border-color: #d2dcec; }
  .RadScheduler_Web20 .rsVerticalHeaderTable {
    color: #ffffff;
    background-color: #a6c1e4; }
  .RadScheduler_Web20 .rsVerticalHeaderTable th {
    border-color: transparent #d2dcec; }
  .RadScheduler_Web20 .rsVerticalHeaderTable .rsAlt th,
  .RadScheduler_Web20 .rsVerticalHeaderTable .rsMainHeader th {
    border-color: #d2dcec; }
  .RadScheduler_Web20 .rsSpacerCell,
  .RadScheduler_Web20 .rsHorizontalHeaderTable {
    color: #ffffff;
    background-color: #92b3de;
    background-image: linear-gradient(#9db7db, #7b95c6 50%, #698ac0 50%, #92b3de); }
  .RadScheduler_Web20 .rsAllDayRow,
  .RadScheduler_Web20 .rsAllDayHeader {
    color: #ffffff;
    background-color: #92b3de; }
  .RadScheduler_Web20 .rsContentTable td {
    border-color: #e6eef8 #e6eef8; }
  .RadScheduler_Web20 .rsContentTable .rsAlt td {
    border-color: #a4b7d0 #e6eef8; }
  .RadScheduler_Web20 .rsOtherMonth,
  .RadScheduler_Web20 .rsNonWorkHour,
  .RadScheduler_Web20 .rsSunCol,
  .RadScheduler_Web20 .rsSatCol {
    background-color: #f5fcff; }
  .RadScheduler_Web20 .rsAptCreate {
    border-color: #b4d3ff;
    color: #0f3789;
    background-color: #e7f1ff; }
  .RadScheduler_Web20 .rsSelectedSlot {
    border-color: #81c85a;
    color: #0e4302;
    background-color: #d4ffbc;
    background-image: none; }
  .RadScheduler_Web20 .rsArrowContainer .rsOvertimeArrow {
    border-color: #687dc1;
    color: #ffffff;
    background-color: #687dc1;
    background-image: linear-gradient(#8d9dd2, #5762a3 50%, #3c4d8f 50%, #687dc1); }
  .RadScheduler_Web20 .rsArrowContainer .rsOvertimeArrow:hover {
    border-color: #2a5795;
    color: #0f3789;
    background-color: #cddcf1;
    background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.12); }
  .RadScheduler_Web20 .rsAptContent {
    border-color: #4d9e1f;
    background-color: #cbf5b4; }
  .RadScheduler_Web20 .rsAptSelected .rsAptContent {
    border-color: #000000; }
  .RadScheduler_Web20 .rsResourceMarker {
    background-color: #f3f8ff; }
  .RadScheduler_Web20 .rsYearView .rsMonthHeader {
    border-color: #a4b7d0; }
  .RadScheduler_Web20 .rsYearView thead tr:nth-child(2) {
    color: #999999; }
  .RadScheduler_Web20 .rsYearView .rsDateHeader {
    border-color: transparent;
    border-radius: 4px; }
  .RadScheduler_Web20 .rsYearView .rsDateHeader:hover {
    border-color: #b4d3ff;
    color: #0f3789;
    background-color: #e7f1ff; }
  .RadScheduler_Web20 .rsYearView .rsOccupiedSlot {
    background-color: #f3f8ff;
    border-radius: 4px; }
  .RadScheduler_Web20 .rsYearView .rsTodayCell .rsDateHeader {
    border-color: #b4d3ff; }
  .RadScheduler_Web20 .rsYearView .rsSatCol:not(.rsOccupiedSlot),
  .RadScheduler_Web20 .rsYearView .rsSunCol:not(.rsOccupiedSlot) {
    color: #999999; }
  .RadScheduler_Web20 .rsYearView .rsYearMonthsWrap {
    border-color: #d2dcec; }
  .RadScheduler_Web20 .rsYearView .rsTooltip .rsToolTipContent {
    border-radius: 4px;
    border-color: #6788be;
    color: #333333;
    background-color: #ffffff; }
  .RadScheduler_Web20 .rsYearView .rsTooltip .rsCategoryPattern .rsResourceMarker {
    background-color: #f3f8ff; }
  .RadScheduler_Web20 .rsYearView .rsTooltip .rsToolTipArrow {
    color: #333333;
    background-color: #ffffff; }
  .RadScheduler_Web20 .rsYearView .rsTooltip .rsToolTipArrowUp {
    border-radius: 4px 4px 0 0; }
  .RadScheduler_Web20 .rsYearView .rsTooltip .rsToolTipArrowDown {
    border-radius: 0 0 4px 4px; }
  .RadScheduler_Web20 .rsYearView .rsTooltipRight .rsToolTipCallOut {
    border-right-color: #6788be; }
  .RadScheduler_Web20 .rsYearView .rsTooltipRight .rsToolTipCallOut:before {
    border-right-color: #ffffff; }
  .RadScheduler_Web20 .rsYearView .rsTooltipLeft .rsToolTipCallOut {
    border-left-color: #6788be; }
  .RadScheduler_Web20 .rsYearView .rsTooltipLeft .rsToolTipCallOut:before {
    border-left-color: #ffffff; }
  .RadScheduler_Web20 .rsAgendaTable th, .RadScheduler_Web20 .rsAgendaTable td {
    border-bottom-color: #2a3f62;
    border-right-color: #2a3f62; }
  .RadScheduler_Web20 .rsAgendaTable th {
    color: #ffffff;
    background-color: #a6c1e4; }
  .RadScheduler_Web20 .rsAgendaTable .rsAgendaRowHovered {
    border-color: #b4d3ff;
    color: #0f3789;
    background-color: #e7f1ff; }
  .RadScheduler_Web20 .rsAgendaTable .rsAgendaRowSelected {
    border-color: #81c85a;
    color: #0e4302;
    background-color: #d4ffbc; }
  .RadScheduler_Web20 .rsPopup {
    border-color: #6788be;
    color: #333333;
    background-color: #ffffff; }
  .RadScheduler_Web20 .rsDialog {
    border-color: #6788be;
    color: #333333;
    background-color: #ffffff; }
  .RadScheduler_Web20 .rsTitle {
    border-color: #5f90cf;
    color: #ffffff;
    background-color: #92b3de;
    background-image: linear-gradient(#9db7db, #7b95c6 50%, #698ac0 50%, #92b3de); }
  .RadScheduler_Web20 .rsAdvancedEdit {
    border-color: #6788be;
    color: #333333;
    background-color: #ffffff; }
  .RadScheduler_Web20 .rsAdvTitle {
    border-color: #5f90cf;
    color: #ffffff;
    background-color: #92b3de; }

