.RadColorPicker_MetroTouch {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadColorPicker_MetroTouch .rcpPalette,
  .RadColorPicker_MetroTouch .rcpHeader,
  .RadColorPicker_MetroTouch .rcpIcon,
  .RadColorPicker_MetroTouch .rcpIcon a,
  .RadColorPicker_MetroTouch .rcpTabs .rcpSelectedTab,
  .RadColorPicker_MetroTouch .rcpButton {
    border-radius: 0; }
  .RadColorPicker_MetroTouch .rcpPalette {
    border-color: #e6e6e6;
    color: #333333;
    background-color: #ffffff; }
  .RadColorPicker_MetroTouch .rcpHeader {
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }
  .RadColorPicker_MetroTouch .rcpImageButton,
  .RadColorPicker_MetroTouch a.rslDraghandle {
    color: #333333; }
  .RadColorPicker_MetroTouch .rcpImageButton:hover {
    color: #25a0da; }
  .RadColorPicker_MetroTouch .rcpIcon em,
  .RadColorPicker_MetroTouch .rcpColorPreview,
  .RadColorPicker_MetroTouch .rcpInput,
  .RadColorPicker_MetroTouch .rcpHexInput,
  .RadColorPicker_MetroTouch .rcpMillionColorsPalette,
  .RadColorPicker_MetroTouch .rcpMillionColorsSlider div.rslTrack {
    border-color: #e0e0e0;
    color: #333333;
    background-color: #ffffff; }
  .RadColorPicker_MetroTouch .rcpIcon a,
  .RadColorPicker_MetroTouch .rcpTabs li,
  .RadColorPicker_MetroTouch .rcpButton {
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }
  .RadColorPicker_MetroTouch .rcpIcon a:hover,
  .RadColorPicker_MetroTouch .rcpTabs li:hover,
  .RadColorPicker_MetroTouch .rcpButton:hover {
    border-color: #cecece;
    color: #000000;
    background-color: #e7e7e7; }
  .RadColorPicker_MetroTouch .rcpIcon a:active,
  .RadColorPicker_MetroTouch .rcpTabs .rcpSelectedTab,
  .RadColorPicker_MetroTouch .rcpTabs .rcpSelectedTab:hover,
  .RadColorPicker_MetroTouch .rcpButton:active {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  .RadColorPicker_MetroTouch .rcpIcon a:focus {
    box-shadow: inset 0 0 5px rgba(37, 160, 218, 0.5); }
  .RadColorPicker_MetroTouch.rcpCustomColorWrapper .rcpPalette {
    box-shadow: 2px 2px 3px rgba(230, 230, 230, 0.5); }
  .RadColorPicker_MetroTouch div.rcpMillionColorsSlider div.rslVertical div.rslTrack a.rslDraghandle:before {
    margin: 0.03125em 0em 0em -0.625em; }
  .RadColorPicker_MetroTouch .rcpSlider.RadSlider_MetroTouch a.rslDraghandle,
  .RadColorPicker_MetroTouch .rcpMillionColorsSlider.RadSlider_MetroTouch a.rslDraghandle {
    color: #333333; }
  .RadColorPicker_MetroTouch .rcpSlider.RadSlider_MetroTouch a.rslDraghandle:hover,
  .RadColorPicker_MetroTouch .rcpSlider.RadSlider_MetroTouch a.rslDraghandle:active,
  .RadColorPicker_MetroTouch .rcpSlider.RadSlider_MetroTouch a.rslDraghandle:focus,
  .RadColorPicker_MetroTouch .rcpMillionColorsSlider.RadSlider_MetroTouch a.rslDraghandle:hover,
  .RadColorPicker_MetroTouch .rcpMillionColorsSlider.RadSlider_MetroTouch a.rslDraghandle:active,
  .RadColorPicker_MetroTouch .rcpMillionColorsSlider.RadSlider_MetroTouch a.rslDraghandle:focus {
    color: #25a0da; }

