.RadListBox_MetroTouch {
  color: #333333;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadListBox_MetroTouch .rlbButton {
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }
  .RadListBox_MetroTouch .rlbGroup,
  .RadListBox_MetroTouch .rlbTemplateContent {
    border-color: #e6e6e6;
    color: #333333;
    background-color: #ffffff; }
  .RadListBox_MetroTouch .rlbDropClue:before {
    content: "";
    position: absolute;
    top: 3px;
    width: 7px;
    height: 7px;
    left: 9px;
    border-radius: 4px;
    background-color: #000; }
  .RadListBox_MetroTouch .rlbItem.rlbDropClueAbove {
    border-top: 1px solid #000; }
  .RadListBox_MetroTouch .rlbItem.rlbDropClueBelow {
    border-bottom: 1px solid #000; }
  .RadListBox_MetroTouch .rlbButton:focus {
    border-color: rgba(37, 160, 218, 0.5);
    box-shadow: inset 0 0 5px rgba(37, 160, 218, 0.5); }
  .RadListBox_MetroTouch .rlbHovered.rlbItem, .RadListBox_MetroTouch .rlbHighlight {
    color: #000000;
    background-color: #e7e7e7; }
  .RadListBox_MetroTouch .rlbHovered.rlbButton {
    border-color: #cecece;
    color: #000000;
    background-color: #e7e7e7; }
  .RadListBox_MetroTouch .rlbActive.rlbButton {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  .RadListBox_MetroTouch .rlbItem.rlbSelected {
    color: #ffffff;
    background-color: #25a0da; }

