.RecurrenceEditor_MetroTouch {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RecurrenceEditor_MetroTouch .rsPanel {
    border-color: #e6e6e6; }
  .RecurrenceEditor_MetroTouch .rsAdvRecurrenceFreq,
  .RecurrenceEditor_MetroTouch .rsAdvPatternPanel {
    border-color: #e6e6e6; }

