.RadWizard_MetroTouch {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: #333333;
  background: #ffffff; }
  .RadWizard_MetroTouch .rwzButton {
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }
  .RadWizard_MetroTouch .rwzNext,
  .RadWizard_MetroTouch .rwzFinish {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  .RadWizard_MetroTouch .rwzLink {
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }
    .RadWizard_MetroTouch .rwzLink:before {
      border-color: #e0e0e0;
      background-color: #f9f9f9;
      box-shadow: none; }
  .RadWizard_MetroTouch .rwzProgressBar {
    border-color: #e5e5e5;
    background-color: #e5e5e5; }
  .RadWizard_MetroTouch .rwzProgress {
    border-color: #25a0da;
    background-color: #25a0da; }
  .RadWizard_MetroTouch .rwzHovered.rwzButton,
  .RadWizard_MetroTouch .rwzHovered .rwzLink {
    border-color: #cecece;
    color: #000000;
    background-color: #e7e7e7; }
  .RadWizard_MetroTouch .rwzHovered.rwzNext,
  .RadWizard_MetroTouch .rwzHovered.rwzFinish {
    border-color: #1e80ae;
    color: #ffffff;
    background-color: #1e80ae; }
  .RadWizard_MetroTouch .rwzHovered .rwzLink:before {
    border-color: #cecece;
    background-color: #e7e7e7; }
  .RadWizard_MetroTouch .rwzFocused.rwzButton {
    border-color: rgba(37, 160, 218, 0.5);
    box-shadow: 0 0 5px rgba(37, 160, 218, 0.5) inset; }
  .RadWizard_MetroTouch .rwzFocused.rwzNext {
    border-color: #166083;
    box-shadow: 0 0 5px #166083 inset; }
  .RadWizard_MetroTouch .rwzSelected .rwzLink,
  .RadWizard_MetroTouch .rwzSelected .rwzLink:before {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }

