.ReminderDialog_Office2010Silver .rsRemList .rsLi:hover {
  color: #3b3b3b;
  background-color: #ffe791; }

.ReminderDialog_Office2010Silver .rsRemList .rsLiSelected,
.ReminderDialog_Office2010Silver .rsRemList .rsLiSelected:hover {
  color: #3b3b3b;
  background-color: #fff17c; }

.ReminderDialog_Office2010Silver .rsRemSnoozePanel .rsLi:before {
  border-color: #ffffff;
  background-color: #ffffff;
  box-shadow: 0 0 1px #bfc3ca; }

.ReminderDialog_Office2010Silver .rsRemSnoozePanel .rsLi:hover:before {
  background-color: #bfc3ca; }

.ReminderDialog_Office2010Silver .rsRemSnoozePanel .rsLi:active:before {
  background-color: #c38e00; }

