.RadCloudUpload .rcuInfoPanel, .RadCloudUpload .rcuHeader,
.RadCloudUpload .rcuBody, .RadCloudUpload .rcuLI {
  *zoom: 1; }
  .RadCloudUpload .rcuInfoPanel:after, .RadCloudUpload .rcuHeader:after,
  .RadCloudUpload .rcuBody:after, .RadCloudUpload .rcuLI:after {
    content: "";
    height: 0;
    clear: both;
    display: block; }

.RadCloudUpload {
  position: relative;
  line-height: 1.42857143; }
  .RadCloudUpload .rcuHidden {
    display: none !important; }
  .RadCloudUpload .rcuButton {
    margin: 0;
    padding: 4px 24px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    font: inherit;
    background-color: transparent;
    vertical-align: top;
    white-space: nowrap;
    outline: none;
    cursor: pointer; }
    .RadCloudUpload .rcuButton::-moz-focus-inner {
      margin: 0;
      padding: 0;
      border: 0; }
  .RadCloudUpload .rcuFileWrap {
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    position: relative;
    zoom: 1; }
  .RadCloudUpload .rcuFileInput {
    height: auto;
    margin: 0;
    padding: 0;
    font: 100px monospace;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    z-index: 1;
    cursor: pointer; }
  .RadCloudUpload .rcuInfoPanel {
    margin-top: 10px;
    min-width: 470px;
    border-width: 1px;
    border-style: solid;
    position: relative;
    overflow: hidden; }
  .RadCloudUpload .rcuHeader,
  .RadCloudUpload .rcuBody {
    margin: 0;
    position: relative; }
  .RadCloudUpload .rcuHeader {
    padding: 10px;
    position: relative; }
    .RadCloudUpload .rcuHeader .p-i-loading {
      margin-right: 8px; }
    .RadCloudUpload .rcuHeader .rcuHeaderText {
      font-size: 1.3em;
      line-height: 1.20879121;
      display: inline-block;
      vertical-align: middle; }
    .RadCloudUpload .rcuHeader .rcuToggleButton {
      padding: 0;
      width: 1.42857143em;
      height: 1.42857143em;
      box-sizing: content-box;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 10px;
      margin: auto;
      text-align: center; }
      .RadCloudUpload .rcuHeader .rcuToggleButton .rcuButtonText {
        display: none; }
  .RadCloudUpload .rcuBody {
    padding: 5px;
    padding-top: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: inherit; }
  .RadCloudUpload .rcuBodyScroll {
    overflow: auto;
    position: relative; }
  .RadCloudUpload .rcuFileList {
    margin: 5px 0 0;
    border-width: 1px;
    border-style: solid; }
  .RadCloudUpload .rcuList {
    margin: 0;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    list-style: none; }
  .RadCloudUpload .rcuLI {
    position: relative;
    padding-left: 22px;
    overflow: hidden; }
  .RadCloudUpload .rcuLI + .rcuLI {
    margin-top: 5px; }
  .RadCloudUpload .rcuFileName,
  .RadCloudUpload .rcuFileSize {
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left; }
  .RadCloudUpload .rcuFileName {
    width: 20%;
    min-width: 150px; }
  .RadCloudUpload .rcuFileSize {
    width: 90px; }
  .RadCloudUpload .rcuProgressBar {
    position: relative;
    top: 0.65em;
    display: block;
    height: 8px;
    margin-right: 90px;
    border-width: 1px;
    border-style: solid;
    overflow: hidden; }
  .RadCloudUpload .rcuProgress {
    height: 100%;
    text-indent: -999em;
    display: block;
    overflow: hidden;
    background-repeat: repeat-x;
    transition: all .2s ease-in-out; }
  .RadCloudUpload .rcuIndetermined {
    text-indent: -999em;
    background-repeat: repeat-x; }
  .RadCloudUpload .rcuButtons {
    position: absolute;
    right: 2px;
    top: 50%;
    margin-top: -0.71428571em;
    white-space: nowrap; }
    .RadCloudUpload .rcuButtons .rcuButton,
    .RadCloudUpload .rcuButtons .rcuFakeButton {
      padding: 0;
      height: 1.42857143em;
      border: 0;
      color: inherit;
      background: none; }
    .RadCloudUpload .rcuButtons .rcuFakeButton {
      position: relative;
      display: table;
      float: left;
      cursor: pointer; }
    .RadCloudUpload .rcuButtons .rcuRemoveButton {
      margin: 0 0 0 10px; }
    .RadCloudUpload .rcuButtons .rcuButtonText {
      margin-left: 4px; }
  .RadCloudUpload .p-i-loading {
    display: inline-block;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center; }
  .RadCloudUpload span.p-i-loading {
    display: inline-block; }
  .RadCloudUpload .rcuLI > .p-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    margin: -0.625em 0 0 -0.625em;
    font-weight: bold; }
  .RadCloudUpload .p-icon.p-i-upload {
    color: #f9c53a;
    font-weight: normal; }
  .RadCloudUpload .p-icon.p-i-check {
    content: "\e118";
    color: #94e100; }
  .RadCloudUpload .p-icon.p-i-x {
    content: "\e11b";
    color: #d02200; }
  .RadCloudUpload .rcuErrorNotification {
    display: block;
    position: relative;
    top: 5px;
    margin-right: 11em;
    color: #d51923;
    font-size: 0.9em;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .RadCloudUpload .rcuDropZone {
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    text-align: center;
    border-width: 1px;
    border-style: solid; }
    .RadCloudUpload .rcuDropZone .rcuDropZoneInner {
      display: block;
      width: 100%;
      height: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      text-transform: uppercase; }
    .RadCloudUpload .rcuDropZone .rcuDropZoneText {
      vertical-align: middle; }

.RadCloudUpload .radHideButtonText.rcuInfoPanel {
  min-width: 410px; }

.RadCloudUpload .radHideButtonText .rcuProgressBar {
  margin-right: 60px;
  margin-bottom: -19px; }

.RadCloudUpload .radHideButtonText .rcuButtons .rcuButtonText {
  display: none; }

.RadCloudUpload .radHideButtonText .rcuErrorNotification {
  margin-right: 70px; }

.RadCloudUpload.RadCloudUploadSeparated .rcuDropZone {
  top: -7px; }

.RadCloudUpload .rcuDisabled {
  filter: alpha(opacity=60);
  opacity: .6; }
  .RadCloudUpload .rcuDisabled .rcuFileInput {
    cursor: default; }

.rcuToolTip {
  display: block;
  position: absolute;
  padding: 4px 10px;
  background-color: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  font-size: 0.9em;
  line-height: 1.42857143;
  white-space: nowrap;
  box-sizing: content-box; }
  @media \0screen {
    .rcuToolTip {
      border: 1px solid #ccc; } }
  .rcuToolTip.rcuHidden {
    display: none !important; }
  .rcuToolTip:before {
    content: "\e003";
    position: absolute;
    top: 18px;
    right: 20px;
    height: 16px;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    font-family: WebComponentsIcons;
    display: block;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2); }

