.RadColorPicker {
  display: inline-block;
  vertical-align: top;
  line-height: 1.42857143; }
  .RadColorPicker,
  .RadColorPicker * {
    box-sizing: content-box; }
  .RadColorPicker .rcpPalette {
    padding: 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.28571429em;
    box-sizing: border-box;
    position: relative; }
  .RadColorPicker .rcpHeader {
    margin: -4px -4px 4px;
    padding: 2px 5px;
    border-width: 0 0 1px;
    border-style: solid;
    border-radius: 0.28571429em 0.28571429em 0em 0em; }
  .RadColorPicker .rcpViews,
  .RadColorPicker .rcpPageView {
    border-color: inherit; }
  .RadColorPicker .rcpDisabled .rcpPalette,
  .RadColorPicker .rcpDisabled .rcpIcon a,
  .RadColorPicker .rcpDisabled .rcpIcon em {
    opacity: .3; }
  .RadColorPicker .rcpPalette:after,
  .RadColorPicker .rcpTabs:after,
  .RadColorPicker .rcpHeader:after,
  .RadColorPicker .rcpWebPalette:after,
  .RadColorPicker .rcpRGBPageView ul:after,
  .RadColorPicker .rcpMillionColorsPageView:after,
  .RadColorPicker .rcpInputsWrapper ul:after,
  .RadColorPicker .rcpRecentColors:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden; }
  .RadColorPicker ul,
  .RadColorPicker ul li {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    height: auto;
    display: block; }
  .RadColorPicker a {
    outline: none;
    text-decoration: none;
    user-select: none; }
  .RadColorPicker .rcpTabs,
  .RadColorPicker .rcpHexInput,
  .RadColorPicker .rcpInput,
  .RadColorPicker label,
  .RadColorPicker .rcpButton,
  .RadColorPicker .rcpRecentColorsLabel {
    font-size: 1em; }
  .RadColorPicker .rcpPalette label,
  .RadColorPicker .rcpRecentColorsLabel {
    width: 1em;
    padding-right: 0.25em;
    line-height: 1.58333333em;
    text-align: right; }
  .RadColorPicker .rcpIcon,
  .RadColorPicker .rcpIcon a {
    display: inline-block;
    border-radius: 0.21428571em; }
  .RadColorPicker .rcpIcon {
    position: relative;
    min-width: 3.92857143em;
    vertical-align: top;
    padding: 5px 0;
    height: 1.42857143em; }
  .RadColorPicker .rcpIcon a,
  .RadColorPicker .rcpIcon em {
    position: absolute; }
  .RadColorPicker .rcpIcon a {
    z-index: 9;
    cursor: default;
    min-height: 1.41666667em;
    line-height: 0.64285714em;
    padding: 4px 10px;
    border-width: 1px;
    border-style: solid;
    color: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .RadColorPicker div.rcpIcon a,
  .RadColorPicker div.rcpIcon a:hover,
  .RadColorPicker div.rcpIcon a:active {
    text-indent: -99999px;
    text-decoration: none; }
  .RadColorPicker .rcpIcon a:before {
    content: "\e006";
    margin: -.5em 0 0;
    width: 1em;
    height: 1em;
    vertical-align: top;
    font-family: "WebComponentsIcons";
    font-size: 16px;
    line-height: 1;
    text-indent: 0;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: .3333em; }
  .RadColorPicker .rcpIcon em {
    z-index: 10;
    width: 1em;
    height: 1em;
    margin: 0.16666667em 0em 0em 0.5em;
    border-width: 1px;
    border-style: solid;
    text-indent: -9999px; }
  .RadColorPicker .rcpEmptyIcon em {
    background-color: #ffffff !important;
    text-indent: 0;
    filter: FlipH;
    transform: scaleX(-1);
    overflow: hidden; }
  .RadColorPicker .rcpEmptyIcon em:before {
    display: inline-block;
    margin: -8px -5px 0;
    font-family: "WebComponentsIcons";
    font-size: 20px;
    content: "\e510";
    color: #d51923;
    transform: rotate(-6deg); }
  .RadColorPicker .rcpColorPreview,
  .RadColorPicker .rcpInput,
  .RadColorPicker .rcpHexInput,
  .RadColorPicker .rcpMillionColorsPalette,
  .RadColorPicker .rcpMillionColorsSlider div.rslTrack {
    border-width: 1px;
    border-style: solid; }
  .RadColorPicker .rcpEmptyHeader {
    padding: 0.25em 0.08333333em 0em; }
  .RadColorPicker .rcpColorPreview {
    width: 2.75em;
    height: 1.66666667em;
    float: left;
    margin-right: 0.08333333em; }
  .RadColorPicker div.rcpEmptyColorPreview {
    background-color: #ffffff;
    filter: FlipH;
    transform: scaleX(-1);
    text-align: center;
    overflow: hidden; }
  .RadColorPicker .rcpEmptyColorPreview:before {
    display: inline-block;
    margin: -.5em 0 0;
    font-family: "WebComponentsIcons";
    font-size: 3em;
    content: "\e510";
    color: #d51923; }
  .RadColorPicker .rcpPalette .rcpHeader .rcpHexInput,
  .RadColorPicker .rcpPalette .rcpHeader .rcpInput {
    height: 1.58333333em;
    line-height: 1.58333333em;
    display: block;
    padding: 0.08333333em 0.08333333em 0em;
    text-transform: lowercase;
    text-align: left;
    cursor: default; }
  .RadColorPicker .rcpHexInput,
  .RadForm.rfdTextbox .RadColorPicker input.rcpHexInput {
    width: 4.83333333em;
    float: left; }
  .RadColorPicker .rcpHeader .rcpHexInput[readonly] {
    background: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    text-transform: capitalize; }
  .RadColorPicker .rcpInput,
  .RadForm.rfdTextbox .RadColorPicker input.rcpInput {
    width: 1.83333333em; }
  .RadColorPicker .rcpImageButton {
    width: 1.83333333em;
    height: 1.83333333em;
    display: block;
    float: left;
    cursor: pointer;
    margin-left: 0.16666667em; }
  .RadColorPicker .rcpImageButton span:first-child {
    display: block;
    height: 1.83333333em;
    line-height: 1.83333333em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1px;
    text-indent: -99999px; }
  .RadColorPicker .rcpImageButton:before {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    font-family: "WebComponentsIcons";
    font-size: 1.333333em;
    margin: 0.17857143em 0em 0em 0.14285714em; }
  .RadColorPicker .rcpEmptyColor:before {
    content: "\e115"; }
  .RadColorPicker .rcpCustomColorButton:before {
    content: "\e50e"; }
  .RadColorPicker .rcpButton {
    display: block;
    text-align: center;
    padding: 0.07142857em 0.71428571em;
    float: right;
    margin: 0.03571429em 0em 0em 0.14285714em;
    cursor: default;
    white-space: nowrap;
    border-radius: 0.21428571em;
    border-width: 1px;
    border-style: solid; }
  .RadColorPicker .rcpTabs {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -1.78571429em;
    left: 0.64285714em; }
    .RadColorPicker .rcpTabs ul {
      float: left; }
    .RadColorPicker .rcpTabs li {
      border-width: 0 1px 1px;
      border-style: solid;
      float: left;
      margin: 0.07142857em 0em 0em -0.07142857em; }
    .RadColorPicker .rcpTabs a {
      display: block;
      padding: 0.17857143em 0.42857143em;
      color: inherit;
      cursor: default;
      background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0, transparent 20%); }
    .RadColorPicker .rcpTabs .rcpSelectedTab {
      margin-top: 0.07142857em;
      border-radius: 0em 0em 0.14285714em 0.14285714em; }
    .RadColorPicker .rcpTabs .rcpSelectedTab a {
      line-height: 1.35714286em;
      background-image: none; }
    .RadColorPicker .rcpTabs .rcpSelectedTab + li {
      margin: 1px 0 0 -1px; }
    .RadColorPicker .rcpTabs .rcpSelectedTab + li a {
      border-width: 0 1px 1px 0; }
  .RadColorPicker .rcpRecentColorsWrapper {
    margin: 4px 0 0;
    padding: 4px 0 0;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: inherit; }
  .RadColorPicker .rcpRecentColors {
    margin: 10px 0 0 0;
    padding: 0 1px 0 0; }
  .RadColorPicker .rcpRecentColors li {
    margin: 0 1px 2px 0;
    width: 12px;
    height: 12px;
    float: left; }
  .RadColorPicker .rcpWebPalette li {
    float: left; }
  .RadColorPicker .rcpColorBox,
  .RadColorPicker .rcpSelectedColor {
    cursor: pointer;
    display: block; }
  .RadColorPicker .rcpColorBox span,
  .RadColorPicker .rcpSelectedColor span,
  .RadColorPicker .rcpRecentColors span {
    display: block;
    line-height: 0.07142857em;
    width: 0.85714286em;
    text-indent: -9999px;
    overflow: hidden; }
  .RadColorPicker .rcpRecentColors .rcpColorBox,
  .RadColorPicker .rcpRecentColors span {
    width: 0.71428571em;
    height: 0.71428571em; }
  .RadColorPicker .rcpWebPalette .rcpBreakLine {
    float: none;
    clear: both;
    height: 0.07142857em;
    line-height: 0.07142857em;
    margin-bottom: -0.07142857em;
    overflow: hidden; }
  .RadColorPicker .rcpRGBPageView ul li {
    float: left;
    margin-bottom: 0.14285714em; }
  .RadColorPicker .rcpRGBPageView .rcpInput {
    float: left;
    margin-left: 0.57142857em;
    padding: 0.14285714em; }
  .RadColorPicker .rcpRGBPageView ul li label,
  .RadColorPicker .rcpSlider {
    float: left; }
  .RadColorPicker .rcpHsbPageView .rcpVInputWrapper {
    display: none; }
  .RadColorPicker .rcpMillionColorsPalette {
    width: 18.28571429em;
    height: 11.42857143em;
    overflow: visible;
    position: relative;
    float: left;
    cursor: crosshair; }
  .RadColorPicker .rcpHsbPageView .rcpMillionColorsPalette {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxsaW5lYXJHcmFkaWVudCBpZD0iZzIiPjxzdG9wIHN0b3AtY29sb3I9IiNmZjAwMDAiLz48c3RvcCBvZmZzZXQ9Ii4xNyIgc3RvcC1jb2xvcj0iI2ZmZmYwMCIvPjxzdG9wIG9mZnNldD0iLjMzIiBzdG9wLWNvbG9yPSIjMDBmZjAwIi8+PHN0b3Agb2Zmc2V0PSIuNSIgc3RvcC1jb2xvcj0iIzAwZmZmZiIvPjxzdG9wIG9mZnNldD0iLjY3IiBzdG9wLWNvbG9yPSIjMDAwMGZmIi8+PHN0b3Agb2Zmc2V0PSIuODMiIHN0b3AtY29sb3I9IiNmZjAwZmYiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmZjAwMDAiLz48L2xpbmVhckdyYWRpZW50PjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9InJnYmEoMTI4LDEyOCwxMjgsMCkiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiM4MDgwODAiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZzIpIi8+PHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNnMSkiLz48L3N2Zz4=");
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0), #808080), linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000); }
  .RadColorPicker .rcpHsbPageView .rcpMillionColorsSlider div.rslTrack {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9Ii41IiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwyNTUsMjU1LDApIi8+PHN0b3Agb2Zmc2V0PSIuNSIgc3RvcC1jb2xvcj0icmdiYSgwLDAsMCwwKSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNnMSkiLz48L3N2Zz4=");
    background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0) 50%, transparent 50%, black); }
  .RadColorPicker .rcpHsvPageView .rcpMillionColorsPalette {
    width: 11.42857143em;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: linear-gradient(to bottom, transparent, black), linear-gradient(to right, white, rgba(255, 255, 255, 0)); }
  .RadColorPicker .rcpHsvPageView .rcpMillionColorsSlider div.rslTrack {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNmMDAiLz48c3RvcCBvZmZzZXQ9Ii4xNiIgc3RvcC1jb2xvcj0iI2YwZiIvPjxzdG9wIG9mZnNldD0iLjMzIiBzdG9wLWNvbG9yPSIjMDBmIi8+PHN0b3Agb2Zmc2V0PSIuNSIgc3RvcC1jb2xvcj0iIzBmZiIvPjxzdG9wIG9mZnNldD0iLjY3IiBzdG9wLWNvbG9yPSIjMGYwIi8+PHN0b3Agb2Zmc2V0PSIuODQiIHN0b3AtY29sb3I9IiNmZjAiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmZjAwMDQiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZzEpIi8+PC9zdmc+);
    background-image: linear-gradient(to top, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000); }
  .RadColorPicker .rcpHsvPageView .rcpLInputWrapper {
    display: none; }
  .RadColorPicker .rcpMillionColorsSlider div.rslTrack {
    width: 0.85714286em;
    left: -0.14285714em; }
  .RadColorPicker .rcpMillionColorsSlider div.rslSelectedregion {
    width: 0.85714286em;
    background: transparent none; }
  .RadColorPicker .rcpMillionColorsPageView .rcpInputsWrapper {
    float: left;
    width: 3.95em; }
  .RadColorPicker .rcpMillionColorsPageView .rcpInputsWrapper li {
    float: right;
    margin-bottom: 0.14285714em; }
  .RadColorPicker .rcpMillionColorsPageView .rcpInputsWrapper label {
    float: left; }
  .RadColorPicker .rcpMillionColorsPageView .rcpInputsWrapper .rcpInput {
    float: right;
    padding: 0.14285714em; }
  .RadColorPicker .rcpMillionColorsPageView .rcpInputsWrapper .rcpMillionColorsInputs {
    margin-top: 0.35714286em; }
  .RadColorPicker .rcpMillionColorsHandle {
    position: absolute;
    width: 0.71428571em;
    height: 0.71428571em;
    top: 0;
    left: 0;
    cursor: crosshair; }
  .RadColorPicker .rcpColorBox,
  .RadColorPicker .rcpSelectedColor {
    border-width: 1px;
    border-style: ridge;
    border-color: transparent transparent rgba(153, 153, 153, 0.3) rgba(153, 153, 153, 0.4); }
  .RadColorPicker .rcpSelectedColor,
  .RadColorPicker .rcpColorBox:hover,
  .RadColorPicker .rcpColorBox:focus,
  .RadColorPicker .rcpColorBox:active {
    border-color: rgba(102, 102, 102, 0.3);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.8) inset; }
  .RadColorPicker .rcpMillionColorsHandle {
    width: 0.57142857em;
    height: 0.57142857em;
    background: transparent none repeat scroll 0 0;
    border: 1px solid #eeeeee;
    border-radius: 45px;
    box-shadow: 0 1px 2px #444444;
    cursor: pointer;
    position: absolute;
    z-index: 10; }
  .RadColorPicker .rcpSlider {
    font-size: 1em; }
    .RadColorPicker .rcpSlider .rslHorizontal a.rslDraghandle {
      width: 20px;
      height: 10px;
      line-height: 0.71428571em;
      margin-top: 0.5em;
      background-image: none;
      background-color: transparent;
      text-indent: 0;
      overflow: unset;
      border: 0;
      box-shadow: none; }
    .RadColorPicker .rcpSlider .rslHorizontal a.rslDraghandle:hover {
      width: 20px;
      height: 10px;
      background-image: none;
      background-color: transparent;
      border: none; }
    .RadColorPicker .rcpSlider .rslHorizontal a.rslDraghandle:before {
      display: inline-block;
      width: 20px;
      height: 10px;
      vertical-align: top;
      font-family: "WebComponentsIcons";
      font-size: 20px;
      margin: -0.07142857em 0em 0em -0.25em;
      content: "\e004"; }
    .RadColorPicker .rcpSlider .rslHorizontal a.rslDraghandle span {
      text-indent: -9999px; }
    .RadColorPicker .rcpSlider .rslHorizontal .rslTrack {
      height: 0.42857143em;
      top: 0.71428571em;
      border: 0 none;
      border-radius: 0;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9InJnYmEoMCwwLDAsMCkiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZzEpIi8+PC9zdmc+");
      background-image: linear-gradient(to right, black, transparent); }
    .RadColorPicker .rcpSlider .rslHorizontal .rslSelectedregion {
      background-color: transparent;
      background-image: none;
      border-radius: 0; }
    .RadColorPicker .rcpSlider.rcpRedSlider .rslHorizontal .rslTrack {
      background-color: #ff0000; }
    .RadColorPicker .rcpSlider.rcpGreenSlider .rslHorizontal .rslTrack {
      background-color: #00ff00; }
    .RadColorPicker .rcpSlider.rcpBlueSlider .rslHorizontal .rslTrack {
      background-color: #0000ff; }
  .RadColorPicker div.rcpMillionColorsSlider {
    float: left;
    margin: 0em 0em 0em 0.83333333em;
    border-radius: 0; }
    .RadColorPicker div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle {
      width: 0.57142857em;
      height: 0.71428571em;
      line-height: 0.71428571em;
      margin-left: 0.35714286em;
      cursor: s-resize;
      background-image: none;
      text-indent: 0;
      border: 0;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none; }
    .RadColorPicker div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:before {
      display: inline-block;
      width: 8px;
      height: 10px;
      vertical-align: top;
      font-family: "WebComponentsIcons";
      font-size: 20px;
      margin: 0.03571429em 0em 0em -0.35714286em;
      content: "\e007"; }
    .RadColorPicker div.rcpMillionColorsSlider .rslTrack,
    .RadColorPicker div.rcpMillionColorsSlider .rslSelectedregion {
      border-radius: 0; }
    .RadColorPicker div.rcpMillionColorsSlider .rslVertical .rslTrack .rslSelectedregion {
      background-color: transparent;
      background-image: none; }

.RadColorPicker div.rcpSlider.RadSlider a.rslDraghandle:active,
.RadColorPicker div.rcpSlider.RadSlider a.rslDraghandle:focus,
.RadColorPicker div.rcpMillionColorsSlider.RadSlider a.rslDraghandle:active,
.RadColorPicker div.rcpMillionColorsSlider.RadSlider a.rslDraghandle:focus {
  background-image: none;
  background-color: transparent; }

.RadColorPickerRTL,
.RadColorPickerRTL .rcpInput,
.RadColorPickerRTL .rcpHexInput {
  text-align: right; }

.RadColorPickerRTL .rcpIcon a:before {
  right: auto;
  left: .33333em; }

.RadColorPickerRTL .rcpIcon em {
  margin: 0.33333333em 0.33333333em 0em 0em; }

.RadColorPickerRTL .rcpRGBPageView .rcpInput {
  margin: 0em 0em 0em 0.41666667em; }

.RadColorPickerRTL .rcpRGBPageView .rcpInput,
.RadColorPickerRTL .rcpRGBPageView ul li label .rcpColorPreview,
.RadColorPickerRTL .rcpHexInput,
.RadColorPickerRTL .rcpImageButton,
.RadColorPickerRTL .rcpTabs ul,
.RadColorPickerRTL .rcpTabs ul li,
.RadColorPickerRTL div.rcpMillionColorsPalette,
.RadColorPickerRTL div.rcpMillionColorsSlider {
  float: right; }

.RadColorPickerRTL .rcpTabs ul {
  margin-right: 1.08333333em; }

.RadColorPickerRTL .rcpColorPreview {
  margin: 0em 0em 0em 0.08333333em; }

.RadColorPickerRTL .rcpHexInput,
.RadColorPickerRTL .rcpImageButton {
  margin: 0em 0em 0em 0.16666667em; }

.RadColorPickerRTL .rcpSlider,
.RadColorPickerRTL .rcpButton {
  float: left; }

.RadColorPickerRTL .rcpMillionColorsPageView .rcpInputsWrapper {
  margin-left: 0; }

.RadColorPickerRTL .rcpMillionColorsPageView .rcpInputsWrapper label {
  float: right; }

.RadColorPickerRTL div.rcpMillionColorsSlider {
  margin: 0em -0.83333333em 0em 0em; }
  .RadColorPickerRTL div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle {
    margin-left: -0.75em; }
  .RadColorPickerRTL div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:before {
    margin: 0.03571429em -0.64285714em 0em 0em;
    content: "\e005"; }

div.RadColorPicker.rcpCustomColorWrapper {
  width: 26.07142857em;
  height: 14.28571429em;
  padding: 0;
  background-image: none; }

