.RadDock {
  border-width: 1px;
  border-style: solid;
  word-wrap: break-word;
  outline: none;
  line-height: 1.42857143; }
  .RadDock,
  .RadDock .rdTitleWrapper,
  .RadDock .rdTitleWrapper * {
    box-sizing: content-box; }
  .RadDock.rdRoundedCorner {
    border-radius: 0.35714286em; }
  .RadDock.rdShadow {
    box-shadow: 2px 3px 4px #828282; }
  .RadDock.rdDragHelper {
    opacity: .5 !important; }
  .RadDock.rdResizable {
    position: relative; }
  .RadDock .rdTitleWrapper {
    position: relative;
    padding: 4px 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    line-height: 1.42857143em;
    height: 1.42857143em; }
  .RadDock.rdGripTop .rdTitleWrapper {
    height: 0.71428571em;
    padding: 0em 0.71428571em;
    min-height: 0.71428571em; }
  .RadDock.rdNone .rdTitleWrapper {
    display: none; }
  .RadDock.rdRoundedCorner .rdTitleWrapper {
    border-radius: 0.35714286em 0.35714286em 0em 0em; }
  .RadDock .rdTitleWrapper .rdTitle {
    margin: 0;
    padding: 0;
    max-width: 60%;
    border: 0;
    font: inherrit;
    color: inherit;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    vertical-align: text-top;
    font-weight: normal;
    font-size: 1em; }
  .RadDock .rdCommands {
    width: auto;
    list-style: none;
    margin: -0.78571429em 0em 0em;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0.35714286em; }
  .RadDock .rdListItem {
    float: left;
    margin: 0em 0em 0em 0.35714286em; }
  .RadDock .rdCommandButton {
    width: 1.42857143em;
    height: 1.42857143em;
    border: 1px solid transparent;
    border-radius: 2px;
    text-indent: -99999px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden; }
  .RadDock span.rdCommandButton:hover {
    cursor: pointer; }
  .RadDock .rdCommandButton:before {
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 1em;
    line-height: 1;
    font-family: "WebComponentsIcons";
    text-indent: 0;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 16px;
    content: "\e13a"; }
  .RadDock span.rdClose:before {
    content: "\e11b"; }
  .RadDock span.rdExpand:before {
    content: "\e006"; }
  .RadDock span.rdCollapse:before {
    content: "\e004"; }
  .RadDock span.rdPin:before {
    content: "\e704"; }
  .RadDock span.rdUnpin:before {
    content: "\e705"; }
  .RadDock.rdRoundedCorner .rdContentWrapper {
    border-radius: 0em 0em 0.35714286em 0.35714286em; }
  .RadDock.rdNone .rdContentWrapper {
    border-radius: 0.35714286em; }
  .RadDock .rdContent {
    margin: 0.35714286em 0.71428571em;
    overflow-x: auto; }
  .RadDock.rdCollapsed {
    height: auto !important;
    overflow: hidden; }
  .RadDock.rdCollapsed .rdTitleWrapper {
    border-bottom: 0; }
  .RadDock.rdCollapsed.rdRoundedCorner,
  .RadDock.rdCollapsed.rdRoundedCorner .rdTitleWrapper {
    border-radius: 0.35714286em 0.35714286em 0em 0em; }
  .RadDock.rdRtl .rdCommands {
    left: 0;
    right: auto; }
  .RadDock.rdRtl span.rdClose:before,
  .RadDock.rdRtl span.rdExpand:before,
  .RadDock.rdRtl span.rdCollapse:before,
  .RadDock.rdRtl span.rdPin:before,
  .RadDock.rdRtl span.rdUnpin:before,
  .RadDock.rdRtl span.rdCustom:before {
    margin: 0em -0.07142857em 0em 0em; }
  .RadDock.rdRtl span.rdCustom:before {
    margin: 0.10714286em 0.10714286em 0em 0em; }
  .RadDock.rdRtl .rdCommandButton:before {
    margin: 0.10714286em 0.10714286em 0em 0em; }

.RadDockZone {
  padding: 5px;
  min-width: 100px;
  min-height: 50px;
  border-width: 1px;
  border-style: solid; }
