.RadImageEditor {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  outline: none;
  line-height: 1.42857143;
  position: relative; }

.rieContentArea {
  clear: both;
  overflow: auto;
  background: url("data:image/gif;base64,R0lGODdhEAAQAPABAMzMzP///ywAAAAAEAAQAAACH4xvoKuIzNyBSyYKbMDZcv15HAaSIlWiJ5Sya/RWVgEAOw==");
  border-width: 0 1px 1px;
  border-style: solid;
  box-sizing: border-box; }
  .rieZoneLeft + .rieContentArea,
  .rieZoneRight + .rieContentArea {
    border-width: 1px; }

.rieContentArea img {
  -webkit-user-select: none;
  -moz-user-select: none; }

.rieStatusBar {
  margin: 5px 0 0 0;
  position: relative; }

.rieStatusBar span {
  opacity: .8; }

.rieStatusBar .rieLabel {
  margin: 0 4px 0 0;
  opacity: 1; }

.rieStatusBar span + .rieLabel {
  margin-left: 10px; }

.rieStatusBar span span {
  opacity: 1; }

.rieNoStatusBar .rieStatusBar {
  height: 0.85714286em;
  line-height: 0.85714286em;
  padding: 0; }

.rieResizeHandle {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-top-color: transparent;
  border-left-color: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize; }

.rieIcon {
  font-family: "WebComponentsIcons";
  font-size: 16px;
  line-height: 1; }

.rtbButton:before,
.rtbSlide .rieIcon .rtbButton:before {
  display: none; }

.riePrint:before {
  content: "\e10a"; }

.rieSave:before {
  content: "\e109"; }

.rieExport:before {
  content: "\e502"; }

.rieUndo:before {
  content: "\e100"; }

.rieRedo:before {
  content: "\e101"; }

.rieReset:before {
  content: "\e102"; }

.rieCrop:before {
  content: "\e506"; }

.rieResize:before {
  content: "\e505"; }

.rieZoom:before {
  content: "\e13e"; }

.rieZoomIn:before {
  content: "\e13f"; }

.rieZoomOut:before {
  content: "\e140"; }

.rieOpacity:before {
  content: "\e514"; }

.rieRotate:before {
  content: "\e106"; }

.rieRotateRight:before {
  content: "\e50b"; }

.rieRotateLeft:before {
  content: "\e50c"; }

.rieFlip:before {
  content: "\e507"; }

.rieFlipVertical:before {
  content: "\e509"; }

.rieFlipHorizontal:before {
  content: "\e508"; }

.rieAddText:before {
  content: "\e604"; }

.rieInsertImage:before {
  content: "\e652"; }

.rieDrawCircle:before {
  content: "\e309"; }

.rie:before {
  content: "\e13a"; }

.rieActualSize:before {
  content: "\e503"; }

.rieBestFit:before {
  content: "\e504"; }

.rieBrightnessContrast:before {
  content: "\e511"; }

.rieHueSaturation:before {
  content: "\e512"; }

.rieBlur:before {
  content: "\e516"; }

.rieSharpen:before {
  content: "\e517"; }

.rieGreyscale:before {
  content: "\e515"; }

.rieSepia:before {
  color: #b09557;
  content: "\e515"; }

.rieInvertColor:before {
  content: "\e513"; }

.riePencil:before {
  content: "\e50d"; }

.rieLine:before {
  content: "\e510"; }

.rieDrawRectangle:before {
  content: "\e304"; }

div.rieDialogs div.rdContent {
  overflow: visible !important; }

.rieDialogsTable {
  width: 100%;
  margin: 5px auto; }

.rieDialogsTable td {
  padding: 0.21428571em; }

.rieRightAligned {
  text-align: right; }

.rieDialogsTable .rieClearRightSpace {
  padding: 0.21428571em 0em 0.21428571em 0.21428571em; }

.rieDialogs .rfdRoundedWrapper .rfdRoundedContent {
  width: auto; }

.rieDialogs .rfdRoundedWrapper .rfdRoundedContent textarea {
  width: 17.14285714em; }

.rieDialogs .rieDialogInput.rfdTextInput {
  width: 100%; }

.rieDialogs .rieDialogInputBtn.rfdTextInput {
  width: 9.64285714em; }

.rieDialogs .rieInputDigits.rfdTextInput {
  width: 3.21428571em; }

.rieDialogs .rieBrightnessContrastTable .rieInputDigits.rfdTextInput,
.rieDialogs .rieZoomTable .rieInputDigits.rfdTextInput {
  width: 3.4em; }

.rieDialogs .rieInputHex.rfdTextInput {
  width: 4.28571429em; }

.rieDialogs .rieCombo {
  width: 100%; }

.rieDialogs .rieComboCombo {
  width: 4.64285714em; }

.rieDialogs .rieInputCombo.rfdTextInput {
  width: 11.07142857em; }

.rieResizeButtons {
  width: 5em;
  height: 2.71428571em;
  margin: 0.35714286em 0em 0em 0.57142857em;
  padding: 0.5em 0em 0em; }

.rieResizeButtons .RadButton.rbButton.rbRounded,
.rieResizeButtons .RadButton.rbButton.rbToggled.rbHovered,
.rieRotateTable .RadButton.rbButton.rbRounded {
  box-sizing: border-box;
  height: 1.57142857em;
  border: none;
  color: inherit;
  background: none;
  box-shadow: none; }

.rieConstrainBtn:before {
  content: "\e10f"; }

.rieRemoveConstrainBtn:before {
  content: "\e110"; }

.rieSwapValues:before {
  content: "\e020"; }

.rieRotateTable .RadButton.rbButton.rbPrimary {
  vertical-align: middle;
  padding-left: 0; }

.rieZoomTable .RadButton.rbButton.rbPrimary {
  height: 1.85714286em;
  padding-left: 1.14285714em; }

.rieZoomTable label {
  padding: 0em 0em 0em 0.21428571em; }

.rieDialogsTable .rieBottomCell {
  border-width: 1px 0 0;
  border-style: solid;
  padding: 0.71428571em 0em 0em; }

.rieDialogsTable .rieBottomSpace {
  padding: 0em 0em 0.71428571em 0em; }

.rieClearResizeButtons {
  position: static;
  background-image: none;
  width: auto;
  height: auto;
  padding: 0; }

.rieClearResizeButtons label {
  padding: 0.35714286em 0em 0em;
  display: inline-block; }

.rieInputDimension {
  width: 4.85714286em; }

.riePxLabel {
  display: inline-block;
  padding: 0em 0em 0em 0.07142857em;
  vertical-align: top; }

.rieColorPicker {
  display: inline-block; }

.rieDialogsTable textarea {
  width: 98%;
  resize: none;
  line-height: 1.2; }

.rieDialogsTable .rieFileName {
  padding-left: 24px; }

.rieDialogsTable .rieFileName label {
  vertical-align: middle; }

.rieDialogsTable .rieOverwriteFile {
  padding: 1px 3px 3px 0; }

.rieDialogsTable .RadForm.rfdLabel label,
.rieDialogsTable .rieColorValue .rfdDecorated {
  vertical-align: top; }

.rieDialogsTable .RadButton,
.rieDialogsTable .rcpIcon {
  margin: 0em 0em 0em 0.21428571em; }

.rieDialogsTable .RadButton {
  vertical-align: middle; }

.rieResizeButtons .RadButton {
  margin: 0 2px 0 0; }

._Telerik_IE9 .rieDialogsTable .rieZIndex_IE9,
._Telerik_IE9 .rieToolbarDock.RadDock .rtbIcon,
._Telerik_IE9 .rieDialogsTable .RadButton,
._Telerik_IE9 .rieToolbarDock.RadDock .rtbSplBtn {
  z-index: 1; }

._Telerik_IE9 .RadDockZone .rieToolbarDock.RadDock .rtbIcon {
  z-index: auto; }

.rieDialogsThumbs td {
  text-align: center;
  vertical-align: middle;
  width: 95px;
  height: 95px;
  padding: 10px 2px; }

.rieDialogsThumbs td .rieThumbsLink {
  display: block;
  width: 90px;
  height: 90px;
  padding: 10px 7px 0;
  margin: auto;
  text-align: center;
  border-width: 1px;
  border-style: solid; }

.rieDialogsThumbs td .rieThumbsLink img {
  border: 0;
  width: 80px;
  height: 80px; }

.rieDialogsThumbsLeft {
  border-right: 1px dashed; }

.rieThumbsBottomRow td {
  border-top: 1px dashed; }

.rieActiveThumbsLink,
.rieThumbsLink:hover,
.riePrintContent,
.riePrintContent img {
  border-width: 1px;
  border-style: solid; }

.riePrintContent {
  text-align: center; }

.riePrintContent img {
  margin: 15px 0; }

.rieZoneLeft,
.rieZoneRight {
  position: absolute;
  top: 5px; }

.rieZoneLeft {
  left: 5px; }

.rieZoneRight {
  right: 5px; }

.rieDockToolbar .RadDockZone {
  background-color: transparent; }

div.rdContent.RadImageEditor {
  margin: 0;
  border-radius: 0 0 .35714em .35714em; }

.rdContent.RadImageEditor .RadToolBar {
  border: 0; }

div.RadDock div.RadImageEditor {
  border: 0;
  padding: 0; }

.rieHighlightHorizontal {
  height: 1.42857143em; }

div.rieDockToolbar {
  padding-top: 0.14285714em; }

.rieDockToolbar .rieZoneTop,
.rieDockToolbar .rieZoneBottom {
  margin: auto .41667em;
  z-index: 1; }

.RadImageEditor .rieHighlightVertical,
.RadImageEditor .rieHighlightHorizontal {
  border-width: 1px;
  border-style: dashed; }

.rieTopLeftZero {
  top: 0 !important;
  left: 0 !important; }

div.RadImageEditor div.RadDockZone {
  padding: 0;
  border: 0; }

.rieToolbarDock .rdContent {
  overflow: hidden !important; }

.rieToolbarDock .rdMiddle .rdLeft,
.rieToolbarDock .rdMiddle .rdRight,
.rieToolbarDock .rdBottom {
  display: none; }

.rieRtl .rieContentArea {
  direction: ltr; }

.rdRtl .rieRightAligned {
  text-align: left; }

.rdRtl .rieDialogsThumbsLeft {
  border-left: 1px dashed;
  border-right: 0; }

.rdRtl .rieDialogsTable .RadButton {
  margin-right: auto !important; }

.rieRtl .rieStatusBar {
  text-align: right; }

.rieRtl .rieResizeHandle {
  left: 0.21428571em;
  right: auto;
  top: 0.71428571em;
  cursor: sw-resize; }

.rieRtl .rieResizeHandle:before {
  content: "\e002"; }

.rieRtl .rieDialogsTable textarea {
  text-align: right; }

.rieNoStatusBar.rieRtl .rieResizeHandle {
  top: 0; }

.rieDialogs.rdRtl .rieResizeButtons .RadButton {
  margin: 0 0 0 2px; }

.rieDialogs.rdRtl .rieDialogsTable .rieClearRightSpace {
  padding: .25em .25em .25em 0; }

.rieDialogs.rdRtl .RadButton .rbPrimaryIcon {
  margin: -.08333em 0 0 .5em; }

.rieDialogs.rdRtl .rieZoomTable .RadButton .rbPrimaryIcon {
  margin: -.08333em 0 0 -.08333em; }

.rieDraggableResizeBox {
  position: absolute;
  border: 1px dashed #333; }

.rieDraggableResizeBox .rieDraggableBoxMove {
  width: 100%;
  height: 100%;
  background-color: #fff;
  filter: alpha(opacity=0);
  opacity: 0; }

.rieDraggableResizeBox .rieDraggableBoxImage {
  background-color: transparent;
  opacity: 1; }

.rieDraggableResizeBox .rrHandle {
  font-size: 6px;
  background: #999; }

.rieDraggableTextBox {
  position: absolute;
  border: 1px dashed #333;
  padding: 0 0px;
  padding-left: 0;
  margin: 0; }

.rieDraggableTextBoxContent {
  margin: 0;
  padding: 0;
  line-height: 1.2; }

div.rieRtl .rieUndo .rtbIcon {
  left: -117px; }

div.rieRtl .rieRedo .rtbIcon {
  left: -136px; }

.rieCustomizedIconClass .rieIcon:before {
  content: "\e13a"; }

div.rieOpacityBackground {
  opacity: 0.5;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0; }

.rieZoomTable .RadButton {
  position: relative; }

.RadButton .rbIcon.rbPrimaryIcon.rieActualSize,
.RadButton .rbIcon.rbPrimaryIcon.rieBestFit {
  position: static; }

.rbIcon.rbPrimaryIcon.rieActualSize:before,
.rbIcon.rbPrimaryIcon.rieBestFit:before {
  height: 1em;
  line-height: 1;
  text-align: center;
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  margin: auto;
  font-size: 18px\9; }

_:-ms-fullscreen, :root .rbIcon.rbPrimaryIcon.rieActualSize:before,
_:-ms-fullscreen, :root .rbIcon.rbPrimaryIcon.rieBestFit:before {
  font-size: 18px; }

.rieRotateButtons {
  display: inline-block;
  vertical-align: top;
  padding: 0.35714286em 0em 0em; }

div.rieResizeButtons .RadButton.rbButton {
  padding: 0;
  position: relative; }

div.rieResizeButtons .RadButton.rbButton .rbIcon {
  position: static;
  margin: -.07143em .35714em 0 0; }

.rieResizeButtons .RadButton .rbIcon:before {
  height: 1em;
  line-height: 1;
  text-align: center;
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  margin: auto;
  font-size: 18px\9; }

_:-ms-fullscreen, :root .rieResizeButtons .RadButton .rbIcon:before {
  font-size: 18px; }

