.RadListBox .rlbButton, .RadListBox.rlbFixedHeight .rlbGroup, .RadListBox.rlbFixedHeight .rlbTemplate .rlbTemplateContent {
  box-sizing: border-box; }

.RadListBox .rlbButton, .RadListBox.rlbFixedHeight .rlbGroup, .RadListBox.rlbFixedHeight .rlbTemplate .rlbTemplateContent {
  box-sizing: border-box; }

.RadListBox {
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }
  .RadListBox {
    display: inline-block;
    min-width: 11.66666667em;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    cursor: default;
    text-align: left; }
    .RadListBox ul {
      margin: 0;
      padding: 0; }
  .RadListBox .rlbDisabled {
    filter: alpha(opacity=50);
    opacity: .5; }
  .RadListBox .rlbButton {
    margin: 0;
    padding: 4px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    color: inherit;
    line-height: 1.42857143em;
    font-size: inherit;
    font-family: inherit;
    text-align: inherit;
    vertical-align: top; }
    .RadListBox .rlbButton::-moz-focus-inner {
      margin: 0;
      padding: 0;
      border: 0; }
    .RadListBox .rlbButton:focus {
      outline: none; }
  .RadListBox .rlbButtonIcon {
    display: inline-block;
    font-size: 16px;
    font-family: "WebComponentsIcons";
    vertical-align: top;
    text-align: center; }
    .RadListBox .rlbButtonIcon:before {
      display: inline-block;
      vertical-align: top; }
  .RadListBox .rlbButtonText {
    display: inline-block;
    vertical-align: top;
    margin: 0 3px; }
  .RadListBox .rlbButtonAreaTop,
  .RadListBox .rlbButtonAreaBottom,
  .RadListBox .rlbButtonAreaLeft,
  .RadListBox .rlbButtonAreaRight {
    box-sizing: border-box; }
    .RadListBox .rlbButtonAreaTop ul,
    .RadListBox .rlbButtonAreaBottom ul,
    .RadListBox .rlbButtonAreaLeft ul,
    .RadListBox .rlbButtonAreaRight ul {
      margin: 0;
      padding: 0;
      list-style: none; }
  .RadListBox .rlbButtonAreaTop li,
  .RadListBox .rlbButtonAreaBottom li {
    display: inline-block; }
  .RadListBox .rlbButtonAreaTop li + li,
  .RadListBox .rlbButtonAreaBottom li + li {
    margin-left: 5px; }
  .RadListBox .rlbButtonAreaTop {
    margin-bottom: 5px; }
  .RadListBox .rlbButtonAreaBottom {
    margin-top: 5px; }
  .RadListBox .rlbButtonAreaRight li,
  .RadListBox .rlbButtonAreaLeft li {
    display: block; }
  .RadListBox .rlbButtonAreaRight li + li,
  .RadListBox .rlbButtonAreaLeft li + li {
    margin-top: 5px; }
  .RadListBox .rlbButtonAreaRight {
    margin-left: 5px;
    float: right; }
  .RadListBox .rlbButtonAreaLeft {
    margin-right: 5px;
    float: left; }
  .RadListBox .rlbMiddle,
  .RadListBox .rlbBottom {
    display: table;
    height: 100%; }
    .RadListBox .rlbMiddle ul,
    .RadListBox .rlbBottom ul {
      display: table-cell; }
  .RadListBox .rlbMiddle ul {
    vertical-align: middle; }
  .RadListBox .rlbBottom ul {
    vertical-align: bottom; }
  .RadListBox .rlbBottom .rlbButton {
    margin-top: 3px;
    margin-bottom: 0; }
  .RadListBox .rlbCenter ul {
    text-align: center; }
  .RadListBox .rlbRight ul {
    text-align: right; }
  .RadListBox .rlbNoButtonText.rlbButton {
    width: 1.42857143em;
    height: auto;
    overflow: hidden;
    box-sizing: content-box;
    text-align: center; }
  .RadListBox .rlbNoButtonText .rlbButtonText {
    display: none; }
  .RadListBox .rlbGroup {
    overflow: auto;
    border-width: 1px;
    border-style: solid; }
  .RadListBox .rlbList {
    list-style-type: none; }
  .RadListBox .rlbItem {
    padding: 4px 10px; }
  .RadListBox .rlbHighlight {
    font-weight: bold; }
  .RadListBox .rlbCheckAllItems {
    padding: 4px 10px; }
  .RadListBox .rlbCheckAllItemsCheckBox,
  .RadListBox .rlbCheck {
    font-size: inherit;
    vertical-align: middle;
    margin-top: 0; }
  .RadListBox .rlbCheckAllItems > label,
  .RadListBox .rlbItem > label {
    margin-left: -4px; }
  .RadListBox .rlbImage {
    margin-right: 3px;
    vertical-align: middle; }
  .RadListBox .rlbTemplate {
    display: block; }
  .RadListBox .rlbTemplateContent {
    overflow: hidden;
    border-width: 1px;
    border-style: solid; }
    .RadListBox .rlbTemplateContent .rlbGroup {
      border: 0; }
  .RadListBox .rlbHeader,
  .RadListBox .rlbFooter {
    padding: 4px 10px;
    border: 0 solid transparent;
    border-color: inherit;
    background-position: 0 0;
    background-repeat: repeat-x; }
  .RadListBox .rlbHeader {
    border-bottom-width: 1px; }
  .RadListBox .rlbFooter {
    border-top-width: 1px; }
  .RadListBox .rlbIconMoveUp:before {
    content: "\e004"; }
  .RadListBox .rlbIconMoveDown:before {
    content: "\e006"; }
  .RadListBox .rlbIconMoveToTop:before {
    content: "\e008"; }
  .RadListBox .rlbIconMoveToBottom:before {
    content: "\e00a"; }
  .RadListBox .rlbIconDelete:before {
    content: "\e11b"; }
  .RadListBox .rlbIconTransferUp:before {
    content: "\e017"; }
  .RadListBox .rlbIconTransferDown:before {
    content: "\e019"; }
  .RadListBox .rlbIconTransferLeft:before {
    content: "\e01a"; }
  .RadListBox .rlbIconTransferRight:before {
    content: "\e018"; }
  .RadListBox .rlbIconTransferAllUp:before {
    content: "\e00c"; }
  .RadListBox .rlbIconTransferAllDown:before {
    content: "\e00e"; }
  .RadListBox .rlbIconTransferAllLeft:before {
    content: "\e00f"; }
  .RadListBox .rlbIconTransferAllRight:before {
    content: "\e00d"; }
  .RadListBox .rlbDropClue {
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 1;
    font-family: "WebComponentsIcons";
    position: absolute;
    left: -16px;
    z-index: 10; }
    .RadListBox .rlbDropClue:before {
      content: "\e101";
      display: inline-block; }
  .RadListBox .rlbGroup .rlbDropClueAbove {
    border-top-width: 1px;
    border-top-style: dotted; }
  .RadListBox .rlbGroup .rlbDropClueBelow {
    border-bottom-width: 1px;
    border-bottom-style: dotted; }

.RadListBox.rlbFixedHeight .rlbGroup {
  height: 100%; }

.RadListBox.rlbFixedHeight .rlbTemplate {
  height: 100%;
  overflow: hidden; }
  .RadListBox.rlbFixedHeight .rlbTemplate .rlbTemplateContent {
    height: 100%;
    display: flex;
    flex-direction: column; }
  .RadListBox.rlbFixedHeight .rlbTemplate .rlbBody {
    display: block;
    flex: 1;
    height: auto;
    overflow: auto; }
  .RadListBox.rlbFixedHeight .rlbTemplate div.rlbGroup {
    position: relative; }

.RadListBoxButtonAreaTop .rlbTemplate,
.RadListBoxButtonAreaTop .rlbGroup,
.RadListBoxButtonAreaBottom .rlbTemplate,
.RadListBoxButtonAreaBottom .rlbGroup {
  clear: both; }

.RadListBoxButtonAreaTop.rlbFixedHeight {
  padding: 15px 0 1.42857143em; }
  .RadListBoxButtonAreaTop.rlbFixedHeight .rlbButtonAreaTop {
    margin-top: -15px; }

.RadListBoxButtonAreaBottom.rlbFixedHeight {
  padding: 15px 0 1.42857143em; }
  .RadListBoxButtonAreaBottom.rlbFixedHeight .rlbGroup,
  .RadListBoxButtonAreaBottom.rlbFixedHeight .rlbTemplate {
    margin-top: -15px; }

.RadListBox[dir="rtl"] {
  text-align: right; }

