.RadListBox {
  min-width: 140px;
  line-height: 1.42857143;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  .RadListBox .rlbHeader,
  .RadListBox .rlbFooter {
    padding: 2px 5px;
    border: 0 solid transparent;
    border-color: inherit;
    background-position: 0 0;
    background-repeat: repeat-x; }
  .RadListBox .rlbHeader {
    border-bottom-width: 1px; }
  .RadListBox .rlbFooter {
    border-top-width: 1px; }
  * + html .RadListBox .rlbHeader,
  * + html .RadListBox .rlbFooter {
    border-color: expression(this.parentNode.currentStyle['borderColor']); }
  .RadListBox .rlbGroup {
    border-width: 1px;
    border-style: solid;
    outline: none; }
  .RadListBox .rlbList {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    position: relative;
    *zoom: 1; }
  .RadListBox .rlbItem {
    cursor: default;
    padding: 2px 5px;
    white-space: nowrap; }
  .RadListBox .rlbItemHidden {
    visibility: hidden;
    display: block; }
  .RadListBox .rlbText {
    display: inline;
    white-space: normal;
    vertical-align: middle; }
  .RadListBox .rlbImage {
    margin-right: 2px;
    vertical-align: middle; }
  * + html .RadListBox .rlbItem {
    overflow: visible; }
  .RadListBox .rlbTemplate {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    display: block;
    overflow: hidden; }
  .RadListBox .rlbTemplateContainer {
    border-width: 1px;
    border-style: solid; }
  .RadListBox.RadListBoxScrollable .rlbTemplateContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .RadListBox .rlbTemplateContainer .rlbGroup {
    border-width: 0;
    border-left: none;
    border-right: none;
    background-color: transparent; }
  .RadListBox .rlbTemplateTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed; }
  .RadListBox .rlbTemplateTable td {
    padding: 0; }
  .RadListBox .rlbTemplateCell {
    height: 1px; }
  .RadListBox .rlbActive {
    padding: 1px 4px;
    border: 1px dotted;
    border: 1px dotted currentColor; }
  .RadListBox .rlbDisabled {
    filter: alpha(opacity=50);
    opacity: .5;
    cursor: default; }
  .RadListBox .RadListBox .rlbEmptyMessage {
    font-style: italic;
    text-align: center;
    filter: alpha(opacity=80);
    opacity: .8;
    position: absolute; }
  .RadListBox .rlbCheckAllItems {
    padding: 2px 5px;
    border: 0 solid transparent;
    border-color: inherit;
    border-bottom-width: 1px; }
  * + html .RadListBox .rlbCheckAllItems {
    border-color: expression(this.parentNode.currentStyle['borderColor']); }
  .RadListBox .rlbCheck,
  .RadListBox .rlbCheckAllItemsCheckBox {
    margin: 0 4px;
    vertical-align: middle; }
  .RadListBox .rlbCheckAllItemsCheckBox {
    vertical-align: -.2ex; }
  .RadListBox label {
    font-weight: normal;
    font-weight: inherit; }

.RadListBox .rlbGroup,
.RadListBox .rlbButtonAreaTop,
.RadListBox .rlbButtonAreaBottom,
.RadListBox .rlbButtonAreaLeft,
.RadListBox .rlbButtonAreaRight {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-spacing: 0; }
  .RadListBox .rlbGroup td,
  .RadListBox .rlbButtonAreaTop td,
  .RadListBox .rlbButtonAreaBottom td,
  .RadListBox .rlbButtonAreaLeft td,
  .RadListBox .rlbButtonAreaRight td {
    padding: 0; }

.RadListBoxButtonArea {
  width: 170px; }

.RadListBox .rlbButtonAreaRight {
  float: right; }

.RadListBox .rlbButtonAreaLeft {
  float: left; }

.rlbGroupRight,
.rlbGroupLeft {
  overflow: hidden; }

.RadListBoxScrollable .rlbGroup {
  overflow: auto; }

.RadListBoxScrollable .rlbGroupLeft,
.RadListBoxScrollable .rlbGroupRight,
.RadListBoxScrollable .rlbGroupTop,
.RadListBoxScrollable .rlbGroupBottom {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute; }

.RadListBox .rlbGroupCell,
.RadListBox .rlbGroupContainer {
  height: 100%;
  position: relative; }

.RadListBox .rlbGroupCell {
  height: auto\9;
  position: relative\9; }

.RadListBox .rlbGroupContainer {
  position: relative;
  position: static\9; }

@media all and (-webkit-min-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0) {
  .RadListBox .rlbGroupCell {
    height: auto;
    position: relative; }
  .RadListBox .rlbGroupContainer {
    position: static; } }

.RadListBoxScrollable .rlbButtonAreaBottom {
  position: absolute;
  bottom: 0; }

.RadListBox .rlbButton {
  display: block;
  width: auto;
  height: 21px;
  line-height: 15px;
  margin: 0 7px 5px 3px;
  padding-right: 5px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  box-sizing: content-box;
  vertical-align: top;
  white-space: nowrap; }

.RadListBox .rlbButton:hover {
  zoom: 1; }

.RadListBox .rlbNoButtonText {
  display: block;
  width: 22px;
  padding: 0;
  margin: 0 0 5px 6px; }

.rlbButtonAreaLeft .rlbNoButtonText {
  margin: 0 4px 5px 2px; }

* + html .RadListBox .rlbNoButtonText {
  margin: 0 5px 5px 5px; }

.RadListBox .rlbButtonAreaTop,
.RadListBox .rlbButtonAreaBottom {
  width: 100%; }

.RadListBox .rlbButtonAreaTop .rlbButton,
.RadListBox .rlbButtonAreaBottom .rlbButton {
  vertical-align: middle;
  display: inline-block; }

.RadListBox .rlbCenter,
.RadListBox .rlbRight {
  width: 100%; }

.RadListBox .rlbCenter {
  text-align: center; }

.RadListBox .rlbRight {
  text-align: right; }

.RadListBox .rlbRight .rlbButton {
  margin: 5px 0px 5px 5px; }

.RadListBox .rlbButtonAreaTop .rlbButton {
  margin: 0 6px 5px 0; }

.RadListBox .rlbButtonAreaBottom .rlbButton {
  margin: 5px 6px 1px 0; }

.RadListBox .rlbMiddle,
.RadListBox .rlbBottom {
  height: 100%; }

.RadListBox .rlbMiddle td {
  vertical-align: middle; }

.RadListBox .rlbBottom td {
  vertical-align: bottom; }

.RadListBox .rlbButtonTL,
.RadListBox .rlbButtonTR,
.RadListBox .rlbButtonBL,
.RadListBox .rlbButtonBR {
  display: inline-block;
  position: relative; }

.RadListBox .rlbButtonAreaLeft .rlbButtonTL,
.RadListBox .rlbButtonAreaLeft .rlbButtonTR,
.RadListBox .rlbButtonAreaLeft .rlbButtonBL,
.RadListBox .rlbButtonAreaLeft .rlbButtonBR,
.RadListBox .rlbButtonAreaRight .rlbButtonTL,
.RadListBox .rlbButtonAreaRight .rlbButtonTR,
.RadListBox .rlbButtonAreaRight .rlbButtonBL,
.RadListBox .rlbButtonAreaRight .rlbButtonBR {
  width: 100%; }

.RadListBox .rlbNoButtonText .rlbButtonTL,
.RadListBox .rlbNoButtonText .rlbButtonTR,
.RadListBox .rlbNoButtonText .rlbButtonBL,
.RadListBox .rlbNoButtonText .rlbButtonBR {
  width: auto; }

.RadListBox .rlbButtonTL {
  left: -4px;
  background-position: 0 0; }

.RadListBox .rlbButtonTR {
  bottom: 4px;
  right: 0;
  overflow: visible;
  background-position: 100% 0; }

.RadListBox .rlbButtonBL {
  top: 4px;
  right: 0;
  background-position: 0 100%; }

.RadListBox .rlbButtonBR {
  right: -4px;
  display: inline-block;
  background-position: 100% 100%; }

.RadListBox .rlbButtonText {
  position: relative;
  display: block;
  z-index: 1;
  padding: 3px 3px 0 20px;
  line-height: 15px;
  background-color: transparent;
  *zoom: 1; }

* + html .RadListBox .rlbButtonAreaTop .rlbButtonText,
* + html .RadListBox .rlbButtonAreaBottom .rlbButtonText {
  line-height: 14px; }

.RadListBox .rlbNoButtonText .rlbButtonText {
  padding-left: 18px;
  padding-right: 0;
  width: 0;
  *font-size: 0;
  font-size: 12px \9; }

@media all and (-webkit-min-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0) {
  .RadListBox .rlbNoButtonText .rlbButtonText {
    margin-top: 1px;
    top: -1px; } }

.rlbHighlight {
  font-weight: bold; }

.RadListBox .rlbDropClue {
  width: 10px;
  height: 9px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  left: -10px;
  z-index: 10; }

.RadListBox .rlbDropClueAbove {
  padding-top: 1px;
  border-top-width: 1px;
  border-top-style: dotted; }

.RadListBox .rlbDropClueBelow {
  padding-bottom: 1px;
  border-bottom-width: 1px;
  border-bottom-style: dotted; }

.RadListBox .rlbEmptyMessage {
  text-align: center;
  color: #999;
  font-style: italic;
  position: absolute; }

.RadListBox * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

.rlbTouchDragClue {
  margin-top: -50px; }

.rlbTouchDragClue .rlbGroup .rlbActive {
  border: 0;
  padding: 2px 5px; }

