.RadMenu {
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  outline: none; }
  .RadMenu .rmRootToggle {
    font-size: 2em;
    width: 1.42857143em;
    line-height: 1.42857143;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    display: block;
    text-align: center; }
    .RadMenu .rmRootToggle:before {
      content: "\e030";
      font-family: "WebComponentsIcons";
      display: inline-block;
      vertical-align: top; }
  .RadMenu.rmDisabled .rmRootToggle {
    cursor: default;
    opacity: 0.6; }

.RadMenuPopup {
  min-width: 110px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0.143em 0.214em 0.214em rgba(0, 0, 0, 0.2);
  line-height: normal;
  display: none;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  z-index: 10; }
  .RadMenuPopup ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .RadMenuPopup a {
    color: inherit;
    text-decoration: none; }
  .RadMenuPopup .rmSlide {
    min-width: 110px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 10; }
  .RadMenuPopup:before, .RadMenuPopup:after {
    content: "";
    border-width: 0 8px 8px;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    display: block;
    position: absolute;
    top: -8px;
    right: .841em; }
  .RadMenuPopup:after {
    top: -6px; }
  .RadMenuPopup.rmLeft:before, .RadMenuPopup.rmLeft:after {
    left: .841em;
    right: auto; }
  .RadMenuPopup.rmHiddenPointer:before, .RadMenuPopup.rmHiddenPointer:after {
    display: none; }
  .RadMenuPopup .rmGroup {
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 100%; }
    .RadMenuPopup .rmGroup .rmGroup {
      top: 0; }
      .RadMenuPopup .rmGroup .rmGroup.rmVisible {
        visibility: visible; }
  .RadMenuPopup .rmRootGroup {
    position: relative;
    left: 0; }
  .RadMenuPopup .rmGroup .rmGroup {
    display: none; }
  .RadMenuPopup .rmItem {
    padding-right: 40px;
    border-top-width: 1px;
    border-top-style: solid;
    position: relative;
    overflow: hidden; }
    .RadMenuPopup .rmItem:after {
      content: "";
      display: block;
      clear: both; }
    .RadMenuPopup .rmItem.rmDisabled .rmLink {
      opacity: .4; }
    .RadMenuPopup .rmItem.rmDisabled .rmToggle {
      opacity: .4;
      cursor: default; }
  .RadMenuPopup .rmItem:first-child {
    border-top: 0; }
  .RadMenuPopup .rmSeparator {
    display: none; }
  .RadMenuPopup .rmLink,
  .RadMenuPopup .rmParentItem {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .RadMenuPopup .rmLink {
    padding-right: 0;
    float: left; }
  .RadMenuPopup span.rmLink {
    cursor: default; }
  .RadMenuPopup .rmParentItem {
    padding-left: 40px;
    cursor: pointer; }
    .RadMenuPopup .rmParentItem:before {
      width: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10px;
      margin: auto;
      height: 0.71428571em;
      line-height: 0.71428571;
      content: "\e007";
      font-size: 2em;
      font-family: "WebComponentsIcons";
      text-align: center; }
  .RadMenuPopup .rmLeftImage:before {
    content: "";
    margin-right: 10px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 2px; }
  .RadMenuPopup .rmToggle {
    width: 20px;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    text-align: center;
    z-index: 20; }
  .RadMenuPopup .rmToggle:before {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.5em 0 0 -0.5em;
    font-size: 2em;
    font-family: "WebComponentsIcons";
    content: "\e005"; }
  .RadMenuPopup .rmLoading:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20; }
  .RadMenuPopup .rmLoadingIcon:after {
    background-position: center;
    background-repeat: no-repeat; }
  .RadMenuPopup .rmLoadingTemplate {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 20; }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .RadMenuPopup .rmSlide {
    width: 320px;
    max-height: 360px; } }

@media only screen and (min-width: 361px) and (max-width: 768px) {
  .RadMenuPopup .rmSlide {
    width: 300px;
    max-height: 400px; } }

@media only screen and (max-width: 360px) {
  .RadMenuPopup .rmSlide {
    width: 260px;
    max-height: 300px; } }

.RadMenuPopup_rtl {
  text-align: right; }

.RadMenuPopup_rtl .rmGroup {
  left: -100%; }

.RadMenuPopup_rtl .rmRootGroup {
  left: 0; }

.RadMenuPopup_rtl .rmItem:not(.rmParentItem) {
  padding-left: 40px;
  padding-right: 0; }

.RadMenuPopup_rtl .rmParentItem {
  padding-left: 10px;
  padding-right: 40px; }
  .RadMenuPopup_rtl .rmParentItem:before {
    content: "\e005";
    left: auto;
    right: 0.1em; }

.RadMenuPopup_rtl .rmLink {
  padding-left: 0;
  padding-right: 10px; }

.RadMenuPopup_rtl .rmLink {
  float: right; }

.RadMenuPopup_rtl .rmLeftImage::before {
  margin-right: 0;
  margin-left: 10px; }

.RadMenuPopup_rtl .rmToggle {
  left: 0;
  right: auto; }

.RadMenuPopup_rtl .rmToggle:before {
  content: "\e007"; }

