.RadOrgChart {
  line-height: 1.42857143;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }
  .RadOrgChart ul {
    padding: 0;
    margin: 0; }
  .RadOrgChart .rocViewPort {
    margin: 0 auto;
    text-align: center; }
  .RadOrgChart .rocNodeList {
    margin-top: 50px;
    padding: 0;
    list-style: none; }
  .RadOrgChart .rocNode {
    padding: 0 5px;
    display: inline-block;
    vertical-align: top;
    position: relative; }
    .RadOrgChart .rocNode.rocShadowNode {
      opacity: .5; }
  .RadOrgChart .rocGroup {
    display: inline-block;
    position: relative;
    padding: 0 10px 10px;
    vertical-align: top;
    text-align: left; }
  .RadOrgChart .rocItemList {
    padding: 0;
    list-style: none;
    clear: both; }
  .RadOrgChart .rocItemWrap {
    margin: 10px 10px 0 0;
    width: 16.66666667em;
    display: inline-block;
    vertical-align: top; }
    .RadOrgChart .rocItemWrap.rocFirst, .RadOrgChart .rocItemWrap.rocFirstInRow {
      margin-left: 0; }
    .RadOrgChart .rocItemWrap.rocLast, .RadOrgChart .rocItemWrap.rocLastInRow {
      margin-right: 0; }
  .RadOrgChart .rocItem,
  .RadOrgChart .rocItemTemplate {
    width: 16.66666667em;
    height: 8.33333333em;
    margin: 0 auto;
    padding: 0.83333333em;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    white-space: normal; }
  .RadOrgChart .rocItem {
    padding-left: 5.66666667em; }
    .RadOrgChart .rocItem.rocNoOwnImage, .RadOrgChart .rocItem.rocNotLoadedItem {
      padding-left: 0.83333333em; }
    .RadOrgChart .rocItem.rocShadowItem {
      opacity: .5; }
    .RadOrgChart .rocItem.rocItemTemplate {
      padding-left: 0.83333em; }
    .RadOrgChart .rocItem.rocEmptyItem {
      border-color: transparent;
      background: transparent; }
  .RadOrgChart .rocItemText {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
  .RadOrgChart .rocItemField {
    margin-top: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
  .RadOrgChart .rocImage {
    width: 4em;
    position: absolute;
    top: 0.83333333em;
    left: 0.83333333em;
    overflow: hidden; }
  .RadOrgChart .rocImageReplacement:before {
    content: "\e801";
    position: absolute;
    top: 0.17730496em;
    left: 0.22em;
    font-size: 4.5em;
    font-family: 'WebComponentsIcons';
    line-height: 1em;
    opacity: 0.3;
    text-indent: -0.08865248em; }
  .RadOrgChart .rocNode:before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    top: -25px;
    border-top: 1px dotted; }
  .RadOrgChart .rocFirst:before {
    width: 50%;
    left: 50%; }
  .RadOrgChart .rocLast:before {
    width: 50%; }
  .RadOrgChart .rocRootNode:before,
  .RadOrgChart .rocOnly:before {
    display: none; }
  .RadOrgChart .rocGroup:before,
  .RadOrgChart.rocSimple .rocNode:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -25px;
    height: 24px;
    border-left: 1px dotted #333; }
  .RadOrgChart .rocRootNode > .rocGroup:before,
  .RadOrgChart.rocSimple .rocRootNode:after {
    display: none; }
  .RadOrgChart .rocGroup:after,
  .RadOrgChart.rocSimple .rocItem:after,
  .RadOrgChart.rocSimple .rocItemTemplate:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -25px;
    height: 25px;
    border-left: 1px dotted #333; }
  .RadOrgChart .rocLastLevel .rocGroup:after,
  .RadOrgChart.rocSimple .rocLastLevel .rocItem:after,
  .RadOrgChart.rocSimple .rocLastLevel .rocItemTemplate:after,
  .RadOrgChart .rocLoadingNodes > .rocGroup:after,
  .RadOrgChart.rocSimple .rocLoadingNodes > .rocItem:after,
  .RadOrgChart.rocSimple .rocLoadingNodes > .rocItemTemplate:after {
    display: none; }
  .RadOrgChart .rocExpandArrow,
  .RadOrgChart .rocCollapseArrow,
  .RadOrgChart .rocExpandGroupArrow,
  .RadOrgChart .rocCollapseGroupArrow {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    font-family: 'WebComponentsIcons';
    padding: 2px;
    cursor: pointer;
    color: inherit;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-align: center; }
    .RadOrgChart .rocExpandArrow:hover,
    .RadOrgChart .rocCollapseArrow:hover,
    .RadOrgChart .rocExpandGroupArrow:hover,
    .RadOrgChart .rocCollapseGroupArrow:hover {
      text-decoration: none; }
    .RadOrgChart .rocExpandArrow:before,
    .RadOrgChart .rocCollapseArrow:before,
    .RadOrgChart .rocExpandGroupArrow:before,
    .RadOrgChart .rocCollapseGroupArrow:before {
      display: block; }
  .RadOrgChart .rocExpandArrow,
  .RadOrgChart .rocCollapseArrow {
    position: absolute;
    left: 50%;
    bottom: -36px;
    margin-left: -10px; }
    .RadOrgChart .rocExpandArrow:hover,
    .RadOrgChart .rocCollapseArrow:hover {
      text-decoration: none; }
  .RadOrgChart .rocExpandGroupArrow,
  .RadOrgChart .rocCollapseGroupArrow {
    float: right;
    margin-top: 10px; }
  .RadOrgChart .rocExpandGroupArrow:before {
    content: "\e005"; }
  .RadOrgChart .rocCollapseGroupArrow:before {
    content: "\e007"; }
  .RadOrgChart .rocExpandArrow:before {
    content: "\e11e"; }
  .RadOrgChart .rocCollapseArrow:before {
    content: "\e121"; }
  .RadOrgChart .rocLoadingNodes .rocExpandArrow,
  .RadOrgChart .rocLoadingNodes .rocCollapseArrow,
  .RadOrgChart .rocLoadingGroups .rocExpandGroupArrow,
  .RadOrgChart .rocLoadingGroups .rocCollapseGroupArrow {
    background-position: 6px 6px;
    background-repeat: no-repeat; }
    .RadOrgChart .rocLoadingNodes .rocExpandArrow:before,
    .RadOrgChart .rocLoadingNodes .rocCollapseArrow:before,
    .RadOrgChart .rocLoadingGroups .rocExpandGroupArrow:before,
    .RadOrgChart .rocLoadingGroups .rocCollapseGroupArrow:before {
      content: ""; }
  .RadOrgChart .rocLoadingGroups .rocExpandGroupArrow,
  .RadOrgChart .rocLoadingGroups .rocCollapseGroupArrow {
    top: 0.41666667em; }
  .RadOrgChart .rocCollapsedNode .rocLineDown {
    display: none; }
  .RadOrgChart .rocCollapsedNode .rocNodeList {
    display: none; }
  .RadOrgChart .rocCollapsedGroup .rocItemWrap {
    display: none; }
  .RadOrgChart .rocCollapsedGroup .rocItemWrap.rocFirst {
    display: inline-block;
    margin-right: 0; }

.RadOrgChart.rocHorizontal {
  padding-top: 28px; }
  .RadOrgChart.rocHorizontal .rocViewPort {
    text-align: left; }
  .RadOrgChart.rocHorizontal .rocNodeFields {
    padding: 0 3px; }
  .RadOrgChart.rocHorizontal .rocNodeList {
    margin-top: 0;
    margin-left: 45px;
    display: inline-block;
    vertical-align: middle; }
  .RadOrgChart.rocHorizontal .rocRootNodeList {
    margin-left: 0; }
  .RadOrgChart.rocHorizontal .rocCollapsedNode .rocNodeList {
    display: none; }
  .RadOrgChart.rocHorizontal .rocNode {
    display: block;
    padding: 16px 0; }
  .RadOrgChart.rocHorizontal .rocGroup {
    display: inline-block;
    vertical-align: middle; }
  .RadOrgChart.rocHorizontal .rocItemList {
    margin: 0; }
  .RadOrgChart.rocHorizontal .rocExpandArrow,
  .RadOrgChart.rocHorizontal .rocCollapseArrow {
    left: auto;
    right: -34px;
    top: 50%;
    margin-top: -10px; }
  .RadOrgChart.rocHorizontal .rocCollapseGroupArrow,
  .RadOrgChart.rocHorizontal .rocExpandGroupArrow {
    margin-right: 5px; }
  .RadOrgChart.rocHorizontal .rocGroup:before,
  .RadOrgChart.rocHorizontal.rocSimple .rocNode:after {
    height: 0;
    width: 20px;
    border-top: 1px dotted;
    left: -22px;
    top: 50%; }
  .RadOrgChart.rocHorizontal .rocGroup:after,
  .RadOrgChart.rocHorizontal.rocSimple .rocItem:after,
  .RadOrgChart.rocHorizontal.rocSimple .rocItemTemplate:after {
    left: auto;
    right: -22px;
    top: 50%;
    height: 0;
    width: 20px;
    border-top: 1px dotted #333; }
  .RadOrgChart.rocHorizontal .rocNode:before {
    width: 0;
    height: 100%;
    top: 0;
    left: -23px;
    border-left: 1px dotted; }
  .RadOrgChart.rocHorizontal .rocFirst:before {
    height: 50%;
    top: 50%; }
  .RadOrgChart.rocHorizontal .rocLast:before {
    height: 50%; }
  .RadOrgChart.rocHorizontal.rocSimple .rocItem,
  .RadOrgChart.rocHorizontal.rocSimple .rocItemTemplate {
    display: inline-block;
    vertical-align: middle; }

.rocDetachedItem,
.rocDetachedNode {
  position: absolute;
  z-index: 9000;
  display: none;
  padding: 10px 10px 10px 30px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  white-space: nowrap; }
  .rocDetachedItem:before,
  .rocDetachedNode:before {
    display: inline-block;
    font-size: 1.4em;
    font-family: 'WebComponentsIcons';
    margin: 0 7px 0 -22px;
    vertical-align: bottom; }
  .rocDetachedItem.rocNoDropClue:before,
  .rocDetachedNode.rocNoDropClue:before {
    content: "\e115"; }
  .rocDetachedItem.rocAddClue:before,
  .rocDetachedNode.rocAddClue:before {
    content: "\e11e"; }
  .rocDetachedItem.rocAppendClue:before,
  .rocDetachedNode.rocAppendClue:before {
    border-top: 1px solid;
    content: "\e019"; }

.rocToolbar {
  display: none;
  position: absolute;
  padding: 4px;
  line-height: 1.42857143;
  z-index: 3000;
  *zoom: 1; }
  .rocToolbar:after {
    content: "";
    height: 0;
    clear: both;
    display: block; }
  .rocToolbar ul {
    margin: 0em 0em 0em -0.25em;
    padding: 0;
    list-style: none;
    *zoom: 1; }
    .rocToolbar ul:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rocToolbar li {
    margin: 0em 0em 0em 0.25em;
    float: left; }
  .rocToolbar .rocToolbarButton {
    width: 16px;
    line-height: 16px;
    font-size: 16px;
    font-family: 'WebComponentsIcons';
    display: block;
    padding: 2px;
    color: inherit;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    text-decoration: none; }
    .rocToolbar .rocToolbarButton:before {
      content: "\e01b"; }
    .rocToolbar .rocToolbarButton.rocActionGoToParent:before {
      content: "\e01c"; }
    .rocToolbar .rocToolbarButton.rocActionGoToRoot:before {
      content: "\e01d"; }
  .rocToolbar .rocHidden {
    display: none; }

