.ReminderDialog {
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  top: 50%;
  left: 50%; }
  .ReminderDialog .rsTitle .rsIcon,
  .ReminderDialog .rsTitle .rsRemTitlaBarText {
    vertical-align: middle; }
  .ReminderDialog .rsTitle .rsIconReminder {
    margin-right: .5ex; }
  .ReminderDialog .rsRemTitle {
    padding-left: 40px;
    position: relative; }
  .ReminderDialog .rsRemTitle .p-i-calendar {
    font-size: 32px;
    position: absolute;
    top: 1px;
    left: 0; }
  .ReminderDialog .rsRemTitle .rsRemTitleSubject {
    white-space: normal;
    word-wrap: break-word; }
  .ReminderDialog .rsRemTitleBarCloseBtn {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -10px; }
  .ReminderDialog .rsRemList {
    margin-top: 10px; }
  .ReminderDialog .rsRemActions {
    margin-top: 10px;
    text-align: right; }
  .ReminderDialog .rsRemActions .rsButton {
    margin-left: 10px;
    min-width: 73px;
    text-align: center; }
  .ReminderDialog .rsRemActions .rsRemDismissAllBtn {
    margin: 0;
    float: left; }
  .ReminderDialog .rsRemSnoozePanel {
    margin-top: 20px; }
  .ReminderDialog .rsRemSnoozePanel .RadDropDownList {
    width: 340px; }
  .ReminderDialog .rsRemSnoozePanel .rsRemSnoozeBtn {
    float: right; }

