.RadSearchBox {
  width: 12em;
  min-width: 12em;
  text-align: left;
  line-height: 1.42857143;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle; }
  .RadSearchBox input,
  .RadSearchBox input:focus {
    box-shadow: none;
    outline: none; }
  .RadSearchBox input::-ms-clear {
    display: none; }
  .RadSearchBox button {
    overflow: hidden; }
    @media \0screen {
      .RadSearchBox button {
        overflow: visible !important; } }
  .RadSearchBox button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  .RadSearchBox img {
    vertical-align: baseline; }
  .RadSearchBox .rsbInner {
    padding: 1px;
    box-sizing: content-box;
    border-width: 1px;
    border-style: solid;
    display: block;
    position: relative; }
  .RadSearchBox.RadSearchBoxWithLabel .rsbInner {
    display: inline-block;
    vertical-align: middle; }
  .RadSearchBox .rsbInput {
    height: 1.42857143em;
    margin: 3px .25em;
    padding: 0;
    width: 100%;
    border: 0;
    color: inherit;
    background: none;
    font: inherit;
    display: inline-block;
    vertical-align: middle; }
  .RadSearchBox .rsbEmptyMessage {
    font-style: italic;
    filter: alpha(opacity=80);
    opacity: .8; }
  .RadSearchBox .rsbButtons {
    display: inline-block;
    vertical-align: top; }
  .RadSearchBox .rsbButton {
    margin: 0;
    padding: 2px;
    font-size: inherit;
    width: 1.42857143em;
    height: 1.42857143em;
    border: 1px solid transparent;
    color: inherit;
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: 0 0;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-sizing: content-box; }
    .RadSearchBox .rsbButton:focus {
      outline: 0; }
    @media \0screen {
      .RadSearchBox .rsbButton {
        overflow: visible; } }
    .RadSearchBox .rsbButton::-moz-focus-inner {
      padding: 0;
      border: 0; }
    .RadSearchBox .rsbButton .rsbIcon {
      margin: -.5em 0 0 -.5em;
      width: 1em;
      height: 1em;
      font-size: 16px;
      line-height: 1.1;
      position: absolute;
      top: 50%;
      left: 50%; }
    .RadSearchBox .rsbButton .rsbIconSearch:before {
      content: "\e13e";
      width: 1em;
      height: 1em;
      font-family: "WebComponentsIcons";
      display: block; }
  .RadSearchBox .rsbLoadingIcon {
    width: 1.3333em;
    height: 1.3333em;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle; }
  .RadSearchBox .rsbButtonSearch {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    width: 1.42857143em;
    height: auto;
    padding: 4px;
    font-size: inherit;
    box-sizing: content-box; }
  .RadSearchBox .rsbLabel {
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle; }
  .RadSearchBox .rsbSearchContext {
    display: inline-block;
    margin: -2px 0 -2px -2px;
    cursor: default;
    vertical-align: middle; }
    .RadSearchBox .rsbSearchContext:focus {
      outline: 0; }
  .RadSearchBox .rsbSCInner {
    padding: 4px 22px 4px 4px;
    border-width: 1px;
    border-style: solid;
    background-position: 0 0;
    background-repeat: repeat-x;
    display: block;
    position: relative;
    box-sizing: border-box; }
    .RadSearchBox .rsbSCInner:after {
      content: "";
      display: block;
      clear: both; }
  .RadSearchBox .rsbSCFakeInput {
    width: 100%;
    float: left;
    overflow: hidden; }
  .RadSearchBox .rsbListItemImg,
  .RadSearchBox .rsbListItemText {
    vertical-align: middle;
    display: inline-block; }
  .RadSearchBox .rsbSCIcon {
    margin: -8px 0 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    right: 4px;
    font-family: "WebComponentsIcons"; }
  .RadSearchBox .rsbSCIcon:before {
    content: "\e006"; }
  .RadSearchBox .rsbListItemImg {
    margin-right: 3px;
    width: 16px;
    height: 16px;
    vertical-align: middle; }
  .RadSearchBox .rsbListItemText {
    vertical-align: middle; }
  .RadSearchBox .rsbDisabled {
    opacity: .6; }
    .RadSearchBox .rsbDisabled .rsbButton {
      cursor: default; }
  .RadSearchBox .rsbSCDisabled {
    opacity: .6; }

.RadSearchBox_rtl {
  text-align: right;
  direction: rtl; }
  .RadSearchBox_rtl .rsbButtonSearch {
    left: -1px;
    right: 0; }

.rsbSlide,
.rsbDropDownSlide {
  float: left;
  display: none;
  position: absolute;
  overflow: hidden;
  z-index: 7000; }

.rsbPopup {
  *zoom: 1;
  line-height: 1.42857143;
  min-width: 12em;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  position: relative;
  cursor: default;
  overflow: hidden; }
  .rsbPopup:after {
    content: "";
    height: 0;
    clear: both;
    display: block; }
  .rsbPopup .rsbScroll {
    *zoom: 1;
    position: relative;
    overflow: auto; }
    .rsbPopup .rsbScroll:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rsbPopup .rsbHeader,
  .rsbPopup .rsbFooter {
    *zoom: 1;
    padding: 4px 10px;
    border-style: solid; }
    .rsbPopup .rsbHeader:after,
    .rsbPopup .rsbFooter:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rsbPopup .rsbHeader {
    margin-bottom: 1px;
    border-width: 0 0 1px; }
  .rsbPopup .rsbFooter {
    margin-top: 1px;
    border-width: 1px 0 0; }
  .rsbPopup .rsbShowAll {
    padding: 2px 5px;
    border-width: 1px 0 0;
    border-style: solid;
    text-align: center; }
  .rsbPopup .rsbList {
    margin: 0;
    padding: 0;
    list-style: none;
    *zoom: 1;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: auto; }
    .rsbPopup .rsbList:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rsbPopup .rsbListItem {
    *zoom: 1;
    margin: 0;
    padding: 4px 10px;
    min-height: 1em; }
    .rsbPopup .rsbListItem:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rsbPopup .rsbListItemImg {
    margin-right: 3px;
    width: 16px;
    height: 16px;
    vertical-align: middle; }
  .rsbPopup .rsbListItemText {
    vertical-align: middle; }

.rsbPopup_rtl {
  text-align: right;
  direction: rtl; }

