.RadTile {
  overflow-x: auto;
  line-height: 1.42857143; }
  .RadTile:after {
    content: "";
    clear: both;
    display: block; }
  .RadTile,
  .RadTile * {
    box-sizing: content-box; }
  .RadTile div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default; }
  .RadTile div:hover,
  .RadTile div:active,
  .RadTile div:focus {
    cursor: default; }
  .RadTile.rtileWide, .RadTile.rtileSquare {
    position: relative;
    float: left;
    height: 10.71428571em;
    margin: 0em 0.42857143em 0.42857143em 0em;
    vertical-align: top;
    overflow: hidden;
    background-clip: padding-box;
    border-style: solid;
    border-width: 2px;
    border-color: transparent; }
  .RadTile.rtileWide {
    width: 22.14285714em; }
  .RadTile.rtileSquare {
    width: 10.71428571em; }
  .RadTile.rtileSelected .rtileSelectedIcon {
    width: 2.71428571em;
    height: 2.71428571em;
    transform: rotate(45deg);
    position: absolute;
    top: -1.42857143em;
    right: -1.42857143em;
    z-index: 99; }
  .RadTile.rtileSelected .rtileSelectedIcon:before {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    font-family: "WebComponentsIcons";
    font-size: 0.92em;
    margin: 1.8em 0 0 1em;
    content: "\e118";
    transform: rotate(-45deg); }
  @media \0screen {
    .RadTile.rtileSelected .rtileSelectedIcon:before {
      margin: 1.6em 0 0 .2em; } }
  .RadTile.RadTextTile .rtileContent {
    padding: 0.57142857em 0.57142857em 0em;
    vertical-align: middle; }
  .RadTile .rtileNavigation:hover {
    cursor: pointer; }
  .RadTile.rtileSelectIntention .rtileSelectedIcon {
    opacity: .5; }
  .RadTile .rtileTopContent {
    height: 8.21428571em;
    overflow: hidden;
    vertical-align: top; }
  .RadTile.RadImageAndTextTile .rtileTopContent {
    height: 100%; }
  .RadTile.RadIconTile .rtileTopContent {
    text-align: center; }
  .RadTile .rtileTopContent .rtileIconImage {
    margin-top: 2.14285714em; }
  .RadTile .rtileTextWrap {
    display: inline-block; }
  .RadTile .rtileBottomContent {
    height: 2.71428571em;
    padding: 0.5em 0.71428571em 0em;
    position: absolute;
    bottom: 0;
    overflow: hidden; }
  .RadTile .rtileBottomContent.rtileTitleIndent,
  .RadTile .rtileBottomContent.rtileBadgeIndent {
    width: 19.64285714em; }
  .RadTile .rtileBottomContent.rtileTitleIndent.rtileBadgeIndent {
    width: 16.5em; }
  .RadTile.rtileSquare .rtileBottomContent {
    width: auto; }
  .RadTile.rtileSquare .rtileBottomContent.rtileTitleIndent,
  .RadTile.rtileSquare .rtileBottomContent.rtileBadgeIndent {
    width: 8.21428571em; }
  .RadTile.rtileSquare .rtileBottomContent.rtileTitleIndent.rtileBadgeIndent {
    width: 5.71428571em; }
  .RadTile .rtileTitleIndent .rtileTitle,
  .RadTile .rtileTitleIndent .rtileBadgeIndent {
    width: 1.42857143em;
    overflow: hidden; }
  .RadTile .rtileTitleIndent {
    padding-left: 3.14285714em; }
  .RadTile .rtileTitleIndent {
    padding-right: 2.5em; }
  .RadTile .rtileTitleIndent img.rtileTitle {
    height: auto;
    width: auto; }
  .RadTile h6.rtileTitle {
    width: 70%;
    font-size: 0.92857143em;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    margin: 0;
    padding: 0;
    font-weight: normal;
    bottom: 0.64285714em;
    left: 0.64285714em;
    z-index: 99;
    color: inherit; }
  .RadTile div.rtileWrapper h6.rtileTitle {
    border-bottom: 0; }
  .RadTile img.rtileTitle {
    overflow: hidden;
    position: absolute;
    bottom: 0.64285714em;
    left: 0.64285714em;
    z-index: 99; }
  .RadTile .rtileBadge {
    text-align: right;
    position: absolute;
    bottom: 0.64285714em;
    right: 0.64285714em;
    font-size: 0.92857143em;
    font-weight: bold;
    z-index: 99; }
  .RadTile .rtileBadgeIcon {
    min-width: 1.14285714em;
    min-height: 1.14285714em; }
  .RadTile .rtileBadgeIcon:before {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    font-family: "WebComponentsIcons";
    font-size: 1.4em; }
  .RadTile .rtileActivityBadge:before {
    content: "\e103"; }
  .RadTile .rtileAlertBadge:before {
    content: "\e400"; }
  .RadTile .rtileAvailableBadge:before {
    border-radius: 45px;
    background-color: #66cc00;
    border: 2px solid black;
    width: 0.57142857em;
    height: 0.57142857em;
    content: ""; }
  .RadTile .rtileAwayBadge:before {
    border-radius: 45px;
    background-color: #ffcc33;
    border: 2px solid black;
    width: 0.64285714em;
    height: 0.64285714em;
    content: ""; }
  .RadTile .rtileBusyBadge:before {
    border-radius: 45px;
    background-color: #cc0000;
    border: 2px solid black;
    width: 0.64285714em;
    height: 0.64285714em;
    content: ""; }
  .RadTile .rtileUnavailableBadge:before {
    border-radius: 45px;
    background-color: #999999;
    border: 2px solid black;
    width: 0.64285714em;
    height: 0.64285714em;
    content: ""; }
  .RadTile .rtileNewMessageBadge:before {
    content: "\e809"; }
  .RadTile .rtilePausedBadge:before {
    content: "\e201"; }
  .RadTile .rtilePlayingBadge:before {
    content: "\e200"; }
  .RadTile .rtileErrorBadge:before {
    content: "\e11d"; }
  .RadTile .rtileAttentionBadge:before {
    content: "\e403"; }
  .RadTile.rtileWide.rtileRtl, .RadTile.rtileSquare.rtileRtl {
    float: right; }
  .RadTile.rtileRtl .rtileImageWrap {
    margin: 0.42857143em 0em 0em 0.35714286em; }
  .RadTile.rtileRtl.rtileSelected .rtileSelectedIcon {
    position: absolute;
    top: -1.42857143em;
    right: auto;
    left: -1.42857143em; }
  .RadTile.rtileRtl.rtileSelected .rtileSelectedIcon:before {
    margin: 1em .1em 0 0; }
  .RadTile.rtileRtl .rtileTitle {
    bottom: 0.71428571em;
    right: 0.71428571em;
    left: auto; }
  .RadTile.rtileRtl img.rtileTitle {
    bottom: 0.71428571em;
    right: 0.71428571em;
    left: auto; }
  .RadTile.rtileRtl .rtileBadge {
    bottom: 0.71428571em;
    left: 0.71428571em;
    right: auto; }
  .RadTile.rtileLoading,
  .RadTile .rtileLoading {
    background-position: 50% 50%;
    background-repeat: no-repeat; }

