.RadWizard {
  min-width: 20.83333333em;
  position: relative;
  padding: 10px;
  line-height: 1.42857143;
  box-sizing: border-box; }
  .RadWizard:after {
    content: "";
    display: block;
    clear: both; }
  .RadWizard .rwzBreadCrumb,
  .RadWizard .rwzNav {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .RadWizard img {
    border-width: 0; }
  .RadWizard .rwzHidden {
    display: none !important; }
  .RadWizard .rwzLink {
    cursor: default; }

.RadWizard span.rwzImage {
  display: inline-block;
  width: 16px;
  height: 16px; }

.RadWizard .rwzBreadCrumb {
  overflow: hidden; }
  .RadWizard .rwzBreadCrumb .rwzLink {
    display: block;
    position: relative;
    padding: 0em 1.07142857em;
    border-width: 1px;
    border-style: solid;
    outline: 0;
    text-decoration: none;
    white-space: nowrap; }
    .RadWizard .rwzBreadCrumb .rwzLink:before {
      content: "";
      width: 1.28em;
      height: 1.27em;
      position: absolute;
      top: 50%;
      right: -0.6em;
      margin-top: -0.68em;
      transform: rotate(45deg) skew(15deg, 15deg);
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-radius: 0 0 0 100px;
      z-index: 3; }
  .RadWizard .rwzBreadCrumb .rwzText {
    display: inline-block;
    line-height: 2.16666667em;
    max-width: 100%;
    vertical-align: middle;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .RadWizard .rwzBreadCrumb .rwzImage + .rwzText {
    max-width: calc(100% - 24px); }
  .RadWizard .rwzBreadCrumb .rwzImage {
    vertical-align: middle; }
  .RadWizard .rwzBreadCrumb.rwzLeftImages .rwzImage {
    margin-right: 5px; }
  .RadWizard .rwzBreadCrumb.rwzRightImages .rwzLink {
    padding-right: 30px; }
  .RadWizard .rwzBreadCrumb.rwzRightImages .rwzImage {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -8px; }

.RadWizard .rwzProgressBar {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  overflow: hidden; }

.RadWizard .rwzProgress {
  display: block;
  height: 13px;
  text-indent: -9999px;
  transition: 0.2s all ease-in-out; }

.RadWizard .rwzContentWrapper {
  overflow: hidden; }

.RadWizard .rwzContent {
  overflow: auto; }

.RadWizard .rwzStep {
  display: none; }
  .RadWizard .rwzStep.rwzActive {
    display: block; }

.RadWizard .rwzNav {
  margin-bottom: 15px; }
  .RadWizard .rwzNav:after {
    content: "";
    display: block;
    clear: both; }
  .RadWizard .rwzNav .rwzLI {
    float: left;
    margin-right: 5px; }
  .RadWizard .rwzNav .rwzRight {
    float: right;
    margin-right: 0;
    margin-left: 5px; }

.RadWizard .rwzContent + .rwzNav {
  margin-top: 15px;
  margin-bottom: 0; }

.RadWizard .rwzButton {
  min-width: 7em;
  padding: 4px 10px;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  font: inherit;
  text-align: center;
  display: inline-block;
  user-select: none; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadWizard .rwzButton {
      margin-bottom: 1px; } }

@-moz-document url-prefix() {
  .RadWizard button::-moz-focus-inner {
    border: 0; }
  .RadWizard button:focus {
    outline: 1px dotted black; } }

.RadWizard .rwzHovered.rwzButton,
.RadWizard .rwzHovered .rwzLink {
  cursor: pointer; }

.RadWizard .rwzDisabled .rwzText {
  filter: alpha(opacity=60);
  opacity: 0.6; }

.rwzHorizontal .rwzBreadCrumb,
.rwzHorizontal .rwzProgressBar {
  margin-bottom: 15px; }

.rwzHorizontal .rwzBreadCrumb {
  width: 100%;
  display: table;
  table-layout: fixed; }

.rwzHorizontal .rwzLI {
  display: table-cell; }

.rwzHorizontal .rwzLink {
  margin-left: -1px;
  margin-right: -2px; }
  .rwzHorizontal .rwzLink:before {
    box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.1); }

.rwzHorizontal .rwzFirst .rwzLink {
  margin-left: 0;
  padding-left: 10px; }

.rwzHorizontal .rwzLast .rwzLink {
  margin-right: 0; }
  .rwzHorizontal .rwzLast .rwzLink:before {
    display: none; }

.rwzHorizontal.rwzBottomBreadCrumb .rwzBreadCrumb,
.rwzHorizontal.rwzBottomBreadCrumb .rwzProgressBar {
  margin: 15px 0 0; }

.rwzHorizontal.rwzBottomBreadCrumb.rwzTopProgressBar .rwzProgressBar {
  margin: 0 0 15px; }

.rwzHorizontal.rwzBottomProgressBar .rwzProgressBar {
  margin: 15px 0 0; }

.rwzVertical .rwzProgressBar,
.rwzVertical .rwzBreadCrumb {
  float: left;
  margin-right: 15px; }

.rwzVertical .rwzBreadCrumb {
  width: auto;
  padding-right: 0.7em; }
  .rwzVertical .rwzBreadCrumb .rwzLI {
    min-width: 10em; }
  .rwzVertical .rwzBreadCrumb .rwzLink:before {
    display: none;
    right: -0.675em; }
  .rwzVertical .rwzBreadCrumb .rwzSelected .rwzLink:before {
    display: block; }

.rwzVertical .rwzProgressBar {
  width: 13px;
  height: 100%; }

.rwzVertical .rwzContentWrapper:after {
  content: "";
  display: block;
  clear: both; }

.rwzVertical.rwzRightProgressBar .rwzProgressBar {
  float: right;
  margin: 0 0 0 10px; }

.rwzRightBreadCrumb .rwzBreadCrumb .rwzLink:before,
.RadWizard_rtl .rwzBreadCrumb .rwzLink:before {
  right: auto;
  left: -0.7em;
  border-width: 0 0 1px 1px;
  border-radius: 0 100px 0 0; }

.rwzRightBreadCrumb .rwzProgressBar,
.rwzRightBreadCrumb .rwzBreadCrumb,
.RadWizard_rtl.rwzVertical .rwzProgressBar,
.RadWizard_rtl.rwzVertical .rwzBreadCrumb {
  margin: 0 0 0 15px;
  float: right; }

.rwzRightBreadCrumb .rwzBreadCrumb,
.RadWizard_rtl.rwzVertical .rwzBreadCrumb {
  padding-left: 0.7em;
  padding-right: 0; }

.rwzRightBreadCrumb.rwzLeftProgressBar .rwzProgressBar,
.RadWizard_rtl.rwzVertical.rwzLeftProgressBar .rwzProgressBar {
  margin: 0 10px 0 0;
  float: left; }

.RadWizard_rtl .rwzBreadCrumb {
  text-align: right;
  padding-right: 0; }
  .RadWizard_rtl .rwzBreadCrumb.rwzLeftImages .rwzImage {
    margin: 0 0 0 5px; }

.RadWizard_rtl .rwzNav .rwzLI {
  float: right;
  margin-right: 0;
  margin-left: 5px; }

.RadWizard_rtl .rwzNav .rwzRight {
  float: left;
  margin-right: 5px;
  margin-left: 0; }

.RadWizard_rtl .rwzContent {
  text-align: right; }

.RadWizard_rtl.rwzHorizontal .rwzBreadCrumb .rwzLink {
  margin-left: 0;
  margin-right: 0; }

.RadWizard_rtl.rwzHorizontal .rwzBreadCrumb .rwzFirst .rwzLink {
  padding-left: 15px;
  padding-right: 10px; }

.RadWizard_rtl.rwzHorizontal .rwzLink:before {
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1); }

.RadWizard_rtl.rwzVertical .rwzBreadCrumb {
  padding-right: 0;
  padding-left: 0.7em; }

