.RadHtmlChart_Office2007.k-chart .k-navigator-hint .k-tooltip {
  color: #333333; }

.k-marquee-color {
  border-color: #41559c;
  color: #ffffff;
  background-color: #41559c; }

.k-tooltip.k-chart-tooltip.k-chart-shared-tooltip {
  border-color: #688caf;
  color: #00156e;
  background-color: #d6e6f4; }
