.RadRotator_Office2007 .rrClipRegion {
  border-color: #9eb6ce;
  color: #333333;
  background-color: #ffffff; }

.RadRotator_Office2007 .rrButton {
  background-image: url('Rotator/RotatorButtons.gif'); }

.RadRotator_Office2007 .rrLoadingSign {
  background: url('Common/loading_small.gif') no-repeat center; }

