.RadComboBox_Outlook {
  color: #333333;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBox_Outlook .rcbInputCell,
  .RadComboBox_Outlook .rcbArrowCell {
    background-image: url('Common/radFormSprite.png'); }
  .RadComboBox_Outlook .rcbInput {
    font-size: 12px;
    line-height: 16px; }
  .RadComboBox_Outlook .rcbHovered .rcbInput {
    color: #333333; }
  .RadComboBox_Outlook .rcbFocused .rcbInput {
    color: #333333; }
  .RadComboBox_Outlook .rcbReadOnly .rcbInput {
    color: #000000; }
  .RadComboBox_Outlook .rcbHovered .rcbReadOnly .rcbInput {
    color: #000000; }
  .RadComboBox_Outlook .rcbFocused .rcbReadOnly .rcbInput {
    color: #000000; }

.RadComboBoxDropDown_Outlook {
  border-color: #89aee5;
  color: #333333;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBoxDropDown_Outlook .rcbSeparator {
    color: #000000;
    background-color: #7ea6e0; }
  .RadComboBoxDropDown_Outlook .rcbHovered {
    color: #000000;
    background-color: #ffd294; }
  .RadComboBoxDropDown_Outlook .rcbSelected {
    color: #000000;
    background-color: #97b8e8; }
  .RadComboBoxDropDown_Outlook .rcbLoading {
    color: #000000;
    background-color: #ffd294; }
  .RadComboBoxDropDown_Outlook .rcbItem em {
    color: #000000;
    background-color: #ffd294; }

