.RadSiteMap_Office2010Black {
  color: #333333; }
  .RadSiteMap_Office2010Black .rsmManyLevels > .rsmItem > .rsmLink {
    border-color: #4c4c4c; }
  .RadSiteMap_Office2010Black .rsmTwoLevels > .rsmItem > .rsmLink, .RadSiteMap_Office2010Black .rsmThreeLevels > .rsmItem > .rsmLink, .RadSiteMap_Office2010Black .rsmManyLevels .rsmLevel1 > .rsmItem > .rsmLink {
    border-color: #4c4c4c; }
  .RadSiteMap_Office2010Black .rsmOneLevel .rsmLink, .RadSiteMap_Office2010Black .rsmTwoLevels .rsmLevel1 .rsmLink, .RadSiteMap_Office2010Black .rsmThreeLevels .rsmLevel1 .rsmLink, .RadSiteMap_Office2010Black .rsmManyLevels .rsmLevel2 .rsmLink {
    border-radius: 4px; }
    .RadSiteMap_Office2010Black .rsmOneLevel .rsmLink:hover, .RadSiteMap_Office2010Black .rsmTwoLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Office2010Black .rsmThreeLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Office2010Black .rsmManyLevels .rsmLevel2 .rsmLink:hover {
      border-color: #ffcb12;
      color: #000000;
      background-color: #ffe791;
      background-image: linear-gradient(#ffe28e, #ffe175, #ffe791); }
  .RadSiteMap_Office2010Black .rsmLevel .rsmNodeLines .rsmItem {
    background-image: url('SiteMap/NodeLines.png'); }

