.RadSocialShare_Office2010Black {
  border-color: #2c2c2c;
  color: #efefef;
  background-color: #4b4b4b;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSocialShare_Office2010Black .sshLinkItem:hover {
    color: #f7c840; }

