.RadButton_Sunset {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px; }
  .RadButton_Sunset.rbSkinnedButton, .RadButton_Sunset.rbVerticalButton,
  .RadButton_Sunset .rbDecorated,
  .RadButton_Sunset .rbSplitRight,
  .RadButton_Sunset .rbSplitLeft {
    background-image: url('Common/radFormSprite.png');
    color: #3d1400; }
  .RadButton_Sunset .rbToggleCheckbox,
  .RadButton_Sunset .rbToggleCheckboxChecked,
  .RadButton_Sunset .rbToggleCheckboxFilled,
  .RadButton_Sunset .rbToggleRadio,
  .RadButton_Sunset .rbToggleRadioChecked {
    background-image: url('Common/radFormToggleSprite.png'); }
  .RadButton_Sunset.rbToggleButton, .RadButton_Sunset.rbToggleButton.rbDisabled:hover {
    color: #272722; }
  .RadButton_Sunset.rbToggleButton:hover {
    color: #863d02; }
  .RadButton_Sunset.rbLinkButton, .RadButton_Sunset.rbLinkButton.rbDisabled, .RadButton_Sunset.rbLinkButton.rbDisabled:hover, .RadButton_Sunset.rbLinkButton.rbDisabled:active, .RadButton_Sunset.rbLinkButton.rbDisabled:focus {
    border-color: #938973;
    color: #3d1400;
    background-color: #ded7c6;
    background-image: linear-gradient(#f1eadf, #ded7c6);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    background-position: 0 0; }
  .RadButton_Sunset.rbLinkButton:hover {
    border-color: #d2b40d;
    color: #863d02;
    background-color: #f1d121;
    background-image: linear-gradient(#faef93, #f1d121);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }
  .RadButton_Sunset.rbLinkButton:active, .RadButton_Sunset.rbLinkButton:focus, .RadButton_Sunset.rbLinkButtonChecked, .RadButton_Sunset.rbLinkButtonChecked:hover {
    border-color: #e2711c;
    color: #5d1f00;
    background-color: #e88d49;
    background-image: linear-gradient(#f3bc8b, #e88d49);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2); }
  .RadButton_Sunset.rbLinkButton:hover .rbSplitLeft,
  .RadButton_Sunset.rbLinkButton:hover .rbSplitRight {
    background-color: #ded7c6; }
  .RadButton_Sunset.rbLinkButton .rbSplitLeft:hover,
  .RadButton_Sunset.rbLinkButton .rbSplitRight:hover {
    background-color: #f1d121; }
  .RadButton_Sunset.rbLinkButton .rbSplitLeft:active,
  .RadButton_Sunset.rbLinkButton .rbSplitLeft:focus,
  .RadButton_Sunset.rbLinkButton .rbSplitRight:active,
  .RadButton_Sunset.rbLinkButton .rbSplitRight:focus {
    background-color: #e88d49;
    border-color: #e2711c; }

