.RadTileList_Sunset {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #272722; }
  .RadTileList_Sunset .rtlistGroupSeparatorVisible {
    background-color: #f4eee6; }

