.RadComboBox_Metro {
  color: #333333;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBox_Metro .rcbInner {
    border-color: #e0e0e0;
    color: #333333;
    background-color: #ffffff; }
  .RadComboBox_Metro .rcbActionButton {
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }
  .RadComboBox_Metro .rcbHovered {
    border-color: #cecece;
    color: #333333;
    background-color: #ffffff; }
  .RadComboBox_Metro .rcbHovered .rcbActionButton {
    border-color: #cecece;
    color: #000000;
    background-color: #e7e7e7; }
  .RadComboBox_Metro .rcbFocused,
  .RadComboBox_Metro .rcbExpanded {
    border-color: #25a0da;
    color: #333333;
    background-color: #ffffff; }
    .RadComboBox_Metro .rcbFocused .rcbActionButton,
    .RadComboBox_Metro .rcbExpanded .rcbActionButton {
      border-color: #25a0da;
      color: #ffffff;
      background-color: #25a0da; }
  .RadComboBox_Metro .rcbReadOnly {
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }
    .RadComboBox_Metro .rcbReadOnly.rcbHovered {
      border-color: #cecece;
      color: #000000;
      background-color: #e7e7e7; }
    .RadComboBox_Metro .rcbReadOnly.rcbFocused, .RadComboBox_Metro .rcbReadOnly.rcbExpanded {
      border-color: #25a0da;
      color: #ffffff;
      background-color: #25a0da; }

.RadComboBoxDropDown_Metro {
  border-color: #e6e6e6;
  color: #333333;
  background-color: #ffffff;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBoxDropDown_Metro .rcbSeparator {
    color: #000000;
    background-color: #f9f9f9; }
  .RadComboBoxDropDown_Metro .rcbHovered {
    color: #000000;
    background-color: #e7e7e7; }
  .RadComboBoxDropDown_Metro .rcbSelected {
    color: #ffffff;
    background-color: #25a0da; }
  .RadComboBoxDropDown_Metro .rcbLoading {
    color: #000000;
    background-color: #e7e7e7; }
  .RadComboBoxDropDown_Metro .rcbItem em {
    color: #000000;
    background-color: #e7e7e7; }

