.RadListBox_Metro {
  color: #333333;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadListBox_Metro .rlbButton {
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }
  .RadListBox_Metro .rlbGroup,
  .RadListBox_Metro .rlbTemplateContent {
    border-color: #e6e6e6;
    color: #333333;
    background-color: #ffffff; }
  .RadListBox_Metro .rlbGroup .rlbDropClueAbove {
    border-top-color: #e0e0e0; }
  .RadListBox_Metro .rlbGroup .rlbDropClueBelow {
    border-bottom-color: #e0e0e0; }
  .RadListBox_Metro .rlbGroup .rlbSelected.rlbDropClueAbove,
  .RadListBox_Metro .rlbGroup .rlbHovered.rlbDropClueAbove,
  .RadListBox_Metro .rlbGroup .rlbSelected.rlbDropClueBelow,
  .RadListBox_Metro .rlbGroup .rlbHovered.rlbDropClueBelow {
    border-color: #FFF; }
  .RadListBox_Metro .rlbButton:focus {
    border-color: rgba(37, 160, 218, 0.5);
    box-shadow: inset 0 0 5px rgba(37, 160, 218, 0.5); }
  .RadListBox_Metro .rlbHovered.rlbItem, .RadListBox_Metro .rlbHighlight {
    color: #000000;
    background-color: #e7e7e7; }
  .RadListBox_Metro .rlbHovered.rlbButton {
    border-color: #cecece;
    color: #000000;
    background-color: #e7e7e7; }
  .RadListBox_Metro .rlbActive.rlbButton {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  .RadListBox_Metro .rlbItem.rlbSelected {
    color: #ffffff;
    background-color: #25a0da; }

