.RadPanelBar_Metro {
  border-color: #e6e6e6;
  color: #333333;
  background-color: #ffffff;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadPanelBar_Metro .rpRootLink,
  .RadPanelBar_Metro .rpHeaderTemplate {
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }
  .RadPanelBar_Metro .rpGroup .rpItem {
    padding: 0; }
    .RadPanelBar_Metro .rpGroup .rpItem + .rpItem {
      margin-top: 0; }
    .RadPanelBar_Metro .rpGroup .rpItem.rpFirst, .RadPanelBar_Metro .rpGroup .rpItem.rpLast {
      padding: 0; }
  .RadPanelBar_Metro .rpLink.rpHovered {
    border-color: #e7e7e7;
    color: #000000;
    background-color: #e7e7e7; }
  .RadPanelBar_Metro .rpRootLink.rpHovered {
    border-color: #cecece;
    color: #000000;
    background-color: #e7e7e7; }
  .RadPanelBar_Metro .rpExpandHandle.rpHovered {
    border-color: #cecece; }
  .RadPanelBar_Metro .rpSelected .rpExpandHandle.rpHovered {
    border-color: #7cc6e9; }
  .RadPanelBar_Metro .rpRootLink .rpExpandHandle.rpHovered {
    border-color: #cecece; }
  .RadPanelBar_Metro .rpRootLink.rpSelected .rpExpandHandle.rpHovered {
    border-color: #7cc6e9; }
  .RadPanelBar_Metro .rpLink.rpFocused {
    border-color: #25a0da;
    box-shadow: inset 0 0 5px #25a0da; }
  .RadPanelBar_Metro .rpRootLink.rpFocused {
    border-color: #25a0da;
    box-shadow: inset 0 0 5px #25a0da; }
  .RadPanelBar_Metro .rpLink.rpSelected {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  .RadPanelBar_Metro .rpRootLink.rpSelected {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }

