.RadTabStrip_Metro {
  color: #333333;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadTabStrip_Metro .rtsLevel1 {
    border-color: #25a0da; }
    .RadTabStrip_Metro .rtsLevel1 .rtsLink {
      border-color: #e0e0e0;
      color: #000000;
      background-color: #f9f9f9; }
    .RadTabStrip_Metro .rtsLevel1 .rtsHovered .rtsLink {
      border-color: #cecece;
      color: #000000;
      background-color: #e7e7e7; }
    .RadTabStrip_Metro .rtsLevel1 .rtsSelected .rtsLink {
      border-color: #25a0da;
      color: #ffffff;
      background-color: #25a0da; }
    .RadTabStrip_Metro .rtsLevel1 .rtsFocused .rtsLink {
      border-color: #25a0da;
      box-shadow: inset 0 0 5px #25a0da; }
  .RadTabStrip_Metro .rtsLevel1 ~ .rtsLevel {
    border-color: #e6e6e6;
    color: #333333;
    background-color: #ffffff; }
    .RadTabStrip_Metro .rtsLevel1 ~ .rtsLevel .rtsLink {
      color: #25a0da; }
    .RadTabStrip_Metro .rtsLevel1 ~ .rtsLevel .rtsHovered .rtsLink {
      color: #1a7099; }
    .RadTabStrip_Metro .rtsLevel1 ~ .rtsLevel .rtsSelected .rtsLink {
      color: inherit; }
    .RadTabStrip_Metro .rtsLevel1 ~ .rtsLevel .rtsFocused .rtsLink {
      border-color: #25a0da;
      box-shadow: inset 0 0 5px #25a0da; }
  .RadTabStrip_Metro .rtsGhostTab {
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }

.RadTabStrip_Metro.rtsTop .rtsLevel1 {
  border-bottom-width: 3px; }
  .RadTabStrip_Metro.rtsTop .rtsLevel1 .rtsUL {
    margin-bottom: 0; }
  .RadTabStrip_Metro.rtsTop .rtsLevel1 .rtsLink {
    border-bottom-width: 0; }

.RadTabStrip_Metro.rtsBottom .rtsLevel1 {
  border-top-width: 3px; }
  .RadTabStrip_Metro.rtsBottom .rtsLevel1 .rtsUL {
    margin-top: 0; }
  .RadTabStrip_Metro.rtsBottom .rtsLevel1 .rtsLink {
    border-top-width: 0; }

.RadTabStrip_Metro.rtsLeft .rtsLevel1 {
  border-right-width: 3px; }
  .RadTabStrip_Metro.rtsLeft .rtsLevel1 .rtsUL {
    margin-right: 0; }
  .RadTabStrip_Metro.rtsLeft .rtsLevel1 .rtsLink {
    border-right-width: 0; }

.RadTabStrip_Metro.rtsRight .rtsLevel1 {
  border-left-width: 3px; }
  .RadTabStrip_Metro.rtsRight .rtsLevel1 .rtsUL {
    margin-left: 0; }
  .RadTabStrip_Metro.rtsRight .rtsLevel1 .rtsLink {
    border-left-width: 0; }

