.RadDock_WebBlue {
  border-color: #768ca5;
  color: #333333;
  background-color: #ffffff; }
  .RadDock_WebBlue .rdTitleWrapper {
    border-color: #465a6b;
    color: #ffffff;
    background-color: #748ea3;
    background-image: linear-gradient(#748ea3, #6b849d 50%, #597791 50%, #748ea3);
    border-color: inherit; }
  .RadDock_WebBlue .rdCommandButton:hover {
    border-color: #1c9fcc;
    color: #0e3d4f;
    background-color: #bee3f6;
    background-image: linear-gradient(#d4eaf8, #baddf4 50%, #9edaf2 50%, #bee3f6);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.32); }

