.RadToolTip_WebBlue {
  border-color: #768ca5;
  color: #333333;
  background-color: #dae2e8; }
  .RadToolTip_WebBlue .rtClose {
    border-color: #6e8aa8;
    color: #0d202b;
    background-color: #d7e2e7;
    background-image: linear-gradient(#e0e7ed, #c2d2dd 50%, #a3baca 50%, #d7e2e7);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.45); }
  .RadToolTip_WebBlue .rtClose:hover {
    border-color: #1c9fcc;
    color: #0e3d4f;
    background-color: #bee3f6;
    background-image: linear-gradient(#d4eaf8, #baddf4 50%, #9edaf2 50%, #bee3f6);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.32); }
  .RadToolTip_WebBlue .rtClose:active {
    border-color: #3a869e;
    color: #ffffff;
    background-color: #7abace;
    background-image: linear-gradient(#8ebcd4, #64a3c0 50%, #368eb1 50%, #7abace);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.19); }
  .RadToolTip_WebBlue .rtCallout {
    border-color: #768ca5; }
  .RadToolTip_WebBlue .rtCallout:before {
    border-color: #dae2e8; }
  .RadToolTip_WebBlue.rtLoading {
    background-image: url('../WebBlue/Common/loading.gif'); }

