.RadWizard_WebBlue {
  color: #333333;
  background: #ffffff; }
  .RadWizard_WebBlue .rwzButton {
    border-radius: 3px;
    border-color: #6e8aa8;
    color: #0d202b;
    background-color: #d7e2e7;
    background-image: linear-gradient(#e0e7ed, #c2d2dd 50%, #a3baca 50%, #d7e2e7);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.45); }
  .RadWizard_WebBlue .rwzNext,
  .RadWizard_WebBlue .rwzFinish {
    border-color: #6bb2c9;
    color: #0e3d4f;
    background-color: #7abace;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1));
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2); }
  .RadWizard_WebBlue .rwzLink {
    border-color: #6e8aa8;
    color: #0d202b;
    background-color: #d7e2e7;
    background-image: linear-gradient(#e0e7ed, #c2d2dd 50%, #a3baca 50%, #d7e2e7);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.45); }
    .RadWizard_WebBlue .rwzLink:before {
      border-color: #6e8aa8;
      background-image: linear-gradient(135deg, #e0e7ed, #c2d2dd 50%, #a3baca 50%, #d7e2e7);
      box-shadow: inset -1px 1px 0 0.5px rgba(255, 255, 255, 0.2), 2px -2px 2px rgba(0, 0, 0, 0.1); }
      @media screen\0 {
        .RadWizard_WebBlue .rwzLink:before {
          background-color: #d7e2e7; } }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .RadWizard_WebBlue .rwzLink:before {
          background-color: transparent; } }
  .RadWizard_WebBlue .rwzProgressBar {
    border-radius: 3px;
    border-color: #b0becf;
    background-color: #e0e7ed; }
  .RadWizard_WebBlue .rwzProgress {
    border-color: #358eb0;
    background-color: #378fb1; }
  .RadWizard_WebBlue .rwzFocused.rwzButton {
    border-color: rgba(58, 134, 158, 0.5);
    box-shadow: 0 0 5px rgba(58, 134, 158, 0.5) inset; }
  .RadWizard_WebBlue .rwzFocused.rwzNext {
    border-color: #3a869e;
    box-shadow: 0 0 5px #3a869e inset; }
  .RadWizard_WebBlue .rwzHovered.rwzButton,
  .RadWizard_WebBlue .rwzHovered .rwzLink {
    border-color: #1c9fcc;
    color: #0e3d4f;
    background-color: #bee3f6;
    background-image: linear-gradient(#d4eaf8, #baddf4 50%, #9edaf2 50%, #bee3f6);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.32); }
  .RadWizard_WebBlue .rwzHovered.rwzNext,
  .RadWizard_WebBlue .rwzHovered.rwzFinish {
    border-color: #1c9fcc;
    color: #0e3d4f;
    background-color: #bee3f6;
    background-image: linear-gradient(#d4eaf8, #baddf4 50%, #9edaf2 50%, #bee3f6);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.32); }
  .RadWizard_WebBlue .rwzHovered .rwzLink:before {
    border-color: #1c9fcc;
    background-image: linear-gradient(135deg, #d4eaf8, #baddf4 50%, #9edaf2 50%, #bee3f6);
    box-shadow: inset -1px 1px 0 0.5px rgba(255, 255, 255, 0.32), 2px -2px 2px rgba(0, 0, 0, 0.1); }
    @media screen\0 {
      .RadWizard_WebBlue .rwzHovered .rwzLink:before {
        background-color: #bee3f6; } }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .RadWizard_WebBlue .rwzHovered .rwzLink:before {
        background-color: transparent; } }
  .RadWizard_WebBlue .rwzButton:active {
    border-color: #3a869e;
    color: #ffffff;
    background-color: #7abace;
    background-image: linear-gradient(#8ebcd4, #64a3c0 50%, #368eb1 50%, #7abace);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.19); }
  .RadWizard_WebBlue .rwzNext:active,
  .RadWizard_WebBlue .rwzFinish:active {
    border-color: #3a869e;
    color: #ffffff;
    background-color: #7abace;
    background-image: linear-gradient(#8ebcd4, #64a3c0 50%, #368eb1 50%, #7abace);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.19); }
  .RadWizard_WebBlue .rwzSelected .rwzLink {
    border-color: #3a869e;
    color: #ffffff;
    background-color: #7abace;
    background-image: linear-gradient(#8ebcd4, #64a3c0 50%, #368eb1 50%, #7abace);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.19); }
  .RadWizard_WebBlue .rwzSelected .rwzLink:before {
    border-color: #3a869e;
    background-image: linear-gradient(135deg, #8ebcd4, #64a3c0 50%, #368eb1 50%, #7abace);
    box-shadow: inset -1px 1px 0 0.5px rgba(255, 255, 255, 0.19), 2px -2px 2px rgba(0, 0, 0, 0.1); }
    @media screen\0 {
      .RadWizard_WebBlue .rwzSelected .rwzLink:before {
        background-color: #7abace; } }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .RadWizard_WebBlue .rwzSelected .rwzLink:before {
        background-color: transparent; } }

.RadWizard_WebBlue.rwzHorizontal .rwzFirst .rwzLink {
  border-radius: 0.25em 0em 0em 0.25em; }

.RadWizard_WebBlue.rwzHorizontal .rwzLast .rwzLink {
  border-radius: 0em 0.25em 0.25em 0em; }

.RadWizard_WebBlue.rwzHorizontal .rwzFirst.rwzLast .rwzLink {
  border-radius: 3px; }

.RadWizard_WebBlue.rwzHorizontal .rwzProgressBar {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); }

.RadWizard_WebBlue.rwzHorizontal .rwzProgress {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); }

.RadWizard_WebBlue.rwzVertical .rwzFirst .rwzLink {
  border-radius: 0.25em 0.25em 0em 0em; }

.RadWizard_WebBlue.rwzVertical .rwzLast .rwzLink {
  border-radius: 0em 0em 0.25em 0.25em; }

.RadWizard_WebBlue.rwzVertical .rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.RadWizard_WebBlue.rwzVertical .rwzProgressBar {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); }

.RadWizard_WebBlue.rwzVertical .rwzProgress {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); }

.RadWizard_WebBlue.rwzRightBreadCrumb .rwzHovered .rwzLink:before,
.RadWizard_WebBlue.RadWizard_rtl .rwzHovered .rwzLink:before {
  box-shadow: inset 1px -1px 0 0.5px rgba(255, 255, 255, 0.32), -2px 2px 2px rgba(0, 0, 0, 0.1); }

.RadWizard_WebBlue.rwzRightBreadCrumb .rwzSelected .rwzLink:before,
.RadWizard_WebBlue.RadWizard_rtl .rwzSelected .rwzLink:before {
  box-shadow: inset 1px -1px 0 0.5px rgba(255, 255, 255, 0.19), -2px 2px 2px rgba(0, 0, 0, 0.1); }

.RadWizard_WebBlue.rwzRightBreadCrumb .rwzFirst .rwzLink,
.RadWizard_WebBlue.RadWizard_rtl.rwzVertical .rwzFirst .rwzLink {
  border-top-right-radius: 3px; }

.RadWizard_WebBlue.rwzRightBreadCrumb .rwzLast .rwzLink,
.RadWizard_WebBlue.RadWizard_rtl.rwzVertical .rwzLast .rwzLink {
  border-bottom-right-radius: 3px; }

.RadWizard_WebBlue.rwzRightBreadCrumb .rwzSelected .rwzLink,
.RadWizard_WebBlue.RadWizard_rtl.rwzVertical .rwzSelected .rwzLink {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.RadWizard_WebBlue.RadWizard_rtl.rwzHorizontal .rwzFirst .rwzLink {
  border-radius: 0em 0.25em 0.25em 0em; }

.RadWizard_WebBlue.RadWizard_rtl.rwzHorizontal .rwzLast .rwzLink {
  border-radius: 0.25em 0em 0em 0.25em; }

