.RadRotator_Office2010Silver .rrClipRegion {
  border-color: #a4abb2;
  color: #333333;
  background-color: #ffffff; }

.RadRotator_Office2010Silver .rrButton {
  background-image: url('Rotator/RotatorButtons.gif'); }

.RadRotator_Office2010Silver .rrLoadingSign {
  background: url('Common/loading_small.gif') no-repeat center; }

