.RadSearchBox_Office2010Silver {
  color: #333333;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSearchBox_Office2010Silver .rsbInner {
    border-radius: 3px;
    border-color: #bfc3ca;
    color: #333333;
    background-color: #ffffff; }
    .RadSearchBox_Office2010Silver .rsbInner.rsbHovered {
      border-color: #f2d359;
      color: #333333;
      background-color: #ffffff; }
    .RadSearchBox_Office2010Silver .rsbInner.rsbFocused {
      border-color: #c38e00;
      color: #333333;
      background-color: #ffffff; }
  .RadSearchBox_Office2010Silver .rsbButton {
    border-radius: 2px;
    background-image: url('Common/radGradientButtonSprite.png');
    background-image: linear-gradient(transparent, transparent); }
    .RadSearchBox_Office2010Silver .rsbButton:hover {
      border-color: #f2d359;
      color: #000000;
      background-color: #fcf5d9;
      background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }
    .RadSearchBox_Office2010Silver .rsbButton:focus {
      border-color: #c38e00;
      color: #000000;
      background-color: #ffef7c;
      background-image: linear-gradient(#ffe272, #ffd86b, #ffef7c); }
  .RadSearchBox_Office2010Silver .rsbButtonSearch {
    border-radius: 0 3px 3px 0; }
    .RadSearchBox_Office2010Silver .rsbButtonSearch .rsbIcon {
      background-image: url('Common/radActionsSprite.png');
      background-position: -2px -1882px; }
  .RadSearchBox_Office2010Silver .rsbSCInner {
    border-radius: 3px 0 0 3px;
    background-image: url('Common/radGradientButtonSprite.png');
    border-color: #bfc3ca;
    color: #333333;
    background-color: #dbdde1;
    background-image: linear-gradient(#f1f2f3, #dbdde1); }
  .RadSearchBox_Office2010Silver .rsbSCIcon {
    background-image: url('Common/radActionsSprite.png');
    background-position: -2px -422px; }
  .RadSearchBox_Office2010Silver .rsbSCHovered {
    border-color: #f2d359;
    color: #000000;
    background-color: #fcf5d9;
    background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }
  .RadSearchBox_Office2010Silver .rsbSCFocused {
    border-color: #c38e00;
    color: #000000;
    background-color: #ffef7c;
    background-image: linear-gradient(#ffe272, #ffd86b, #ffef7c); }
  .RadSearchBox_Office2010Silver .rsbLoadingIcon {
    background-image: url('Common/loading_small.gif'); }

.rsbPopup_Office2010Silver {
  border-color: #a4abb2;
  color: #333333;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .rsbPopup_Office2010Silver .rsbListItemHovered {
    color: #3b3b3b;
    background-color: #ffe791; }
  .rsbPopup_Office2010Silver .rsbListItemSelected {
    color: #3b3b3b;
    background-color: #fff17c; }
  .rsbPopup_Office2010Silver .rsbListItemLoading {
    color: #3b3b3b;
    background-color: #ffe791; }

