.RadTile_Web20 {
  color: #ffffff;
  background-color: #687dc1; }
  .RadTile_Web20 .rtilePeekContent {
    background-color: #687dc1; }
  .RadTile_Web20.rtileSelected .rtileSelectedIcon {
    color: #ffffff;
    background-color: #12398a; }
  .RadTile_Web20.rtileHovered {
    border-color: #3f5f94; }
  .RadTile_Web20.rtileSelected {
    border-color: #12398a; }
  .RadTile_Web20.rtileSelected.rtileHovered {
    border-color: #0c265d; }
  .RadTile_Web20.rtileLoading,
  .RadTile_Web20 .rtileLoading {
    background-image: url('../Web20/Common/loading_small.gif'); }

