.RadAutoCompleteBox_Simple {
  color: #333333;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 16px; }
  .RadAutoCompleteBox_Simple .racTokenList {
    border-color: #7c7c7c;
    color: #333333;
    background-color: #ffffff; }
  .RadAutoCompleteBox_Simple .racToken {
    border-color: #7c7c7c;
    color: #000000;
    background-color: #e2e2e2; }
  .RadAutoCompleteBox_Simple .racRemoveTokenLink {
    background-image: url('Common/radActionsSprite.png');
    background-position: -2px -1342px; }
  .RadAutoCompleteBox_Simple .racToken.racHovered {
    border-color: #ca8500;
    color: #882501;
    background-color: #ffe79c; }
  .RadAutoCompleteBox_Simple .racToken.racFocused {
    border-color: #ca4900;
    box-shadow: inset 0 0 5px #ca4900; }
  .RadAutoCompleteBox_Simple .racToken.racSelected {
    border-color: #ca4900;
    color: #882501;
    background-color: #ffa517; }
  .RadAutoCompleteBox_Simple .racLoadingIcon {
    background-image: url('Common/loading_small.gif'); }

.RadAutoCompleteBoxPopup_Simple {
  border-color: #cccccc;
  color: #333333;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBoxPopup_Simple .racItemHovered {
    color: #000000;
    background-color: #fff7ac; }
  .RadAutoCompleteBoxPopup_Simple .racFocused {
    box-shadow: inset 0 0 5px #ffe79c; }
  .RadAutoCompleteBoxPopup_Simple .racItemSelected {
    color: #000000;
    background-color: #ffe79c; }

