.RadButton_Metro {
  height: auto;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.25; }
  .RadButton_Metro.rbSkinnedButton, .RadButton_Metro.rbVerticalButton, .RadButton_Metro.rbLinkButton,
  .RadButton_Metro .rbSplitRight,
  .RadButton_Metro .rbSplitLeft {
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }
  .RadButton_Metro.rbSkinnedButton {
    padding: 2px 0;
    border-width: 1px;
    border-style: solid; }
    .RadButton_Metro.rbSkinnedButton:focus, .RadButton_Metro.rbSkinnedButton:active {
      border-width: 1px; }
  .RadButton_Metro .rbDecorated {
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    line-height: inherit; }
  .RadButton_Metro .rbPrimaryIcon {
    top: 2px; }
  .RadButton_Metro .rbSecondaryIcon {
    top: 2px; }
  .RadButton_Metro .rbToggleCheckbox,
  .RadButton_Metro .rbToggleCheckboxChecked,
  .RadButton_Metro .rbToggleCheckboxFilled,
  .RadButton_Metro .rbToggleRadio,
  .RadButton_Metro .rbToggleRadioChecked {
    background-image: url('Common/radFormToggleSprite.png');
    top: 2px; }
  .RadButton_Metro.rbToggleButton {
    padding-top: 2px;
    padding-bottom: 2px;
    border-width: 0; }
  .RadButton_Metro.rbToggleButton, .RadButton_Metro.rbToggleButton.rbHovered, .RadButton_Metro.rbToggleButton.rbDisabled:hover {
    color: #333333;
    background: none; }
  .RadButton_Metro.rbToggleButton:hover {
    color: #000000; }
  .RadButton_Metro.rbLinkButton.rbRounded {
    border-radius: 0; }
  .RadButton_Metro.rbNativeButton {
    padding: 0; }
  .RadButton_Metro.rbHovered, .RadButton_Metro.rbSkinnedButton:hover, .RadButton_Metro.rbVerticalButton:hover, .RadButton_Metro.rbLinkButton:hover {
    border-color: #cecece;
    color: #000000;
    background-color: #e7e7e7; }
  .RadButton_Metro.rbPressedButton, .RadButton_Metro.rbSkinnedButton:active, .RadButton_Metro.rbSkinnedButton:focus, .RadButton_Metro.rbVerticalButton:active, .RadButton_Metro.rbVerticalButton:focus, .RadButton_Metro.rbLinkButton:active, .RadButton_Metro.rbLinkButton:focus, .RadButton_Metro.rbSkinnedButtonChecked, .RadButton_Metro.rbSkinnedButtonChecked:hover, .RadButton_Metro.rbLinkButtonChecked, .RadButton_Metro.rbLinkButtonChecked:hover, .RadButton_Metro.rbVerticalButtonChecked, .RadButton_Metro.rbVerticalButtonChecked:hover {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  .RadButton_Metro .rbSplitRight,
  .RadButton_Metro .rbSplitLeft {
    width: 16px;
    background-image: url('Common/radActionsSprite.png');
    background-color: #f9f9f9; }
  .RadButton_Metro .rbSplitRight,
  .RadButton_Metro .rbSplitLeft,
  .RadButton_Metro.rbDisabled .rbSplitLeft,
  .RadButton_Metro.rbDisabled .rbSplitRight {
    background-position: -2px -20px; }
  .RadButton_Metro .rbSplitLeft:hover,
  .RadButton_Metro .rbSplitRight:hover {
    background-color: #e7e7e7;
    background-position: -2px -20px; }
  .RadButton_Metro .rbSplitRight:active,
  .RadButton_Metro .rbSplitRight:focus,
  .RadButton_Metro .rbSplitLeft:active,
  .RadButton_Metro .rbSplitLeft:focus {
    background-color: #25a0da;
    border-color: #25a0da;
    background-position: -2px -20px; }
  .RadButton_Metro .rbAdd,
  .RadButton_Metro .rbRemove,
  .RadButton_Metro .rbOk,
  .RadButton_Metro .rbCancel,
  .RadButton_Metro .rbPrevious,
  .RadButton_Metro .rbNext,
  .RadButton_Metro .rbSave,
  .RadButton_Metro .rbConfig,
  .RadButton_Metro .rbRefresh,
  .RadButton_Metro .rbEdit {
    background-image: url('../Common/Button/rbBasicIcons16x16Dark.png') !important; }
  .RadButton_Metro .rbUpload,
  .RadButton_Metro .rbDownload,
  .RadButton_Metro .rbOpen,
  .RadButton_Metro .rbAttach,
  .RadButton_Metro .rbPrint,
  .RadButton_Metro .rbSearch,
  .RadButton_Metro .rbHelp,
  .RadButton_Metro .rbCart,
  .RadButton_Metro .rbRSS,
  .RadButton_Metro .rbMail,
  .RadButton_Metro .rbFB,
  .RadButton_Metro .rbTwitter {
    background-image: url('../Common/Button/rbExtendedIcons16x16Dark.png') !important; }
  .RadButton_Metro .rbAdd24,
  .RadButton_Metro .rbRemove24,
  .RadButton_Metro .rbOk24,
  .RadButton_Metro .rbCancel24,
  .RadButton_Metro .rbPrevious24,
  .RadButton_Metro .rbNext24,
  .RadButton_Metro .rbSave24,
  .RadButton_Metro .rbConfig24,
  .RadButton_Metro .rbRefresh24,
  .RadButton_Metro .rbEdit24 {
    background-image: url('../Common/Button/rbBasicIcons24x24Dark.png') !important; }
  .RadButton_Metro .rbUpload24,
  .RadButton_Metro .rbDownload24,
  .RadButton_Metro .rbOpen24,
  .RadButton_Metro .rbAttach24,
  .RadButton_Metro .rbPrint24,
  .RadButton_Metro .rbSearch24,
  .RadButton_Metro .rbHelp24,
  .RadButton_Metro .rbCart24,
  .RadButton_Metro .rbRSS24,
  .RadButton_Metro .rbMail24,
  .RadButton_Metro .rbFB24,
  .RadButton_Metro .rbTwitter24 {
    background-image: url('../Common/Button/rbExtendedIcons24x24Dark.png') !important; }

