.RadColorPicker_Metro {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /* Rounded corners and shadows */ }
  .RadColorPicker_Metro .rcpViews,
  .RadColorPicker_Metro .rcpHeader,
  .RadColorPicker_Metro .rcpPageView {
    background-color: #ffffff; }
  .RadColorPicker_Metro .rcpColorPreview,
  .RadColorPicker_Metro .rcpInput,
  .RadColorPicker_Metro input.rcpHexInput[readonly],
  .RadColorPicker_Metro .rcpMillionColorsPalette,
  .RadColorPicker_Metro .rcpMillionColorsSlider div.rslTrack {
    border-color: #e0e0e0;
    color: #333333;
    background-color: #ffffff; }
  .RadColorPicker_Metro .rcpPalette,
  .RadColorPicker_Metro input,
  .RadColorPicker_Metro a,
  .RadColorPicker_Metro .rcpTabs a span {
    color: #333333; }
  .RadColorPicker_Metro .rcpApplyButton:hover,
  .RadColorPicker_Metro .rcpButton:hover {
    border-color: #cecece;
    color: #000000;
    background-color: #e7e7e7; }
  .RadColorPicker_Metro .rcpApplyButton:hover span,
  .RadColorPicker_Metro .rcpButton:hover span,
  .RadColorPicker_Metro .rcpTabs .rcpSelectedTab a span {
    color: #333333; }
  .RadColorPicker_Metro .RadSlider_Metro a.rslDraghandle,
  .RadColorPicker_Metro .RadSlider_Metro a.rslDraghandle:hover,
  .RadColorPicker_Metro .RadSlider_Metro a.rslDraghandle:active,
  .RadColorPicker_Metro .RadSlider_Metro a.rslDraghandle:focus {
    background: #ffffff;
    border: 0; }
  .RadColorPicker_Metro .rcpHeader,
  .RadColorPicker_Metro .rcpHeader .rcpImageButton,
  .RadColorPicker_Metro .rcpRecentColors,
  .RadColorPicker_Metro .rcpIcon a,
  .RadColorPicker_Metro .rcpTabs a,
  .RadColorPicker_Metro .rcpTabs a span,
  .RadColorPicker_Metro .rcpButton,
  .RadColorPicker_Metro .rcpButton span,
  .RadColorPicker_Metro .rcpMillionColorsHandle,
  .RadColorPicker_Metro .rcpSlider div.rslTrack,
  .RadColorPicker_Metro .rcpSlider .rslTrack a.rslDraghandle,
  .RadColorPicker_Metro div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle {
    background-image: url('ColorPicker/ColorPickerSprites.png');
    background-repeat: no-repeat; }
  .RadColorPicker_Metro .RadSlider_Metro div.rslVertical .rslSelectedregion,
  .RadColorPicker_Metro .RadSlider_Metro div.rslHorizontal div.rslSelectedregion {
    background-image: none;
    background-color: transparent; }
  .RadColorPicker_Metro div.rcpMillionColorsSlider div.rslVertical div.rslTrack {
    border-color: #e5e5e5; }
  .RadColorPicker_Metro .rcpPalette,
  .RadColorPicker_Metro .rcpRoundedRight,
  .RadColorPicker_Metro .rcpRoundedBottomRight,
  .RadColorPicker_Metro .rcpRightShadow,
  .RadColorPicker_Metro .rcpCornerShadow {
    background-image: url('ColorPicker/rcpVerticalSprites.png'); }
  .RadColorPicker_Metro .rcpRoundedBottomLeft,
  .RadColorPicker_Metro .rcpBottomShadow {
    background-image: url('ColorPicker/ColorPickerSprites.png'); }

