.RadDropDownTree_Metro {
  color: #333333;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadDropDownTree_Metro .rddtInner {
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }
  .RadDropDownTree_Metro .rddtClearButton {
    background-position: -2px -124px; }
  .RadDropDownTree_Metro .rddtIcon {
    background-image: url('Common/radActionsSprite.png');
    background-position: -1px -20px; }
  .RadDropDownTree_Metro .rddtHovered {
    border-color: #cecece;
    color: #000000;
    background-color: #e7e7e7; }
    .RadDropDownTree_Metro .rddtHovered .rddtClearButton {
      background-position: -22px -124px; }
    .RadDropDownTree_Metro .rddtHovered .rddtClearButtonHovered {
      background-position: -62px -124px; }
    .RadDropDownTree_Metro .rddtHovered .rddtIcon {
      background-position: -1px -20px; }
  .RadDropDownTree_Metro .rddtFocused {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
    .RadDropDownTree_Metro .rddtFocused .rddtClearButton {
      background-position: -42px -124px; }
    .RadDropDownTree_Metro .rddtFocused .rddtClearButtonHovered {
      background-position: -82px -124px; }
    .RadDropDownTree_Metro .rddtFocused .rddtIcon {
      background-position: -1px -20px; }

.rddtPopup_Metro {
  border-color: #e6e6e6;
  color: #333333;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .rddtPopup_Metro .rddtFilter {
    background-color: #f9f9f9; }
  .rddtPopup_Metro .rddtFilterInput {
    border-color: #e0e0e0;
    color: #333333;
    background-color: #ffffff; }
  .rddtPopup_Metro .RadTreeView em {
    color: #000000;
    background-color: #e7e7e7; }
  .rddtPopup_Metro .rddtFilterInput.rddtHovered {
    border-color: #cecece;
    color: #333333;
    background-color: #ffffff; }
  .rddtPopup_Metro .rddtFilterInput.rddtFocused {
    border-color: #25a0da;
    color: #333333;
    background-color: #ffffff; }

