.RadWizard_Telerik {
  color: #333333;
  background: #ffffff; }
  .RadWizard_Telerik .rwzHeader {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }
  .RadWizard_Telerik .rwzBreadCrumb {
    border-color: #cccccc;
    border-radius: 4px; }
    .RadWizard_Telerik .rwzBreadCrumb .rwzLink {
      border-color: #cccccc;
      color: #000000;
      background-color: #eeeeee;
      background-image: linear-gradient(#fdfdfd, #dddddd 50%, #cbcbcb 50%, #eeeeee);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4); }
      .RadWizard_Telerik .rwzBreadCrumb .rwzLink:before {
        border-color: #cccccc;
        background: linear-gradient(135deg, #fdfdfd, #dddddd 50%, #cbcbcb 50%, #eeeeee);
        box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.1); }
    .RadWizard_Telerik .rwzBreadCrumb .rwzHovered .rwzLink {
      border-color: #47ba22;
      color: #000000;
      background-color: #a2ea8b;
      background-image: linear-gradient(#d2f8c5, #bcf1ab 50%, #b9f0a7 50%, #a2ea8b);
      box-shadow: none; }
      .RadWizard_Telerik .rwzBreadCrumb .rwzHovered .rwzLink:before {
        border-color: #28a700;
        background: linear-gradient(135deg, #d2f8c5, #bcf1ab 50%, #b9f0a7 50%, #a2ea8b); }
    .RadWizard_Telerik .rwzBreadCrumb .rwzSelected .rwzLink {
      border-color: #4d862c;
      color: #000000;
      background-color: #63ac39;
      background-image: linear-gradient(#a8d687, #8cc569 50%, #65b33f 50%, #63ac39);
      box-shadow: inset 0 0 0 1px rgba(209, 248, 197, 0.18); }
      .RadWizard_Telerik .rwzBreadCrumb .rwzSelected .rwzLink:before {
        border-color: #4d862c;
        background: linear-gradient(135deg, #a8d687, #8cc569 50%, #65b33f 50%, #63ac39); }
    .RadWizard_Telerik .rwzBreadCrumb .rwzDisabled .rwzLink {
      border-color: #cccccc;
      color: #000000;
      background-color: #eeeeee;
      background-image: linear-gradient(#fdfdfd, #dddddd 50%, #cbcbcb 50%, #eeeeee);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4); }
      .RadWizard_Telerik .rwzBreadCrumb .rwzDisabled .rwzLink:before {
        border-color: #cccccc;
        background: linear-gradient(135deg, #fdfdfd, #dddddd 50%, #cbcbcb 50%, #eeeeee); }
    .RadWizard_Telerik .rwzBreadCrumb .rwzPager {
      background: linear-gradient(#d2f8c5, #bcf1ab 50%, #b9f0a7 50%, #a2ea8b); }
      .RadWizard_Telerik .rwzBreadCrumb .rwzPager .rwzCallout:before, .RadWizard_Telerik .rwzBreadCrumb .rwzPager .rwzCallout:after {
        border-color: #cccccc; }
      .RadWizard_Telerik .rwzBreadCrumb .rwzPager .rwzCallout:before {
        background: linear-gradient(135deg, #d2f8c5 50%, #bcf1ab); }
      .RadWizard_Telerik .rwzBreadCrumb .rwzPager .rwzCallout:after {
        background: linear-gradient(135deg, #b9f0a7, #a2ea8b 48%); }
  .RadWizard_Telerik .rwzProgressBar {
    background: #ececec; }
  .RadWizard_Telerik .rwzProgress {
    background: #63ac39; }
  .RadWizard_Telerik .rwzButton {
    border-color: #cccccc;
    color: #000000;
    background-color: #eeeeee;
    background-image: linear-gradient(#fdfdfd, #dddddd 50%, #cbcbcb 50%, #eeeeee);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    border-radius: 3px; }
    .RadWizard_Telerik .rwzButton.rwzHovered {
      border-color: #47ba22;
      color: #000000;
      background-color: #a2ea8b;
      background-image: linear-gradient(#d2f8c5, #bcf1ab 50%, #b9f0a7 50%, #a2ea8b);
      box-shadow: none; }
    .RadWizard_Telerik .rwzButton.rwzActive {
      border-color: #4d862c;
      color: #000000;
      background-color: #63ac39;
      background-image: linear-gradient(#a8d687, #8cc569 50%, #65b33f 50%, #63ac39);
      box-shadow: inset 0 0 0 1px rgba(209, 248, 197, 0.18); }
  .RadWizard_Telerik .rwzCancelWrapper {
    border-color: #cccccc; }

