.RadComboBox_Office2010Blue {
  color: #384e73;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBox_Office2010Blue .rcbInputCell,
  .RadComboBox_Office2010Blue .rcbArrowCell {
    background-image: url('Common/radFormSprite.png'); }
  .RadComboBox_Office2010Blue .rcbInput {
    font-size: 12px;
    line-height: 16px; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbInput {
    color: #384e73; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbInput {
    color: #384e73; }
  .RadComboBox_Office2010Blue .rcbReadOnly .rcbInput {
    color: #384e73; }
  .RadComboBox_Office2010Blue .rcbHovered .rcbReadOnly .rcbInput {
    color: #1e395b; }
  .RadComboBox_Office2010Blue .rcbFocused .rcbReadOnly .rcbInput {
    color: #1e395b; }

.RadComboBoxDropDown_Office2010Blue {
  border-color: #9babc2;
  color: #384e73;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBoxDropDown_Office2010Blue .rcbSeparator {
    color: #384e73;
    background-color: #bdcbde; }
  .RadComboBoxDropDown_Office2010Blue .rcbHovered {
    color: #1e395b;
    background-color: #ffe791; }
  .RadComboBoxDropDown_Office2010Blue .rcbSelected {
    color: #1e395b;
    background-color: #fff17c; }
  .RadComboBoxDropDown_Office2010Blue .rcbLoading {
    color: #1e395b;
    background-color: #ffe791; }
  .RadComboBoxDropDown_Office2010Blue .rcbItem em {
    color: #1e395b;
    background-color: #ffe791; }

