.RadMediaPlayer_Office2010Blue {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: #384e73; }
  .RadMediaPlayer_Office2010Blue .rmpToolbar {
    color: #384e73;
    background-image: linear-gradient(rgba(239, 246, 253, 0.85), rgba(239, 246, 253, 0.85));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9EFF6FD', endColorstr='#D9EFF6FD',GradientType=0 );
    border-color: #9fb2c7 #93a7c0 #8ca0bc; }
  .RadMediaPlayer_Office2010Blue div.rmpVolContrBar {
    background-image: linear-gradient(rgba(239, 246, 253, 0.85), rgba(239, 246, 253, 0.85));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9EFF6FD', endColorstr='#D9EFF6FD',GradientType=0 ); }
  .RadMediaPlayer_Office2010Blue .rmpSolidBgr div.rmpVolContrBar,
  .RadMediaPlayer_Office2010Blue .rmpSolidBgr .rmpToolbar {
    background-image: linear-gradient(#eff6fd, #d8e4f2); }
  .RadMediaPlayer_Office2010Blue .rslVertical div.rslTrack,
  .RadMediaPlayer_Office2010Blue .rslHorizontal div.rslTrack {
    background: #d0dded;
    border: 1px solid #8ba0bc; }
  .RadMediaPlayer_Office2010Blue div.rslHorizontal .rslTrack {
    background-image: linear-gradient(#b3c4d8, #dce8f6); }
  .RadMediaPlayer_Office2010Blue div.rslVertical .rslTrack {
    width: 4px !important;
    background-image: linear-gradient(to right, #b3c4d8 0%, #dce8f6 100%); }
  .RadMediaPlayer_Office2010Blue .rmpToolbar div.rslSelectedregion {
    background: #fbd55e; }
  .RadMediaPlayer_Office2010Blue div.rslHorizontal .rslSelectedregion {
    background-image: linear-gradient(#ffe37c, #f7c840); }
  .RadMediaPlayer_Office2010Blue div.rslVertical .rslSelectedregion {
    width: 4px;
    margin-top: -1px;
    background-image: linear-gradient(to right, #ffe37c 0%, #f7c840 100%); }
  .RadMediaPlayer_Office2010Blue .rmpLoadProgressBar {
    background-color: #a3b6cd;
    filter: alpha(opacity=60);
    opacity: 0.6; }
  .RadMediaPlayer_Office2010Blue div.rslVertical a.rslDraghandle,
  .RadMediaPlayer_Office2010Blue div.rslHorizontal a.rslDraghandle {
    background-image: linear-gradient(#f9fafc, #c2cfe0);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fafc', endColorstr='#c2cfe0',GradientType=0 );
    background-position: 0 0;
    border: 1px solid #8ba0bc; }
    .RadMediaPlayer_Office2010Blue div.rslVertical a.rslDraghandle:hover, .RadMediaPlayer_Office2010Blue div.rslVertical a.rslDraghandle:active,
    .RadMediaPlayer_Office2010Blue div.rslHorizontal a.rslDraghandle:hover,
    .RadMediaPlayer_Office2010Blue div.rslHorizontal a.rslDraghandle:active {
      background-image: linear-gradient(to bottom, #fcecb2 0%, #ffe175 50%, #fdf5d5 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecb2', endColorstr='#fdf5d5',GradientType=0 );
      background-position: 0 0;
      border-color: #f3d64a;
      box-shadow: 0 0 0 1px #fcf5d9 inset; }
  .RadMediaPlayer_Office2010Blue div.rslHorizontal a.rslDraghandle {
    width: 7px;
    height: 12px;
    margin-top: -4px; }
  .RadMediaPlayer_Office2010Blue div.rslVertical a.rslDraghandle {
    width: 10px;
    height: 7px;
    margin-left: -4px; }
  .RadMediaPlayer_Office2010Blue .rmpPlaylist {
    background: #dae7f5; }
    .RadMediaPlayer_Office2010Blue .rmpPlaylist li a {
      background: #dae7f5;
      color: #384e73; }
      .RadMediaPlayer_Office2010Blue .rmpPlaylist li a:hover {
        background: #a5bfe1; }
    .RadMediaPlayer_Office2010Blue .rmpPlaylist li.rmpActive a {
      background: #eae4bd; }
    .RadMediaPlayer_Office2010Blue .rmpPlaylist .rmpTitle {
      margin-right: 12px;
      font: normal 10px/17px "Segoe UI", Arial, sans-serif; }
    .RadMediaPlayer_Office2010Blue .rmpPlaylist .rmpPlaylistPrevButton,
    .RadMediaPlayer_Office2010Blue .rmpPlaylist .rmpPlaylistNextButton {
      width: 100%;
      height: 100%;
      background: #c5d7ed;
      vertical-align: top; }
      .RadMediaPlayer_Office2010Blue .rmpPlaylist .rmpPlaylistPrevButton:hover,
      .RadMediaPlayer_Office2010Blue .rmpPlaylist .rmpPlaylistNextButton:hover {
        background: #a5bfe1; }
    .RadMediaPlayer_Office2010Blue .rmpPlaylist .rmpIcon {
      margin: 0; }
    .RadMediaPlayer_Office2010Blue .rmpPlaylist .rmpPlaylistNextIcon,
    .RadMediaPlayer_Office2010Blue .rmpPlaylist .rmpPlaylistPrevIcon {
      margin: 2px; }
  .RadMediaPlayer_Office2010Blue .rmpPlaylistVertical,
  .RadMediaPlayer_Office2010Blue .rmpPlaylistVerticalInside {
    border-left: 1px solid #95accb;
    border-right: 1px solid #95accb; }
    .RadMediaPlayer_Office2010Blue .rmpPlaylistVertical li,
    .RadMediaPlayer_Office2010Blue .rmpPlaylistVerticalInside li {
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #95accb; }
    .RadMediaPlayer_Office2010Blue .rmpPlaylistVertical .rmpPlaylistPrevButtonWrap,
    .RadMediaPlayer_Office2010Blue .rmpPlaylistVertical .rmpPlaylistNextButtonWrap,
    .RadMediaPlayer_Office2010Blue .rmpPlaylistVerticalInside .rmpPlaylistPrevButtonWrap,
    .RadMediaPlayer_Office2010Blue .rmpPlaylistVerticalInside .rmpPlaylistNextButtonWrap {
      border: 1px solid #95accb;
      border-left: 0 none; }
  .RadMediaPlayer_Office2010Blue .rmpPlaylistHorizontal.rmpPlaylistNavButtons {
    border-bottom: 1px solid #95accb; }
  .RadMediaPlayer_Office2010Blue .rmpPlaylistHorizontal li {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #95accb; }
    .RadMediaPlayer_Office2010Blue .rmpPlaylistHorizontal li .rmpTitle {
      padding-top: 7px;
      max-height: 45px;
      line-height: 15px; }
  .RadMediaPlayer_Office2010Blue .rmpPlaylistHorizontal .rmpPlaylistPrevButtonWrap,
  .RadMediaPlayer_Office2010Blue .rmpPlaylistHorizontal .rmpPlaylistNextButtonWrap {
    border-left: 1px solid #95accb;
    border-right: 1px solid #95accb; }
  .RadMediaPlayer_Office2010Blue .rmpBanner {
    border: 1px solid #a5bfe1; }
    .RadMediaPlayer_Office2010Blue .rmpBanner .rmpActionButton {
      background: #a5bfe1; }
  .RadMediaPlayer_Office2010Blue .rmpBigPlayButton,
  .RadMediaPlayer_Office2010Blue .rmpBigPauseButton {
    background: rgba(219, 227, 238, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99DBE3EE', endColorstr='#99DBE3EE',GradientType=0 ); }
  .RadMediaPlayer_Office2010Blue .rmpIcon {
    background-image: url('Common/radActionsSprite.png'); }
  .RadMediaPlayer_Office2010Blue .rmpToolTip,
  .RadMediaPlayer_Office2010Blue .rmpBigPlayIcon,
  .RadMediaPlayer_Office2010Blue .rmpBigPauseIcon {
    background-image: url('MediaPlayer/sprite.png'); }
  .RadMediaPlayer_Office2010Blue .rmpBigPlayIcon {
    background-position: 6px -108px; }
  .RadMediaPlayer_Office2010Blue .rmpBigPauseIcon {
    background-position: -122px 4px; }
  .RadMediaPlayer_Office2010Blue .rmpToolTip {
    background-position: -123px -241px; }
  .RadMediaPlayer_Office2010Blue .rmpPlayIcon {
    background-position: 0px -1999px; }
  .RadMediaPlayer_Office2010Blue .rmpPauseIcon {
    background-position: 0px -2019px; }
  .RadMediaPlayer_Office2010Blue .rmpVolumeIcon {
    background-position: 1px -2039px; }
  .RadMediaPlayer_Office2010Blue .rmpMuteIcon {
    background-position: 1px -2059px; }
  .RadMediaPlayer_Office2010Blue .rmpHDIcon {
    background-position: 0px -2079px; }
  .RadMediaPlayer_Office2010Blue .rmpFullScrIcon {
    background-position: 0px -2099px; }
  .RadMediaPlayer_Office2010Blue .rmpExtFullScrIcon {
    background-position: 0px -2119px; }
  .RadMediaPlayer_Office2010Blue .rmpShareIcon {
    background-position: 0px -2139px; }
  .RadMediaPlayer_Office2010Blue .rmpClosePlaylistIcon {
    background-position: 0px -2220px; }
  .RadMediaPlayer_Office2010Blue .rmpOpenPlaylistIcon {
    background-position: 0px -2200px; }
  .RadMediaPlayer_Office2010Blue .rmpPlaylistVertical .rmpPlaylistPrevIcon,
  .RadMediaPlayer_Office2010Blue .rmpPlaylistVerticalInside .rmpPlaylistPrevIcon {
    background-position: 0px -2240px; }
  .RadMediaPlayer_Office2010Blue .rmpPlaylistVertical .rmpPlaylistNextIcon,
  .RadMediaPlayer_Office2010Blue .rmpPlaylistVerticalInside .rmpPlaylistNextIcon {
    background-position: 0px -2260px; }
  .RadMediaPlayer_Office2010Blue .rmpPlaylistHorizontal .rmpPlaylistPrevIcon {
    background-position: 0px -2280px; }
  .RadMediaPlayer_Office2010Blue .rmpPlaylistHorizontal .rmpPlaylistNextIcon {
    background-position: 0px -2300px; }
  .RadMediaPlayer_Office2010Blue .rmpActionButton:hover .rmpPlayIcon {
    background-position: -20px -1999px; }
  .RadMediaPlayer_Office2010Blue .rmpActionButton:hover .rmpPauseIcon {
    background-position: -20px -2019px; }
  .RadMediaPlayer_Office2010Blue .rmpVolContr:hover .rmpVolumeIcon {
    background-position: -19px -2039px; }
  .RadMediaPlayer_Office2010Blue .rmpActionButton:hover .rmpMuteIcon {
    background-position: -19px -2059px; }
  .RadMediaPlayer_Office2010Blue .rmpHDActiveIcon,
  .RadMediaPlayer_Office2010Blue .rmpActionButton:hover .rmpHDIcon {
    background-position: -34px -2079px; }
  .RadMediaPlayer_Office2010Blue .rmpActionButton:hover .rmpFullScrIcon {
    background-position: -20px -2099px; }
  .RadMediaPlayer_Office2010Blue .rmpActionButton:hover .rmpExtFullScrIcon {
    background-position: -20px -2119px; }
  .RadMediaPlayer_Office2010Blue .rmpPlaylistVertical .rmpActionButton:hover .rmpPlaylistPrevIcon,
  .RadMediaPlayer_Office2010Blue .rmpPlaylistVerticalInside .rmpActionButton:hover .rmpPlaylistPrevIcon {
    background-position: -20px -2240px; }
  .RadMediaPlayer_Office2010Blue .rmpPlaylistVertical .rmpActionButton:hover .rmpPlaylistNextIcon,
  .RadMediaPlayer_Office2010Blue .rmpPlaylistVerticalInside .rmpActionButton:hover .rmpPlaylistNextIcon {
    background-position: -20px -2260px; }
  .RadMediaPlayer_Office2010Blue .rmpPlaylistHorizontal .rmpActionButton:hover .rmpPlaylistPrevIcon {
    background-position: -20px -2280px; }
  .RadMediaPlayer_Office2010Blue .rmpPlaylistHorizontal .rmpActionButton:hover .rmpPlaylistNextIcon {
    background-position: -20px -2300px; }
  .RadMediaPlayer_Office2010Blue .rmpCloseBannerIcon {
    background-position: 0px -760px; }
  .RadMediaPlayer_Office2010Blue .rmpCloseBannerIcon:hover {
    background-position: -20px -760px; }
  .RadMediaPlayer_Office2010Blue .rmpSubtitlesIcon {
    background-position: 0px -2320px; }
  .RadMediaPlayer_Office2010Blue .rmpSubtitlesActiveIcon,
  .RadMediaPlayer_Office2010Blue .rmpActionButton:hover .rmpSubtitlesIcon {
    background-position: -20px -2320px; }

._Telerik_IE9 .RadMediaPlayer_Office2010Blue div.rslVertical .rslSelectedregion {
  margin-top: 0; }

