.RadSocialShare_Office2010Blue {
  border-color: #9babc2;
  color: #384e73;
  background-color: #dbe3ee;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSocialShare_Office2010Blue .sshLinkItem:hover {
    color: #3a71b7; }

