span.RadButton_Silk {
  height: auto;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.42857143; }
  span.RadButton_Silk.rbSkinnedButton, span.RadButton_Silk.rbVerticalButton, span.RadButton_Silk.rbLinkButton {
    border-color: #c4c4c4;
    color: #5f5f5f;
    background-color: #e3e3e3;
    background-image: linear-gradient(white, #e3e3e3);
    border-radius: 4px;
    background-position: 0 0; }
  span.RadButton_Silk.rbSkinnedButton {
    padding: 3px 0;
    border-width: 1px;
    border-style: solid; }
    span.RadButton_Silk.rbSkinnedButton:focus, span.RadButton_Silk.rbSkinnedButton:active {
      border-width: 1px; }
  span.RadButton_Silk .rbDecorated {
    padding: 0 12px;
    height: auto;
    line-height: inherit; }
  span.RadButton_Silk .rbDecorated.rbPrimary {
    padding-left: 25px; }
  span.RadButton_Silk .rbDecorated.rbSecondary {
    padding-right: 25px; }
  span.RadButton_Silk .rbPrimaryIcon {
    top: 5px;
    left: 5px; }
  span.RadButton_Silk .rbSecondaryIcon {
    top: 5px;
    right: 5px; }
  span.RadButton_Silk .rbToggleCheckbox,
  span.RadButton_Silk .rbToggleCheckboxChecked,
  span.RadButton_Silk .rbToggleCheckboxFilled,
  span.RadButton_Silk .rbToggleRadio,
  span.RadButton_Silk .rbToggleRadioChecked {
    background-image: url('Common/radFormToggleSprite.png');
    top: 6px; }
  span.RadButton_Silk.rbToggleButton {
    padding-top: 3px;
    padding-bottom: 3px;
    border-width: 0; }
  span.RadButton_Silk.rbToggleButton, span.RadButton_Silk.rbToggleButton.rbHovered, span.RadButton_Silk.rbToggleButton.rbDisabled:hover {
    color: #333333;
    background: none; }
  span.RadButton_Silk.rbLinkButton {
    padding: 3px 15px; }
  span.RadButton_Silk.rbNativeButton {
    padding: 0; }
  span.RadButton_Silk.rbHovered, span.RadButton_Silk.rbSkinnedButton:hover, span.RadButton_Silk.rbVerticalButton:hover, span.RadButton_Silk.rbLinkButton:hover {
    border-color: #0092ab;
    color: #ffffff;
    background-color: #0092ab;
    background-image: linear-gradient(#00acca, #0092ab); }
  span.RadButton_Silk.rbPressedButton, span.RadButton_Silk.rbSkinnedButton:active, span.RadButton_Silk.rbSkinnedButton:focus, span.RadButton_Silk.rbVerticalButton:active, span.RadButton_Silk.rbVerticalButton:focus, span.RadButton_Silk.rbLinkButton:active, span.RadButton_Silk.rbLinkButton:focus, span.RadButton_Silk.rbSkinnedButtonChecked, span.RadButton_Silk.rbSkinnedButtonChecked:hover, span.RadButton_Silk.rbLinkButtonChecked, span.RadButton_Silk.rbLinkButtonChecked:hover, span.RadButton_Silk.rbVerticalButtonChecked, span.RadButton_Silk.rbVerticalButtonChecked:hover {
    border-color: #1193aa;
    color: #ffffff;
    background-color: #14afca;
    background-image: none; }
  span.RadButton_Silk:hover .rbSplitLeft,
  span.RadButton_Silk:hover .rbSplitRight {
    background-color: #e3e3e3; }
  span.RadButton_Silk .rbSplitRight,
  span.RadButton_Silk .rbSplitLeft {
    width: 20px;
    background-image: url('Common/radActionsSprite.png'); }
  span.RadButton_Silk .rbSplitRight,
  span.RadButton_Silk .rbSplitLeft,
  span.RadButton_Silk.rbDisabled .rbSplitLeft,
  span.RadButton_Silk.rbDisabled .rbSplitRight {
    background-position: -15px -62px; }
  span.RadButton_Silk .rbSplitLeft:hover,
  span.RadButton_Silk .rbSplitRight:hover {
    background-color: #0092ab;
    background-position: -15px -62px; }
  span.RadButton_Silk .rbSplitRight:active,
  span.RadButton_Silk .rbSplitRight:focus,
  span.RadButton_Silk .rbSplitLeft:active,
  span.RadButton_Silk .rbSplitLeft:focus {
    background-color: #14afca;
    border-color: #1193aa;
    background-position: -15px -62px; }
  span.RadButton_Silk.rbSkinnedButton.rbPrimaryButton, span.RadButton_Silk.rbLinkButton.rbPrimaryButton, span.RadButton_Silk.rbVerticalButton.rbPrimaryButton {
    border-color: #14afca;
    color: #ffffff;
    background-color: #14afca;
    background-image: linear-gradient(#27cdea, #14afca); }
  span.RadButton_Silk.rbSkinnedButton.rbPrimaryButton:hover, span.RadButton_Silk.rbLinkButton.rbPrimaryButton:hover, span.RadButton_Silk.rbVerticalButton.rbPrimaryButton:hover {
    border-color: #0092ab;
    color: #ffffff;
    background-color: #0092ab;
    background-image: linear-gradient(#00acca, #0092ab); }
  span.RadButton_Silk.rbSkinnedButton.rbPrimaryButton:active, span.RadButton_Silk.rbLinkButton.rbPrimaryButton:active, span.RadButton_Silk.rbVerticalButton.rbPrimaryButton:active, span.RadButton_Silk.rbSkinnedButton.rbPrimaryButton:focus, span.RadButton_Silk.rbLinkButton.rbPrimaryButton:focus, span.RadButton_Silk.rbVerticalButton.rbPrimaryButton:focus {
    border-color: #1193aa;
    color: #ffffff;
    background-color: #14afca;
    background-image: none; }
  span.RadButton_Silk.rbDisabled.rbPrimaryButton, span.RadButton_Silk.rbDisabled.rbPrimaryButton:hover, span.RadButton_Silk.rbDisabled.rbPrimaryButton:active, span.RadButton_Silk.rbDisabled.rbPrimaryButton:focus {
    border-color: #14afca;
    color: #ffffff;
    background-color: #14afca;
    background-image: linear-gradient(#27cdea, #14afca); }
  span.RadButton_Silk .rbAdd,
  span.RadButton_Silk .rbRemove,
  span.RadButton_Silk .rbOk,
  span.RadButton_Silk .rbCancel,
  span.RadButton_Silk .rbPrevious,
  span.RadButton_Silk .rbNext,
  span.RadButton_Silk .rbSave,
  span.RadButton_Silk .rbConfig,
  span.RadButton_Silk .rbRefresh,
  span.RadButton_Silk .rbEdit {
    background-image: url('../Common/Button/rbBasicIcons16x16Dark.png') !important; }
  span.RadButton_Silk .rbUpload,
  span.RadButton_Silk .rbDownload,
  span.RadButton_Silk .rbOpen,
  span.RadButton_Silk .rbAttach,
  span.RadButton_Silk .rbPrint,
  span.RadButton_Silk .rbSearch,
  span.RadButton_Silk .rbHelp,
  span.RadButton_Silk .rbCart,
  span.RadButton_Silk .rbRSS,
  span.RadButton_Silk .rbMail,
  span.RadButton_Silk .rbFB,
  span.RadButton_Silk .rbTwitter {
    background-image: url('../Common/Button/rbExtendedIcons16x16Dark.png') !important; }
  span.RadButton_Silk .rbAdd24,
  span.RadButton_Silk .rbRemove24,
  span.RadButton_Silk .rbOk24,
  span.RadButton_Silk .rbCancel24,
  span.RadButton_Silk .rbPrevious24,
  span.RadButton_Silk .rbNext24,
  span.RadButton_Silk .rbSave24,
  span.RadButton_Silk .rbConfig24,
  span.RadButton_Silk .rbRefresh24,
  span.RadButton_Silk .rbEdit24 {
    background-image: url('../Common/Button/rbBasicIcons24x24Dark.png') !important; }
  span.RadButton_Silk .rbUpload24,
  span.RadButton_Silk .rbDownload24,
  span.RadButton_Silk .rbOpen24,
  span.RadButton_Silk .rbAttach24,
  span.RadButton_Silk .rbPrint24,
  span.RadButton_Silk .rbSearch24,
  span.RadButton_Silk .rbHelp24,
  span.RadButton_Silk .rbCart24,
  span.RadButton_Silk .rbRSS24,
  span.RadButton_Silk .rbMail24,
  span.RadButton_Silk .rbFB24,
  span.RadButton_Silk .rbTwitter24 {
    background-image: url('../Common/Button/rbExtendedIcons24x24Dark.png') !important; }

