.RadHtmlChart_Silk.k-chart .k-navigator-hint .k-tooltip {
  color: #333333; }

.k-marquee-color {
  border-color: #14afca;
  color: #ffffff;
  background-color: #14afca; }

.k-tooltip.k-chart-tooltip.k-chart-shared-tooltip {
  border-color: #d9d9d9;
  color: #333333;
  background-color: #ffffff; }

