.RadRibbonBar_Silk {
  font: 11px "Segoe UI", Arial, sans-serif; }
  .RadRibbonBar_Silk .rrbContentWrapIn {
    border-color: #d0d0d0;
    background-color: #ced2d6; }
  .RadRibbonBar_Silk .rrbTabs {
    border-bottom-color: #d0d0d0;
    background-color: #afb3b7;
    background-image: linear-gradient(#ced2d6, #afb3b7); }
  .RadRibbonBar_Silk .rrbApplicationTab .rrbTabLabel {
    border-color: #c4c4c4;
    color: #5f5f5f;
    background-color: #e3e3e3;
    background-image: linear-gradient(white, #e3e3e3); }
  .RadRibbonBar_Silk .rrbHeaderBar {
    border-color: #c4c4c4;
    background-color: #e3e3e3; }
  .RadRibbonBar_Silk .rrbContextualTab .rrbContextualTabLabel {
    color: #ffffff; }
  .RadRibbonBar_Silk .rrbTab .rrbTabLabel {
    border-color: transparent;
    height: 24px;
    color: #333333; }
  .RadRibbonBar_Silk .rrbHoveredTab .rrbTabLabel {
    color: #ffffff;
    background-color: #8c9194;
    background-image: linear-gradient(#9fa4a7, #8c9194); }
  .RadRibbonBar_Silk .rrbSelectedTab .rrbTabLabel {
    color: #ffffff;
    background: #71777b; }
  .RadRibbonBar_Silk .rrbMenu .rrbMenuLabel {
    color: #5f5f5f;
    background-color: #e3e3e3; }
  .RadRibbonBar_Silk .rrbToolTip {
    border-color: #cccccc;
    border-radius: 3px;
    color: #333333;
    background-color: #f0f0f0; }
  .RadRibbonBar_Silk .rrbToggleHandle {
    background-position: -17px -1567px; }
  .RadRibbonBar_Silk.rrbMinimized .rrbToggleHandle,
  .RadRibbonBar_Silk.rrbExtendedChromeMinimized .rrbToggleHandle {
    background-position: -17px -1667px; }
  .RadRibbonBar_Silk .rrbButtonArea {
    background-color: #e6e6e6; }
  .RadRibbonBar_Silk .rrbResizeHandle {
    background-position: -20px -2220px; }
  .RadRibbonBar_Silk .rrbGroupTitle {
    color: #333333; }
  .RadRibbonBar_Silk .rrbGroupLauncher {
    background-position: -22px -4822px; }
  .RadRibbonBar_Silk .rrbButtonGroupIn {
    border-color: #d0d0d0;
    border-radius: 3px; }
  .RadRibbonBar_Silk .rrbCollapsedGroup .rrbGroupToggleIcon {
    background-position: -17px -1067px; }
  .RadRibbonBar_Silk .rrbCollapsedGroup .rrbGroupIcon {
    border-color: #c4c4c4; }

.RadRibbonBar_Silk .rrbQatButton, .RadRibbonBar_Silk .rrbButtonOut, .RadRibbonBar_Silk .rrbSplitButton:hover .rrbButtonArrow, .RadRibbonBar_Silk .rrbButtonStripPart, .RadRibbonBar_Silk .rrbComboBox .rrbActionButton,
.RadRibbonBar_Silk .rrbDropDown .rrbActionButton,
.RadRibbonBar_Silk .rrbNumericTextBox .rrbActionButton,
.RadRibbonBar_Silk .rrbColorPicker .rrbActionButton, .RadRibbonBar_Silk .rrbDropDown .rrbDDInner, .RadRibbonBar_Silk .rrbColorPicker .rrbCPInner, .RadRibbonBar_Silk .rrbGalleryAction {
  background-image: url('Common/radPrimaryGradientButtonSprite.png');
  border-color: #c4c4c4;
  color: #5f5f5f;
  background-color: #e3e3e3;
  background-image: linear-gradient(white, #e3e3e3); }

.RadRibbonBar_Silk .rrbQatButton, .RadRibbonBar_Silk .rrbButtonOut {
  border-color: transparent;
  background-color: transparent; }

.RadRibbonBar_Silk .rrbQatButton:hover, .RadRibbonBar_Silk .rrbButtonOut:hover, .RadRibbonBar_Silk .rrbButtonOut.rrbButtonHovered, .RadRibbonBar_Silk .rrbButtonOut.rrbExpanded, .RadRibbonBar_Silk .rrbSplitButton .rrbButtonArrow:hover, .RadRibbonBar_Silk .rrbButtonStripPart:hover, .RadRibbonBar_Silk .rrbComboBox .rrbActionButton:hover,
.RadRibbonBar_Silk .rrbDropDown .rrbActionButton:hover,
.RadRibbonBar_Silk .rrbNumericTextBox .rrbActionButton:hover,
.RadRibbonBar_Silk .rrbColorPicker .rrbActionButton:hover, .RadRibbonBar_Silk .rrbDropDown .rrbDDInner:hover, .RadRibbonBar_Silk .rrbColorPicker .rrbCPInner:hover, .RadRibbonBar_Silk .rrbGalleryAction:hover, .RadRibbonBar_Silk .rrbGalleryItemHovered, .rrbSlide_Silk .rrbGalleryItemHovered {
  border-color: #0092ab;
  color: #ffffff;
  background-color: #0092ab;
  background-image: linear-gradient(#00acca, #0092ab); }

.RadRibbonBar_Silk .rrbQatButton:active, .RadRibbonBar_Silk .rrbButtonOut.rrbButtonClicked, .RadRibbonBar_Silk .rrbButtonOut.rrbButtonPressed, .RadRibbonBar_Silk .rrbButtonOut.rrbToggled, .RadRibbonBar_Silk .rrbExpanded .rrbSplitButton .rrbButtonArrow,
.RadRibbonBar_Silk .rrbButtonClicked .rrbSplitButton .rrbButtonArrow, .RadRibbonBar_Silk .rrbButtonStripPart:active,
.RadRibbonBar_Silk .rrbButtonStripPart.rrbButtonClicked,
.RadRibbonBar_Silk .rrbButtonStripPart.rrbButtonPressed, .RadRibbonBar_Silk .rrbComboBox .rrbActionButton:active,
.RadRibbonBar_Silk .rrbDropDown .rrbActionButton:active,
.RadRibbonBar_Silk .rrbNumericTextBox .rrbActionButton:active,
.RadRibbonBar_Silk .rrbColorPicker .rrbActionButton:active, .RadRibbonBar_Silk .rrbDropDown .rrbDDInner:active, .RadRibbonBar_Silk .rrbColorPicker .rrbCPInner:active, .RadRibbonBar_Silk .rrbGalleryAction:active, .RadRibbonBar_Silk .rrbGalleryItemSelected, .rrbSlide_Silk .rrbGalleryItemSelected {
  border-color: #1193aa;
  color: #ffffff;
  background-color: #14afca;
  background-image: none; }

.RadRibbonBar_Silk .rrbMenu, .RadRibbonBar_Silk .rrbMenuGroupMid, .rrbDropDownSlide_Silk .rrbPopup, .rrbSlide_Silk .rrbPopup, .rrbPopup_Silk, .rrbPopup_Silk .rrbPopup {
  border-color: #d9d9d9;
  color: #292929;
  background-color: #ffffff; }

.RadRibbonBar_Silk .rrbMenu .rrbMenuItem, .RadRibbonBar_Silk .rrbMenuGroupOut .rrbButtonOut, .rrbPopup_Silk .rrbMenuItem .rrbMIInner,
.rrbPopup_Silk .rrbMenuItem .rrbMIToggle {
  color: #5f5f5f;
  background-image: url('Common/radGradientListSprite.png');
  background-repeat: repeat-x;
  background-position: 0 0; }

.RadRibbonBar_Silk .rrbMenu .rrbMenuItem:hover,
.RadRibbonBar_Silk .rrbMenu .rrbMenuItemHovered, .RadRibbonBar_Silk .rrbMenuGroupOut .rrbButtonOut:hover, .rrbPopup_Silk .rrbMIHovered > .rrbMIInner, .rrbPopup_Silk .rrbMIHovered > .rrbMIInner .rrbMIToggle, .rrbPopup_Silk .rrbMIExpanded > .rrbMIInner {
  background-position: 0 -1000px\9;
  border-color: #bceff8;
  color: #333333;
  background-color: #bceff8;
  color: #ffffff; }

.RadRibbonBar_Silk .rrbMenuGroupOut .rrbButtonOut.rrbExpanded,
.RadRibbonBar_Silk .rrbMenuGroupOut .rrbButtonOut.rrbButtonClicked, .rrbPopup_Silk .rrbMIExpanded > .rrbMIInner .rrbMIToggle {
  background-position: 0 -2000px\9;
  border-color: #81cfdc;
  color: #ffffff;
  background-color: #81cfdc;
  color: #ffffff;
  box-shadow: inset 0 0 3px #00687a; }

.RadRibbonBar_Silk .rrbIcon,
.RadRibbonBar_Silk .rrbToggleHandle,
.RadRibbonBar_Silk .rrbResizeHandle,
.RadRibbonBar_Silk .rrbGroupLauncher,
.RadRibbonBar_Silk .rrbGroupToggleIcon {
  background-image: url('Common/radActionsSprite.png'); }

.RadRibbonBar_Silk .rrbButtonOut {
  border-radius: 3px; }
  .RadRibbonBar_Silk .rrbButtonOut .rrbIcon {
    background-position: -17px -1067px; }

.RadRibbonBar_Silk .rrbComboBox .rrbCBInner {
  border-color: #c4c4c4;
  background-color: #ffffff; }

.RadRibbonBar_Silk .rrbComboBox .rrbCBInput {
  color: #3b3b3b; }

.RadRibbonBar_Silk .rrbComboBox .rrbIcon {
  background-position: -17px -1067px; }

.RadRibbonBar_Silk .rrbDropDown .rrbActionButton,
.RadRibbonBar_Silk .rrbDropDown .rrbActionButton:hover {
  background: none; }

.RadRibbonBar_Silk .rrbDropDown .rrbIcon {
  background-position: -17px -1067px; }

.RadRibbonBar_Silk .rrbNumericTextBox .rrbNTBInner {
  border-color: #c4c4c4;
  background-color: #ffffff; }

.RadRibbonBar_Silk .rrbNumericTextBox .rrbNTBInput {
  color: #3b3b3b; }

.RadRibbonBar_Silk .rrbNumericTextBox .rrbActionButtonUp .rrbIcon {
  background-position: -17px -1017px; }

.RadRibbonBar_Silk .rrbNumericTextBox .rrbActionButtonDown .rrbIcon {
  background-position: -17px -1067px; }

.RadRibbonBar_Silk .rrbColorPicker .rrbActionButton,
.RadRibbonBar_Silk .rrbColorPicker .rrbActionButton:hover {
  background: none; }

.RadRibbonBar_Silk .rrbColorPicker .rrbIcon {
  background-position: -17px -1067px; }

.RadRibbonBar_Silk .rrbGallery {
  border-color: #c4c4c4;
  background-color: #ffffff; }

.RadRibbonBar_Silk .rrbGalleryActionUp .rrbIcon {
  background-position: -17px -17px; }

.RadRibbonBar_Silk .rrbGalleryActionDown .rrbIcon {
  background-position: -17px -67px; }

.RadRibbonBar_Silk .rrbGalleryActionExpand .rrbIcon {
  background-position: -17px -467px; }

.RadRibbonBar_Silk .rrbCategoryTitle {
  color: #5f5f5f;
  background-color: #e3e3e3; }

.RadRibbonBar_Silk .rrbGalleryItemInner {
  color: #5f5f5f;
  background-color: #e3e3e3; }

.rrbDropDownSlide_Silk .rrbPopup {
  font: 11px Arial, Helvetica, sans-serif; }

.rrbDropDownSlide_Silk .rrbListItem:hover {
  color: #333333;
  background-color: #bceff8; }

.rrbSlide_Silk .rrbPopup {
  font: 11px Arial, Helvetica, sans-serif; }

.rrbSlide_Silk .rrbGallery {
  background-color: #ffffff; }

.rrbSlide_Silk .rrbCategoryTitle {
  color: #5f5f5f;
  background-color: #e3e3e3; }

.rrbSlide_Silk .rrbGalleryItemInner {
  color: #5f5f5f;
  background-color: #e3e3e3; }

.rrbPopup_Silk {
  font: 11px Arial, Helvetica, sans-serif; }
  .rrbPopup_Silk .rrbHeaderBar {
    border-color: #c4c4c4;
    color: #5f5f5f;
    background-color: #e3e3e3;
    background-image: linear-gradient(white, #e3e3e3); }
  .rrbPopup_Silk .rrbMenuItem .rrbMIToggle .rrbIcon {
    background-position: -17px -167px;
    background-image: url('Common/radActionsSprite.png'); }
  .rrbPopup_Silk .rrbMenuItem.rrbMIHovered .rrbMIToggle .rrbIcon,
  .rrbPopup_Silk .rrbMenuItem.rrbMIExpanded .rrbMIToggle .rrbIcon {
    background-position: -117px -167px; }
  .rrbPopup_Silk .rrbHeader {
    border-color: #c5c5c5;
    background: #ebebeb; }
  .rrbPopup_Silk .rrbAuxiliaryPane {
    background: #eeeeee;
    border-color: #8a8a8a; }
  .rrbPopup_Silk .rrbFooterPane {
    border-color: #c5c5c5;
    background: #ebebeb; }

