.RadTreeView_Silk {
  color: #333333;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif; }
  .RadTreeView_Silk .rtUL .rtUL {
    padding-left: 22px; }
  .RadTreeView_Silk .rtTop,
  .RadTreeView_Silk .rtMid,
  .RadTreeView_Silk .rtBot {
    padding: 0 0 0 22px; }
  .RadTreeView_Silk .rtSp {
    height: 28px; }
  .RadTreeView_Silk .rtIn {
    padding: 3px 10px;
    border-radius: 3px; }
  .RadTreeView_Silk .rtHover .rtIn {
    border-color: #bceff8;
    color: #333333;
    background-color: #bceff8; }
  .RadTreeView_Silk .rtSelected .rtIn {
    border-color: #81cfdc;
    color: #ffffff;
    background-color: #81cfdc; }
  .RadTreeView_Silk .rtChecked,
  .RadTreeView_Silk .rtUnchecked,
  .RadTreeView_Silk .rtIndeterminate {
    margin-left: 3px;
    background-image: url('Common/radFormToggleSprite.png'); }
  .RadTreeView_Silk .rtLoadingIcon {
    background-image: url('Common/loading_small.gif'); }
  .RadTreeView_Silk .rtPlus,
  .RadTreeView_Silk .rtMinus {
    margin: 1px 0 0 -22px;
    width: 22px;
    height: 22px;
    background-image: url('Common/radActionsSprite.png'); }
  .RadTreeView_Silk .rtPlus,
  .RadTreeView_Silk .rtPlusHover {
    background-position: -14px -164px; }
  .RadTreeView_Silk .rtMinus,
  .RadTreeView_Silk .rtMinusHover {
    background-position: -64px -64px; }

.RadTreeView_Silk_rtl .rtUL .rtUL {
  padding-left: 0;
  padding-right: 22px; }

.RadTreeView_Silk_rtl .rtTop,
.RadTreeView_Silk_rtl .rtMid,
.RadTreeView_Silk_rtl .rtBot {
  padding-left: 0;
  padding-right: 22px; }

.RadTreeView_Silk_rtl .rtPlus,
.RadTreeView_Silk_rtl .rtMinus {
  margin-left: 0;
  margin-right: -22px; }

.RadTreeView_Silk_rtl .rtPlus,
.RadTreeView_Silk_rtl .rtPlusHover {
  background-position: -15px -115px; }

.RadTreeView_Silk_rtl .rtMinus,
.RadTreeView_Silk_rtl .rtMinusHover {
  background-position: -64px -64px; }

