span.RadButton_MetroTouch {
  height: auto;
  color: #333333;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  span.RadButton_MetroTouch.rbSkinnedButton, span.RadButton_MetroTouch.rbVerticalButton, span.RadButton_MetroTouch.rbLinkButton,
  span.RadButton_MetroTouch .rbSplitRight,
  span.RadButton_MetroTouch .rbSplitLeft {
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }
  span.RadButton_MetroTouch.rbSkinnedButton {
    padding: 5px 0;
    border-width: 1px;
    border-style: solid; }
    span.RadButton_MetroTouch.rbSkinnedButton:focus, span.RadButton_MetroTouch.rbSkinnedButton:active {
      border-width: 1px; }
  span.RadButton_MetroTouch .rbDecorated {
    padding: 0 15px;
    height: auto;
    line-height: inherit; }
  span.RadButton_MetroTouch .rbDecorated.rbPrimary {
    padding-left: 35px; }
  span.RadButton_MetroTouch .rbDecorated.rbSecondary {
    padding-right: 35px; }
  span.RadButton_MetroTouch .rbPrimaryIcon {
    top: 9px;
    left: 5px; }
  span.RadButton_MetroTouch .rbSecondaryIcon {
    top: 9px;
    right: 5px; }
  span.RadButton_MetroTouch .rbToggleCheckbox,
  span.RadButton_MetroTouch .rbToggleCheckboxChecked,
  span.RadButton_MetroTouch .rbToggleCheckboxFilled,
  span.RadButton_MetroTouch .rbToggleRadio,
  span.RadButton_MetroTouch .rbToggleRadioChecked {
    width: 22px;
    height: 22px;
    background-image: url('Common/radFormToggleSprite.png');
    top: 9px; }
  span.RadButton_MetroTouch .rbToggleCheckbox + .rbText.rbPrimary,
  span.RadButton_MetroTouch .rbToggleCheckboxChecked + .rbText.rbPrimary,
  span.RadButton_MetroTouch .rbToggleRadio + .rbText.rbPrimary,
  span.RadButton_MetroTouch .rbToggleRadioChecked + .rbText.rbPrimary {
    padding: 0 25px; }
  span.RadButton_MetroTouch.rbToggleButton {
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 0; }
  span.RadButton_MetroTouch.rbToggleButton .rbText {
    padding: 0 8px; }
  span.RadButton_MetroTouch.rbToggleButton, span.RadButton_MetroTouch.rbToggleButton.rbHovered, span.RadButton_MetroTouch.rbToggleButton.rbDisabled:hover {
    color: #333333;
    background: none; }
  span.RadButton_MetroTouch.rbToggleButton:hover {
    color: #000000; }
  span.RadButton_MetroTouch.rbToggleButton.rbTextButton .rbText {
    padding: 0 28px; }
  span.RadButton_MetroTouch.rbLinkButton {
    padding: 5px 15px; }
  span.RadButton_MetroTouch.rbLinkButton.rbRounded {
    border-radius: 0; }
  span.RadButton_MetroTouch span.rbPrimary {
    padding-left: 20px; }
  span.RadButton_MetroTouch span.rbSecondary {
    padding-right: 20px; }
  span.RadButton_MetroTouch.rbNativeButton {
    padding: 0; }
  span.RadButton_MetroTouch.rbHovered, span.RadButton_MetroTouch.rbSkinnedButton:hover, span.RadButton_MetroTouch.rbVerticalButton:hover, span.RadButton_MetroTouch.rbLinkButton:hover {
    border-color: #cecece;
    color: #000000;
    background-color: #e7e7e7; }
  span.RadButton_MetroTouch.rbPressedButton, span.RadButton_MetroTouch.rbSkinnedButton:active, span.RadButton_MetroTouch.rbSkinnedButton:focus, span.RadButton_MetroTouch.rbVerticalButton:active, span.RadButton_MetroTouch.rbVerticalButton:focus, span.RadButton_MetroTouch.rbLinkButton:active, span.RadButton_MetroTouch.rbLinkButton:focus, span.RadButton_MetroTouch.rbSkinnedButtonChecked, span.RadButton_MetroTouch.rbSkinnedButtonChecked:hover, span.RadButton_MetroTouch.rbLinkButtonChecked, span.RadButton_MetroTouch.rbLinkButtonChecked:hover, span.RadButton_MetroTouch.rbVerticalButtonChecked, span.RadButton_MetroTouch.rbVerticalButtonChecked:hover {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  span.RadButton_MetroTouch .rbSplitRight,
  span.RadButton_MetroTouch .rbSplitLeft {
    width: 28px;
    background-image: url('Common/radActionsSprite.png');
    background-color: #f9f9f9; }
  span.RadButton_MetroTouch .rbSplitRight,
  span.RadButton_MetroTouch .rbSplitLeft,
  span.RadButton_MetroTouch.rbDisabled .rbSplitLeft,
  span.RadButton_MetroTouch.rbDisabled .rbSplitRight {
    background-position: -11px -58px; }
  span.RadButton_MetroTouch .rbSplitLeft:hover,
  span.RadButton_MetroTouch .rbSplitRight:hover {
    background-color: #e7e7e7;
    background-position: -11px -58px; }
  span.RadButton_MetroTouch .rbSplitRight:active,
  span.RadButton_MetroTouch .rbSplitRight:focus,
  span.RadButton_MetroTouch .rbSplitLeft:active,
  span.RadButton_MetroTouch .rbSplitLeft:focus {
    background-color: #25a0da;
    border-color: #25a0da;
    background-position: -11px -58px; }
  span.RadButton_MetroTouch .rbAdd,
  span.RadButton_MetroTouch .rbRemove,
  span.RadButton_MetroTouch .rbOk,
  span.RadButton_MetroTouch .rbCancel,
  span.RadButton_MetroTouch .rbPrevious,
  span.RadButton_MetroTouch .rbNext,
  span.RadButton_MetroTouch .rbSave,
  span.RadButton_MetroTouch .rbConfig,
  span.RadButton_MetroTouch .rbRefresh,
  span.RadButton_MetroTouch .rbEdit {
    background-image: url('../Common/Button/rbBasicIcons16x16Dark.png') !important; }
  span.RadButton_MetroTouch .rbUpload,
  span.RadButton_MetroTouch .rbDownload,
  span.RadButton_MetroTouch .rbOpen,
  span.RadButton_MetroTouch .rbAttach,
  span.RadButton_MetroTouch .rbPrint,
  span.RadButton_MetroTouch .rbSearch,
  span.RadButton_MetroTouch .rbHelp,
  span.RadButton_MetroTouch .rbCart,
  span.RadButton_MetroTouch .rbRSS,
  span.RadButton_MetroTouch .rbMail,
  span.RadButton_MetroTouch .rbFB,
  span.RadButton_MetroTouch .rbTwitter {
    background-image: url('../Common/Button/rbExtendedIcons16x16Dark.png') !important; }
  span.RadButton_MetroTouch .rbAdd24,
  span.RadButton_MetroTouch .rbRemove24,
  span.RadButton_MetroTouch .rbOk24,
  span.RadButton_MetroTouch .rbCancel24,
  span.RadButton_MetroTouch .rbPrevious24,
  span.RadButton_MetroTouch .rbNext24,
  span.RadButton_MetroTouch .rbSave24,
  span.RadButton_MetroTouch .rbConfig24,
  span.RadButton_MetroTouch .rbRefresh24,
  span.RadButton_MetroTouch .rbEdit24 {
    background-image: url('../Common/Button/rbBasicIcons24x24Dark.png') !important; }
  span.RadButton_MetroTouch .rbUpload24,
  span.RadButton_MetroTouch .rbDownload24,
  span.RadButton_MetroTouch .rbOpen24,
  span.RadButton_MetroTouch .rbAttach24,
  span.RadButton_MetroTouch .rbPrint24,
  span.RadButton_MetroTouch .rbSearch24,
  span.RadButton_MetroTouch .rbHelp24,
  span.RadButton_MetroTouch .rbCart24,
  span.RadButton_MetroTouch .rbRSS24,
  span.RadButton_MetroTouch .rbMail24,
  span.RadButton_MetroTouch .rbFB24,
  span.RadButton_MetroTouch .rbTwitter24 {
    background-image: url('../Common/Button/rbExtendedIcons24x24Dark.png') !important; }

