.RadDropDownList_MetroTouch {
  color: #333333;
  font-size: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.875em;
  font-weight: 100; }
  .RadDropDownList_MetroTouch .rddlInner {
    padding-left: 10px;
    padding-right: 34px;
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }
  .RadDropDownList_MetroTouch .rddlFakeInput {
    min-height: 1.875em; }
  .RadDropDownList_MetroTouch .rddlIcon {
    width: 28px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -11px -58px; }
  .RadDropDownList_MetroTouch .rddlHovered {
    border-color: #cecece;
    color: #000000;
    background-color: #e7e7e7; }
    .RadDropDownList_MetroTouch .rddlHovered .rddlIcon {
      background-position: -11px -58px; }
  .RadDropDownList_MetroTouch .rddlFocused {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
    .RadDropDownList_MetroTouch .rddlFocused .rddlIcon {
      background-position: -111px -58px; }

.rddlPopup_MetroTouch {
  border-color: #e6e6e6;
  color: #333333;
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.5; }
  .rddlPopup_MetroTouch .rddlItemHovered, .rddlPopup_MetroTouch .rddlItemLoading {
    color: #000000;
    background-color: #e7e7e7; }
  .rddlPopup_MetroTouch .rddlItemSelected {
    color: #ffffff;
    background-color: #25a0da; }

