.RadDropDownTree_MetroTouch {
  color: #333333;
  font-size: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadDropDownTree_MetroTouch li {
    line-height: 32px; }
  .RadDropDownTree_MetroTouch .rddtInner {
    padding-right: 32px;
    border-color: #e0e0e0;
    color: #000000;
    background-color: #f9f9f9; }
  .RadDropDownTree_MetroTouch .rddtExtraPadding {
    padding-right: 50px; }
  .RadDropDownTree_MetroTouch .rddtFakeInput {
    height: 30px;
    line-height: 30px; }
  .RadDropDownTree_MetroTouch .rddtClearButton {
    background-position: -2px -144px;
    right: 27px; }
  .RadDropDownTree_MetroTouch .rddtIcon {
    width: 28px;
    height: 34px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -11px -58px; }
  .RadDropDownTree_MetroTouch .rddtHovered {
    border-color: #cecece;
    color: #000000;
    background-color: #e7e7e7; }
    .RadDropDownTree_MetroTouch .rddtHovered .rddtClearButton {
      background-position: -22px -144px; }
    .RadDropDownTree_MetroTouch .rddtHovered .rddtClearButtonHovered {
      background-position: -62px -144px; }
    .RadDropDownTree_MetroTouch .rddtHovered .rddtIcon {
      background-position: -11px -58px; }
  .RadDropDownTree_MetroTouch .rddtFocused {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
    .RadDropDownTree_MetroTouch .rddtFocused .rddtClearButton {
      background-position: -42px -144px; }
    .RadDropDownTree_MetroTouch .rddtFocused .rddtClearButtonHovered {
      background-position: -82px -144px; }
    .RadDropDownTree_MetroTouch .rddtFocused .rddtIcon {
      background-position: -11px -58px; }

.rddtPopup_MetroTouch {
  border-color: #e6e6e6;
  color: #333333;
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.5; }
  .rddtPopup_MetroTouch .rddtFilter {
    background-color: #f9f9f9; }
  .rddtPopup_MetroTouch .rddtFilterInput {
    border-color: #e0e0e0;
    color: #333333;
    background-color: #ffffff; }
  .rddtPopup_MetroTouch .RadTreeView em {
    color: #000000;
    background-color: #e7e7e7; }
  .rddtPopup_MetroTouch .rddtFilterInput.rddtHovered {
    border-color: #cecece;
    color: #333333;
    background-color: #ffffff; }
  .rddtPopup_MetroTouch .rddtFilterInput.rddtFocused {
    border-color: #25a0da;
    color: #333333;
    background-color: #ffffff; }

