.RadHtmlChart_MetroTouch.k-chart .k-navigator-hint .k-tooltip {
  color: #333333; }

.k-marquee-color {
  border-color: #25a0da;
  color: #ffffff;
  background-color: #25a0da; }

.k-tooltip.k-chart-tooltip.k-chart-shared-tooltip {
  border-color: #e6e6e6;
  color: #333333;
  background-color: #ffffff; }
