.RadSearchBox_WebBlue {
  color: #333333;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSearchBox_WebBlue .rsbInner {
    border-radius: 3px;
    border-color: #6e8aa8;
    color: #333333;
    background-color: #ffffff; }
    .RadSearchBox_WebBlue .rsbInner.rsbHovered {
      border-color: #1c9fcc;
      color: #333333;
      background-color: #ffffff; }
    .RadSearchBox_WebBlue .rsbInner.rsbFocused {
      border-color: #3a869e;
      color: #333333;
      background-color: #ffffff; }
  .RadSearchBox_WebBlue .rsbButton {
    border-radius: 2px;
    background-image: url('Common/radGradientButtonSprite.png');
    background-image: linear-gradient(transparent, transparent); }
    .RadSearchBox_WebBlue .rsbButton:hover {
      border-color: #1c9fcc;
      color: #0e3d4f;
      background-color: #bee3f6;
      background-image: linear-gradient(#d4eaf8, #baddf4 50%, #9edaf2 50%, #bee3f6);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.32); }
    .RadSearchBox_WebBlue .rsbButton:focus {
      border-color: #3a869e;
      color: #ffffff;
      background-color: #7abace;
      background-image: linear-gradient(#8ebcd4, #64a3c0 50%, #368eb1 50%, #7abace);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.19); }
  .RadSearchBox_WebBlue .rsbButtonSearch {
    border-radius: 0 3px 3px 0; }
    .RadSearchBox_WebBlue .rsbButtonSearch .rsbIcon {
      background-image: url('Common/radActionsSprite.png');
      background-position: -2px -1882px; }
  .RadSearchBox_WebBlue .rsbSCInner {
    border-radius: 3px 0 0 3px;
    background-image: url('Common/radGradientButtonSprite.png');
    border-color: #6e8aa8;
    color: #0d202b;
    background-color: #d7e2e7;
    background-image: linear-gradient(#e0e7ed, #c2d2dd 50%, #a3baca 50%, #d7e2e7);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.45); }
  .RadSearchBox_WebBlue .rsbSCIcon {
    background-image: url('Common/radActionsSprite.png');
    background-position: -42px -422px; }
  .RadSearchBox_WebBlue .rsbSCHovered {
    border-color: #1c9fcc;
    color: #0e3d4f;
    background-color: #bee3f6;
    background-image: linear-gradient(#d4eaf8, #baddf4 50%, #9edaf2 50%, #bee3f6);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.32); }
  .RadSearchBox_WebBlue .rsbSCFocused {
    border-color: #3a869e;
    color: #ffffff;
    background-color: #7abace;
    background-image: linear-gradient(#8ebcd4, #64a3c0 50%, #368eb1 50%, #7abace);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.19); }
  .RadSearchBox_WebBlue .rsbLoadingIcon {
    background-image: url('Common/loading_small.gif'); }

.rsbPopup_WebBlue {
  border-color: #768ca5;
  color: #333333;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .rsbPopup_WebBlue .rsbListItemHovered {
    color: #0e3d4f;
    background-color: #e9f8ff; }
  .rsbPopup_WebBlue .rsbListItemSelected {
    color: #0d202b;
    background-color: #9edaf2; }
  .rsbPopup_WebBlue .rsbListItemLoading {
    color: #0e3d4f;
    background-color: #e9f8ff; }

