.RadRotator_Telerik .rrClipRegion {
  border-color: #cccccc;
  color: #333333;
  background-color: #ffffff; }

.RadRotator_Telerik .rrButton {
  background-image: url('Rotator/RotatorButtons.gif'); }

.RadRotator_Telerik .rrLoadingSign {
  background: url('Common/loading_small.gif') no-repeat center; }

