.RadDropDownList_Office2010Silver {
  color: #333333; }
  .RadDropDownList_Office2010Silver .rddlInner {
    border-color: #bfc3ca;
    color: #333333;
    background-color: #dbdde1;
    background-image: linear-gradient(#f1f2f3, #dbdde1);
    border-radius: 3px; }
  .RadDropDownList_Office2010Silver .rddlHovered {
    border-color: #f2d359;
    color: #000000;
    background-color: #fcf5d9;
    background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }
  .RadDropDownList_Office2010Silver .rddlFocused {
    border-color: #c38e00;
    color: #000000;
    background-color: #ffef7c;
    background-image: linear-gradient(#ffe272, #ffd86b, #ffef7c); }

.rddlPopup_Office2010Silver {
  border-color: #a4abb2;
  color: #333333;
  background-color: #ffffff; }
  .rddlPopup_Office2010Silver .rddlItemHovered, .rddlPopup_Office2010Silver .rddlItemLoading {
    color: #3b3b3b;
    background-color: #ffe791; }
  .rddlPopup_Office2010Silver .rddlItemSelected {
    color: #3b3b3b;
    background-color: #fff17c; }

