.RadGrid_Office2010Silver {
  border-color: #a4abb2;
  color: #333333;
  background-color: #ffffff; }
  .RadGrid_Office2010Silver .rgInput,
  .RadGrid_Office2010Silver .rgEditRow > td > [type="text"],
  .RadGrid_Office2010Silver .rgEditForm td > [type="text"],
  .RadGrid_Office2010Silver .rgBatchContainer > [type="text"],
  .RadGrid_Office2010Silver .rgFilterBox {
    border-color: #bfc3ca;
    color: #333333;
    background-color: #ffffff; }
    .RadGrid_Office2010Silver .rgInput:hover,
    .RadGrid_Office2010Silver .rgEditRow > td > [type="text"]:hover,
    .RadGrid_Office2010Silver .rgEditForm td > [type="text"]:hover,
    .RadGrid_Office2010Silver .rgBatchContainer > [type="text"]:hover,
    .RadGrid_Office2010Silver .rgFilterBox:hover {
      border-color: #f2d359;
      color: #333333;
      background-color: #ffffff; }
    .RadGrid_Office2010Silver .rgInput:focus,
    .RadGrid_Office2010Silver .rgEditRow > td > [type="text"]:focus,
    .RadGrid_Office2010Silver .rgEditForm td > [type="text"]:focus,
    .RadGrid_Office2010Silver .rgBatchContainer > [type="text"]:focus,
    .RadGrid_Office2010Silver .rgFilterBox:focus {
      border-color: #c38e00;
      color: #333333;
      background-color: #ffffff; }

.RadGrid_Office2010Silver .rgHeader:first-child, .RadGrid_Office2010Silver th.rgResizeCol:first-child, .RadGrid_Office2010Silver .rgFilterRow > td:first-child, .RadGrid_Office2010Silver .rgRow > td:first-child, .RadGrid_Office2010Silver .rgAltRow > td:first-child {
  border-left-width: 0; }

.RadGrid_Office2010Silver .rgHeaderDiv {
  background: linear-gradient(#ffffff, #edeff2); }

.RadGrid_Office2010Silver .rgHeader, .RadGrid_Office2010Silver th.rgResizeCol, .RadGrid_Office2010Silver .rgHeaderWrapper {
  border: solid #a4abb2;
  border-width: 0 0 1px 1px;
  background: linear-gradient(#ffffff, #edeff2); }

.RadGrid_Office2010Silver .rgHeaderDiv {
  border-right-color: #a4abb2; }

.RadGrid_Office2010Silver .rgMultiHeaderRow th.rgHeader, .RadGrid_Office2010Silver .rgMultiHeaderRow th.rgResizeCol {
  border: solid #a4abb2;
  border-width: 0 0 1px 1px; }

.RadGrid_Office2010Silver th.rgSorted {
  border-bottom-color: #c28a30;
  background: linear-gradient(#ffe373, #ffd86b, #ffe373); }

.RadGrid_Office2010Silver .rgHeader {
  color: #3b3b3b; }
  .RadGrid_Office2010Silver .rgHeader a {
    color: #3b3b3b; }

.RadGrid_Office2010Silver th.rgSorted {
  color: #000; }
  .RadGrid_Office2010Silver th.rgSorted a {
    color: #000; }

.RadGrid_Office2010Silver .rgRow > td, .RadGrid_Office2010Silver .rgAltRow > td, .RadGrid_Office2010Silver .rgEditRow > td, .RadGrid_Office2010Silver .rgFooter > td {
  border-style: solid;
  border-width: 0 0 1px 1px; }

.RadGrid_Office2010Silver .rgRow > td, .RadGrid_Office2010Silver .rgAltRow > td {
  border-color: #d0d7e5; }

.RadGrid_Office2010Silver .rgRow .rgSorted,
.RadGrid_Office2010Silver .rgAltRow .rgSorted {
  background-color: #eceef1; }

.RadGrid_Office2010Silver .rgActiveRow td:not(.rgExpandCol) {
  box-shadow: inset 0px 5px 5px -5px #c38e00, inset 0px -5px 5px -5px #c38e00; }

.RadGrid_Office2010Silver .rgActiveRow td:first-child:not(.rgExpandCol),
.RadGrid_Office2010Silver .rgActiveRow .rgExpandCol + td {
  box-shadow: inset 0px 5px 5px -5px #c38e00, inset 0px -5px 5px -5px #c38e00, inset 5px 0px 5px -5px #c38e00; }

.RadGrid_Office2010Silver .rgActiveRow td:not(.rgExpandCol):last-child {
  box-shadow: inset 0px 5px 5px -5px #c38e00, inset 0px -5px 5px -5px #c38e00, inset -5px 0px 5px -5px #c38e00; }

.RadGrid_Office2010Silver .rgActiveCell {
  box-shadow: inset 0 0 5px #c38e00; }

.RadGrid_Office2010Silver .rgSelectedRow .rgSorted,
.RadGrid_Office2010Silver .rgHoveredRow .rgSorted,
.RadGrid_Office2010Silver .rgEditRow .rgSorted {
  background-color: transparent; }

.RadGrid_Office2010Silver .rgRow a,
.RadGrid_Office2010Silver .rgAltRow a,
.RadGrid_Office2010Silver .rgEditRow a,
.RadGrid_Office2010Silver .rgFooter a,
.RadGrid_Office2010Silver .rgEditForm a {
  color: #a4abb2; }

.RadGrid_Office2010Silver .rgMasterTable .rgSelectedCell {
  background: #f8d05c 0 -3900px repeat-x url('../Office2010Silver/Grid/sprite.png'); }

.RadGrid_Office2010Silver .rgSelectedRow {
  background: #f8d05c 0 -3900px repeat-x url('../Office2010Silver/Grid/sprite.png'); }
  .RadGrid_Office2010Silver .rgSelectedRow > td {
    background-image: url('../Office2010Silver/Grid/sprite.png');
    background-position: 0 100%;
    background-repeat: repeat-x; }
  .RadGrid_Office2010Silver .rgSelectedRow.rgHoveredRow {
    background: #fcebb9 0 -3200px repeat-x url('../Office2010Silver/Grid/sprite.png'); }
    .RadGrid_Office2010Silver .rgSelectedRow.rgHoveredRow > td {
      background-image: none; }

.RadGrid_Office2010Silver .rgHoveredRow {
  background: #fff4cb 0 -2900px repeat-x url('../Office2010Silver/Grid/sprite.png'); }

.RadGrid_Office2010Silver .rgEditRow {
  background: #ebebeb; }

.RadGrid_Office2010Silver .rgSelectedRow > td {
  border-bottom-color: #ff9b35; }

.RadGrid_Office2010Silver .rgHoveredRow > td, .RadGrid_Office2010Silver .rgEditRow > td {
  border-bottom-color: #d0d7e5; }

.RadGrid_Office2010Silver .rgDeletedRow > td {
  border-color: #7b858f;
  color: #333333; }
  .RadGrid_Office2010Silver .rgDeletedRow > td a {
    color: #333333; }

.RadGrid_Office2010Silver .rgDeletedRow.rgHoveredRow > td {
  border-left-width: 1px;
  padding-left: 7px; }

.RadGrid_Office2010Silver .rgBatchOverlay {
  background: rgba(164, 171, 178, 0.75); }

.RadGrid_Office2010Silver .rgBatchUndoDeleteButton {
  border-color: #bfc3ca;
  color: #333333;
  background-color: #dbdde1;
  background-image: linear-gradient(#f1f2f3, #dbdde1); }
  .RadGrid_Office2010Silver .rgBatchUndoDeleteButton:hover {
    border-color: #f2d359;
    color: #000000;
    background-color: #fcf5d9;
    background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }

.RadGrid_Office2010Silver .rgDrag {
  background-image: url('../Office2010Silver/Grid/rgDrag.gif'); }

html .RadGrid_Office2010Silver .rgFooterDiv td,
html .RadGrid_Office2010Silver .rgFooter td,
.RadGrid_Office2010Silver .rgFooterWrapper {
  background: #edeff2; }

.RadGrid_Office2010Silver .rgFooter > td, .RadGrid_Office2010Silver .rgFooterWrapper {
  border-width: 1px 0 0;
  border-color: #a4abb2 #fff #fff; }

.RadGrid_Office2010Silver .rgStatus {
  border-color: #a4abb2; }

.RadGrid_Office2010Silver .rgStatus div {
  background-image: url('../Office2010Silver/Common/loading_small.gif'); }

.RadGrid_Office2010Silver .rgPagerCell {
  border-color: #a4abb2;
  color: #333333;
  background-color: #e2e5e9; }
  .RadGrid_Office2010Silver .rgPagerCell .rgNumPart a {
    border-radius: 2px;
    color: inherit; }
    .RadGrid_Office2010Silver .rgPagerCell .rgNumPart a:hover {
      border-color: #f2d359;
      color: #000000;
      background-color: #fcf5d9;
      background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }
    .RadGrid_Office2010Silver .rgPagerCell .rgNumPart a.rgCurrentPage {
      border-color: #e29f00;
      color: #e29f00;
      background: none; }
  .RadGrid_Office2010Silver .rgPagerCell .rgPagerButton,
  .RadGrid_Office2010Silver .rgPagerCell .rgActionButton {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: #bfc3ca;
    color: #333333;
    background-color: #dbdde1;
    background-image: linear-gradient(#f1f2f3, #dbdde1); }
    .RadGrid_Office2010Silver .rgPagerCell .rgPagerButton:hover,
    .RadGrid_Office2010Silver .rgPagerCell .rgActionButton:hover {
      border-color: #f2d359;
      color: #000000;
      background-color: #fcf5d9;
      background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }

.GridReorderTop_Office2010Silver,
.GridReorderBottom_Office2010Silver {
  color: #000; }

.RadGrid_Office2010Silver .rgFilterRow {
  background: #dfe3e8; }
  .RadGrid_Office2010Silver .rgFilterRow > td {
    border-style: solid;
    border-color: #a4abb2;
    border-width: 0 0 1px 1px; }

.RadGrid_Office2010Silver .rgFilter {
  border: 1px solid;
  border-color: #bfc3ca;
  color: #333333;
  background-color: #dbdde1;
  background-image: linear-gradient(#f1f2f3, #dbdde1); }
  .RadGrid_Office2010Silver .rgFilter:hover, .RadGrid_Office2010Silver .rgFilter:focus {
    border-color: #f2d359;
    color: #000000;
    background-color: #fcf5d9;
    background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }

.RadGrid_Office2010Silver .rgFilterActive, .RadGrid_Office2010Silver .rgFilterActive:hover, .RadGrid_Office2010Silver .rgFilterActive:focus {
  border-color: #c38e00;
  color: #000000;
  background-color: #ffef7c;
  background-image: linear-gradient(#ffe272, #ffd86b, #ffef7c);
  box-shadow: inset 0 0 6px rgba(165, 165, 165, 0.5); }

.RadGrid_Office2010Silver .rgFiltered {
  border-color: #c38e00;
  color: #000000;
  background-color: #ffef7c;
  background-image: linear-gradient(#ffef7c, #ffd86b, #ffe272); }
  .RadGrid_Office2010Silver .rgFiltered:hover, .RadGrid_Office2010Silver .rgFiltered:focus {
    border-color: #f2d359;
    color: #000000;
    background-color: #fcf5d9;
    background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }
  .RadGrid_Office2010Silver .rgFiltered.rgFilterActive {
    border-color: #c38e00;
    color: #000000;
    background-color: #ffef7c;
    background-image: linear-gradient(#ffe272, #ffd86b, #ffef7c); }

.RadGrid_Office2010Silver .rgFilterBox {
  border-color: #bfc3ca;
  color: #333333;
  background-color: #ffffff; }

.RadGrid_Office2010Silver .rgOptions {
  color: #3b3b3b; }

.RadGrid_Office2010Silver .rgOptSelected {
  color: #c28b31; }

.RadMenu_Office2010Silver .rgHCMClear, .RadMenu_Office2010Silver .rgHCMFilter {
  border-color: #a7bedb #7d98bd #a3bad8;
  background: #e8f1fc center -23px repeat-x url('../Office2010Silver/FormDecorator/ButtonSprites.gif');
  color: #00156e; }

.RadMenu_Office2010Silver .rgHCMClear:hover, .RadMenu_Office2010Silver .rgHCMFilter:hover {
  border-color: #d8ca95 #b9a073 #c6ba9d;
  background-position: center -67px;
  background-color: #ffe18a;
  color: #000; }

.RadMenu_Office2010Silver_Context .rgFilterApply,
.RadMenu_Office2010Silver_Context .rgFilterCancel {
  border-color: #bfc3ca;
  color: #333333;
  background-color: #dbdde1;
  background-image: linear-gradient(#f1f2f3, #dbdde1); }

div.RadMenu_Office2010Silver_Context .rlbGroup {
  border-color: #e2e4e7; }

.RadGrid_Office2010Silver .rgGroupPanel {
  border: 0 solid #a4abb2;
  border-bottom-width: 1px;
  background: #e7e9eb; }
  .RadGrid_Office2010Silver .rgGroupPanel td {
    border: 0;
    padding: 3px 4px;
    vertical-align: middle; }
    .RadGrid_Office2010Silver .rgGroupPanel td td {
      padding: 0; }

.RadGrid_Office2010Silver .rgGroupItem {
  border: 1px solid #a4abb2;
  color: #3b3b3b; }

.RadGrid_Office2010Silver .rgGroupHeader {
  background: #dbdfe4;
  font-size: 1.1em;
  line-height: 21px;
  color: #3b3b3b; }
  .RadGrid_Office2010Silver .rgGroupHeader > td {
    border-bottom: 1px solid #dadcdd; }

.RadGrid_Office2010Silver td.rgGroupCol,
.RadGrid_Office2010Silver td.rgExpandCol {
  background: #dbdfe4;
  border-color: #dbdfe4; }

.RadGrid_Office2010Silver .rgDetailTable {
  border-color: #688caf; }

.RadGrid_Office2010Silver .rgCommandCell {
  border-color: #bfc3ca;
  color: #333333;
  background-color: #dbdde1;
  background-image: linear-gradient(#f1f2f3, #dbdde1); }
  .RadGrid_Office2010Silver .rgCommandCell .t-button:hover {
    border-color: #f2d359;
    color: #000000;
    background-color: #fcf5d9;
    background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }
  .RadGrid_Office2010Silver .rgCommandCell .t-button:focus, .RadGrid_Office2010Silver .rgCommandCell .t-button:active {
    border-color: #c38e00;
    color: #000000;
    background-color: #ffef7c;
    background-image: linear-gradient(#ffe272, #ffd86b, #ffef7c); }

.rgCellSelectorArea_Office2010Silver, .GridRowSelector_Office2010Silver {
  background: #00156e; }

.GridItemDropIndicator_Office2010Silver {
  border-top: 1px dashed #00156e; }

.GridToolTip_Office2010Silver {
  border: 1px solid #6187b8;
  padding: 3px;
  background: #d7e3f2;
  color: #333; }

.RadGridRTL_Office2010Silver .rgHeader:first-child, .RadGridRTL_Office2010Silver th.rgResizeCol:first-child, .RadGridRTL_Office2010Silver .rgFilterRow > td:first-child, .RadGridRTL_Office2010Silver .rgRow > td:first-child, .RadGridRTL_Office2010Silver .rgAltRow > td:first-child {
  border-left-width: 1px;
  padding-left: 7px; }

