.RadListView_Office2010Silver {
  border-color: #a4abb2;
  color: #333333;
  background-color: #ffffff; }
  .RadListView_Office2010Silver .rlvHeader th {
    border-color: #a4abb2;
    color: #3b3b3b;
    background-color: #edeff2;
    background-image: linear-gradient(#ffffff, #edeff2); }
  .RadListView_Office2010Silver .rlvI {
    border-color: #a4abb2; }
  .RadListView_Office2010Silver .rlvA {
    background: #f2f2f2;
    border-color: #a4abb2; }
  .RadListView_Office2010Silver .rlvISel {
    background: #fff17c;
    color: #3b3b3b;
    border-color: #c38e00; }
  .RadListView_Office2010Silver .rlvDrag {
    background-image: url('../Office2010Silver/ListView/drag.gif'); }
  .RadListView_Office2010Silver .rlvInput {
    border-color: #bfc3ca;
    color: #333333;
    background-color: #ffffff; }

