.RadUploadProgressArea_Office2010Silver {
  border-color: #a4abb2;
  color: #333333;
  background-color: #ffffff; }
  .RadUploadProgressArea_Office2010Silver .ruHeader {
    border-color: #a4abb2;
    color: #3b3b3b;
    background-color: #edeff2;
    background-image: linear-gradient(#ffffff, #edeff2); }
  .RadUploadProgressArea_Office2010Silver .ruFooter {
    border-color: #a4abb2;
    color: #333333;
    background-color: #e2e5e9; }
  .RadUploadProgressArea_Office2010Silver .ruProgressBar {
    border-radius: 3px;
    border-color: #a4abb2;
    background-color: #edeff2;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); }
  .RadUploadProgressArea_Office2010Silver .ruProgress {
    border-radius: 3px;
    border-color: #a4abb2;
    background-color: #ffd86b;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); }
  .RadUploadProgressArea_Office2010Silver .radButton {
    border-color: #bfc3ca;
    color: #333333;
    background-color: #dbdde1;
    background-image: linear-gradient(#f1f2f3, #dbdde1);
    border-radius: 3px; }
    .RadUploadProgressArea_Office2010Silver .radButton.ruHovered {
      border-color: #f2d359;
      color: #000000;
      background-color: #fcf5d9;
      background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }

