.RadTreeList_Office2010Silver,
.rtlCEdit div.RadTreeList_Office2010Silver {
  border-color: #a4abb2;
  color: #333333;
  background-color: #ffffff; }

.RadTreeList_Office2010Silver .rtlHeader {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f4', endColorstr='#dbdde0',GradientType=0 );
  background-image: linear-gradient(to bottom, #f2f2f4 0%, #dbdde0 100%);
  color: #242424; }
  .RadTreeList_Office2010Silver .rtlHeader a {
    color: #242424; }

.RadTreeList_Office2010Silver .rtlScroller {
  border-color: #a4abb2; }

.RadTreeList_Office2010Silver .rtlHeader {
  border-color: #a4abb2; }
  .RadTreeList_Office2010Silver .rtlHeader th {
    border-color: #a4abb2; }

.RadTreeList_Office2010Silver .rtlA {
  background-color: #f8f8f8; }

.RadTreeList_Office2010Silver .rtlRSel {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdb9b', endColorstr='#ffcb61',GradientType=0 );
  background-image: linear-gradient(to bottom, #ffdb9b 0%, #ffdb9b 9%, #ffd78a 32%, #ffd78a 41%, #fed37e 50%, #fece71 73%, #ffcb61 100%); }

.RadTreeList_Office2010Silver .rtlRActive .rtlCF {
  box-shadow: inset 0px 5px 5px -5px #c38e00, inset 0px -5px 5px -5px #c38e00, inset 5px 0px 5px -5px #c38e00; }

.RadTreeList_Office2010Silver .rtlRActive .rtlCF ~ td {
  box-shadow: inset 0px 5px 5px -5px #c38e00, inset 0px -5px 5px -5px #c38e00; }

.RadTreeList_Office2010Silver .rtlRActive .rtlCF ~ td:last-child {
  box-shadow: inset 0px 5px 5px -5px #c38e00, inset 0px -5px 5px -5px #c38e00, inset -5px 0px 5px -5px #c38e00; }

.RadTreeList_Office2010Silver .rtlRFooter {
  background-color: #e5e5e5; }

.RadTreeList_Office2010Silver .rtlREdit {
  background-color: #ffe5ad; }

.rtlCEdit .RadTreeList_Office2010Silver {
  border: 1px solid; }

.RadTreeList_Office2010Silver {
  /*>>Buttons*/
  /*>>Expand/Collapse*/
  /*<<Expand/Collapse*/
  /*>>Tree Lines*/ }
  .RadTreeList_Office2010Silver .rtlRActive td, .RadTreeList_Office2010Silver .rtlR td, .RadTreeList_Office2010Silver .rtlA td, .RadTreeList_Office2010Silver .rtlREdit td, .RadTreeList_Office2010Silver .rtlRFooter td, .RadTreeList_Office2010Silver .rtlEditForm {
    border-color: #d0d7e5; }
  .RadTreeList_Office2010Silver .rtlR a, .RadTreeList_Office2010Silver .rtlA a, .RadTreeList_Office2010Silver .rtlREdit a, .RadTreeList_Office2010Silver .rtlEditForm a {
    color: #00156e; }
  .RadTreeList_Office2010Silver .rtlVBorders td.rtlL, .RadTreeList_Office2010Silver .rtlLines td.rtlL {
    background-color: #fff; }
  .RadTreeList_Office2010Silver .rtlDel,
  .RadTreeList_Office2010Silver .rtlAdd,
  .RadTreeList_Office2010Silver .rtlEdit,
  .RadTreeList_Office2010Silver .rtlUpdate,
  .RadTreeList_Office2010Silver .rtlCancel,
  .RadTreeList_Office2010Silver .rtlClosePopUp {
    border: 0 none;
    background: none; }
  .RadTreeList_Office2010Silver .rtlDelIcon,
  .RadTreeList_Office2010Silver .rtlCancelIcon {
    color: #ff0000; }
  .RadTreeList_Office2010Silver .rtlClosePopUpIcon {
    color: #5a5b5d; }
  .RadTreeList_Office2010Silver .rtlExpandIcon,
  .RadTreeList_Office2010Silver .rtlCollapseIcon {
    color: #626466; }
  .RadTreeList_Office2010Silver .rtlExpand,
  .RadTreeList_Office2010Silver .rtlCollapse {
    background: #fff;
    border: 0 none; }
  .RadTreeList_Office2010Silver .rtlClosePopUp:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbeaa9', endColorstr='#fdf1c8',GradientType=0 );
    background-image: linear-gradient(to bottom, #fbeaa9 0%, #fae186 38%, #fae185 54%, #fbe493 69%, #fdf1c8 100%);
    border: 1px solid #f3d64a;
    border-radius: .13em;
    box-shadow: 0 0 1px 1px insent #fcf5d9; }
  .RadTreeList_Office2010Silver .rtlPagerCell {
    border-color: #a4abb2;
    color: #333333;
    background-color: #e2e5e9; }
    .RadTreeList_Office2010Silver .rtlPagerCell .rtlNumPart a {
      border-radius: 2px;
      color: inherit; }
      .RadTreeList_Office2010Silver .rtlPagerCell .rtlNumPart a:hover {
        border-color: #f2d359;
        color: #000000;
        background-color: #fcf5d9;
        background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }
      .RadTreeList_Office2010Silver .rtlPagerCell .rtlNumPart a.rtlCurrentPage {
        border-color: #e29f00;
        color: #e29f00;
        background: none; }
    .RadTreeList_Office2010Silver .rtlPagerCell .rtlPagerButton,
    .RadTreeList_Office2010Silver .rtlPagerCell .rtlActionButton {
      border-width: 1px;
      border-style: solid;
      border-radius: 2px;
      border-color: #bfc3ca;
      color: #333333;
      background-color: #dbdde1;
      background-image: linear-gradient(#f1f2f3, #dbdde1); }
      .RadTreeList_Office2010Silver .rtlPagerCell .rtlPagerButton:hover,
      .RadTreeList_Office2010Silver .rtlPagerCell .rtlActionButton:hover {
        border-color: #f2d359;
        color: #000000;
        background-color: #fcf5d9;
        background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }
  .RadTreeList_Office2010Silver .rtlCommandCell {
    border-color: #bfc3ca;
    color: #333333;
    background-color: #dbdde1;
    background-image: linear-gradient(#f1f2f3, #dbdde1); }
    .RadTreeList_Office2010Silver .rtlCommandCell .rtlActionButton:hover {
      border-color: #f2d359;
      color: #000000;
      background-color: #fcf5d9;
      background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }
    .RadTreeList_Office2010Silver .rtlCommandCell .rtlActionButton:active {
      border-color: #c38e00;
      color: #000000;
      background-color: #ffef7c;
      background-image: linear-gradient(#ffe272, #ffd86b, #ffef7c); }
  .RadTreeList_Office2010Silver .rtlLines td.rtlL0 {
    background-image: url('../Office2010Silver/TreeList/rtlSingleLite.gif'); }
  .RadTreeList_Office2010Silver .rtlLines td.rtlL1 {
    background-image: url('../Office2010Silver/TreeList/rtlTopLite.gif'); }
  .RadTreeList_Office2010Silver .rtlLines td.rtlL2 {
    background-image: url('../Office2010Silver/TreeList/rtlMiddleLite.gif'); }
  .RadTreeList_Office2010Silver .rtlLines td.rtlL3 {
    background-image: url('../Office2010Silver/TreeList/rtlBottomLite.gif'); }

.RadTreeListRTL_Office2010Silver .rtlLines td.rtlL1 {
  background-image: url('../Office2010Silver/TreeList/rtlTopRTLLite.gif'); }

.RadTreeListRTL_Office2010Silver .rtlLines td.rtlL2 {
  background-image: url('../Office2010Silver/TreeList/rtlMiddleRTLLite.gif'); }

.RadTreeListRTL_Office2010Silver .rtlLines td.rtlL3 {
  background-image: url('../Office2010Silver/TreeList/rtlBottomRTLLite.gif'); }

/*<<Tree Lines*/
.TreeListReorderTop_Office2010Silver,
.TreeListReorderBottom_Office2010Silver {
  color: #333; }

.RadTreeList_Office2010Silver .rtlDragHandle {
  background-image: url('../Office2010Silver/Grid/rgDrag.gif'); }

/*tooltip*/
.TreeListToolTip_Office2010Silver {
  border-color: #6187b8;
  background: #d7e3f2;
  color: #333; }

