.RadAutoCompleteBox_Sunset {
  color: #333333; }
  .RadAutoCompleteBox_Sunset .racTokenList {
    border-color: #938973;
    color: #333333;
    background-color: #ffffff; }
  .RadAutoCompleteBox_Sunset .racToken {
    border-radius: 3px;
    border-color: #938973;
    color: #3d1400;
    background-color: #ded7c6;
    background-image: linear-gradient(#f1eadf, #ded7c6);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4); }
  .RadAutoCompleteBox_Sunset .racTokenList.racHovered {
    border-color: #d2b40d;
    color: #333333;
    background-color: #ffffff; }
  .RadAutoCompleteBox_Sunset .racToken.racHovered {
    border-color: #d2b40d;
    color: #863d02;
    background-color: #f1d121;
    background-image: linear-gradient(#faef93, #f1d121);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }
  .RadAutoCompleteBox_Sunset .racTokenList.racFocused {
    border-color: #e2711c;
    color: #333333;
    background-color: #ffffff; }
  .RadAutoCompleteBox_Sunset .racToken.racFocused {
    border-color: #e2711c;
    box-shadow: inset 0 0 5px #e2711c; }
  .RadAutoCompleteBox_Sunset .racToken.racSelected {
    border-color: #e2711c;
    color: #5d1f00;
    background-color: #e88d49;
    background-image: linear-gradient(#f3bc8b, #e88d49);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2); }
  .RadAutoCompleteBox_Sunset .p-i-loading {
    background-image: url('../Sunset/Common/loading_small.gif'); }

.RadAutoCompleteBoxPopup_Sunset {
  border-color: #938879;
  color: #333333;
  background-color: #ffffff; }
  .RadAutoCompleteBoxPopup_Sunset .racItemHovered {
    color: #863d02;
    background-color: #f9ed8a; }
  .RadAutoCompleteBoxPopup_Sunset .racFocused {
    box-shadow: inset 0 0 5px #904c23; }
  .RadAutoCompleteBoxPopup_Sunset .racItemSelected {
    color: #5d1f00;
    background-color: #f2d52d; }

