.RadSpreadsheet_Sunset {
  border-color: #938879;
  color: #272722;
  background-color: #ffffff; }
  .RadSpreadsheet_Sunset .rssToolbarWrapper {
    border-color: #d2c7b4;
    color: #272522;
    background-color: #f4eee6; }
  .RadSpreadsheet_Sunset .rssTabstrip .rtsLevel1 {
    border-color: #35322b; }
  .RadSpreadsheet_Sunset .rssTabstrip .rtsLevel1 .rtsSelected .rtsLink {
    border-color: #35322b;
    color: #ffffff;
    background-color: #8d836b; }
  .RadSpreadsheet_Sunset .rssFormulaBar {
    border-color: #938973;
    color: #272722;
    background-color: #ffffff; }
  .RadSpreadsheet_Sunset .k-syntax-startexp {
    font-weight: bold; }
  .RadSpreadsheet_Sunset .k-syntax-func {
    font-weight: bold; }
  .RadSpreadsheet_Sunset .k-syntax-paren-match {
    background-color: #caf200; }
  .RadSpreadsheet_Sunset .k-syntax-bool {
    color: #a9169c; }
  .RadSpreadsheet_Sunset .k-syntax-num {
    color: #0099ff; }
  .RadSpreadsheet_Sunset .k-syntax-str {
    color: #38b714; }
  .RadSpreadsheet_Sunset .k-syntax-ref {
    color: #ff8822; }
  .RadSpreadsheet_Sunset .k-syntax-error {
    color: red; }
  .RadSpreadsheet_Sunset .rssSheetsbar {
    border-color: #d2c7b4;
    color: #272522;
    background-color: #f4eee6; }
    .RadSpreadsheet_Sunset .rssSheetsbar .t-spreadsheet-sheets-bar-add:hover {
      border-color: #d2b40d;
      color: #863d02;
      background-color: #f1d121;
      background-image: linear-gradient(#faef93, #f1d121);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }
  .RadSpreadsheet_Sunset .rssPane {
    border-color: #938879;
    color: #272722;
    background-color: #ffffff; }
  .RadSpreadsheet_Sunset .rssTopCorner {
    border-color: #972f01;
    color: #ffffff;
    background-color: #bb3a01; }
  .RadSpreadsheet_Sunset .rssRowHeader,
  .RadSpreadsheet_Sunset .rssColumnHeader {
    border-color: #972f01;
    color: #ffffff;
    background-color: #bb3a01; }
  .RadSpreadsheet_Sunset .rssRowHeader > div:hover,
  .RadSpreadsheet_Sunset .rssColumnHeader > div:hover {
    border-color: #d2b40d;
    color: #863d02;
    background-color: #f1d121; }
  .RadSpreadsheet_Sunset .rssRowHeader .k-selection-partial,
  .RadSpreadsheet_Sunset .rssColumnHeader .k-selection-partial {
    border-color: #e2711c;
    color: #5d1f00;
    background-color: #e88d49; }
    .RadSpreadsheet_Sunset .rssRowHeader .k-selection-partial:before,
    .RadSpreadsheet_Sunset .rssColumnHeader .k-selection-partial:before {
      border-color: #982e00; }
  .RadSpreadsheet_Sunset .rssSelection {
    border-color: #982e00;
    background-color: rgba(152, 46, 0, 0.2);
    box-shadow: 0 0 0 1px #982e00; }
    .RadSpreadsheet_Sunset .rssSelection:after {
      border-color: #ffffff;
      background-color: #982e00; }
  .RadSpreadsheet_Sunset .rssActiveCell {
    border-color: #982e00;
    background-color: #ffffff; }
  .RadSpreadsheet_Sunset .k-auto-fill {
    border-color: #982e00;
    box-shadow: inset 0 0 0 1px #982e00; }
  .RadSpreadsheet_Sunset .k-tooltip {
    border-color: #938879;
    color: #272722;
    background-color: #ffffff;
    border-radius: 3px; }
  .RadSpreadsheet_Sunset .rssCellEditor {
    color: #272722;
    background-color: #ffffff; }
  .RadSpreadsheet_Sunset .k-spreadsheet-editor-button {
    border-color: #938973;
    color: #3d1400;
    background-color: #ded7c6;
    background-image: linear-gradient(#f1eadf, #ded7c6);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4); }
    .RadSpreadsheet_Sunset .k-spreadsheet-editor-button:hover {
      border-color: #d2b40d;
      color: #863d02;
      background-color: #f1d121;
      background-image: linear-gradient(#faef93, #f1d121);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }
  .RadSpreadsheet_Sunset .k-spreadsheet-merged-cell {
    background-color: #ffffff; }
  .RadSpreadsheet_Sunset .k-resize-handle,
  .RadSpreadsheet_Sunset .k-resize-hint-handle,
  .RadSpreadsheet_Sunset .k-resize-hint-marker {
    background-color: #904c23; }
  .RadSpreadsheet_Sunset .k-filter-range {
    border-color: #904c23; }
  .RadSpreadsheet_Sunset .k-spreadsheet-filter {
    border-color: #938973;
    color: #3d1400;
    background-color: #ded7c6;
    background-image: linear-gradient(#f1eadf, #ded7c6);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #938973; }
  .RadSpreadsheet_Sunset .k-spreadsheet-filter:hover {
    border-color: #d2b40d;
    color: #863d02;
    background-color: #f1d121;
    background-image: linear-gradient(#faef93, #f1d121);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 0 1px #d2b40d; }

.radSkin_Sunset .t-button,
.radSkin_Sunset .rssButton {
  border-color: #938973;
  color: #3d1400;
  background-color: #ded7c6;
  background-image: linear-gradient(#f1eadf, #ded7c6);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
  border-radius: 3px; }

.radSkin_Sunset .t-button:hover,
.radSkin_Sunset .t-button.t-state-hover,
.radSkin_Sunset .rssButton.rssHovered {
  border-color: #d2b40d;
  color: #863d02;
  background-color: #f1d121;
  background-image: linear-gradient(#faef93, #f1d121);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }

.radSkin_Sunset .rssButton.rssPrimary {
  border-color: #a95518;
  color: #ffffff;
  background-color: #d66b1e;
  background-image: linear-gradient(#e88d49, #d66b1e);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2); }

.radSkin_Sunset .rssButton.rssPrimary.rssHovered {
  border-color: #d2b40d;
  color: #863d02;
  background-color: #f1d121;
  background-image: linear-gradient(#faef93, #f1d121);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }

.radSkin_Sunset .t-tabstrip .t-state-hover {
  border-color: #d2b40d;
  color: #863d02;
  background-color: #f1d121;
  background-image: linear-gradient(#faef93, #f1d122);
  border-top-color: #d2c7b4; }

.radSkin_Sunset .t-tabstrip .t-state-active {
  border-color: #938879;
  color: #272722;
  background-color: #ffffff;
  background-image: none; }

.radSkin_Sunset .t-tabstrip-bottom > .t-tabstrip-items .t-item {
  border-radius: 0; }

.radSkin_Sunset .t-spreadsheet-sheets-remove.t-state-hover {
  color: #b32d34; }

.radSkin_Sunset .rssInput {
  border-color: #938973;
  color: #272722;
  background-color: #ffffff; }

.radSkin_Sunset .rssMenu .rssLink {
  border-radius: 3px; }

.radSkin_Sunset .rssMenu .rssHovered > .rssLink {
  border-color: #ac7d21;
  color: #863d02;
  background-color: #f9ed8a; }

.radSkin_Sunset .rssMenu .rssSelected > .rssLink {
  border-color: #904c23;
  color: #5d1f00;
  background-color: #f2d52d; }

.radSkin_Sunset .rssCollapsibleList .rssLink {
  border-radius: 3px; }

.radSkin_Sunset .rssCollapsibleList .rssHovered > .rssLink {
  border-color: #ac7d21;
  color: #863d02;
  background-color: #f9ed8a; }

.radSkin_Sunset .rssCollapsibleList .rssExpanded > .rssLink {
  border-color: transparent;
  color: inherit;
  background: none; }

.rssPopup {
  border-color: #938879;
  color: #272722;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #938879; }
  .rssPopup .rssFilterMenu:before {
    border-color: #f4eee6;
    background: #fcfaf8; }
  .rssPopup .rssSeparator {
    border-color: #e6e6e6 white white #e6e6e6; }

.rssWindow {
  border-color: #972f01;
  color: #ffffff;
  background-color: #bb3a01;
  border-radius: 5px;
  box-shadow: 0 0 5px #972f01; }
  .rssWindow .rssWindowTitlebar {
    border-color: #972f01;
    color: #ffffff;
    background-color: #bb3a01;
    background-image: linear-gradient(#c85323, #bb3a01);
    border-radius: 5px 5px 0 0; }
  .rssWindow .rssWindowAction {
    border-color: transparent; }
  .rssWindow .rssWindowAction:hover {
    border-color: #d2b40d;
    color: #863d02;
    background-color: #f1d121;
    background-image: linear-gradient(#faef93, #f1d121);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    border-radius: 3px; }
  .rssWindow .rssWindowContent {
    border-color: #938879;
    color: #272722;
    background-color: #ffffff; }
  .rssWindow .rssWindowTabstrip {
    background-color: #f4eee6; }
    .rssWindow .rssWindowTabstrip .rtsLevel1 .rtsSelected .rtsLink {
      color: #272722;
      background: #ffffff; }
  .rssWindow hr {
    border-color: #938879; }

.rssFormulaList {
  border-color: #938879;
  color: #272722;
  background-color: #ffffff; }
  .rssFormulaList .k-item.k-state-hover {
    color: #863d02;
    background-color: #f9ed8a; }
  .rssFormulaList .k-item.k-state-focused {
    color: #5d1f00;
    background-color: #f2d52d; }

