.RadTreeList_Sunset,
.rtlCEdit div.RadTreeList_Sunset {
  border-color: #938879;
  color: #272722;
  background-color: #ffffff; }

.RadTreeList_Sunset .rtlHeader {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e16f58', endColorstr='#b94d0a',GradientType=0 );
  background-image: linear-gradient(to bottom, #e16f58 0%, #ce5a2f 29%, #c95526 38%, #ba3c01 48%, #ba3c01 62%, #b94d0a 100%);
  color: #fff;
  border-color: #71250a #872c07; }
  .RadTreeList_Sunset .rtlHeader a {
    color: #fff; }
  .RadTreeList_Sunset .rtlHeader th {
    border-color: #71250a #872c07; }

.RadTreeList_Sunset .rtlScroller {
  border-color: #95432b; }

.RadTreeList_Sunset .rtlA {
  background-color: #f1e9dc; }

.RadTreeList_Sunset .rtlRFooter {
  background-color: #e1dac7; }

.rtlCEdit .RadTreeList_Sunset {
  border: 1px solid; }

.RadTreeList_Sunset {
  /*>>Buttons*/
  /*>>Expand/Collapse*/
  /*<<Expand/Collapse*/
  /*>>Tree Lines*/ }
  .RadTreeList_Sunset .rtlR td, .RadTreeList_Sunset .rtlA td, .RadTreeList_Sunset .rtlREdit td, .RadTreeList_Sunset .rtlRFooter td, .RadTreeList_Sunset .rtlEditForm {
    border-color: #cabaab; }
  .RadTreeList_Sunset .rtlR a, .RadTreeList_Sunset .rtlA a, .RadTreeList_Sunset .rtlREdit a, .RadTreeList_Sunset .rtlEditForm a {
    color: #5d1f00; }
  .RadTreeList_Sunset .rtlRSel {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c998', endColorstr='#e38644',GradientType=0 );
    background-image: linear-gradient(to bottom, #f3c998 5%, #f2b779 10%, #ea9b5c 57%, #e99655 71%, #e69150 77%, #e38644 100%); }
  .RadTreeList_Sunset .rtlRActive .rtlCF {
    box-shadow: inset 0px 5px 5px -5px #904c23, inset 0px -5px 5px -5px #904c23, inset 5px 0px 5px -5px #904c23; }
  .RadTreeList_Sunset .rtlRActive .rtlCF ~ td {
    box-shadow: inset 0px 5px 5px -5px #904c23, inset 0px -5px 5px -5px #904c23; }
  .RadTreeList_Sunset .rtlRActive .rtlCF ~ td:last-child {
    box-shadow: inset 0px 5px 5px -5px #904c23, inset 0px -5px 5px -5px #904c23, inset -5px 0px 5px -5px #904c23; }
  .RadTreeList_Sunset .rtlVBorders td.rtlL, .RadTreeList_Sunset .rtlLines td.rtlL {
    background-color: #fff; }
  .RadTreeList_Sunset .rtlREdit {
    background-color: #e1dac7; }
  .RadTreeList_Sunset .rtlEditForm {
    background-color: #eae5d7; }
  .RadTreeList_Sunset .rtlDel,
  .RadTreeList_Sunset .rtlAdd,
  .RadTreeList_Sunset .rtlEdit,
  .RadTreeList_Sunset .rtlUpdate,
  .RadTreeList_Sunset .rtlCancel {
    border: 0 none;
    background: none; }
  .RadTreeList_Sunset .rtlHeader .rtlAdd {
    border: 1px solid #5e5140;
    border-color: #938973;
    color: #3d1400;
    background-color: #ded7c6;
    background-image: linear-gradient(#f1eadf, #ded7c6);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 1px 1px #fff inset;
    border-radius: .13em; }
  .RadTreeList_Sunset .rtlUpdate,
  .RadTreeList_Sunset .rtlCancel {
    border: 1px solid #5e5140;
    border-color: #938973;
    color: #3d1400;
    background-color: #ded7c6;
    background-image: linear-gradient(#f1eadf, #ded7c6);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 1px 1px #fff inset;
    border-radius: .13em; }
  .RadTreeList_Sunset .rtlUpdateIcon {
    color: #338b07; }
  .RadTreeList_Sunset .rtlDelIcon,
  .RadTreeList_Sunset .rtlCancelIcon {
    color: #ff0000; }
  .RadTreeList_Sunset .rtlEdit,
  .RadTreeList_Sunset .rtlAddIcon,
  .RadTreeList_Sunset .rtlExpandIcon,
  .RadTreeList_Sunset .rtlCollapseIcon {
    color: #52503d; }
  .RadTreeList_Sunset .rtlExpand,
  .RadTreeList_Sunset .rtlCollapse {
    background: #dfd5c2;
    border: 1px solid #5e5140;
    box-shadow: 0 0 1px 1px #fff inset; }
  .RadTreeList_Sunset .rtlClosePopUp {
    text-align: baseline;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d56a46', endColorstr='#c76b37',GradientType=0 );
    background-image: linear-gradient(to bottom, #d56a46 0%, #ce683e 31%, #c45321 38%, #c76b37 100%);
    border: 1px solid #953230;
    border-radius: .13em; }
    .RadTreeList_Sunset .rtlClosePopUp:hover {
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee37f', endColorstr='#edc145',GradientType=0 );
      background-image: linear-gradient(to bottom, #fee37f 0%, #edc145 100%);
      border: 1px solid #f3d64a;
      box-shadow: 0 0 1px 1px insent #fcf5d9; }
  .RadTreeList_Sunset .rtlClosePopUpIcon {
    color: #dcdcdc;
    text-shadow: 0 0 1px #5c332f; }
  .RadTreeList_Sunset .rtlPagerCell {
    border-color: #d2c7b4;
    color: #272522;
    background-color: #f4eee6; }
    .RadTreeList_Sunset .rtlPagerCell .rtlNumPart a {
      border-radius: 2px;
      color: inherit; }
      .RadTreeList_Sunset .rtlPagerCell .rtlNumPart a:hover {
        border-color: #d2b40d;
        color: #863d02;
        background-color: #f1d121;
        background-image: linear-gradient(#faef93, #f1d121);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }
      .RadTreeList_Sunset .rtlPagerCell .rtlNumPart a.rtlCurrentPage {
        border-color: #982e00;
        color: #982e00;
        background: none; }
    .RadTreeList_Sunset .rtlPagerCell .rtlPagerButton,
    .RadTreeList_Sunset .rtlPagerCell .rtlActionButton {
      border-width: 1px;
      border-style: solid;
      border-radius: 2px;
      border-color: #938973;
      color: #3d1400;
      background-color: #ded7c6;
      background-image: linear-gradient(#f1eadf, #ded7c6);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4); }
      .RadTreeList_Sunset .rtlPagerCell .rtlPagerButton:hover,
      .RadTreeList_Sunset .rtlPagerCell .rtlActionButton:hover {
        border-color: #d2b40d;
        color: #863d02;
        background-color: #f1d121;
        background-image: linear-gradient(#faef93, #f1d121);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }
  .RadTreeList_Sunset .rtlCommandCell {
    border-color: #35322b;
    color: #ffffff;
    background-color: #554e41;
    background-image: linear-gradient(#8d836b, #7b7462 30%, #554e41); }
    .RadTreeList_Sunset .rtlCommandCell .rtlActionButton:hover {
      border-color: #d2b40d;
      color: #863d02;
      background-color: #f1d121;
      background-image: linear-gradient(#faef93, #f1d121);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }
    .RadTreeList_Sunset .rtlCommandCell .rtlActionButton:active {
      border-color: #e2711c;
      color: #5d1f00;
      background-color: #e88d49;
      background-image: linear-gradient(#f3bc8b, #e88d49);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2); }
  .RadTreeList_Sunset .rtlLines td.rtlL0 {
    background-image: url('../Sunset/TreeList/rtlSingleLite.gif'); }
  .RadTreeList_Sunset .rtlLines td.rtlL1 {
    background-image: url('../Sunset/TreeList/rtlTopLite.gif'); }
  .RadTreeList_Sunset .rtlLines td.rtlL2 {
    background-image: url('../Sunset/TreeList/rtlMiddleLite.gif'); }
  .RadTreeList_Sunset .rtlLines td.rtlL3 {
    background-image: url('../Sunset/TreeList/rtlBottomLite.gif'); }

.RadTreeListRTL_Sunset .rtlLines td.rtlL1 {
  background-image: url('../Sunset/TreeList/rtlTopRTLLite.gif'); }

.RadTreeListRTL_Sunset .rtlLines td.rtlL2 {
  background-image: url('../Sunset/TreeList/rtlMiddleRTLLite.gif'); }

.RadTreeListRTL_Sunset .rtlLines td.rtlL3 {
  background-image: url('../Sunset/TreeList/rtlBottomRTLLite.gif'); }

/*<<Tree Lines*/
.TreeListReorderTop_Sunset,
.TreeListReorderBottom_Sunset {
  color: #333; }

.RadTreeList_Sunset .rtlDragHandle {
  background-image: url('../Sunset/Grid/rgDrag.gif'); }

/*tooltip*/
.TreeListToolTip_Sunset {
  border-color: #cabaab;
  background: #f6f1e8;
  color: #272522; }

