.RadMap_Windows7 {
  /* Older IE Fix */ }
  .RadMap_Windows7 .k-navigator {
    border-color: #c3cedd;
    color: #1e395b;
    background-color: #dde8f6;
    background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6);
    box-shadow: inset 0 0 0 1px #f5f8fa; }
  .RadMap_Windows7 .k-button {
    border-color: #c3cedd;
    color: #1e395b;
    background-color: #dde8f6;
    background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6);
    box-shadow: inset 0 0 0 1px #f5f8fa; }
  .RadMap_Windows7 .k-button:hover,
  .RadMap_Windows7 .k-navigator > .k-button:hover {
    border-color: #b5cdeb;
    color: #1e395b;
    background-color: #e7ecf5;
    background-image: linear-gradient(#fcfdfe, #f7f8fb 50%, #edf2f9 50%, #e7ecf5);
    box-shadow: inset 0 0 0 1px #f9f9fc; }
  .RadMap_Windows7 .k-button:active,
  .RadMap_Windows7 .k-button:focus,
  .RadMap_Windows7 .k-navigator > .k-button:active,
  .RadMap_Windows7 .k-navigator > .k-button:focus {
    border-color: #9cc8ff;
    color: #1e395b;
    background-color: #dde8f6;
    background-image: linear-gradient(#f3f7fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6);
    box-shadow: inset 0 0 0 1px #9cc8ff; }
  .RadMap_Windows7 .k-marker {
    color: #4c93cc; }
  .RadMap_Windows7.k-tooltip {
    border-color: #b8cbde;
    color: #000000;
    background-color: #ffffff; }
    .RadMap_Windows7.k-tooltip .k-tooltip-button {
      color: #1e395b;
      background-color: #dde8f6; }
    .RadMap_Windows7.k-tooltip .k-tooltip-button:hover {
      color: #4c93cc; }
  @media \0screen\,screen\9 {
    .RadMap_Windows7 .k-icon {
      background-image: url('Common/radActionsSprite.png'); } }

