.RadHtmlChart_Material.k-chart .k-navigator-hint .k-tooltip {
  color: #455A64; }

.k-marquee-color {
  border-color: #E1F5FE;
  color: #03A9F4;
  background-color: #E1F5FE; }

.k-tooltip.k-chart-tooltip.k-chart-shared-tooltip {
  border-color: #455A64;
  color: #ffffff;
  background-color: #576a73; }

