.RadDropDownTree_Glow .rddtInner {
  border-color: #35434b;
  color: #e2e8eb;
  background-color: #1c262c;
  background-image: linear-gradient(#30414b, #1c262c); }

.RadDropDownTree_Glow .rddtHovered {
  border-color: #cd8100;
  color: #733700;
  background-color: #cd8100;
  background-image: linear-gradient(#ffa201, #cd8100); }

.RadDropDownTree_Glow .rddtFocused {
  border-color: #cd8100;
  color: #733700;
  background-color: #ffa915;
  background-image: none; }

.rddtPopup_Glow {
  border-color: #20282d;
  color: #e2e8eb;
  background-color: #242e33; }
  .rddtPopup_Glow .rddtFilter {
    background-color: #1c262c; }
  .rddtPopup_Glow .rddtFilterInput {
    border-color: #35434b;
    color: #fff;
    background-color: #1c262c; }
  .rddtPopup_Glow .RadTreeView em {
    color: #ffffff;
    background-color: #4d5c65; }
  .rddtPopup_Glow .rddtFilterInput.rddtHovered {
    border-color: #cd8100;
    color: #fff;
    background-color: #1c262c; }
  .rddtPopup_Glow .rddtFilterInput.rddtFocused {
    border-color: #cd8100;
    color: #fff;
    background-color: #1c262c; }

