.RadListBox_Glow {
  color: #e2e8eb; }
  .RadListBox_Glow .rlbButton {
    border-color: #35434b;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#30414b, #1c262c);
    border-radius: 3px; }
  .RadListBox_Glow .rlbGroup,
  .RadListBox_Glow .rlbTemplateContent {
    border-color: #1c2327;
    color: #e2e8eb;
    background-color: #35434b; }
  .RadListBox_Glow .rlbGroup .rlbDropClueAbove {
    border-top-color: #ffa915; }
  .RadListBox_Glow .rlbGroup .rlbDropClueBelow {
    border-bottom-color: #ffa915; }
  .RadListBox_Glow .rlbGroup .rlbSelected.rlbDropClueAbove {
    border-top-color: #e2e8eb; }
  .RadListBox_Glow .rlbGroup .rlbSelected.rlbDropClueBelow {
    border-bottom-color: #e2e8eb; }
  .RadListBox_Glow .rlbButton:focus {
    border-color: rgba(205, 129, 0, 0.5);
    box-shadow: inset 0 0 5px rgba(205, 129, 0, 0.5); }
  .RadListBox_Glow .rlbHovered.rlbItem, .RadListBox_Glow .rlbHighlight {
    color: #ffffff;
    background-color: #4d5c65; }
  .RadListBox_Glow .rlbHovered.rlbButton {
    border-color: #cd8100;
    color: #733700;
    background-color: #cd8100;
    background-image: linear-gradient(#ffa201, #cd8100); }
  .RadListBox_Glow .rlbActive.rlbButton {
    border-color: #cd8100;
    color: #733700;
    background-color: #ffa915;
    background-image: none; }
  .RadListBox_Glow .rlbItem.rlbSelected {
    color: #000000;
    background-color: #ffa915; }

.RadListBox_Glow.RadListBoxButtonAreaTop.rlbFixedHeight .rlbGroup,
.RadListBox_Glow.RadListBoxButtonAreaTop.rlbFixedHeight .rlbTemplate {
  top: 2.61538462em; }

.RadListBox_Glow.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbGroup,
.RadListBox_Glow.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbTemplate {
  bottom: 2.61538462em; }

