.RadPanelBar_Glow {
  border-color: #1c2327;
  color: #e2e8eb;
  background-color: #35434b; }
  .RadPanelBar_Glow .rpRootLink,
  .RadPanelBar_Glow .rpHeaderTemplate {
    border-color: #182126;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#303e46, #1c262c); }
  .RadPanelBar_Glow .rpGroup .rpItem {
    padding: 0; }
    .RadPanelBar_Glow .rpGroup .rpItem + .rpItem {
      margin-top: 0; }
    .RadPanelBar_Glow .rpGroup .rpItem.rpFirst, .RadPanelBar_Glow .rpGroup .rpItem.rpLast {
      padding: 0; }
  .RadPanelBar_Glow .rpExpandHandle {
    border-radius: 2px; }
  .RadPanelBar_Glow .rpLink.rpHovered {
    border-color: #4d5c65;
    color: #ffffff;
    background-color: #4d5c65; }
  .RadPanelBar_Glow .rpRootLink.rpHovered {
    border-color: #182126;
    color: white;
    background-color: #12191c;
    background-image: linear-gradient(#2a3237, #12191c); }
  .RadPanelBar_Glow .rpExpandHandle.rpHovered {
    border-color: #3e4a51; }
  .RadPanelBar_Glow .rpSelected .rpExpandHandle.rpHovered {
    border-color: #c87e00; }
  .RadPanelBar_Glow .rpRootLink .rpExpandHandle.rpHovered {
    border-color: #0e1316; }
  .RadPanelBar_Glow .rpRootLink.rpSelected .rpExpandHandle.rpHovered {
    border-color: #020303; }
  .RadPanelBar_Glow .rpLink.rpFocused {
    border-color: #ffa915;
    box-shadow: inset 0 0 5px #ffa915; }
  .RadPanelBar_Glow .rpRootLink.rpFocused {
    border-color: #0c1013;
    box-shadow: inset 0 0 5px #0c1013; }
  .RadPanelBar_Glow .rpLink.rpSelected {
    border-color: #ffa915;
    color: #000000;
    background-color: #ffa915; }
  .RadPanelBar_Glow .rpRootLink.rpSelected {
    border-color: #0c1013;
    color: #ffa915;
    background-color: #161e23;
    background-image: linear-gradient(#1c262c, #161e23); }

