.RadRotator_Glow .rrClipRegion {
  border-color: #1c2327;
  color: #e2e8eb;
  background-color: #35434b; }

.RadRotator_Glow .rrButton {
  border-color: #35434b;
  color: #e2e8eb;
  background-color: #1c262c;
  background-image: linear-gradient(#30414b, #1c262c); }

.RadRotator_Glow .rrButton:hover {
  border-color: #cd8100;
  color: #733700;
  background-color: #cd8100;
  background-image: linear-gradient(#ffa201, #cd8100); }

.RadRotator_Glow .rrButton:focus {
  box-shadow: inset 0 0 5px rgba(205, 129, 0, 0.5); }

.RadRotator_Glow .rrButton:active {
  border-color: #cd8100;
  color: #733700;
  background-color: #ffa915;
  background-image: none; }

.RadRotator_Glow .rrButtonDisabled,
.RadRotator_Glow .rrButtonDisabled:hover,
.RadRotator_Glow .rrButtonDisabled:focus,
.RadRotator_Glow .rrButtonDisabled:active {
  border-color: #35434b;
  color: #e2e8eb;
  background-color: #1c262c;
  background-image: linear-gradient(#30414b, #1c262c);
  box-shadow: none; }

.RadRotator_Glow .rrLoadingSign {
  background: url('../Glow/Common/loading_small.gif') no-repeat center; }

