.RadSpreadsheet_Glow {
  border-color: #1c2327;
  color: #e2e8eb;
  background-color: #35434b; }
  .RadSpreadsheet_Glow .rssToolbarWrapper {
    border-color: #35434b;
    color: #e2e8eb;
    background-color: #1c262c; }
  .RadSpreadsheet_Glow .rssTabstrip .rtsLevel1 {
    border-color: #35434b; }
  .RadSpreadsheet_Glow .rssTabstrip .rtsLevel1 .rtsSelected .rtsLink {
    border-color: #35434b;
    color: #ffa915;
    background: #44525b; }
    .RadSpreadsheet_Glow .rssTabstrip .rtsLevel1 .rtsSelected .rtsLink:before {
      border-color: #ffa915; }
  .RadSpreadsheet_Glow .rssFormulaBar {
    border-color: #35434b;
    color: #fff;
    background-color: #1c262c;
    border-color: #1c2327; }
  .RadSpreadsheet_Glow .k-syntax-startexp {
    font-weight: bold; }
  .RadSpreadsheet_Glow .k-syntax-func {
    font-weight: bold; }
  .RadSpreadsheet_Glow .k-syntax-paren-match {
    background-color: #caf200; }
  .RadSpreadsheet_Glow .k-syntax-bool {
    color: #a9169c; }
  .RadSpreadsheet_Glow .k-syntax-num {
    color: #0099ff; }
  .RadSpreadsheet_Glow .k-syntax-str {
    color: #38b714; }
  .RadSpreadsheet_Glow .k-syntax-ref {
    color: #ff8822; }
  .RadSpreadsheet_Glow .k-syntax-error {
    color: red; }
  .RadSpreadsheet_Glow .rssSheetsbar {
    border-color: #35434b;
    color: #e2e8eb;
    background-color: #1c262c; }
    .RadSpreadsheet_Glow .rssSheetsbar .t-spreadsheet-sheets-bar-add:hover {
      border-color: #cd8100;
      color: #733700;
      background-color: #cd8100;
      background-image: linear-gradient(#ffa201, #cd8100); }
  .RadSpreadsheet_Glow .rssPane {
    border-color: #1c2327;
    color: #e2e8eb;
    background-color: #35434b; }
  .RadSpreadsheet_Glow .rssTopCorner {
    border-color: #182126;
    color: #e2e8eb;
    background-color: #1c262c; }
  .RadSpreadsheet_Glow .rssRowHeader,
  .RadSpreadsheet_Glow .rssColumnHeader {
    border-color: #182126;
    color: #e2e8eb;
    background-color: #1c262c; }
  .RadSpreadsheet_Glow .rssRowHeader > div:hover,
  .RadSpreadsheet_Glow .rssColumnHeader > div:hover {
    border-color: #182126;
    color: white;
    background-color: #12191c; }
  .RadSpreadsheet_Glow .rssRowHeader .k-selection-partial,
  .RadSpreadsheet_Glow .rssColumnHeader .k-selection-partial {
    border-color: #0c1013;
    color: #ffa915;
    background-color: #161e23; }
    .RadSpreadsheet_Glow .rssRowHeader .k-selection-partial:before,
    .RadSpreadsheet_Glow .rssColumnHeader .k-selection-partial:before {
      border-color: #ffa915; }
  .RadSpreadsheet_Glow .rssSelection {
    border-color: #ffa915;
    background-color: rgba(255, 169, 21, 0.2);
    box-shadow: 0 0 0 1px #ffa915; }
    .RadSpreadsheet_Glow .rssSelection:after {
      border-color: #35434b;
      background-color: #ffa915; }
  .RadSpreadsheet_Glow .rssActiveCell {
    border-color: #ffa915;
    background-color: #35434b; }
  .RadSpreadsheet_Glow .k-auto-fill {
    border-color: #ffa915;
    box-shadow: inset 0 0 0 1px #ffa915; }
  .RadSpreadsheet_Glow .k-tooltip {
    border-color: #1c2327;
    color: #e2e8eb;
    background-color: #35434b;
    border-radius: 3px; }
  .RadSpreadsheet_Glow .rssCellEditor {
    color: #e2e8eb;
    background-color: #35434b; }
  .RadSpreadsheet_Glow .k-spreadsheet-editor-button {
    border-color: #35434b;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#30414b, #1c262c); }
    .RadSpreadsheet_Glow .k-spreadsheet-editor-button:hover {
      border-color: #cd8100;
      color: #733700;
      background-color: #cd8100;
      background-image: linear-gradient(#ffa201, #cd8100); }
  .RadSpreadsheet_Glow .k-spreadsheet-merged-cell {
    background-color: #35434b; }
  .RadSpreadsheet_Glow .k-resize-handle,
  .RadSpreadsheet_Glow .k-resize-hint-handle,
  .RadSpreadsheet_Glow .k-resize-hint-marker {
    background-color: #ffa915; }
  .RadSpreadsheet_Glow .k-filter-range {
    border-color: #ffa915; }
  .RadSpreadsheet_Glow .k-spreadsheet-filter {
    border-color: #35434b;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#30414b, #1c262c);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #35434b; }
  .RadSpreadsheet_Glow .k-spreadsheet-filter:hover {
    border-color: #cd8100;
    color: #733700;
    background-color: #cd8100;
    background-image: linear-gradient(#ffa201, #cd8100);
    box-shadow: inset 0 0 0 1px #cd8100; }

.rssSkin .t-button,
.rssSkin .rssButton {
  border-color: #35434b;
  color: #e2e8eb;
  background-color: #1c262c;
  background-image: linear-gradient(#30414b, #1c262c);
  border-radius: 3px; }

.rssSkin .t-button:hover,
.rssSkin .t-button.t-state-hover,
.rssSkin .rssButton.rssHovered {
  border-color: #cd8100;
  color: #733700;
  background-color: #cd8100;
  background-image: linear-gradient(#ffa201, #cd8100); }

.rssSkin .rssButton.rssPrimary {
  border-color: #dc9314;
  color: #733700;
  background-color: #dc9314;
  background-image: linear-gradient(#ecaa37, #dc9314); }

.rssSkin .rssButton.rssPrimary.rssHovered {
  border-color: #cd8100;
  color: #733700;
  background-color: #cd8100;
  background-image: linear-gradient(#ffa201, #cd8100); }

.rssSkin .t-tabstrip .t-state-hover {
  border-color: #182126;
  color: white;
  background-color: #12191c;
  background-image: linear-gradient(#2a3237, #12191c); }

.rssSkin .t-tabstrip-bottom > .t-tabstrip-items .t-item {
  border-radius: 0; }

.rssSkin .t-tabstrip .t-state-active {
  border-color: #0c1013;
  color: #ffa915;
  background-color: #161e23;
  background-image: linear-gradient(#1c262c, #161e23);
  background-image: none;
  position: relative; }
  .rssSkin .t-tabstrip .t-state-active:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 4px solid #ffa915; }

.rssSkin .t-spreadsheet-sheets-remove.t-state-hover {
  color: #d51923; }

.rssSkin .rssInput {
  border-color: #35434b;
  color: #fff;
  background-color: #1c262c; }

.rssSkin .rssMenu .rssHovered > .rssLink {
  border-color: #4d5c65;
  color: #ffffff;
  background-color: #4d5c65; }

.rssSkin .rssMenu .rssSelected > .rssLink {
  border-color: #ffa915;
  color: #000000;
  background-color: #ffa915; }

.rssSkin .rssCollapsibleList .rssHovered > .rssLink {
  border-color: #4d5c65;
  color: #ffffff;
  background-color: #4d5c65; }

.rssSkin .rssCollapsibleList .rssExpanded > .rssLink {
  border-color: transparent;
  color: inherit;
  background: none; }

.rssSkin .rssCollapsibleList .rssDetails {
  margin-left: 24px; }

.rssPopup {
  border-color: #20282d;
  color: #e2e8eb;
  background-color: #242e33;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #20282d; }
  .rssPopup .rssFilterMenu {
    padding: 0; }
  .rssPopup .rssFilterMenu:before {
    display: none; }
  .rssPopup .rssSeparator {
    margin-left: 0;
    border-color: #0f1315 #394851 #394851 #0f1315; }

.rssWindow {
  border-color: #182126;
  color: #e2e8eb;
  background-color: #1c262c;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 0 5px #182126; }
  .rssWindow .rssWindowTitlebar {
    border-color: #182126;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#303e46, #1c262c);
    margin: 0;
    border-radius: 5px 5px 0 0; }
  .rssWindow .rssWindowAction {
    border-color: transparent;
    border-radius: 3px; }
  .rssWindow .rssWindowAction:hover {
    border-color: #cd8100;
    color: #733700;
    background-color: #cd8100;
    background-image: linear-gradient(#ffa201, #cd8100); }
  .rssWindow .rssWindowContent {
    border-color: #1c2327;
    color: #e2e8eb;
    background-color: #35434b;
    border: 0; }
  .rssWindow .rssWindowTabstrip {
    background-color: #1c262c; }
  .rssWindow .rssWindowTabstrip.rssTabstrip .rtsLevel1 .rtsSelected .rtsLink {
    background-color: #35434b;
    background-image: linear-gradient(#161e23, #35434b);
    border-bottom-color: #35434b; }
  .rssWindow .RadListBox .rlbGroup {
    border-color: #35434b; }
  .rssWindow .rssButtons {
    border-color: #182126; }
  .rssWindow hr {
    border-color: #1c2327; }

.rssFormulaList {
  border-color: #20282d;
  color: #e2e8eb;
  background-color: #242e33; }
  .rssFormulaList .k-item.k-state-hover {
    color: #ffffff;
    background-color: #4d5c65; }
  .rssFormulaList .k-item.k-state-focused {
    color: #000000;
    background-color: #ffa915; }

