.RadToolBar_Glow {
  border-color: #35434b;
  color: #e2e8eb;
  background-color: #2e3b43;
  background-image: linear-gradient(#44525b, #2e3b43); }
  .RadToolBar_Glow .rtbSeparator {
    border-color: rgba(53, 67, 75, 0.9) rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) rgba(53, 67, 75, 0.9); }
  .RadToolBar_Glow .rtbButton {
    border-radius: 3px; }
  .RadToolBar_Glow .rtbMore {
    border-color: #35434b;
    color: #e2e8eb;
    background-color: #2e3b43;
    background-image: linear-gradient(#44525b, #2e3b43); }
  .RadToolBar_Glow .rtbFocused .rtbButton,
  .RadToolBar_Glow .rtbFocused.rtbMore {
    border-color: rgba(205, 129, 0, 0.5);
    box-shadow: inset 0 0 0.3em rgba(205, 129, 0, 0.5); }
  .RadToolBar_Glow .rtbHovered .rtbButton:not(.rtbSplitButton) {
    border-color: #cd8100;
    color: #733700;
    background-color: #cd8100;
    background-image: linear-gradient(#ffa201, #cd8100); }
  .RadToolBar_Glow .rtbHovered .rtbSplitButton,
  .RadToolBar_Glow .rtbHovered .rtbArrow {
    border-color: #cd8100; }
  .RadToolBar_Glow .rtbSplitButton .rtbHovered.rtbSplBtnActivator, .RadToolBar_Glow .rtbSplitButton .rtbHovered.rtbArrow {
    border-color: #cd8100;
    color: #733700;
    background-color: #cd8100;
    background-image: linear-gradient(#ffa201, #cd8100); }
  .RadToolBar_Glow .rtbChecked .rtbButton,
  .RadToolBar_Glow .rtbExpanded .rtbButton,
  .RadToolBar_Glow .rtbExpanded .rtbButton.rtbMenuButton,
  .RadToolBar_Glow .rtbExpanded.rtbMore {
    border-color: #cd8100;
    color: #733700;
    background-color: #ffa915;
    background-image: none; }
  .RadToolBar_Glow .rtbExpanded .rtbButton.rtbSplitButton .rtbSplBtnActivator,
  .RadToolBar_Glow .rtbExpanded .rtbButton.rtbSplitButton .rtbArrow {
    border-color: #cd8100;
    color: #733700;
    background-color: #ffa915;
    background-image: none; }
  .RadToolBar_Glow .rtbPressed .rtbButton:not(.rtbSplitButton) {
    border-color: #cd8100;
    color: #733700;
    background-color: #ffa915;
    background-image: none; }
  .RadToolBar_Glow .rtbPressed .rtbSplitButton,
  .RadToolBar_Glow .rtbPressed .rtbArrow {
    border-color: #cd8100; }
  .RadToolBar_Glow .rtbSplitButton .rtbPressed.rtbSplBtnActivator, .RadToolBar_Glow .rtbSplitButton .rtbPressed.rtbArrow {
    border-color: #cd8100;
    color: #733700;
    background-color: #ffa915;
    background-image: none; }

.rtbPopup_Glow {
  border-color: #20282d;
  color: #e2e8eb;
  background-color: #242e33; }
  .rtbPopup_Glow .rtbMenu,
  .rtbPopup_Glow .rtbUL {
    padding: 0; }
  .rtbPopup_Glow .rtbSeparator {
    border-color: #0f1315 #394851 #394851 #0f1315; }
  .rtbPopup_Glow .rtbFocused > .rtbLink {
    border-color: rgba(255, 169, 21, 0.5);
    box-shadow: inset 0 0 0.3em rgba(255, 169, 21, 0.5); }
  .rtbPopup_Glow .rtbFocused > .rtbInner {
    border-color: rgba(205, 129, 0, 0.5);
    box-shadow: inset 0 0 0.3em rgba(205, 129, 0, 0.5); }
    .rtbPopup_Glow .rtbFocused > .rtbInner .rtbArrow {
      border-left-color: rgba(205, 129, 0, 0.5); }
  .rtbPopup_Glow .rtbHovered > .rtbLink {
    border-color: #4d5c65;
    color: #ffffff;
    background-color: #4d5c65; }
  .rtbPopup_Glow .rtbHovered:not(.rtbSplitItem) > .rtbInner {
    border-color: #cd8100;
    color: #733700;
    background-color: #cd8100;
    background-image: linear-gradient(#ffa201, #cd8100); }
  .rtbPopup_Glow .rtbHovered.rtbSplitItem > .rtbInner,
  .rtbPopup_Glow .rtbHovered > .rtbInner .rtbArrow {
    border-color: #cd8100; }
  .rtbPopup_Glow .rtbSplitItem .rtbHovered.rtbSplBtnActivator, .rtbPopup_Glow .rtbSplitItem .rtbHovered.rtbArrow {
    border-color: #cd8100;
    color: #733700;
    background-color: #cd8100;
    background-image: linear-gradient(#ffa201, #cd8100); }
  .rtbPopup_Glow .rtbSelected > .rtbLink {
    border-color: #ffa915;
    color: #000000;
    background-color: #ffa915; }
  .rtbPopup_Glow .rtbSelected > .rtbInner,
  .rtbPopup_Glow .rtbChecked > .rtbInner,
  .rtbPopup_Glow .rtbExpanded > .rtbInner,
  .rtbPopup_Glow .rtbExpanded > .rtbInner.rtbButton {
    border-color: #cd8100;
    color: #733700;
    background-color: #ffa915;
    background-image: none; }
    .rtbPopup_Glow .rtbSelected > .rtbInner .rtbArrow,
    .rtbPopup_Glow .rtbChecked > .rtbInner .rtbArrow,
    .rtbPopup_Glow .rtbExpanded > .rtbInner .rtbArrow,
    .rtbPopup_Glow .rtbExpanded > .rtbInner.rtbButton .rtbArrow {
      border-left-color: #cd8100; }
  .rtbPopup_Glow .rtbExpanded.rtbSplitItem .rtbInner .rtbSplBtnActivator,
  .rtbPopup_Glow .rtbExpanded.rtbSplitItem .rtbInner .rtbArrow {
    border-color: #cd8100;
    color: #733700;
    background-color: #ffa915;
    background-image: none; }
  .rtbPopup_Glow .rtbPressed:not(.rtbSplitItem) > .rtbInner {
    border-color: #cd8100;
    color: #733700;
    background-color: #ffa915;
    background-image: none; }
  .rtbPopup_Glow .rtbExpanded .rtbButton.rtbMenuButton,
  .rtbPopup_Glow .rtbPressed.rtbSplitItem > .rtbInner,
  .rtbPopup_Glow .rtbPressed > .rtbInner .rtbArrow {
    border-color: #cd8100; }
  .rtbPopup_Glow .rtbSplitItem .rtbPressed.rtbSplBtnActivator, .rtbPopup_Glow .rtbSplitItem .rtbPressed.rtbArrow {
    border-color: #cd8100;
    color: #733700;
    background-color: #ffa915;
    background-image: none; }
  .rtbPopup_Glow .rtbMenu:before {
    display: none; }
  .rtbPopup_Glow.rtbShadows {
    box-shadow: 3px 3px 3px #20282d; }

