.RadDataPager_Web20 {
  border-color: #6788be;
  color: #333333;
  background-color: #e7f1ff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadDataPager_Web20 .rdpPageFirst,
  .RadDataPager_Web20 .rdpPagePrev,
  .RadDataPager_Web20 .rdpPageNext,
  .RadDataPager_Web20 .rdpPageLast {
    background-image: url('Grid/sprite.gif'); }
  .RadDataPager_Web20 .rdpPagerButton {
    border-color: #00002a #00002a #000;
    background: #466abb repeat-x 0 -1550px url('Grid/sprite.gif');
    color: #fff; }
  .RadDataPager_Web20 .rdpNumPart a,
  .RadDataPager_Web20 .rdpNumPart a span {
    background-image: url('Grid/sprite.gif'); }
  .RadDataPager_Web20 .rdpNumPart a:hover {
    color: #0f3789; }
  .RadDataPager_Web20 .rdpNumPart a.rdpCurrentPage {
    color: #0d202b; }

