.RadHtmlChart_Web20.k-chart .k-navigator-hint .k-tooltip {
  color: #333333; }

.k-marquee-color {
  border-color: #12398a;
  color: #ffffff;
  background-color: #12398a; }

.k-tooltip.k-chart-tooltip.k-chart-shared-tooltip {
  border-color: #6788be;
  color: #333333;
  background-color: #e7f1ff; }
