.RadRotator_Web20 .rrClipRegion {
  border-color: #6788be;
  color: #333333;
  background-color: #ffffff; }

.RadRotator_Web20 .rrButton {
  background-image: url('Rotator/RotatorButtons.gif'); }

.RadRotator_Web20 .rrLoadingSign {
  background: url('Common/loading_small.gif') no-repeat center; }

