.RadComboBox_Black {
  color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBox_Black .rcbInputCell,
  .RadComboBox_Black .rcbArrowCell {
    background-image: url('Common/radFormSprite.png'); }
  .RadComboBox_Black .rcbInput {
    font-size: 12px;
    line-height: 16px; }
  .RadComboBox_Black .rcbHovered .rcbInput {
    color: #ffffff; }
  .RadComboBox_Black .rcbFocused .rcbInput {
    color: #ffffff; }
  .RadComboBox_Black .rcbReadOnly .rcbInput {
    color: #ffffff; }
  .RadComboBox_Black .rcbHovered .rcbReadOnly .rcbInput {
    color: #ffffff; }
  .RadComboBox_Black .rcbFocused .rcbReadOnly .rcbInput {
    color: #9eda29; }

.RadComboBoxDropDown_Black {
  border-color: #131313;
  color: #ffffff;
  background-color: #464646;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBoxDropDown_Black .rcbSeparator {
    color: #ffffff;
    background-color: #1b1b1b; }
  .RadComboBoxDropDown_Black .rcbHovered {
    color: #ffffff;
    background-color: black; }
  .RadComboBoxDropDown_Black .rcbSelected {
    color: #9eda29;
    background-color: #202020; }
  .RadComboBoxDropDown_Black .rcbLoading {
    color: #ffffff;
    background-color: black; }
  .RadComboBoxDropDown_Black .rcbItem em {
    color: #ffffff;
    background-color: black; }

