.RadDock_Vista {
  border-color: #aec5d1;
  color: #333333;
  background-color: #ffffff; }
  .RadDock_Vista .rdTitleWrapper {
    border-color: #74b6da;
    color: #000000;
    background-color: #a6d9f4;
    background-image: linear-gradient(#e5f4fd, #d8effc 50%, #bbe5fd 50%, #a6d9f4);
    border-color: inherit; }
  .RadDock_Vista .rdCommandButton:hover {
    border-color: #5094b9;
    color: #000000;
    background-color: #abdcf7;
    background-image: linear-gradient(#e8f5fd, #dbf1fc 50%, #bee6fd 50%, #abdcf7);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.78); }

