.RadSpreadsheet_Vista {
  border-color: #aec5d1;
  color: #333333;
  background-color: #ffffff; }
  .RadSpreadsheet_Vista .rssToolbarWrapper {
    border-color: #aec5d1;
    color: #333333;
    background-color: #eff7fc; }
  .RadSpreadsheet_Vista .rssTabstrip .rtsLevel1 {
    border-color: #131c24; }
  .RadSpreadsheet_Vista .rssTabstrip .rtsLevel1 .rtsSelected .rtsLink {
    border-color: #131c24;
    color: #ffffff;
    background-color: #83abc0; }
  .RadSpreadsheet_Vista .rssFormulaBar {
    border-color: #acacac;
    color: #333333;
    background-color: #ffffff; }
  .RadSpreadsheet_Vista .k-syntax-startexp {
    font-weight: bold; }
  .RadSpreadsheet_Vista .k-syntax-func {
    font-weight: bold; }
  .RadSpreadsheet_Vista .k-syntax-paren-match {
    background-color: #caf200; }
  .RadSpreadsheet_Vista .k-syntax-bool {
    color: #a9169c; }
  .RadSpreadsheet_Vista .k-syntax-num {
    color: #0099ff; }
  .RadSpreadsheet_Vista .k-syntax-str {
    color: #38b714; }
  .RadSpreadsheet_Vista .k-syntax-ref {
    color: #ff8822; }
  .RadSpreadsheet_Vista .k-syntax-error {
    color: red; }
  .RadSpreadsheet_Vista .rssSheetsbar {
    border-color: #aec5d1;
    color: #333333;
    background-color: #eff7fc; }
    .RadSpreadsheet_Vista .rssSheetsbar .t-spreadsheet-sheets-bar-add:hover {
      border-color: #5094b9;
      color: #000000;
      background-color: #abdcf7;
      background-image: linear-gradient(#e8f5fd, #dbf1fc 50%, #bee6fd 50%, #abdcf7);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.78); }
  .RadSpreadsheet_Vista .rssPane {
    border-color: #aec5d1;
    color: #333333;
    background-color: #ffffff; }
  .RadSpreadsheet_Vista .k-spreadsheet-vaxis,
  .RadSpreadsheet_Vista .k-spreadsheet-haxis {
    border-color: #aec5d1; }
  .RadSpreadsheet_Vista .rssTopCorner {
    border-color: #74b6da;
    color: #000000;
    background-color: #a6d9f4; }
  .RadSpreadsheet_Vista .rssRowHeader,
  .RadSpreadsheet_Vista .rssColumnHeader {
    border-color: #74b6da;
    color: #000000;
    background-color: #a6d9f4; }
  .RadSpreadsheet_Vista .rssRowHeader > div:hover,
  .RadSpreadsheet_Vista .rssColumnHeader > div:hover {
    border-color: #74b6da;
    color: #000000;
    background-color: #91cbea; }
  .RadSpreadsheet_Vista .rssRowHeader .k-selection-partial,
  .RadSpreadsheet_Vista .rssColumnHeader .k-selection-partial {
    border-color: #539bc2;
    color: #000000;
    background-color: #91cbea; }
    .RadSpreadsheet_Vista .rssRowHeader .k-selection-partial:before,
    .RadSpreadsheet_Vista .rssColumnHeader .k-selection-partial:before {
      border-color: #3c7fb1; }
  .RadSpreadsheet_Vista .rssSelection {
    border-color: #3c7fb1;
    background-color: rgba(60, 127, 177, 0.2);
    box-shadow: 0 0 0 1px #3c7fb1; }
    .RadSpreadsheet_Vista .rssSelection:after {
      border-color: #ffffff;
      background-color: #3c7fb1; }
  .RadSpreadsheet_Vista .rssActiveCell {
    border-color: #3c7fb1;
    background-color: #ffffff; }
  .RadSpreadsheet_Vista .k-auto-fill {
    border-color: #3c7fb1;
    box-shadow: inset 0 0 0 1px #3c7fb1; }
  .RadSpreadsheet_Vista .k-tooltip {
    border-color: #aec5d1;
    color: #333333;
    background-color: #ffffff;
    border-radius: 3px; }
  .RadSpreadsheet_Vista .rssCellEditor {
    color: #333333;
    background-color: #ffffff; }
  .RadSpreadsheet_Vista .k-spreadsheet-editor-button {
    border-color: #acacac;
    color: #000000;
    background-color: #d2d2d2;
    background-image: linear-gradient(#f3f3f3, #ececec 50%, #dddddd 50%, #d2d2d2);
    box-shadow: inset 0 0 0 1px #f3f3f3; }
    .RadSpreadsheet_Vista .k-spreadsheet-editor-button:hover {
      border-color: #5094b9;
      color: #000000;
      background-color: #abdcf7;
      background-image: linear-gradient(#e8f5fd, #dbf1fc 50%, #bee6fd 50%, #abdcf7);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.78); }
  .RadSpreadsheet_Vista .k-spreadsheet-merged-cell {
    background-color: #ffffff; }
  .RadSpreadsheet_Vista .k-resize-handle,
  .RadSpreadsheet_Vista .k-resize-hint-handle,
  .RadSpreadsheet_Vista .k-resize-hint-marker {
    background-color: #2c628b; }
  .RadSpreadsheet_Vista .k-filter-range {
    border-color: #2c628b; }
  .RadSpreadsheet_Vista .k-spreadsheet-filter {
    border-color: #acacac;
    color: #000000;
    background-color: #d2d2d2;
    background-image: linear-gradient(#f3f3f3, #ececec 50%, #dddddd 50%, #d2d2d2);
    box-shadow: inset 0 0 0 1px #f3f3f3;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #acacac; }
  .RadSpreadsheet_Vista .k-spreadsheet-filter:hover {
    border-color: #5094b9;
    color: #000000;
    background-color: #abdcf7;
    background-image: linear-gradient(#e8f5fd, #dbf1fc 50%, #bee6fd 50%, #abdcf7);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.78);
    box-shadow: inset 0 0 0 1px #5094b9; }

.rssSkin .t-button,
.rssSkin .rssButton {
  border-color: #acacac;
  color: #000000;
  background-color: #d2d2d2;
  background-image: linear-gradient(#f3f3f3, #ececec 50%, #dddddd 50%, #d2d2d2);
  box-shadow: inset 0 0 0 1px #f3f3f3;
  border-radius: 3px; }

.rssSkin .t-button:hover,
.rssSkin .t-button.t-state-hover,
.rssSkin .rssButton.rssHovered {
  border-color: #5094b9;
  color: #000000;
  background-color: #abdcf7;
  background-image: linear-gradient(#e8f5fd, #dbf1fc 50%, #bee6fd 50%, #abdcf7);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.78); }

.rssSkin .rssButton.rssPrimary {
  border-color: #3d7899;
  color: #000000;
  background-color: #d2d2d2;
  background-image: linear-gradient(#e5eff4, #d8eaf4 50%, #c2e2f4 50%, #b0d8ee);
  box-shadow: inset 0 0 3px 1px #41d7fc; }

.rssSkin .rssButton.rssPrimary.rssHovered {
  border-color: #5094b9;
  color: #000000;
  background-color: #abdcf7;
  background-image: linear-gradient(#e8f5fd, #dbf1fc 50%, #bee6fd 50%, #abdcf7);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.78); }

.rssSkin .t-tabstrip .t-state-hover {
  border-color: #74b6da;
  color: #000000;
  background-color: #91cbea;
  background-image: linear-gradient(#ecf7fe, #e2f3fd 50%, #ccecfe 50%, #91cbea);
  border-top-color: #aec5d1; }

.rssSkin .t-tabstrip .t-state-active {
  border-color: #aec5d1;
  color: #333333;
  background-color: #ffffff;
  background-image: none; }

.rssSkin .t-tabstrip-bottom > .t-tabstrip-items .t-item {
  border-radius: 0; }

.rssSkin .t-spreadsheet-sheets-remove.t-state-hover {
  color: #b32d34; }

.rssSkin .rssInput {
  border-color: #acacac;
  color: #333333;
  background-color: #ffffff; }

.rssSkin .rssMenu .rssLink {
  border-radius: 3px; }

.rssSkin .rssMenu .rssHovered > .rssLink {
  border-color: #9dd9f8;
  color: #000000;
  background-color: #d6effc;
  background-image: linear-gradient(#f1f8fd, #d6effc); }

.rssSkin .rssMenu .rssSelected > .rssLink {
  border-color: #92d0f1;
  color: #000000;
  background-color: #a9daf4;
  background-image: linear-gradient(#e3f4fc, #a9daf4); }

.rssSkin .rssCollapsibleList .rssLink {
  border-radius: 3px; }

.rssSkin .rssCollapsibleList .rssHovered > .rssLink {
  border-color: #9dd9f8;
  color: #000000;
  background-color: #d6effc;
  background-image: linear-gradient(#f1f8fd, #d6effc); }

.rssSkin .rssCollapsibleList .rssExpanded > .rssLink {
  border-color: transparent;
  color: inherit;
  background: none; }

.rssPopup {
  border-color: #aec5d1;
  color: #333333;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #aec5d1; }
  .rssPopup .rssFilterMenu:before {
    border-color: white;
    background: white; }
  .rssPopup .rssSeparator {
    border-color: #e6e6e6 white white #e6e6e6; }

.rssWindow {
  border-color: #74b6da;
  color: #000000;
  background-color: #a6d9f4;
  border-radius: 5px;
  box-shadow: 0 0 5px #74b6da; }
  .rssWindow .rssWindowTitlebar {
    border-color: #74b6da;
    color: #000000;
    background-color: #a6d9f4;
    background-image: linear-gradient(#e5f4fd, #d8effc 50%, #bbe5fd 50%, #a6d9f4);
    border-radius: 5px 5px 0 0; }
  .rssWindow .rssWindowAction {
    border-color: transparent; }
  .rssWindow .rssWindowAction:hover {
    border-color: #5094b9;
    color: #000000;
    background-color: #abdcf7;
    background-image: linear-gradient(#e8f5fd, #dbf1fc 50%, #bee6fd 50%, #abdcf7);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.78);
    border-radius: 3px; }
  .rssWindow .rssWindowContent {
    border-color: #aec5d1;
    color: #333333;
    background-color: #ffffff; }
  .rssWindow .rssWindowTabstrip {
    background-color: #eff7fc; }
    .rssWindow .rssWindowTabstrip .rtsLevel1 .rtsSelected .rtsLink {
      color: #333333;
      background: #ffffff; }
  .rssWindow hr {
    border-color: #aec5d1; }

.rssFormulaList {
  border-color: #aec5d1;
  color: #333333;
  background-color: #ffffff; }
  .rssFormulaList .k-item.k-state-hover {
    color: #000000;
    background-color: #d6effc; }
  .rssFormulaList .k-item.k-state-focused {
    color: #000000;
    background-color: #a9daf4; }

