.RadListBox_Material {
  color: #455A64;
  font-family: "Roboto", "Noto", sans-serif; }
  .RadListBox_Material .rlbButton {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #f4f7f8;
    padding: 8px;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
  .RadListBox_Material .rlbButtonIcon {
    font-size: 18px;
    font-family: "Material Icons"; }
  .RadListBox_Material .rlbIconMoveUp:before {
    content: "\e5c7"; }
  .RadListBox_Material .rlbIconMoveDown:before {
    content: "\e5c5"; }
  .RadListBox_Material .rlbIconTransferLeft:before {
    content: "\e045"; }
  .RadListBox_Material .rlbIconTransferRight:before {
    content: "\e044"; }
  .RadListBox_Material .rlbIconTransferUp:before {
    content: "\e045";
    transform: rotate(90deg); }
  .RadListBox_Material .rlbIconTransferDown:before {
    content: "\e044";
    transform: rotate(90deg); }
  .RadListBox_Material .rlbIconTransferAllLeft:before {
    content: "\e020"; }
  .RadListBox_Material .rlbIconTransferAllRight:before {
    content: "\e01f"; }
  .RadListBox_Material .rlbIconTransferAllUp:before {
    content: "\e020";
    transform: rotate(90deg); }
  .RadListBox_Material .rlbIconTransferAllDown:before {
    content: "\e01f";
    transform: rotate(90deg); }
  .RadListBox_Material .rlbIconDelete:before {
    content: "\e5cd"; }
  .RadListBox_Material .rlbButtonAreaTop {
    margin-bottom: 8px; }
  .RadListBox_Material .rlbButtonAreaBottom {
    margin-top: 8px; }
  .RadListBox_Material .rlbGroup,
  .RadListBox_Material .rlbTemplateContent {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #ffffff; }
  .RadListBox_Material .rlbHeader,
  .RadListBox_Material .rlbFooter {
    padding: 6px 13px; }
  .RadListBox_Material .rlbCheckAllItems {
    padding: 6px 13px; }
  .RadListBox_Material .rlbItem {
    padding: 6px 13px; }
  .RadListBox_Material .rlbButton:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2); }
  .RadListBox_Material .rlbHovered.rlbItem, .RadListBox_Material .rlbHighlight {
    color: #455A64;
    background-color: #ECEFF1; }
  .RadListBox_Material .rlbHovered.rlbButton {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1; }
  .RadListBox_Material .rlbActive.rlbButton {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #CFD8DC;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2); }
  .RadListBox_Material .rlbSelected.rlbItem {
    color: #03A9F4;
    background-color: transparent; }
  .RadListBox_Material .rlbDropClue {
    font-size: 18px;
    font-family: "Material Icons"; }
    .RadListBox_Material .rlbDropClue:before {
      content: "\e5c8"; }
  .RadListBox_Material .rlbDropClueAbove {
    border-top-color: #cfd8dc; }
  .RadListBox_Material .rlbDropClueBelow {
    border-bottom-color: #cfd8dc; }
  .RadListBox_Material.rlbDragClue {
    background: #ffffff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2); }
    .RadListBox_Material.rlbDragClue .rlbItem {
      border-color: transparent;
      color: inherit;
      background: none; }

.RadListBox_Material.RadListBoxButtonAreaTop.rlbFixedHeight {
  padding: 32px 0 1.42857143em; }
  .RadListBox_Material.RadListBoxButtonAreaTop.rlbFixedHeight .rlbButtonAreaTop {
    margin-top: -32px; }

.RadListBox_Material.RadListBoxButtonAreaBottom.rlbFixedHeight {
  padding: 32px 0 1.42857143em; }
  .RadListBox_Material.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbGroup,
  .RadListBox_Material.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbTemplate {
    margin-top: -32px; }

