.RadTreeView_Material {
  color: #455A64;
  font-family: "Roboto", "Noto", sans-serif; }
  .RadTreeView_Material .rtUL {
    padding: 3px; }
  .RadTreeView_Material .rtLI {
    padding: 1px 0 1px 30px; }
  .RadTreeView_Material .rtOut {
    position: relative; }
  .RadTreeView_Material .rtIn {
    border: 0;
    border-radius: 2px;
    padding: 6px; }
  .RadTreeView_Material .rtChk {
    margin: 0 2px 0 6px; }
  .RadTreeView_Material .rtChkTristate {
    font-size: 18px;
    font-family: "Material Icons";
    margin-right: 0; }
    .RadTreeView_Material .rtChkTristate:before {
      margin-left: -3px; }
  .RadTreeView_Material .rtLoadingIcon {
    background-image: url('../Material/Common/loading_small.gif'); }
  .RadTreeView_Material .rtPlus,
  .RadTreeView_Material .rtMinus {
    display: inline-block;
    width: 36px;
    height: 36px;
    left: -28px;
    top: 0.7142857142em;
    margin-top: -10px;
    color: #607D8B;
    border-radius: 18px; }
    .RadTreeView_Material .rtPlus:before, .RadTreeView_Material .rtPlus:before,
    .RadTreeView_Material .rtMinus:before,
    .RadTreeView_Material .rtMinus:before {
      font-size: 18px;
      font-family: "Material Icons"; }
  .RadTreeView_Material .rtPlus:before {
    content: "\e315"; }
  .RadTreeView_Material .rtMinus {
    color: #263238; }
    .RadTreeView_Material .rtMinus:before {
      content: "\e313"; }
  .RadTreeView_Material .rtLines .rtLI:before {
    left: 19px; }
  .RadTreeView_Material .rtLines .rtFirst:before {
    margin-top: 7px; }
  .RadTreeView_Material .rtLines .rtLast:before {
    padding-top: 7px; }
  .RadTreeView_Material .rtLines .rtOut:before {
    top: 7px;
    left: -10px; }
  .RadTreeView_Material .rtHover .rtIn {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1; }
  .RadTreeView_Material .rtPlusHover,
  .RadTreeView_Material .rtMinusHover {
    color: #263238; }
  .RadTreeView_Material .rtChkTristate:hover {
    color: #263238; }
  .RadTreeView_Material .rtSelected .rtIn {
    border-color: transparent;
    color: #03A9F4;
    background-color: transparent; }
  .RadTreeView_Material .p-i-checkbox-checked {
    color: #03A9F4; }
    .RadTreeView_Material .p-i-checkbox-checked:before {
      content: "\e834"; }
  .RadTreeView_Material .p-i-checkbox:before {
    content: "\e835"; }
  .RadTreeView_Material .p-i-tri-state-indeterminate {
    color: #03A9F4; }
    .RadTreeView_Material .p-i-tri-state-indeterminate:before {
      content: "\e909"; }

.RadTreeView_Material_rtl .rtLI {
  padding-right: 30px;
  padding-left: 1px; }

.RadTreeView_Material_rtl .rtChk {
  margin: 0 6px 0 3px; }

.RadTreeView_Material_rtl .rtChecked:before,
.RadTreeView_Material_rtl .rtUnchecked:before,
.RadTreeView_Material_rtl .rtIndeterminate:before {
  margin-right: -3px;
  margin-left: 0; }

.RadTreeView_Material_rtl .rtPlus,
.RadTreeView_Material_rtl .rtMinus {
  left: auto;
  right: -28px; }

.RadTreeView_Material_rtl .rtPlus:before {
  content: "\e314"; }

.RadTreeView_Material_rtl .rtLines .rtLI:before {
  left: auto;
  right: 19px; }

.RadTreeView_Material_rtl .rtLines .rtOut:before {
  left: auto;
  right: -10px; }

