.RadDropDownTree_Glow {
  color: #e2e8eb;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif; }
  .RadDropDownTree_Glow .rddtInner {
    background-image: url('Common/radPrimaryGradientButtonSprite.png');
    border-color: #35434b;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#30414b, #1c262c); }
  .RadDropDownTree_Glow .rddtFakeInput {
    height: 22px;
    line-height: 22px; }
  .RadDropDownTree_Glow .rddtClearButton {
    background-position: -2px -84px; }
  .RadDropDownTree_Glow .rddtIcon {
    width: 24px;
    height: 26px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -13px -62px; }
  .RadDropDownTree_Glow .rddtHovered {
    border-color: #cd8100;
    color: #733700;
    background-color: #cd8100;
    background-image: linear-gradient(#ffa201, #cd8100); }
    .RadDropDownTree_Glow .rddtHovered .rddtClearButton {
      background-position: -22px -84px; }
    .RadDropDownTree_Glow .rddtHovered .rddtClearButtonHovered {
      background-position: -62px -84px; }
    .RadDropDownTree_Glow .rddtHovered .rddtIcon {
      background-position: -113px -62px; }
  .RadDropDownTree_Glow .rddtFocused {
    border-color: #cd8100;
    color: #733700;
    background-color: #ffa915;
    background-image: none; }
    .RadDropDownTree_Glow .rddtFocused .rddtClearButton {
      background-position: -42px -84px; }
    .RadDropDownTree_Glow .rddtFocused .rddtClearButtonHovered {
      background-position: -82px -84px; }
    .RadDropDownTree_Glow .rddtFocused .rddtIcon {
      background-position: -113px -62px; }

.rddtPopup_Glow {
  border-color: #20282d;
  color: #e2e8eb;
  background-color: #242e33;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5; }
  .rddtPopup_Glow .rddtFilter {
    background-color: #1c262c; }
  .rddtPopup_Glow .rddtFilterInput {
    border-color: #35434b;
    color: #fff;
    background-color: #1c262c; }
  .rddtPopup_Glow .RadTreeView em {
    color: #ffffff;
    background-color: #4d5c65; }
  .rddtPopup_Glow .rddtFilterInput.rddtHovered {
    border-color: #cd8100;
    color: #fff;
    background-color: #1c262c; }
  .rddtPopup_Glow .rddtFilterInput.rddtFocused {
    border-color: #cd8100;
    color: #fff;
    background-color: #1c262c; }

