.RadToolBar_Glow {
  color: #e2e8eb;
  background-color: #1c262c;
  font-size: 13px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif; }
  .RadToolBar_Glow .rtbOuter {
    padding: 5px;
    border-color: #35434b;
    background-color: #1c262c;
    background-image: linear-gradient(#30414b, #1c262c);
    *zoom: 1; }
  .RadToolBar_Glow .rtbWrap {
    padding: 3px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    *color: #e2e8eb;
    background-image: url('Common/radPrimaryGradientButtonSprite.png');
    background-position: 0 0;
    background-repeat: repeat-x; }
  .RadToolBar_Glow .rtbOut,
  .RadToolBar_Glow .rtbMid,
  .RadToolBar_Glow .rtbIn {
    padding: 0; }
  .RadToolBar_Glow .rtbText,
  .RadToolBar_Glow .templateText {
    padding: 0 5px; }
  .RadToolBar_Glow .rtbChoiceArrow {
    width: 18px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -16px -65px; }
  .RadToolBar_Glow .rtbItemClicked .rtbChoiceArrow,
  .RadToolBar_Glow .rtbSplBtnExpanded .rtbChoiceArrow,
  .RadToolBar_Glow .rtbDropDownExpanded .rtbChoiceArrow {
    background-position: -116px -65px; }
  .RadToolBar_Glow .rtbItemHovered .rtbWrap {
    border-color: #cd8100;
    color: #733700;
    background-color: #cd8100; }
  .RadToolBar_Glow .rtbChecked .rtbWrap,
  .RadToolBar_Glow .rtbItemClicked .rtbWrap {
    border-color: #cd8100;
    color: #733700;
    background-color: #ffa915; }
  .RadToolBar_Glow .rtbSplBtnExpanded .rtbWrap,
  .RadToolBar_Glow .rtbDropDownExpanded .rtbWrap {
    border-color: #cd8100;
    color: #733700;
    background-color: #ffa915; }
  .RadToolBar_Glow .rtbWrap {
    background-position: 0 1000px; }
  .RadToolBar_Glow .rtbItemHovered .rtbWrap,
  .RadToolBar_Glow .rtbItemFocused .rtbWrap {
    background-position: 0 -1000px; }
  .RadToolBar_Glow .rtbItemClicked .rtbWrap,
  .RadToolBar_Glow .rtbSplBtnExpanded .rtbWrap,
  .RadToolBar_Glow .rtbDropDownExpanded .rtbWrap,
  .RadToolBar_Glow .rtbChecked .rtbWrap {
    background-position: 0 -2000px; }
  .RadToolBar_Glow .rtbSeparator {
    border-color: #07090b;
    background-color: #374148; }

.RadToolBar_Glow_Horizontal .rtbItem {
  margin-left: 5px; }

.RadToolBar_Glow_Horizontal .rtbSeparator {
  margin: -5px 0 -5px 5px;
  height: 38px; }

.RadToolBar_Glow_Vertical .rtbItem {
  margin-top: 5px; }

.RadToolBar_Glow_Vertical .rtbSeparator {
  margin: 5px -5px 0; }

.RadToolBarDropDown_Glow {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e2e8eb;
  border-color: #20282d;
  background-color: #242e33; }
  .RadToolBarDropDown_Glow.rtbNoBackground {
    border-width: 1px;
    background-color: #242e33; }
  .RadToolBarDropDown_Glow .rtbWrap,
  .RadToolBarDropDown_Glow .rtbTemplate {
    padding-top: 3px;
    padding-bottom: 3px;
    border-width: 0;
    line-height: 24px; }
  .RadToolBarDropDown_Glow .rtbWrap {
    *color: #e2e8eb;
    background-image: url('Common/radGradientListSprite.png');
    background-image: linear-gradient(transparent, transparent); }
  .RadToolBarDropDown_Glow .rtbItemHovered .rtbWrap,
  .RadToolBarDropDown_Glow .rtbItemFocused .rtbWrap {
    border-color: #4d5c65;
    color: #ffffff;
    background-color: #4d5c65;
    background-image: linear-gradient(); }
  .RadToolBarDropDown_Glow .rtbItemClicked .rtbWrap {
    border-color: #ffa915;
    color: #000000;
    background-color: #ffa915;
    background-image: linear-gradient(); }
  .RadToolBarDropDown_Glow .rtbIcon {
    left: 4px;
    top: 4px; }
  .RadToolBarDropDown_Glow .rtbSeparator {
    border-color: #c9c9c9; }
  .RadToolBarDropDown_Glow .rtbShadows,
  .RadToolBarDropDown_Glow .rtbRoundedCorners {
    padding: 0; }
  .RadToolBarDropDown_Glow .rtbTopLeft,
  .RadToolBarDropDown_Glow .rtbTopRight,
  .RadToolBarDropDown_Glow .rtbBottomLeft,
  .RadToolBarDropDown_Glow .rtbBottomRight,
  .RadToolBarDropDown_Glow .rtbTopFix,
  .RadToolBarDropDown_Glow .rtbBottomFix,
  .RadToolBarDropDown_Glow .rtbTopShadowLeft,
  .RadToolBarDropDown_Glow .rtbTopShadowRight,
  .RadToolBarDropDown_Glow .rtbBottomShadowLeft,
  .RadToolBarDropDown_Glow .rtbBottomShadowRight {
    display: none; }

