.ReminderDialog_BlackMetroTouch .rsRemList .rsLi:hover {
  color: #ffffff;
  background-color: #555555; }

.ReminderDialog_BlackMetroTouch .rsRemList .rsLiSelected,
.ReminderDialog_BlackMetroTouch .rsRemList .rsLiSelected:hover {
  color: #ffffff;
  background-color: #0082cc; }

.ReminderDialog_BlackMetroTouch .rsRemSnoozePanel .rsLi:before {
  border-color: #000000;
  background-color: #000000;
  box-shadow: 0 0 1px #555555; }

.ReminderDialog_BlackMetroTouch .rsRemSnoozePanel .rsLi:hover:before {
  background-color: #555555; }

.ReminderDialog_BlackMetroTouch .rsRemSnoozePanel .rsLi:active:before {
  background-color: #0082cc; }

