.RecurrenceEditor_WebBlue {
  border-color: #768ca5;
  color: #333333;
  background-color: #ffffff; }
  .RecurrenceEditor_WebBlue .rsAdvRecurrenceTitle {
    border-color: #465a6b;
    color: #ffffff;
    background-color: #748ea3; }
  .RecurrenceEditor_WebBlue .rsTabbedOptionList {
    border-color: #6e8aa8;
    color: #0d202b;
    background-color: #d7e2e7;
    background-image: linear-gradient(#e0e7ed, #c2d2dd 50%, #a3baca 50%, #d7e2e7);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.45); }
    .RecurrenceEditor_WebBlue .rsTabbedOptionList label:hover {
      border-color: #1c9fcc;
      color: #0e3d4f;
      background-color: #bee3f6;
      background-image: linear-gradient(#d4eaf8, #baddf4 50%, #9edaf2 50%, #bee3f6);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.32); }
  .RecurrenceEditor_WebBlue .rsAdvRecurrenceSave {
    border-color: #6bb2c9;
    color: #0e3d4f;
    background-color: #7abace;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1));
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2); }
    .RecurrenceEditor_WebBlue .rsAdvRecurrenceSave:hover {
      border-color: #1c9fcc;
      color: #0e3d4f;
      background-color: #bee3f6;
      background-image: linear-gradient(#d4eaf8, #baddf4 50%, #9edaf2 50%, #bee3f6);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.32); }
    .RecurrenceEditor_WebBlue .rsAdvRecurrenceSave:active {
      border-color: #3a869e;
      color: #ffffff;
      background-color: #7abace;
      background-image: linear-gradient(#8ebcd4, #64a3c0 50%, #368eb1 50%, #7abace);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.19); }

