.RadWizard_Glow {
  color: #e2e8eb;
  background: #35434b; }
  .RadWizard_Glow .rwzHeader {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }
  .RadWizard_Glow .rwzBreadCrumb {
    border-color: #35434b;
    border-radius: 4px; }
    .RadWizard_Glow .rwzBreadCrumb .rwzLink {
      border-color: #35434b;
      color: #e2e8eb;
      background-color: #1c262c;
      background-image: linear-gradient(#30414b, #1c262c); }
      .RadWizard_Glow .rwzBreadCrumb .rwzLink:before {
        border-color: #35434b;
        background: #1c262c linear-gradient(135deg, #30414b, #1c262c);
        box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.1), -1px 1px 0 0 rgba(255, 255, 255, 0.15) inset; }
    .RadWizard_Glow .rwzBreadCrumb .rwzHovered .rwzLink {
      border-color: #cd8100;
      color: #733700;
      background-color: #cd8100;
      background-image: linear-gradient(#ffa201, #cd8100); }
      .RadWizard_Glow .rwzBreadCrumb .rwzHovered .rwzLink:before {
        border: 0;
        background: #cd8100 linear-gradient(135deg, #ffa201, #cd8100);
        box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.1); }
    .RadWizard_Glow .rwzBreadCrumb .rwzSelected .rwzLink {
      border-color: #cd8100;
      color: #733700;
      background-color: #ffa915;
      background-image: none; }
      .RadWizard_Glow .rwzBreadCrumb .rwzSelected .rwzLink:before {
        border: 0;
        background: #ffa915;
        box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.1); }
    .RadWizard_Glow .rwzBreadCrumb .rwzDisabled .rwzLink {
      border-color: #35434b;
      color: #e2e8eb;
      background-color: #1c262c;
      background-image: linear-gradient(#30414b, #1c262c); }
      .RadWizard_Glow .rwzBreadCrumb .rwzDisabled .rwzLink:before {
        border: 0;
        background: #1c262c linear-gradient(135deg, #30414b, #1c262c);
        box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.15); }
    .RadWizard_Glow .rwzBreadCrumb .rwzPager {
      color: #733700;
      background: #cd8100 linear-gradient(#ffa201, #cd8100); }
      .RadWizard_Glow .rwzBreadCrumb .rwzPager .rwzCallout:before, .RadWizard_Glow .rwzBreadCrumb .rwzPager .rwzCallout:after {
        border-color: #35434b; }
      .RadWizard_Glow .rwzBreadCrumb .rwzPager .rwzCallout:before {
        background: #cd8100 linear-gradient(-45deg, #cd8100 -50%, #ffa201 50%); }
      .RadWizard_Glow .rwzBreadCrumb .rwzPager .rwzCallout:after {
        background: #cd8100 linear-gradient(135deg, #ffa201 -50%, #cd8100 48%); }
  .RadWizard_Glow .rwzProgressBar {
    background: #3b4951; }
  .RadWizard_Glow .rwzProgress {
    background: #ffac1d; }
  .RadWizard_Glow .rwzButton {
    border-color: #35434b;
    color: #e2e8eb;
    background-color: #1c262c;
    background-image: linear-gradient(#30414b, #1c262c);
    border-radius: 3px; }
    .RadWizard_Glow .rwzButton.rwzHovered {
      border-color: #cd8100;
      color: #733700;
      background-color: #cd8100;
      background-image: linear-gradient(#ffa201, #cd8100); }
    .RadWizard_Glow .rwzButton.rwzActive {
      border-color: #cd8100;
      color: #733700;
      background-color: #ffa915;
      background-image: none; }
  .RadWizard_Glow .rwzCancelWrapper {
    border-color: #35434b; }

