.RadDock_Outlook {
  border-color: #89aee5;
  color: #333333;
  background-color: #ffffff; }
  .RadDock_Outlook .rdTitleWrapper {
    border-color: #5d8fd8;
    color: #000000;
    background-color: #7ea6e0;
    background-image: linear-gradient(#e3eeff, #7ea6e0);
    border-color: inherit; }
  .RadDock_Outlook .rdCommandButton:hover {
    border-color: #003c74;
    color: #000000;
    background-color: #ebe8e3;
    background-image: linear-gradient(#fdfdfd, #ebe8e3);
    box-shadow: inset 0 0 1px 2px #fbc860; }

