.RadNavigation_Outlook .rnvRootGroupWrapper {
  border-color: #5d8fd8;
  color: #000000;
  background-color: #7ea6e0;
  background-image: linear-gradient(#e3eeff, #7ea6e0); }

.RadNavigation_Outlook .rnvRootLink {
  border-color: transparent; }

.RadNavigation_Outlook .rnvMore {
  border-color: #5d8fd8;
  color: #000000;
  background-color: #7ea6e0;
  background-image: linear-gradient(#e3eeff, #7ea6e0); }

.RadNavigation_Outlook .rnvHovered.rnvMore,
.RadNavigation_Outlook .rnvHovered > .rnvRootLink {
  border-color: #ffd295;
  color: #000000;
  background-color: #ffd295;
  background-image: linear-gradient(#fff3ca, #ffd295); }

.RadNavigation_Outlook .rnvSelected.rnvMore,
.RadNavigation_Outlook .rnvSelected > .rnvRootLink,
.RadNavigation_Outlook .rnvExpanded > .rnvRootLink {
  border-color: #5e88cd;
  color: #000000;
  background-color: #5e88cd;
  background-image: linear-gradient(#aabee5, #5e88cd); }

.RadNavigation_Outlook .rnvFocused.rnvMore,
.RadNavigation_Outlook .rnvFocused > .rnvRootLink {
  border-color: rgba(94, 136, 205, 0.5);
  box-shadow: inset 0 0 3px 1px rgba(94, 136, 205, 0.5); }

.radSkin_Outlook .rnvPopup {
  border-color: #89aee5;
  color: #333333;
  background-color: #ffffff; }
  .radSkin_Outlook .rnvPopup .rnvHovered > .rnvLink {
    color: #000000;
    background-color: #ffd294; }
  .radSkin_Outlook .rnvPopup .rnvSelected > .rnvLink,
  .radSkin_Outlook .rnvPopup .rnvExpanded > .rnvLink {
    color: #000000;
    background-color: #97b8e8; }
  .radSkin_Outlook .rnvPopup .rnvFocused > .rnvLink {
    box-shadow: inset 0 0 3px 1px rgba(151, 184, 232, 0.5); }

