.RadSpreadsheet_Outlook {
  border-color: #89aee5;
  color: #333333;
  background-color: #ffffff; }
  .RadSpreadsheet_Outlook .rssToolbarWrapper {
    border-color: #89aee5;
    color: #333333;
    background-color: #d6e6f4; }
  .RadSpreadsheet_Outlook .rssTabstrip .rtsLevel1 {
    color: #333333;
    border-color: #002d96; }
  .RadSpreadsheet_Outlook .rssTabstrip .rtsLevel1 .rtsSelected .rtsLink {
    border-color: #002d96;
    color: #ffffff;
    background-color: #5987d6; }
    .RadSpreadsheet_Outlook .rssTabstrip .rtsLevel1 .rtsSelected .rtsLink:before {
      display: none; }
  .RadSpreadsheet_Outlook .rssFormulaBar {
    border-color: #003c74;
    color: #333333;
    background-color: #ffffff; }
  .RadSpreadsheet_Outlook .k-syntax-startexp {
    font-weight: bold; }
  .RadSpreadsheet_Outlook .k-syntax-func {
    font-weight: bold; }
  .RadSpreadsheet_Outlook .k-syntax-paren-match {
    background-color: #caf200; }
  .RadSpreadsheet_Outlook .k-syntax-bool {
    color: #a9169c; }
  .RadSpreadsheet_Outlook .k-syntax-num {
    color: #0099ff; }
  .RadSpreadsheet_Outlook .k-syntax-str {
    color: #38b714; }
  .RadSpreadsheet_Outlook .k-syntax-ref {
    color: #ff8822; }
  .RadSpreadsheet_Outlook .k-syntax-error {
    color: red; }
  .RadSpreadsheet_Outlook .rssSheetsbar {
    border-color: #89aee5;
    color: #333333;
    background-color: #d6e6f4;
    border-color: #003c74; }
    .RadSpreadsheet_Outlook .rssSheetsbar .t-spreadsheet-sheets-bar-add:hover {
      border-color: #003c74;
      color: #000000;
      background-color: #ebe8e3;
      background-image: linear-gradient(#fdfdfd, #ebe8e3);
      box-shadow: inset 0 0 1px 2px #fbc860; }
  .RadSpreadsheet_Outlook .rssPane {
    border-color: #89aee5;
    color: #333333;
    background-color: #ffffff; }
  .RadSpreadsheet_Outlook .rssTopCorner {
    border-color: #5d8fd8;
    color: #000000;
    background-color: #7ea6e0; }
  .RadSpreadsheet_Outlook .rssRowHeader,
  .RadSpreadsheet_Outlook .rssColumnHeader {
    border-color: #5d8fd8;
    color: #000000;
    background-color: #7ea6e0; }
  .RadSpreadsheet_Outlook .rssRowHeader > div:hover,
  .RadSpreadsheet_Outlook .rssColumnHeader > div:hover {
    border-color: #ffd295;
    color: #000000;
    background-color: #ffd295; }
  .RadSpreadsheet_Outlook .rssRowHeader .k-selection-partial,
  .RadSpreadsheet_Outlook .rssColumnHeader .k-selection-partial {
    border-color: #5e88cd;
    color: #000000;
    background-color: #5e88cd; }
    .RadSpreadsheet_Outlook .rssRowHeader .k-selection-partial:before,
    .RadSpreadsheet_Outlook .rssColumnHeader .k-selection-partial:before {
      border-color: #306ac5; }
  .RadSpreadsheet_Outlook .rssSelection {
    border-color: #306ac5;
    background-color: rgba(48, 106, 197, 0.2);
    box-shadow: 0 0 0 1px #306ac5; }
    .RadSpreadsheet_Outlook .rssSelection:after {
      border-color: #ffffff;
      background-color: #306ac5; }
  .RadSpreadsheet_Outlook .rssActiveCell {
    border-color: #306ac5;
    background-color: #ffffff; }
  .RadSpreadsheet_Outlook .k-auto-fill {
    border-color: #306ac5;
    box-shadow: inset 0 0 0 1px #306ac5; }
  .RadSpreadsheet_Outlook .k-tooltip {
    border-color: #89aee5;
    color: #333333;
    background-color: #ffffff;
    border-radius: 3px; }
  .RadSpreadsheet_Outlook .rssCellEditor {
    color: #333333;
    background-color: #ffffff; }
  .RadSpreadsheet_Outlook .k-spreadsheet-editor-button {
    border-color: #003c74;
    color: #000000;
    background-color: #ebe8e3;
    background-image: linear-gradient(#fdfdfd, #ebe8e3); }
    .RadSpreadsheet_Outlook .k-spreadsheet-editor-button:hover {
      border-color: #003c74;
      color: #000000;
      background-color: #ebe8e3;
      background-image: linear-gradient(#fdfdfd, #ebe8e3);
      box-shadow: inset 0 0 1px 2px #fbc860; }
  .RadSpreadsheet_Outlook .k-spreadsheet-merged-cell {
    background-color: #ffffff; }
  .RadSpreadsheet_Outlook .k-resize-handle,
  .RadSpreadsheet_Outlook .k-resize-hint-handle,
  .RadSpreadsheet_Outlook .k-resize-hint-marker {
    background-color: #002d96; }
  .RadSpreadsheet_Outlook .k-filter-range {
    border-color: #002d96; }
  .RadSpreadsheet_Outlook .k-spreadsheet-filter {
    border-color: #003c74;
    color: #000000;
    background-color: #ebe8e3;
    background-image: linear-gradient(#fdfdfd, #ebe8e3);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #003c74; }
  .RadSpreadsheet_Outlook .k-spreadsheet-filter:hover {
    border-color: #003c74;
    color: #000000;
    background-color: #ebe8e3;
    background-image: linear-gradient(#fdfdfd, #ebe8e3);
    box-shadow: inset 0 0 1px 2px #fbc860;
    box-shadow: inset 0 0 0 1px #003c74, inset 0 0 1px 2px #fbc860; }

.rssSkin .t-button,
.rssSkin .rssButton {
  border-color: #003c74;
  color: #000000;
  background-color: #ebe8e3;
  background-image: linear-gradient(#fdfdfd, #ebe8e3);
  border-radius: 3px; }

.rssSkin .t-button:hover,
.rssSkin .t-button.t-state-hover,
.rssSkin .rssButton.rssHovered {
  border-color: #003c74;
  color: #000000;
  background-color: #ebe8e3;
  background-image: linear-gradient(#fdfdfd, #ebe8e3);
  box-shadow: inset 0 0 1px 2px #fbc860; }

.rssSkin .rssButton.rssPrimary {
  border-color: #003c74;
  color: #000000;
  background-color: #ebe8e3;
  background-image: linear-gradient(#fdfdfd, #ebe8e3);
  box-shadow: inset 0 0 1px 2px #97b8e8; }

.rssSkin .rssButton.rssPrimary.rssHovered {
  border-color: #003c74;
  color: #000000;
  background-color: #ebe8e3;
  background-image: linear-gradient(#fdfdfd, #ebe8e3);
  box-shadow: inset 0 0 1px 2px #fbc860; }

.rssSkin .t-tabstrip .t-state-hover {
  border-color: #ffd295;
  color: #000000;
  background-color: #ffd295;
  background-image: linear-gradient(#fff3ca, #ffd295);
  border-top-color: #003c74; }

.rssSkin .t-tabstrip .t-state-active {
  color: #003c74;
  background: #ffffff; }
  .rssSkin .t-tabstrip .t-state-active:before {
    content: "";
    height: 2px;
    position: absolute;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border: 1px solid #e68b2c;
    background: #ffc83c;
    border-radius: 0 0 4px 4px; }

.rssSkin .t-spreadsheet-sheets-remove.t-state-hover {
  color: #b32d34; }

.rssSkin .rssInput {
  border-color: #003c74;
  color: #333333;
  background-color: #ffffff; }

.rssSkin .rssMenu .rssLink {
  border-radius: 3px; }

.rssSkin .rssMenu .rssHovered > .rssLink {
  border-color: #ffd294;
  color: #000000;
  background-color: #ffd294;
  background-image: linear-gradient(#fff3ca, #ffd294); }

.rssSkin .rssMenu .rssSelected > .rssLink {
  border-color: #97b8e8;
  color: #000000;
  background-color: #97b8e8;
  background-image: linear-gradient(#dceafc, #97b8e8); }

.rssSkin .rssCollapsibleList .rssLink {
  border-radius: 3px; }

.rssSkin .rssCollapsibleList .rssHovered > .rssLink {
  border-color: #ffd294;
  color: #000000;
  background-color: #ffd294;
  background-image: linear-gradient(#fff3ca, #ffd294); }

.rssSkin .rssCollapsibleList .rssExpanded > .rssLink {
  border-color: transparent;
  color: inherit;
  background: none; }

.rssPopup {
  border-color: #89aee5;
  color: #333333;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #89aee5; }
  .rssPopup .rssFilterMenu:before {
    border-color: #b3cbee;
    background: #dde7f7; }
  .rssPopup .rssSeparator {
    border-color: #e6e6e6 white white #e6e6e6; }

.rssWindow {
  border-color: #5d8fd8;
  border-radius: 5px;
  box-shadow: 0 0 5px #5d8fd8;
  color: #000000;
  background: #7ea6e0; }

.rssWindow .rssWindowTitlebar {
  border-color: #5d8fd8;
  color: #000000;
  background-color: #7ea6e0;
  background-image: linear-gradient(#e3eeff, #7ea6e0);
  border-radius: 5px 5px 0 0; }

.rssWindow .rssWindowAction {
  border-color: transparent; }

.rssWindow .rssWindowAction:hover {
  border-color: #003c74;
  color: #000000;
  background-color: #ebe8e3;
  background-image: linear-gradient(#fdfdfd, #ebe8e3);
  box-shadow: inset 0 0 1px 2px #fbc860;
  border-radius: 3px; }

.rssWindow .rssWindowContent {
  border-color: #89aee5;
  color: #333333;
  background-color: #ffffff; }

.rssWindow .rssWindowTabstrip {
  background-color: #d6e6f4; }
  .rssWindow .rssWindowTabstrip .rtsLevel1 .rtsSelected .rtsLink {
    color: #333333;
    background: #ffffff; }
    .rssWindow .rssWindowTabstrip .rtsLevel1 .rtsSelected .rtsLink:before {
      display: block; }

.rssWindow hr {
  border-color: #89aee5; }

.rssFormulaList {
  border-color: #89aee5;
  color: #333333;
  background-color: #ffffff; }
  .rssFormulaList .k-item.k-state-hover {
    color: #000000;
    background-color: #ffd294; }
  .rssFormulaList .k-item.k-state-focused {
    color: #000000;
    background-color: #97b8e8; }

