.RadDataForm_Office2007 {
  color: #333333; }
  .RadDataForm_Office2007 .rdfLegend,
  .RadDataForm_Office2007 .rdfBorders {
    border-color: #a1bcdd; }
  .RadDataForm_Office2007 .rdfHr {
    color: #a1bcdd; }
  .RadDataForm_Office2007 .rdfFieldHint {
    color: #b3b3b3; }

