.RadSpreadsheet_Office2007 {
  border-color: #9eb6ce;
  color: #333333;
  background-color: #ffffff; }
  .RadSpreadsheet_Office2007 .rssToolbarWrapper {
    border-color: #a1bcdd;
    color: #00156e;
    background-color: #d6e6f4; }
  .RadSpreadsheet_Office2007 .rssTabstrip .rtsLevel1 {
    border-color: #a1bcdd; }
  .RadSpreadsheet_Office2007 .rssTabstrip .rtsLevel1 .rtsSelected .rtsLink {
    border-color: #a1bcdd;
    color: #00156e;
    background-color: #e8f1fc; }
  .RadSpreadsheet_Office2007 .rssFormulaBar {
    border-color: #a1bcdd;
    color: #333333;
    background-color: #ffffff; }
  .RadSpreadsheet_Office2007 .k-syntax-startexp {
    font-weight: bold; }
  .RadSpreadsheet_Office2007 .k-syntax-func {
    font-weight: bold; }
  .RadSpreadsheet_Office2007 .k-syntax-paren-match {
    background-color: #caf200; }
  .RadSpreadsheet_Office2007 .k-syntax-bool {
    color: #a9169c; }
  .RadSpreadsheet_Office2007 .k-syntax-num {
    color: #0099ff; }
  .RadSpreadsheet_Office2007 .k-syntax-str {
    color: #38b714; }
  .RadSpreadsheet_Office2007 .k-syntax-ref {
    color: #ff8822; }
  .RadSpreadsheet_Office2007 .k-syntax-error {
    color: red; }
  .RadSpreadsheet_Office2007 .rssSheetsbar {
    border-color: #a1bcdd;
    color: #00156e;
    background-color: #d6e6f4; }
    .RadSpreadsheet_Office2007 .rssSheetsbar .t-spreadsheet-sheets-bar-add:hover {
      border-color: #c4ba9c;
      color: #000000;
      background-color: #ffe18a;
      background-image: linear-gradient(#fffce8, #ffedb3 50%, #ffd563 50%, #ffe18a); }
  .RadSpreadsheet_Office2007 .rssPane {
    border-color: #9eb6ce;
    color: #333333;
    background-color: #ffffff; }
  .RadSpreadsheet_Office2007 .k-spreadsheet-vaxis,
  .RadSpreadsheet_Office2007 .k-spreadsheet-haxis {
    border-color: #f7f9fc; }
  .RadSpreadsheet_Office2007 .rssTopCorner {
    border-color: #85b0e3;
    color: #333333;
    background-color: #c3d8f1; }
  .RadSpreadsheet_Office2007 .rssRowHeader,
  .RadSpreadsheet_Office2007 .rssColumnHeader {
    border-color: #85b0e3;
    color: #333333;
    background-color: #c3d8f1; }
  .RadSpreadsheet_Office2007 .rssRowHeader > div:hover,
  .RadSpreadsheet_Office2007 .rssColumnHeader > div:hover {
    border-color: #ffb113;
    color: #000000;
    background-color: #ffca5f; }
  .RadSpreadsheet_Office2007 .rssRowHeader .k-selection-partial,
  .RadSpreadsheet_Office2007 .rssColumnHeader .k-selection-partial {
    border-color: #ffb92c;
    color: #000000;
    background-color: #ffb92c; }
    .RadSpreadsheet_Office2007 .rssRowHeader .k-selection-partial:before,
    .RadSpreadsheet_Office2007 .rssColumnHeader .k-selection-partial:before {
      border-color: #41559c; }
  .RadSpreadsheet_Office2007 .rssSelection {
    border-color: #41559c;
    background-color: rgba(65, 85, 156, 0.2);
    box-shadow: 0 0 0 1px #41559c; }
    .RadSpreadsheet_Office2007 .rssSelection:after {
      border-color: #ffffff;
      background-color: #41559c; }
  .RadSpreadsheet_Office2007 .rssActiveCell {
    border-color: #41559c;
    background-color: #ffffff; }
  .RadSpreadsheet_Office2007 .k-auto-fill {
    border-color: #41559c;
    box-shadow: inset 0 0 0 1px #41559c; }
  .RadSpreadsheet_Office2007 .k-tooltip {
    border-color: #9eb6ce;
    color: #333333;
    background-color: #ffffff;
    border-radius: 3px; }
  .RadSpreadsheet_Office2007 .rssCellEditor {
    color: #333333;
    background-color: #ffffff; }
  .RadSpreadsheet_Office2007 .k-spreadsheet-editor-button {
    border-color: #a1bcdd;
    color: #00156e;
    background-color: #e8f1fc;
    background-image: linear-gradient(#e8f1fc, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc); }
    .RadSpreadsheet_Office2007 .k-spreadsheet-editor-button:hover {
      border-color: #c4ba9c;
      color: #000000;
      background-color: #ffe18a;
      background-image: linear-gradient(#fffce8, #ffedb3 50%, #ffd563 50%, #ffe18a); }
  .RadSpreadsheet_Office2007 .k-spreadsheet-merged-cell {
    background-color: #ffffff; }
  .RadSpreadsheet_Office2007 .k-resize-handle,
  .RadSpreadsheet_Office2007 .k-resize-hint-handle,
  .RadSpreadsheet_Office2007 .k-resize-hint-marker {
    background-color: #c3bba3; }
  .RadSpreadsheet_Office2007 .k-filter-range {
    border-color: #c3bba3; }
  .RadSpreadsheet_Office2007 .k-spreadsheet-filter {
    border-color: #a1bcdd;
    color: #00156e;
    background-color: #e8f1fc;
    background-image: linear-gradient(#e8f1fc, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #a1bcdd; }
  .RadSpreadsheet_Office2007 .k-spreadsheet-filter:hover {
    border-color: #c4ba9c;
    color: #000000;
    background-color: #ffe18a;
    background-image: linear-gradient(#fffce8, #ffedb3 50%, #ffd563 50%, #ffe18a);
    box-shadow: inset 0 0 0 1px #c4ba9c; }

.rssSkin .t-button,
.rssSkin .rssButton {
  border-color: #a1bcdd;
  color: #00156e;
  background-color: #e8f1fc;
  background-image: linear-gradient(#e8f1fc, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc);
  border-radius: 3px; }

.rssSkin .t-button:hover,
.rssSkin .t-button.t-state-hover,
.rssSkin .rssButton.rssHovered {
  border-color: #c4ba9c;
  color: #000000;
  background-color: #ffe18a;
  background-image: linear-gradient(#fffce8, #ffedb3 50%, #ffd563 50%, #ffe18a); }

.rssSkin .rssButton.rssPrimary {
  border-color: #384986;
  color: #ffffff;
  background-color: #41559c;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1)); }

.rssSkin .rssButton.rssPrimary.rssHovered {
  border-color: #c4ba9c;
  color: #000000;
  background-color: #ffe18a;
  background-image: linear-gradient(#fffce8, #ffedb3 50%, #ffd563 50%, #ffe18a); }

.rssSkin .t-tabstrip .t-state-hover {
  border-color: #ffb113;
  color: #000000;
  background-color: #ffca5f;
  background-image: linear-gradient(#ffdc9c, #ffca5f); }

.rssSkin .t-tabstrip .t-state-active {
  border-color: #9eb6ce;
  color: #333333;
  background-color: #ffffff;
  background-image: none; }

.rssSkin .t-spreadsheet-sheets-remove.t-state-hover {
  color: #b32d34; }

.rssSkin .rssInput {
  border-color: #a1bcdd;
  color: #333333;
  background-color: #ffffff; }

.rssSkin .rssMenu .rssLink {
  border-radius: 3px; }

.rssSkin .rssMenu .rssHovered > .rssLink {
  border-color: #ffd563;
  color: #00156e;
  background-color: #ffd563;
  background-image: linear-gradient(#ffe391, #ffd563); }

.rssSkin .rssMenu .rssSelected > .rssLink {
  border-color: #f99631;
  color: #000000;
  background-color: #f99631;
  background-image: linear-gradient(#faad60, #f99631); }

.rssSkin .rssCollapsibleList .rssLink {
  border-radius: 3px; }

.rssSkin .rssCollapsibleList .rssHovered > .rssLink {
  border-color: #ffd563;
  color: #00156e;
  background-color: #ffd563;
  background-image: linear-gradient(#ffe391, #ffd563); }

.rssSkin .rssCollapsibleList .rssExpanded > .rssLink {
  border-color: transparent;
  color: inherit;
  background: none; }

.rssPopup {
  border-color: #9eb6ce;
  color: #333333;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #9eb6ce; }
  .rssPopup .rssFilterMenu:before {
    border-color: #c0d0df;
    background: #e2e9f0; }
  .rssPopup .rssSeparator {
    border-color: #e6e6e6 white white #e6e6e6; }

.rssWindow {
  border-color: #85b0e3;
  color: #333333;
  background-color: #c3d8f1;
  border-radius: 5px;
  box-shadow: 0 0 5px #85b0e3; }
  .rssWindow .rssWindowTitlebar {
    border-color: #85b0e3;
    color: #333333;
    background-color: #c3d8f1;
    background-image: linear-gradient(#dee8f5, #c3d8f1);
    border-radius: 5px 5px 0 0; }
  .rssWindow .rssWindowAction {
    border-color: transparent; }
  .rssWindow .rssWindowAction:hover {
    border-color: #c4ba9c;
    color: #000000;
    background-color: #ffe18a;
    background-image: linear-gradient(#fffce8, #ffedb3 50%, #ffd563 50%, #ffe18a);
    border-radius: 3px; }
  .rssWindow .rssWindowContent {
    border-color: #9eb6ce;
    color: #333333;
    background-color: #ffffff; }
  .rssWindow .rssWindowTabstrip {
    background-color: #d6e6f4; }
    .rssWindow .rssWindowTabstrip .rtsLevel1 .rtsSelected .rtsLink {
      color: #333333;
      background: #ffffff; }
  .rssWindow hr {
    border-color: #9eb6ce; }

.rssFormulaList {
  border-color: #9eb6ce;
  color: #333333;
  background-color: #ffffff; }
  .rssFormulaList .k-item.k-state-hover {
    color: #00156e;
    background-color: #ffd563; }
  .rssFormulaList .k-item.k-state-focused {
    color: #000000;
    background-color: #f99631; }

