.RadDataForm_Office2010Blue {
  color: #384e73; }
  .RadDataForm_Office2010Blue .rdfLegend,
  .RadDataForm_Office2010Blue .rdfBorders {
    border-color: #9babc2; }
  .RadDataForm_Office2010Blue .rdfHr {
    color: #9babc2; }
  .RadDataForm_Office2010Blue .rdfFieldHint {
    color: #c7d1e3; }

