.RadNotification_Office2010Blue {
  border-color: #9babc2;
  color: #384e73;
  background-color: #ffffff; }
  .RadNotification_Office2010Blue .rnTitleBar {
    border-color: #87a0c3;
    color: #384e73;
    background-color: #bdcbde;
    background-image: linear-gradient(#fcfcfd, #bdcbde); }
  .RadNotification_Office2010Blue .rnCommands a:hover {
    border-color: #f2d359;
    color: #1e395b;
    background-color: #fcf5d9;
    background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }
  .RadNotification_Office2010Blue.rnShadows {
    box-shadow: 2px 2px 3px rgba(155, 171, 194, 0.5); }

