.RadSpreadsheet_Office2010Blue {
  border-color: #9babc2;
  color: #384e73;
  background-color: #ffffff; }
  .RadSpreadsheet_Office2010Blue .rssToolbarWrapper {
    border-color: #9babc2;
    color: #384e73;
    background-color: #dbe3ee; }
  .RadSpreadsheet_Office2010Blue .rssTabstrip .rtsLevel1 {
    border-color: #9db2ce; }
  .RadSpreadsheet_Office2010Blue .rssTabstrip .rtsLevel1 .rtsSelected .rtsLink {
    border-color: #9db2ce;
    color: #384e73;
    background-color: #fafbfd; }
  .RadSpreadsheet_Office2010Blue .rssFormulaBar {
    border-color: #9db2ce;
    color: #384e73;
    background-color: #ffffff; }
  .RadSpreadsheet_Office2010Blue .k-syntax-startexp {
    font-weight: bold; }
  .RadSpreadsheet_Office2010Blue .k-syntax-func {
    font-weight: bold; }
  .RadSpreadsheet_Office2010Blue .k-syntax-paren-match {
    background-color: #caf200; }
  .RadSpreadsheet_Office2010Blue .k-syntax-bool {
    color: #a9169c; }
  .RadSpreadsheet_Office2010Blue .k-syntax-num {
    color: #0099ff; }
  .RadSpreadsheet_Office2010Blue .k-syntax-str {
    color: #38b714; }
  .RadSpreadsheet_Office2010Blue .k-syntax-ref {
    color: #ff8822; }
  .RadSpreadsheet_Office2010Blue .k-syntax-error {
    color: red; }
  .RadSpreadsheet_Office2010Blue .rssSheetsbar {
    border-color: #9babc2;
    color: #384e73;
    background-color: #dbe3ee; }
    .RadSpreadsheet_Office2010Blue .rssSheetsbar .t-spreadsheet-sheets-bar-add:hover {
      border-color: #f2d359;
      color: #1e395b;
      background-color: #fcf5d9;
      background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }
  .RadSpreadsheet_Office2010Blue .rssPane {
    border-color: #9babc2;
    color: #384e73;
    background-color: #ffffff; }
  .RadSpreadsheet_Office2010Blue .rssTopCorner {
    border-color: #87a0c3;
    color: #384e73;
    background-color: #bdcbde; }
  .RadSpreadsheet_Office2010Blue .rssRowHeader,
  .RadSpreadsheet_Office2010Blue .rssColumnHeader {
    border-color: #87a0c3;
    color: #384e73;
    background-color: #bdcbde; }
  .RadSpreadsheet_Office2010Blue .rssRowHeader > div:hover,
  .RadSpreadsheet_Office2010Blue .rssColumnHeader > div:hover {
    border-color: #ffcb11;
    color: #384e73;
    background-color: #ffe790; }
  .RadSpreadsheet_Office2010Blue .rssRowHeader .k-selection-partial,
  .RadSpreadsheet_Office2010Blue .rssColumnHeader .k-selection-partial {
    border-color: #c58a00;
    color: #384e73;
    background-color: #ffe373; }
    .RadSpreadsheet_Office2010Blue .rssRowHeader .k-selection-partial:before,
    .RadSpreadsheet_Office2010Blue .rssColumnHeader .k-selection-partial:before {
      border-color: #3a71b7; }
  .RadSpreadsheet_Office2010Blue .rssSelection {
    border-color: #3a71b7;
    background-color: rgba(58, 113, 183, 0.2);
    box-shadow: 0 0 0 1px #3a71b7; }
    .RadSpreadsheet_Office2010Blue .rssSelection:after {
      border-color: #ffffff;
      background-color: #3a71b7; }
  .RadSpreadsheet_Office2010Blue .rssActiveCell {
    border-color: #3a71b7;
    background-color: #ffffff; }
  .RadSpreadsheet_Office2010Blue .k-auto-fill {
    border-color: #3a71b7;
    box-shadow: inset 0 0 0 1px #3a71b7; }
  .RadSpreadsheet_Office2010Blue .k-tooltip {
    border-color: #9babc2;
    color: #384e73;
    background-color: #ffffff;
    border-radius: 3px; }
  .RadSpreadsheet_Office2010Blue .rssCellEditor {
    color: #384e73;
    background-color: #ffffff; }
  .RadSpreadsheet_Office2010Blue .k-spreadsheet-editor-button {
    border-color: #9db2ce;
    color: #384e73;
    background-color: #bfcddf;
    background-image: linear-gradient(#fafbfd, #bfcddf); }
    .RadSpreadsheet_Office2010Blue .k-spreadsheet-editor-button:hover {
      border-color: #f2d359;
      color: #1e395b;
      background-color: #fcf5d9;
      background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }
  .RadSpreadsheet_Office2010Blue .k-spreadsheet-merged-cell {
    background-color: #ffffff; }
  .RadSpreadsheet_Office2010Blue .k-resize-handle,
  .RadSpreadsheet_Office2010Blue .k-resize-hint-handle,
  .RadSpreadsheet_Office2010Blue .k-resize-hint-marker {
    background-color: #b6b6b6; }
  .RadSpreadsheet_Office2010Blue .k-filter-range {
    border-color: #b6b6b6; }
  .RadSpreadsheet_Office2010Blue .k-spreadsheet-filter {
    border-color: #9db2ce;
    color: #384e73;
    background-color: #bfcddf;
    background-image: linear-gradient(#fafbfd, #bfcddf);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #9db2ce; }
  .RadSpreadsheet_Office2010Blue .k-spreadsheet-filter:hover {
    border-color: #f2d359;
    color: #1e395b;
    background-color: #fcf5d9;
    background-image: linear-gradient(#fceaab, #fae185, #fcf5d9);
    box-shadow: inset 0 0 0 1px #f2d359; }

.rssSkin .t-button,
.rssSkin .rssButton {
  border-color: #9db2ce;
  color: #384e73;
  background-color: #bfcddf;
  background-image: linear-gradient(#fafbfd, #bfcddf);
  border-radius: 3px; }

.rssSkin .t-button:hover,
.rssSkin .t-button.t-state-hover,
.rssSkin .rssButton.rssHovered {
  border-color: #f2d359;
  color: #1e395b;
  background-color: #fcf5d9;
  background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }

.rssSkin .rssButton.rssPrimary {
  border-color: #c38e00;
  color: #1e395b;
  background-color: #ffef7c;
  background-image: linear-gradient(#ffef7c, #ffd86b, #ffe272); }

.rssSkin .rssButton.rssPrimary.rssHovered {
  border-color: #f2d359;
  color: #1e395b;
  background-color: #fcf5d9;
  background-image: linear-gradient(#fceaab, #fae185, #fcf5d9); }

.rssSkin .t-tabstrip .t-state-hover {
  border-color: #ffcb11;
  color: #384e73;
  background-color: #ffe790;
  background-image: linear-gradient(#ffe28e, #ffe175, #ffe790);
  border-top-color: #9babc2; }

.rssSkin .t-tabstrip .t-state-active {
  border-color: #9babc2;
  color: #384e73;
  background-color: #ffffff;
  background-image: none; }

.rssSkin .t-spreadsheet-sheets-remove.t-state-hover {
  color: #e50000; }

.rssSkin .rssInput {
  border-color: #9db2ce;
  color: #384e73;
  background-color: #ffffff; }

.rssSkin .rssMenu .rssLink {
  border-radius: 3px; }

.rssSkin .rssMenu .rssHovered > .rssLink {
  border-color: #ffcb12;
  color: #1e395b;
  background-color: #ffe791;
  background-image: linear-gradient(#ffe28e, #ffe175, #ffe791); }

.rssSkin .rssMenu .rssSelected > .rssLink {
  border-color: #c38e00;
  color: #1e395b;
  background-color: #fff17c;
  background-image: linear-gradient(#f9d14d, #f7c840, #fff17c); }

.rssSkin .rssCollapsibleList .rssLink {
  border-radius: 3px; }

.rssSkin .rssCollapsibleList .rssHovered > .rssLink {
  border-color: #ffcb12;
  color: #1e395b;
  background-color: #ffe791;
  background-image: linear-gradient(#ffe28e, #ffe175, #ffe791); }

.rssSkin .rssCollapsibleList .rssExpanded > .rssLink {
  border-color: transparent;
  color: inherit;
  background: none; }

.rssPopup {
  border-color: #9babc2;
  color: #384e73;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #9babc2; }
  .rssPopup .rssFilterMenu:before {
    border-color: #bbc6d5;
    background: #dae0e9; }
  .rssPopup .rssSeparator {
    border-color: #e6e6e6 white white #e6e6e6; }

.rssWindow {
  border-color: #87a0c3;
  color: #384e73;
  background-color: #bdcbde;
  border-radius: 5px;
  box-shadow: 0 0 5px #87a0c3; }
  .rssWindow .rssWindowTitlebar {
    border-color: #87a0c3;
    color: #384e73;
    background-color: #bdcbde;
    background-image: linear-gradient(#fcfcfd, #bdcbde);
    border-radius: 5px 5px 0 0; }
  .rssWindow .rssWindowAction {
    border-color: transparent; }
  .rssWindow .rssWindowAction:hover {
    border-color: #f2d359;
    color: #1e395b;
    background-color: #fcf5d9;
    background-image: linear-gradient(#fceaab, #fae185, #fcf5d9);
    border-radius: 3px; }
  .rssWindow .rssWindowContent {
    border-color: #9babc2;
    color: #384e73;
    background-color: #ffffff; }
  .rssWindow .rssWindowTabstrip {
    background-color: #dbe3ee; }
    .rssWindow .rssWindowTabstrip .rtsLevel1 .rtsSelected .rtsLink {
      color: #384e73;
      background: #ffffff; }
  .rssWindow hr {
    border-color: #9babc2; }

.rssFormulaList {
  border-color: #9babc2;
  color: #384e73;
  background-color: #ffffff; }
  .rssFormulaList .k-item.k-state-hover {
    color: #1e395b;
    background-color: #ffe791; }
  .rssFormulaList .k-item.k-state-focused {
    color: #1e395b;
    background-color: #fff17c; }

