.RadButton_BlackMetroTouch {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadButton_BlackMetroTouch.rbRounded,
  .RadButton_BlackMetroTouch .rbSplitPart {
    border-radius: 0; }
  .RadButton_BlackMetroTouch.rbButton, .RadButton_BlackMetroTouch.rbButton.rbDisabled,
  .RadButton_BlackMetroTouch .rbSplitPart {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
  .RadButton_BlackMetroTouch.rbButton.rbHovered, .RadButton_BlackMetroTouch.rbButton.rbToggled.rbHovered,
  .RadButton_BlackMetroTouch.rbButton .rbHovered {
    border-color: #555555;
    color: #ffffff;
    background-color: #3c3c3c; }
  .RadButton_BlackMetroTouch.rbButton:focus {
    box-shadow: inset 0 0 5px rgba(0, 130, 204, 0.5); }
  .RadButton_BlackMetroTouch.rbButton.rbSelected, .RadButton_BlackMetroTouch.rbButton.rbToggled,
  .RadButton_BlackMetroTouch.rbSelected .rbHovered {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .RadButton_BlackMetroTouch.rbButton:hover,
  .RadButton_BlackMetroTouch.rbButton.rbHovered .rbSplitPart {
    border-color: #555555; }
  .RadButton_BlackMetroTouch.rbButton.rbSelected,
  .RadButton_BlackMetroTouch.rbButton.rbSelected:active .rbSplitPart {
    border-color: #0082cc; }
  .RadButton_BlackMetroTouch.rbCheckBox .rbText,
  .RadButton_BlackMetroTouch.rbRadioButton .rbText,
  .RadButton_BlackMetroTouch.rbToggleButton .rbText {
    color: #ffffff; }
  .RadButton_BlackMetroTouch .rbToggleCheckboxChecked,
  .RadButton_BlackMetroTouch .rbToggleCheckboxFilled,
  .RadButton_BlackMetroTouch .rbToggleRadioChecked {
    color: #0082cc; }
  .RadButton_BlackMetroTouch.rbHovered .rbToggleCheckboxChecked,
  .RadButton_BlackMetroTouch.rbHovered .rbToggleCheckboxFilled,
  .RadButton_BlackMetroTouch.rbHovered .rbToggleRadioChecked {
    color: #005180; }
  .RadButton_BlackMetroTouch:focus .rbToggleCheckbox:before,
  .RadButton_BlackMetroTouch:focus .rbToggleRadio:before {
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5); }
  .RadButton_BlackMetroTouch:focus .rbToggleCheckboxChecked:before,
  .RadButton_BlackMetroTouch:focus .rbToggleCheckboxFilled:before,
  .RadButton_BlackMetroTouch:focus .rbToggleRadioChecked:before {
    box-shadow: 0 0 1px 1px rgba(0, 130, 204, 0.5); }
  .RadButton_BlackMetroTouch.rbPrimaryButton {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
    .RadButton_BlackMetroTouch.rbPrimaryButton.rbHovered, .RadButton_BlackMetroTouch.rbPrimaryButton.rbToggled.rbHovered, .RadButton_BlackMetroTouch.rbPrimaryButton.rbFocused {
      border-color: #006299;
      color: #ffffff;
      background-color: #006299;
      box-shadow: none; }
    .RadButton_BlackMetroTouch.rbPrimaryButton.rbSelected, .RadButton_BlackMetroTouch.rbPrimaryButton.rbToggled {
      border-color: #004166;
      color: #ffffff;
      background-color: #004166; }
  .RadButton_BlackMetroTouch.rbPrimaryButton.rbDisabled {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }

