.RadCalendar_BlackMetroTouch {
  border-color: #333333;
  color: #ffffff;
  background-color: #000000;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadCalendar_BlackMetroTouch .rcTitlebar {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
  .RadCalendar_BlackMetroTouch .t-button {
    border-radius: 50%; }
  .RadCalendar_BlackMetroTouch .t-button:hover {
    border-color: #555555;
    color: #ffffff;
    background-color: #3c3c3c; }
  .RadCalendar_BlackMetroTouch .t-button:focus,
  .RadCalendar_BlackMetroTouch .t-button:active {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .RadCalendar_BlackMetroTouch td {
    border-color: transparent; }
  .RadCalendar_BlackMetroTouch th {
    color: white;
    background-color: #222222; }
  .RadCalendar_BlackMetroTouch .rcHeader,
  .RadCalendar_BlackMetroTouch .rcFooter {
    border-color: #555555; }
  .RadCalendar_BlackMetroTouch .rcWeek th {
    border-color: #555555;
    color: #ffffff;
    text-align: center; }
  .RadCalendar_BlackMetroTouch .rcWeek .rcViewSel {
    background-color: #222222; }
  .RadCalendar_BlackMetroTouch .rcMain .rcRow a,
  .RadCalendar_BlackMetroTouch .rcMain .rcRow span {
    border-radius: 50%;
    text-align: center; }
  .RadCalendar_BlackMetroTouch .rcToday a,
  .RadCalendar_BlackMetroTouch .rcToday span {
    border-color: #0082cc;
    color: #0082cc; }
  .RadCalendar_BlackMetroTouch .rcHover a,
  .RadCalendar_BlackMetroTouch .rcHover span {
    border-color: #555555;
    color: #ffffff;
    background-color: #555555; }
  .RadCalendar_BlackMetroTouch .rcSelected a,
  .RadCalendar_BlackMetroTouch .rcSelected span {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .RadCalendar_BlackMetroTouch .rcFocus {
    border-color: #0082cc;
    box-shadow: inset 0 0 5px #0082cc; }

.RadCalendarMultiView_BlackMetroTouch .rcTitlebar {
  border-color: #555555;
  color: #ffffff;
  background-color: #222222; }

.RadCalendarMultiView_BlackMetroTouch .rcCalendar {
  border-color: #333333; }

.RadCalendarMultiView_BlackMetroTouch td.rcTitle {
  border-color: #555555;
  color: #ffffff;
  background-color: #222222; }

.RadCalendarMonthView_BlackMetroTouch {
  border-color: #333333;
  color: #ffffff;
  background-color: #000000;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadCalendarMonthView_BlackMetroTouch a {
    border-radius: 0; }
  .RadCalendarMonthView_BlackMetroTouch a:hover {
    border-color: #555555;
    color: #ffffff;
    background-color: #555555; }
  .RadCalendarMonthView_BlackMetroTouch .rcSelected a {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .RadCalendarMonthView_BlackMetroTouch .rcButtons a {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
  .RadCalendarMonthView_BlackMetroTouch .rcButtons a:hover {
    border-color: #555555;
    color: #ffffff;
    background-color: #3c3c3c; }
  .RadCalendarMonthView_BlackMetroTouch .rcButtons a:focus,
  .RadCalendarMonthView_BlackMetroTouch .rcButtons a:active {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }

.RadCalendarTimeView_BlackMetroTouch {
  border-color: #333333;
  color: #ffffff;
  background-color: #000000;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadCalendarTimeView_BlackMetroTouch th {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
  .RadCalendarTimeView_BlackMetroTouch td {
    border-color: #333333; }
  .RadCalendarTimeView_BlackMetroTouch .rcSelected a {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .RadCalendarTimeView_BlackMetroTouch .rcHover a {
    border-color: #555555;
    color: #ffffff;
    background-color: #555555; }
  .RadCalendarTimeView_BlackMetroTouch .rcFooter {
    border-color: #333333; }

.RadPicker_BlackMetroTouch {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadPicker_BlackMetroTouch .riLabel {
    color: #ffffff; }
  .RadPicker_BlackMetroTouch.rcCalPopupOpen .RadInput, .RadPicker_BlackMetroTouch.rcMYPopupOpen .RadInput, .RadPicker_BlackMetroTouch.rcTimePopupOpen .RadInput {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #000000; }
  .RadPicker_BlackMetroTouch.rcCalPopupOpen .rcCalPopup,
  .RadPicker_BlackMetroTouch.rcMYPopupOpen .rcCalPopup,
  .RadPicker_BlackMetroTouch.rcTimePopupOpen .rcTimePopup {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }

