.RadComboBox_BlackMetroTouch {
  color: #ffffff;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBox_BlackMetroTouch .rcbInner {
    border-color: #555555;
    color: #ffffff;
    background-color: #000000; }
  .RadComboBox_BlackMetroTouch .rcbActionButton {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
  .RadComboBox_BlackMetroTouch .rcbHovered {
    border-color: #555555;
    color: #ffffff;
    background-color: #000000; }
  .RadComboBox_BlackMetroTouch .rcbHovered .rcbActionButton {
    border-color: #555555;
    color: #ffffff;
    background-color: #3c3c3c; }
  .RadComboBox_BlackMetroTouch .rcbFocused,
  .RadComboBox_BlackMetroTouch .rcbExpanded {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #000000; }
    .RadComboBox_BlackMetroTouch .rcbFocused .rcbActionButton,
    .RadComboBox_BlackMetroTouch .rcbExpanded .rcbActionButton {
      border-color: #0082cc;
      color: #ffffff;
      background-color: #0082cc; }
  .RadComboBox_BlackMetroTouch .rcbReadOnly {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
    .RadComboBox_BlackMetroTouch .rcbReadOnly.rcbHovered {
      border-color: #555555;
      color: #ffffff;
      background-color: #3c3c3c; }
    .RadComboBox_BlackMetroTouch .rcbReadOnly.rcbFocused, .RadComboBox_BlackMetroTouch .rcbReadOnly.rcbExpanded {
      border-color: #0082cc;
      color: #ffffff;
      background-color: #0082cc; }

.RadComboBoxDropDown_BlackMetroTouch {
  border-color: #333333;
  color: #ffffff;
  background-color: #000000;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBoxDropDown_BlackMetroTouch .rcbSeparator {
    color: #ffffff;
    background-color: #222222; }
  .RadComboBoxDropDown_BlackMetroTouch .rcbHovered {
    color: #ffffff;
    background-color: #555555; }
  .RadComboBoxDropDown_BlackMetroTouch .rcbSelected {
    color: #ffffff;
    background-color: #0082cc; }
  .RadComboBoxDropDown_BlackMetroTouch .rcbLoading {
    color: #ffffff;
    background-color: #555555; }
  .RadComboBoxDropDown_BlackMetroTouch .rcbItem em {
    color: #ffffff;
    background-color: #555555; }

