.RadImageEditor_BlackMetroTouch,
.RadImageEditor_BlackMetroTouch.rieDialogs .riePrintContent,
.RadImageEditor_BlackMetroTouch .rieHighlightVertical,
.RadImageEditor_BlackMetroTouch .rieHighlightHorizontal,
.RadDock_BlackMetroTouch.rieDialogs .rieActiveThumbsLink,
.RadDock_BlackMetroTouch.rieDialogs .rieThumbsLink:hover,
.RadDock_BlackMetroTouch.rieDialogs .riePrintContent,
.RadDock_BlackMetroTouch.rieDialogs .riePrintContent img {
  border-color: #555555;
  color: #ffffff;
  background-color: #222222; }

.RadImageEditor_BlackMetroTouch .rieContentArea,
.RadDock_BlackMetroTouch.rieDialogs .rieThumbsBottomRow td,
.RadDock_BlackMetroTouch.rieDialogs .rieDialogsThumbsLeft,
.RadDock_BlackMetroTouch.rieDialogs .rieThumbsLink {
  border-color: #333333; }

.rieRotateTable .rbHovered .rbIcon:before,
.rieResizeButtons .rbHovered .rbIcon:before {
  color: #0082cc; }

.rieBottomCell {
  border-color: #333333; }

.rieZoomTable .RadButton_BlackMetroTouch.rbButton.rbPrimary {
  height: 2.4em;
  padding-left: 1.55em; }

div.rdContent.RadImageEditor {
  border-radius: 0; }

div.rieZoneLeft,
div.rieZoneRight {
  width: 5.625em; }

