.RadOrgChart_BlackMetroTouch {
  color: #ffffff;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadOrgChart_BlackMetroTouch .rocGroup {
    background-color: rgba(34, 34, 34, 0.5); }
  .RadOrgChart_BlackMetroTouch .rocItem,
  .RadOrgChart_BlackMetroTouch .rocItemTemplate {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
  .RadOrgChart_BlackMetroTouch .rocExpandArrow,
  .RadOrgChart_BlackMetroTouch .rocCollapseArrow,
  .RadOrgChart_BlackMetroTouch .rocExpandGroupArrow,
  .RadOrgChart_BlackMetroTouch .rocCollapseGroupArrow {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
  .RadOrgChart_BlackMetroTouch .rocLoadingNodes .rocExpandArrow,
  .RadOrgChart_BlackMetroTouch .rocLoadingNodes .rocCollapseArrow,
  .RadOrgChart_BlackMetroTouch .rocLoadingGroups .rocExpandGroupArrow,
  .RadOrgChart_BlackMetroTouch .rocLoadingGroups .rocCollapseGroupArrow {
    background-image: url('../BlackMetroTouch/Common/loading_small.gif'); }
  .RadOrgChart_BlackMetroTouch .rocExpandArrow:hover,
  .RadOrgChart_BlackMetroTouch .rocCollapseArrow:hover,
  .RadOrgChart_BlackMetroTouch .rocExpandGroupArrow:hover,
  .RadOrgChart_BlackMetroTouch .rocCollapseGroupArrow:hover {
    border-color: #555555;
    color: #ffffff;
    background-color: #3c3c3c; }
  .RadOrgChart_BlackMetroTouch .rocExpandArrow:active,
  .RadOrgChart_BlackMetroTouch .rocCollapseArrow:active,
  .RadOrgChart_BlackMetroTouch .rocExpandGroupArrow:active,
  .RadOrgChart_BlackMetroTouch .rocCollapseGroupArrow:active {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .RadOrgChart_BlackMetroTouch .rocItem:before, .RadOrgChart_BlackMetroTouch .rocItem:after,
  .RadOrgChart_BlackMetroTouch .rocNode:before,
  .RadOrgChart_BlackMetroTouch .rocNode:after,
  .RadOrgChart_BlackMetroTouch .rocGroup:before,
  .RadOrgChart_BlackMetroTouch .rocGroup:after {
    border-color: #333333; }

.RadOrgChart_BlackMetroTouch.rocDetachedItem,
.RadOrgChart_BlackMetroTouch.rocDetachedNode {
  border-color: #555555;
  color: #ffffff;
  background-color: #222222; }

.rocToolbar_BlackMetroTouch {
  border-color: #555555;
  color: #ffffff;
  background-color: #222222; }
  .rocToolbar_BlackMetroTouch .rocToolbarButton {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
  .rocToolbar_BlackMetroTouch .rocToolbarButton:hover {
    border-color: #555555;
    color: #ffffff;
    background-color: #3c3c3c; }
  .rocToolbar_BlackMetroTouch .rocToolbarButton:active {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }

