.RecurrenceEditor_BlackMetroTouch {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RecurrenceEditor_BlackMetroTouch .rsPanel {
    border-color: #333333; }
  .RecurrenceEditor_BlackMetroTouch .rsAdvRecurrenceFreq,
  .RecurrenceEditor_BlackMetroTouch .rsAdvPatternPanel {
    border-color: #333333; }

