.RadToolBar_BlackMetroTouch {
  border-color: #555555;
  color: #ffffff;
  background-color: #222222;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadToolBar_BlackMetroTouch .rtbSeparator {
    border-color: rgba(85, 85, 85, 0.9) rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0.05) rgba(85, 85, 85, 0.9); }
  .RadToolBar_BlackMetroTouch .rtbMore {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
  .RadToolBar_BlackMetroTouch .rtbFocused .rtbButton,
  .RadToolBar_BlackMetroTouch .rtbFocused.rtbMore {
    border-color: rgba(0, 130, 204, 0.5);
    box-shadow: inset 0 0 0.3em rgba(0, 130, 204, 0.5); }
  .RadToolBar_BlackMetroTouch .rtbHovered .rtbButton:not(.rtbSplitButton) {
    border-color: #555555;
    color: #ffffff;
    background-color: #3c3c3c; }
  .RadToolBar_BlackMetroTouch .rtbHovered .rtbSplitButton,
  .RadToolBar_BlackMetroTouch .rtbHovered .rtbArrow {
    border-color: #555555; }
  .RadToolBar_BlackMetroTouch .rtbSplitButton .rtbHovered.rtbSplBtnActivator, .RadToolBar_BlackMetroTouch .rtbSplitButton .rtbHovered.rtbArrow {
    border-color: #555555;
    color: #ffffff;
    background-color: #3c3c3c; }
  .RadToolBar_BlackMetroTouch .rtbChecked .rtbButton,
  .RadToolBar_BlackMetroTouch .rtbExpanded .rtbButton,
  .RadToolBar_BlackMetroTouch .rtbExpanded .rtbButton.rtbMenuButton,
  .RadToolBar_BlackMetroTouch .rtbExpanded.rtbMore {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .RadToolBar_BlackMetroTouch .rtbExpanded .rtbButton.rtbSplitButton .rtbSplBtnActivator,
  .RadToolBar_BlackMetroTouch .rtbExpanded .rtbButton.rtbSplitButton .rtbArrow {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .RadToolBar_BlackMetroTouch .rtbPressed .rtbButton:not(.rtbSplitButton) {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .RadToolBar_BlackMetroTouch .rtbPressed .rtbSplitButton,
  .RadToolBar_BlackMetroTouch .rtbPressed .rtbArrow {
    border-color: #0082cc; }
  .RadToolBar_BlackMetroTouch .rtbSplitButton .rtbPressed.rtbSplBtnActivator, .RadToolBar_BlackMetroTouch .rtbSplitButton .rtbPressed.rtbArrow {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }

.rtbPopup_BlackMetroTouch {
  border-color: #333333;
  color: #ffffff;
  background-color: #000000;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .rtbPopup_BlackMetroTouch .rtbSeparator {
    border-color: black #1a1a1a #1a1a1a black; }
  .rtbPopup_BlackMetroTouch .rtbFocused > .rtbLink {
    border-color: rgba(0, 130, 204, 0.3);
    box-shadow: inset 0 0 0.3em rgba(0, 130, 204, 0.3); }
  .rtbPopup_BlackMetroTouch .rtbFocused > .rtbInner {
    border-color: rgba(0, 130, 204, 0.3);
    box-shadow: inset 0 0 0.3em rgba(0, 130, 204, 0.3); }
    .rtbPopup_BlackMetroTouch .rtbFocused > .rtbInner .rtbArrow {
      border-left-color: rgba(0, 130, 204, 0.3); }
  .rtbPopup_BlackMetroTouch .rtbHovered > .rtbLink {
    border-color: #555555;
    color: #ffffff;
    background-color: #555555; }
  .rtbPopup_BlackMetroTouch .rtbHovered:not(.rtbSplitItem) > .rtbInner {
    border-color: #555555;
    color: #ffffff;
    background-color: #3c3c3c; }
  .rtbPopup_BlackMetroTouch .rtbHovered.rtbSplitItem > .rtbInner,
  .rtbPopup_BlackMetroTouch .rtbHovered > .rtbInner .rtbArrow {
    border-color: #555555; }
  .rtbPopup_BlackMetroTouch .rtbSplitItem .rtbHovered.rtbSplBtnActivator, .rtbPopup_BlackMetroTouch .rtbSplitItem .rtbHovered.rtbArrow {
    border-color: #555555;
    color: #ffffff;
    background-color: #3c3c3c; }
  .rtbPopup_BlackMetroTouch .rtbSelected > .rtbLink {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .rtbPopup_BlackMetroTouch .rtbSelected > .rtbInner,
  .rtbPopup_BlackMetroTouch .rtbChecked > .rtbInner,
  .rtbPopup_BlackMetroTouch .rtbExpanded > .rtbInner,
  .rtbPopup_BlackMetroTouch .rtbExpanded > .rtbInner.rtbButton {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
    .rtbPopup_BlackMetroTouch .rtbSelected > .rtbInner .rtbArrow,
    .rtbPopup_BlackMetroTouch .rtbChecked > .rtbInner .rtbArrow,
    .rtbPopup_BlackMetroTouch .rtbExpanded > .rtbInner .rtbArrow,
    .rtbPopup_BlackMetroTouch .rtbExpanded > .rtbInner.rtbButton .rtbArrow {
      border-left-color: #0082cc; }
  .rtbPopup_BlackMetroTouch .rtbExpanded.rtbSplitItem .rtbInner .rtbSplBtnActivator,
  .rtbPopup_BlackMetroTouch .rtbExpanded.rtbSplitItem .rtbInner .rtbArrow {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .rtbPopup_BlackMetroTouch .rtbPressed:not(.rtbSplitItem) > .rtbInner {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .rtbPopup_BlackMetroTouch .rtbExpanded .rtbButton.rtbMenuButton,
  .rtbPopup_BlackMetroTouch .rtbPressed.rtbSplitItem > .rtbInner,
  .rtbPopup_BlackMetroTouch .rtbPressed > .rtbInner .rtbArrow {
    border-color: #0082cc; }
  .rtbPopup_BlackMetroTouch .rtbSplitItem .rtbPressed.rtbSplBtnActivator, .rtbPopup_BlackMetroTouch .rtbSplitItem .rtbPressed.rtbArrow {
    border-color: #0082cc;
    color: #ffffff;
    background-color: #0082cc; }
  .rtbPopup_BlackMetroTouch .rtbMenu:before {
    display: none; }
  .rtbPopup_BlackMetroTouch.rtbShadows {
    box-shadow: 3px 3px 3px #333333; }

