.RadTreeMap_BlackMetroTouch {
  border-color: #333333;
  color: #ffffff;
  background-color: #000000;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadTreeMap_BlackMetroTouch .k-treemap-title,
  .RadTreeMap_BlackMetroTouch .k-treemap-title-vertical {
    border-color: #555555;
    color: #ffffff;
    background-color: #222222; }
  .RadTreeMap_BlackMetroTouch .k-leaf {
    border-color: #000000;
    color: #ffffff;
    background-color: #000000; }
  .RadTreeMap_BlackMetroTouch .k-leaf.k-inverse {
    color: #000000;
    background-color: #ffffff; }
  .RadTreeMap_BlackMetroTouch .k-leaf.k-state-hover {
    box-shadow: inset 0 0 0 5px #000000; }

