.RadAutoCompleteBox_Black {
  color: #ffffff; }
  .RadAutoCompleteBox_Black .racTokenList {
    border-color: #080808;
    color: #ffffff;
    background-color: #464646; }
  .RadAutoCompleteBox_Black .racToken {
    border-radius: 3px;
    border-color: #080808;
    color: #ffffff;
    background-color: #1b1b1b;
    background-image: linear-gradient(#7b7b7b, #4a4a4a 50%, #313131 50%, #1b1b1b); }
  .RadAutoCompleteBox_Black .racTokenList.racHovered {
    border-color: black;
    color: #ffffff;
    background-color: #464646; }
  .RadAutoCompleteBox_Black .racToken.racHovered {
    border-color: black;
    color: #ffffff;
    background-color: #020202;
    background-image: linear-gradient(#5c5c5c, #2a2a2c 50%, #060606 50%, #020202); }
  .RadAutoCompleteBox_Black .racTokenList.racFocused {
    border-color: #070707;
    color: #ffffff;
    background-color: #464646; }
  .RadAutoCompleteBox_Black .racToken.racFocused {
    border-color: #070707;
    box-shadow: inset 0 0 5px #070707; }
  .RadAutoCompleteBox_Black .racToken.racSelected {
    border-color: #070707;
    color: #9eda29;
    background-color: #202020;
    background-image: linear-gradient(#6e6e6e, #2b2b2d 50%, #050505 50%, #202020); }
  .RadAutoCompleteBox_Black .p-i-loading {
    background-image: url('../Black/Common/loading_small.gif'); }

.RadAutoCompleteBoxPopup_Black {
  border-color: #131313;
  color: #ffffff;
  background-color: #464646; }
  .RadAutoCompleteBoxPopup_Black .racItemHovered {
    color: #ffffff;
    background-color: black; }
  .RadAutoCompleteBoxPopup_Black .racFocused {
    box-shadow: inset 0 0 5px #131313; }
  .RadAutoCompleteBoxPopup_Black .racItemSelected {
    color: #9eda29;
    background-color: #202020; }

