.RadFileExplorer_Black {
  border-color: #131313;
  color: #ffffff;
  background-color: #464646; }
  .RadFileExplorer_Black .rfeFilterTxt,
  .RadFileExplorer_Black .rfeAddressBox {
    border-color: #080808;
    color: #ffffff;
    background-color: #464646; }
  .RadFileExplorer_Black .rfeLink:hover {
    border-color: black;
    color: #ffffff;
    background-color: black;
    background-image: linear-gradient(#1a1a1a, black); }
  .RadFileExplorer_Black .rfeSelectedLink,
  .RadFileExplorer_Black .rfeSelectedLink:hover {
    border-color: #131313;
    color: #9eda29;
    background-color: #202020;
    background-image: linear-gradient(#393939, #202020); }
  .RadFileExplorer_Black .rfeDropZone,
  .RadFileExplorer_Black .rfeFilterContainer,
  .RadFileExplorer_Black .rfePageControlContainer {
    border-color: #131313;
    color: #ffffff;
    background-color: #202020; }
  .RadFileExplorer_Black .rfeDropUploadInfoPanel {
    border-color: #131313;
    color: #ffffff;
    background-color: #464646; }

.RadWindow_Black .rfeUploadInfoPanel {
  border-color: #131313;
  color: #ffffff;
  background-color: #202020; }
