.RadGantt_Black {
  border-color: #131313;
  color: #ffffff;
  background-color: #464646; }
  .RadGantt_Black .k-loading-color {
    background-color: #464646; }
  .RadGantt_Black .k-loading-image {
    background-image: url('../Black/Common/loading.gif'); }
  .RadGantt_Black .rgtHeader {
    border-color: #080808;
    color: #f2f2f2;
    background-color: #1b1b1b;
    background-image: linear-gradient(#7b7b7b, #4a4a4a 50%, #313131 50%, #1b1b1b); }
  .RadGantt_Black .rgtViews > li:first-child + li .radButton {
    border-radius: 3px 0 0 3px; }
  .RadGantt_Black .rgtFooter {
    border-color: #131313;
    color: #ffffff;
    background-color: #202020; }
  .RadGantt_Black .rgtTreelist {
    background-color: #3e3e3e; }
  .RadGantt_Black .rgtTreelist .radAlt {
    background-color: #434343; }
  .RadGantt_Black .rgtTreelist .radStateFocused {
    box-shadow: inset 0 0 5px #131313; }
  .RadGantt_Black .rgtTreelist .radStateSelected {
    border-color: #131313;
    color: #9eda29;
    background-color: #202020;
    background-image: linear-gradient(#3a3a3a, #202020); }
  .RadGantt_Black .rgtSplitbar {
    border-color: #080808;
    background-color: #464646; }
  .RadGantt_Black .rgtSplitbar .radResizeHandle {
    border-radius: 2px;
    background-color: #080808; }
  .RadGantt_Black .rgtSplitbarHover {
    border-color: #222222;
    background-color: #606060; }
  .RadGantt_Black .radLine {
    background-color: #999999; }
  .RadGantt_Black .radArrowE,
  .RadGantt_Black .radArrowW {
    color: #999999; }
  .RadGantt_Black .radLine.radStateSelected {
    background-color: #ffffff;
    box-shadow: 0 1px 3px #292929; }
  .RadGantt_Black .radLine.radStateSelected .radArrowE,
  .RadGantt_Black .radLine.radStateSelected .radArrowW {
    color: #ffffff; }
  .RadGantt_Black .radMarqueeColor {
    background-color: rgba(30, 30, 30, 0.7); }
  .RadGantt_Black .rgtTaskDot:after {
    border-color: #202020;
    background-color: #ffffff; }
  .RadGantt_Black .rgtTaskDot:hover:after {
    border-color: #ffffff;
    background-color: #202020; }
  .RadGantt_Black .rgtResource {
    background-color: #494949; }
  .RadGantt_Black .rgtResource.radAlt {
    background-color: #4e4e4e; }
  .RadGantt_Black .rgtTaskMilestone {
    border-color: #a7a7a7;
    background-color: #d2d2d2;
    background-image: linear-gradient(135deg, #ffffff, #d2d2d2); }
  .RadGantt_Black .rgtTaskMilestone.radStateSelected {
    border-color: #5c7d1e;
    background-color: #659508;
    background-image: linear-gradient(135deg, #9eda29, #659508); }
  .RadGantt_Black .rgtTaskSummary {
    border-color: #797979;
    background-color: #797979; }
  .RadGantt_Black .rgtComplete {
    border-color: #c2c2c2;
    background-color: #c2c2c2; }
  .RadGantt_Black .rgtTaskSummary.radStateSelected {
    border-color: #5d8a06;
    background-color: #5d8a06; }
  .RadGantt_Black .radStateSelected .rgtComplete {
    border-color: #9eda29;
    background-color: #9eda29; }
  .RadGantt_Black .rgtTaskSingle {
    border-color: #999999;
    border-radius: 3px;
    color: #000000;
    background-color: #999999; }
  .RadGantt_Black .rgtTaskComplete {
    background-color: #d3d3d3;
    background-image: linear-gradient(#ffffff, #d3d3d3); }
  .RadGantt_Black .rgtTaskSingle .radResizeHandle:after {
    background-color: #000000; }
  .RadGantt_Black .rgtTaskSingle.radStateSelected,
  .RadGantt_Black .rgtTaskSingle.radStateSelected .rgtTaskComplete {
    border-color: #9eda29; }

.radSkin_Black {
  color: #ffffff; }
  .radSkin_Black .k-grid, .radSkin_Black .radCalendar {
    border-color: #131313;
    color: #ffffff;
    background-color: #464646; }
  .radSkin_Black .k-popup, .radSkin_Black.k-popup,
  .radSkin_Black .radPopup, .radSkin_Black.radPopup, .radSkin_Black .radDragClue, .radSkin_Black.radDragClue, .radSkin_Black.k-window {
    border-color: #131313;
    color: #ffffff;
    background-color: #464646; }
  .radSkin_Black .k-button,
  .radSkin_Black .radButton, .radSkin_Black .k-numeric-wrap .k-link,
  .radSkin_Black .k-numeric-wrap .k-select, .radSkin_Black .k-dropdown-wrap, .radSkin_Black .k-picker-wrap .k-select {
    border-color: #080808;
    color: #ffffff;
    background-color: #1b1b1b;
    background-image: linear-gradient(#7b7b7b, #4a4a4a 50%, #313131 50%, #1b1b1b); }
  .radSkin_Black .radButton:focus {
    border-color: rgba(7, 7, 7, 0.5);
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.5) inset; }
  .radSkin_Black .k-button:hover,
  .radSkin_Black .radButton:hover,
  .radSkin_Black .radButton.radStateHovered,
  .radSkin_Black .radStateHovered > .radButton, .radSkin_Black .k-numeric-wrap .k-link:hover, .radSkin_Black .k-dropdown-wrap.k-state-hover, .radSkin_Black .k-picker-wrap .k-select:hover {
    border-color: black;
    color: #ffffff;
    background-color: #020202;
    background-image: linear-gradient(#5c5c5c, #2a2a2c 50%, #060606 50%, #020202); }
  .radSkin_Black .radButton:active,
  .radSkin_Black .radButton.radStateSelected,
  .radSkin_Black .radStateSelected > .radButton, .radSkin_Black .k-numeric-wrap .k-link.k-state-selected, .radSkin_Black .k-dropdown-wrap.k-state-active {
    border-color: #070707;
    color: #9eda29;
    background-color: #202020;
    background-image: linear-gradient(#6e6e6e, #2b2b2d 50%, #050505 50%, #202020); }
  .radSkin_Black .radPrimary {
    border-color: #8cc322;
    color: #202020;
    background-color: #9eda29;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1)); }
  .radSkin_Black .radPrimary:hover {
    border-color: #79a91d;
    color: #202020;
    background-color: #8cc322;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1)); }
  .radSkin_Black .radPrimary:active {
    border-color: #8cc322;
    color: #202020;
    background-color: #9eda29;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.2)); }
  .radSkin_Black .k-textbox,
  .radSkin_Black .radTextbox, .radSkin_Black .k-numeric-wrap, .radSkin_Black .k-picker-wrap {
    border-color: #080808;
    color: #ffffff;
    background-color: #464646; }
  .radSkin_Black .radDragClue, .radSkin_Black.radDragClue {
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(130, 130, 130, 0.5); }
  .radSkin_Black .radList > .radStateHovered,
  .radSkin_Black .k-list > .k-state-hover {
    color: #ffffff;
    background-color: black; }
  .radSkin_Black .radList > .radStateFocused,
  .radSkin_Black .k-list > .k-state-focused {
    box-shadow: inset 0 0 5px #131313; }
  .radSkin_Black .radList > .radStateSelected,
  .radSkin_Black .k-list > .k-state-selected {
    color: #9eda29;
    background-color: #202020; }
  .radSkin_Black .radGrid td {
    border-color: #535353; }
  .radSkin_Black .radGridHeader,
  .radSkin_Black .radGridHeaderWrap {
    border-color: #0e0e0e;
    color: #ffffff;
    background-color: #1b1b1b;
    border-color: #535353; }
  .radSkin_Black .radGridHeader th {
    border-color: #0e0e0e;
    color: #ffffff;
    background-color: #1b1b1b;
    background-image: linear-gradient(#353535, #1b1b1b);
    border-color: #535353; }
  .radSkin_Black .radFauxRows .radAlt {
    background-color: #4b4b4b; }
  .radSkin_Black .radFauxColumns .radNonwork {
    background-color: rgba(0, 0, 0, 0.1); }
  .radSkin_Black .k-grid-header,
  .radSkin_Black .k-grid-header-wrap {
    border-color: #0e0e0e;
    color: #ffffff;
    background-color: #1b1b1b; }
  .radSkin_Black .k-grid-header .k-header {
    border-color: #0e0e0e;
    color: #ffffff;
    background-color: #1b1b1b;
    background-image: linear-gradient(#353535, #1b1b1b); }
  .radSkin_Black .k-grid-content .k-alt {
    background-color: #4b4b4b; }
  .radSkin_Black .k-grid-content td {
    border-color: #131313; }
  .radSkin_Black .k-tooltip,
  .radSkin_Black .radTooltip {
    border-color: #999999;
    border-radius: 5px;
    color: #272722;
    background-color: #999999;
    background-image: linear-gradient(#cbcbcb, #999999);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
  .radSkin_Black .k-tooltip-validation {
    border-color: #ffffff;
    color: #d51923;
    background-color: #ffffff;
    background-image: none; }
    .radSkin_Black .k-tooltip-validation .k-icon.k-warning {
      background-image: url('../Black/Input/sprite.gif');
      background-position: 0 -299px; }
  .radSkin_Black .k-button,
  .radSkin_Black .radButton {
    border-radius: 3px; }
  .radSkin_Black .radToolbar .radButton {
    border-radius: 0; }
  .radSkin_Black .radToolbar > li:first-child .radButton {
    border-radius: 3px 0 0 3px; }
  .radSkin_Black .radToolbar > li:last-child .radButton {
    border-radius: 0 3px 3px 0; }
  .radSkin_Black .radToolbar > li:only-child .radButton {
    border-radius: 3px; }
  .radSkin_Black .radCalendar .k-header {
    border-color: #0e0e0e;
    color: #ffffff;
    background-color: #1b1b1b;
    background-image: linear-gradient(#353535, #1b1b1b); }
  .radSkin_Black .radCalendar th {
    border-color: #0e0e0e; }
  .radSkin_Black .radCalendar td.k-weekend {
    color: #d1d1d1; }
  .radSkin_Black .radCalendar td.k-other-month {
    color: #a3a3a3; }
  .radSkin_Black .radCalendar td.k-state-hover {
    border-color: black;
    color: #ffffff;
    background-color: black;
    background-image: linear-gradient(#1a1a1a, black); }
  .radSkin_Black .radCalendar td.k-state-focused {
    box-shadow: inset 0 0 5px #131313; }
  .radSkin_Black .radCalendar td.k-state-selected {
    border-color: #131313;
    color: #9eda29;
    background-color: #202020;
    background-image: linear-gradient(#3a3a3a, #202020); }
  .radSkin_Black .k-window-titlebar {
    border-color: #0e0e0e;
    color: #ffffff;
    background-color: #1b1b1b;
    background-image: linear-gradient(#353535, #1b1b1b); }
  .radSkin_Black .radPopupEditForm .rgtButtonsContainer {
    border-color: #0e0e0e; }

.radSkin_Black.k-rtl .rgtViews > li:first-child + li .radButton {
  border-radius: 0 3px 3px 0; }

.radSkin_Black.k-rtl .rgtViews > li:last-child .radButton {
  border-radius: 3px 0 0 3px; }

@media only screen and (max-width: 1024px) {
  .RadGantt_Black .rgtToolbar > .rgtViews.rgtExpanded {
    color: #ffffff;
    background: #464646;
    border-color: #131313; }
  .RadGantt_Black .rgtToolbar > .rgtViews.radToolbar .radButton {
    border-radius: 3px; } }

