.RadNotification_Black {
  border-color: #131313;
  color: #ffffff;
  background-color: #464646; }
  .RadNotification_Black .rnTitleBar {
    border-color: #0e0e0e;
    color: #ffffff;
    background-color: #1b1b1b;
    background-image: linear-gradient(#353535, #1b1b1b); }
  .RadNotification_Black .rnCommands a:hover {
    border-color: black;
    color: #ffffff;
    background-color: #020202;
    background-image: linear-gradient(#5c5c5c, #2a2a2c 50%, #060606 50%, #020202); }
  .RadNotification_Black.rnShadows {
    box-shadow: 2px 2px 3px rgba(19, 19, 19, 0.5); }

