.RadSpreadsheet_Black {
  border-color: #131313;
  color: #ffffff;
  background-color: #464646; }
  .RadSpreadsheet_Black .rssToolbarWrapper {
    border-color: #080808;
    color: #ffffff;
    background-color: #1b1b1b; }
  .RadSpreadsheet_Black .rssTabstrip .rtsLevel1 {
    border-color: #080808; }
  .RadSpreadsheet_Black .rssTabstrip .rtsLevel1 .rtsSelected .rtsLink {
    border-color: #080808;
    color: #f2f2f2;
    background: #7b7b7b; }
  .RadSpreadsheet_Black .rssFormulaBar {
    border-color: #080808;
    color: #ffffff;
    background-color: #464646; }
  .RadSpreadsheet_Black .k-syntax-startexp {
    font-weight: bold; }
  .RadSpreadsheet_Black .k-syntax-func {
    font-weight: bold; }
  .RadSpreadsheet_Black .k-syntax-paren-match {
    background-color: #caf200; }
  .RadSpreadsheet_Black .k-syntax-bool {
    color: #a9169c; }
  .RadSpreadsheet_Black .k-syntax-num {
    color: #0099ff; }
  .RadSpreadsheet_Black .k-syntax-str {
    color: #38b714; }
  .RadSpreadsheet_Black .k-syntax-ref {
    color: #ff8822; }
  .RadSpreadsheet_Black .k-syntax-error {
    color: red; }
  .RadSpreadsheet_Black .rssSheetsbar {
    border-color: #080808;
    color: #ffffff;
    background-color: #1b1b1b; }
    .RadSpreadsheet_Black .rssSheetsbar .t-spreadsheet-sheets-bar-add:hover {
      border-color: black;
      color: #ffffff;
      background-color: #020202;
      background-image: linear-gradient(#5c5c5c, #2a2a2c 50%, #060606 50%, #020202); }
  .RadSpreadsheet_Black .rssPane {
    border-color: #131313;
    color: #ffffff;
    background-color: #464646; }
  .RadSpreadsheet_Black .rssTopCorner {
    border-color: #0e0e0e;
    color: #ffffff;
    background-color: #1b1b1b; }
  .RadSpreadsheet_Black .rssRowHeader,
  .RadSpreadsheet_Black .rssColumnHeader {
    border-color: #0e0e0e;
    color: #ffffff;
    background-color: #1b1b1b; }
  .RadSpreadsheet_Black .rssRowHeader > div:hover,
  .RadSpreadsheet_Black .rssColumnHeader > div:hover {
    border-color: black;
    color: #ffffff;
    background-color: black; }
  .RadSpreadsheet_Black .rssRowHeader .k-selection-partial,
  .RadSpreadsheet_Black .rssColumnHeader .k-selection-partial {
    border-color: #131313;
    color: #9eda29;
    background-color: #202020; }
    .RadSpreadsheet_Black .rssRowHeader .k-selection-partial:before,
    .RadSpreadsheet_Black .rssColumnHeader .k-selection-partial:before {
      border-color: #9eda29; }
  .RadSpreadsheet_Black .rssSelection {
    border-color: #9eda29;
    background-color: rgba(158, 218, 41, 0.2);
    box-shadow: 0 0 0 1px #9eda29; }
    .RadSpreadsheet_Black .rssSelection:after {
      border-color: #464646;
      background-color: #9eda29; }
  .RadSpreadsheet_Black .rssActiveCell {
    border-color: #9eda29;
    background-color: #464646; }
  .RadSpreadsheet_Black .k-auto-fill {
    border-color: #9eda29;
    box-shadow: inset 0 0 0 1px #9eda29; }
  .RadSpreadsheet_Black .k-tooltip {
    border-color: #131313;
    color: #ffffff;
    background-color: #464646;
    border-radius: 3px; }
  .RadSpreadsheet_Black .rssCellEditor {
    color: #ffffff;
    background-color: #464646; }
  .RadSpreadsheet_Black .k-spreadsheet-editor-button {
    border-color: #080808;
    color: #ffffff;
    background-color: #1b1b1b;
    background-image: linear-gradient(#7b7b7b, #4a4a4a 50%, #313131 50%, #1b1b1b); }
    .RadSpreadsheet_Black .k-spreadsheet-editor-button:hover {
      border-color: black;
      color: #ffffff;
      background-color: #020202;
      background-image: linear-gradient(#5c5c5c, #2a2a2c 50%, #060606 50%, #020202); }
  .RadSpreadsheet_Black .k-spreadsheet-merged-cell {
    background-color: #464646; }
  .RadSpreadsheet_Black .k-resize-handle,
  .RadSpreadsheet_Black .k-resize-hint-handle,
  .RadSpreadsheet_Black .k-resize-hint-marker {
    background-color: #070707; }
  .RadSpreadsheet_Black .k-filter-range {
    border-color: #070707; }
  .RadSpreadsheet_Black .k-spreadsheet-filter {
    border-color: #080808;
    color: #ffffff;
    background-color: #1b1b1b;
    background-image: linear-gradient(#7b7b7b, #4a4a4a 50%, #313131 50%, #1b1b1b);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #080808; }
  .RadSpreadsheet_Black .k-spreadsheet-filter:hover {
    border-color: black;
    color: #ffffff;
    background-color: #020202;
    background-image: linear-gradient(#5c5c5c, #2a2a2c 50%, #060606 50%, #020202);
    box-shadow: inset 0 0 0 1px black; }

.rssSkin .t-button,
.rssSkin .rssButton {
  border-color: #080808;
  color: #ffffff;
  background-color: #1b1b1b;
  background-image: linear-gradient(#7b7b7b, #4a4a4a 50%, #313131 50%, #1b1b1b);
  border-radius: 3px; }

.rssSkin .t-button:hover,
.rssSkin .t-button.t-state-hover,
.rssSkin .rssButton.rssHovered {
  border-color: black;
  color: #ffffff;
  background-color: #020202;
  background-image: linear-gradient(#5c5c5c, #2a2a2c 50%, #060606 50%, #020202); }

.rssSkin .rssButton.rssPrimary {
  border-color: #8cc322;
  color: #202020;
  background-color: #9eda29;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1)); }

.rssSkin .rssButton.rssPrimary.rssHovered {
  border-color: #79a91d;
  color: #202020;
  background-color: #8cc322;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1)); }

.rssSkin .t-tabstrip .t-state-hover {
  border-color: black;
  color: #ffffff;
  background-color: black;
  background-image: linear-gradient(#1a1a1a, black);
  border-top-color: #080808; }

.rssSkin .t-tabstrip .t-state-active {
  border-color: #131313;
  color: #ffffff;
  background-color: #464646;
  background-image: none; }

.rssSkin .t-spreadsheet-sheets-remove.t-state-hover {
  color: #c7000b; }

.rssSkin .rssInput {
  border-color: #080808;
  color: #ffffff;
  background-color: #464646; }

.rssSkin .rssMenu .rssLink {
  border-radius: 3px; }

.rssSkin .rssMenu .rssHovered > .rssLink {
  border-color: black;
  color: #ffffff;
  background-color: black;
  background-image: linear-gradient(#1a1a1a, black); }

.rssSkin .rssMenu .rssSelected > .rssLink {
  border-color: #131313;
  color: #9eda29;
  background-color: #202020;
  background-image: linear-gradient(#3a3a3a, #202020); }

.rssSkin .rssCollapsibleList .rssLink {
  border-radius: 3px; }

.rssSkin .rssCollapsibleList .rssHovered > .rssLink {
  border-color: black;
  color: #ffffff;
  background-color: black;
  background-image: linear-gradient(#1a1a1a, black); }

.rssSkin .rssCollapsibleList .rssExpanded > .rssLink {
  border-color: transparent;
  color: inherit;
  background: none; }

.rssPopup {
  border-color: #131313;
  color: #ffffff;
  background-color: #464646;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #131313; }
  .rssPopup .rssFilterMenu:before {
    border-color: #2d2d2d;
    background: #464646; }
  .rssPopup .rssSeparator {
    border-color: #2d2d2d #606060 #606060 #2d2d2d; }

.rssWindow {
  border-color: #0e0e0e;
  color: #ffffff;
  background-color: #1b1b1b;
  border-radius: 5px;
  box-shadow: 0 0 5px #0e0e0e; }
  .rssWindow .rssWindowTitlebar {
    border-color: #0e0e0e;
    color: #ffffff;
    background-color: #1b1b1b;
    background-image: linear-gradient(#353535, #1b1b1b);
    border-radius: 5px 5px 0 0; }
  .rssWindow .rssWindowAction {
    border-color: transparent; }
  .rssWindow .rssWindowAction:hover {
    border-color: black;
    color: #ffffff;
    background-color: #020202;
    background-image: linear-gradient(#5c5c5c, #2a2a2c 50%, #060606 50%, #020202);
    border-radius: 3px; }
  .rssWindow .rssWindowContent {
    border-color: #131313;
    color: #ffffff;
    background-color: #464646; }
  .rssWindow .rssWindowTabstrip {
    background-color: #1b1b1b; }
    .rssWindow .rssWindowTabstrip .rtsLevel1 .rtsSelected .rtsLink {
      color: #ffffff;
      background: #464646; }
  .rssWindow hr {
    border-color: #131313; }

.rssFormulaList {
  border-color: #131313;
  color: #ffffff;
  background-color: #464646; }
  .rssFormulaList .k-item.k-state-hover {
    color: #ffffff;
    background-color: black; }
  .rssFormulaList .k-item.k-state-focused {
    color: #9eda29;
    background-color: #202020; }

